Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

fix(truss): Fix typo
  truss/truss_handle/truss_handle.py
Due: ruff, ruff-format, mypy

timeout minutes
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

Bump version to 0.12.13
  pyproject.toml
  uv.lock
Due: uv-lock

Remove Args/Returns from gather_chain docstring
  truss-chains/truss_chains/deployment/chain_gatherer.py
Due: ruff, ruff-format, mypy

Support external_package_dirs in chain downloads
  truss-chains/tests/test_chain_gatherer.py
  truss-chains/truss_chains/deployment/chain_gatherer.py
  truss-chains/truss_chains/deployment/deployment_client.py
Due: ruff, ruff-format, mypy

Clear external_package_dirs from chainlet configs after gathering
  truss-chains/tests/test_chain_gatherer.py
  truss-chains/truss_chains/deployment/chain_gatherer.py
Due: ruff, ruff-format, mypy

Weights in training deployment
  truss-train/truss_train/deployment.py
Due: ruff, ruff-format, mypy

fix(truss): Fix typo (#2182)
  truss/truss_handle/truss_handle.py
Due: ruff, ruff-format, mypy

Add warning for non-standard external_package_dirs names
  truss-chains/truss_chains/deployment/deployment_client.py
Due: ruff, ruff-format, mypy

fix(truss): display the auth codes
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

fix(truss): display the auth code at the top of the logs
  .vscode/settings.json
  truss/cli/logs/utils.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

fix(truss): display the auth code at the top of the logs
  .vscode/settings.json
Due: none

tests
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format

small fix
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

ut fixes
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format

Add truss.push(metadata=) to sdk.
  truss/api/__init__.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

more fix
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format

format
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format

timeout minutes (#2184)
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

Weights in training deployment (#2187)
  truss-train/truss_train/deployment.py
Due: ruff, ruff-format, mypy

Bump version to 0.12.14
  pyproject.toml
  uv.lock
Due: uv-lock

Add truss.push(metadata=) to sdk. (#2189)
  truss/api/__init__.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

fix(truss): display the auth code at the top of the logs when tailing
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

only production issuer / audience
  truss/remote/baseten/remote.py
Due: ruff, ruff-format, mypy

Fix exclude_dirs to resolve paths consistently with workspace_root and external_dirs
  truss-train/tests/test_deployment.py
  truss-train/truss_train/deployment.py
Due: ruff, ruff-format, mypy

Fix exclude_dirs to resolve paths consistently with workspace_root and external_dirs (#2193)
  truss-train/tests/test_deployment.py
  truss-train/truss_train/deployment.py
Due: ruff, ruff-format, mypy

Bump version to 0.12.15
  pyproject.toml
  uv.lock
Due: uv-lock

opportunistic fix
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

small multi-team fix
  truss/cli/cli.py
  truss/remote/baseten/remote.py
Due: ruff, ruff-format, mypy

Bump cuda / base image versions
  docker/base_images/base_image.Dockerfile.jinja
  truss/contexts/image_builder/util.py
Due: ruff, ruff-format, mypy

fix type
  truss/remote/truss_remote.py
Due: ruff, ruff-format, mypy

fix(truss): display the interactive session auth codes for training job in truss COR-1083 (#2188)
  truss/cli/logs/utils.py
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

feat(truss): show tunnel names as well
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

Bump cuda / base image versions (#2195)
  docker/base_images/base_image.Dockerfile.jinja
  truss/contexts/image_builder/util.py
Due: ruff, ruff-format, mypy

address comments
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/tests/cli/test_chains_cli.py
Due: ruff, ruff-format, mypy

Bump version to 0.13.0
  pyproject.toml
  uv.lock
Due: uv-lock

typing fix
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

updates
  truss/base/truss_config.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_core.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

updates
  truss/cli/cli.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
