Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff analyze and fix
  entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: python

ruff-format:
  name: ruff format
  entry: poetry run ruff format --force-exclude
  language: python

mypy:
  name: mypy-local
  entry: poetry run mypy
  language: python
  pass_filenames: true

cargo fmt
  .github/workflows/baseten-performance-client-release.yml
  .github/workflows/truss-transfer-build-maturin.yml
Due: none

rc12
  poetry.lock
  pyproject.toml
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/requirements.txt
Due: none

cargo fmt
  .github/workflows/main.yml
Due: none

rc12
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

rc7
  pyproject.toml
Due: none

rc14
  poetry.lock
  pyproject.toml
Due: none

rc14
  truss/base/truss_config.py
Due: ruff, ruff-format, mypy

sort
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format

moving revision
  truss/contexts/image_builder/serving_image_builder.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format, mypy

moving revision
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format

rc15
  pyproject.toml
Due: none

cargo fmt
  truss/templates/shared/lazy_data_resolver.py
Due: ruff, ruff-format, mypy

cargo location bptr
  .github/workflows/truss-transfer-cli-release.yml
  .github/workflows/truss-transfer-test.yml
  truss/templates/server.Dockerfile.jinja
  truss/templates/shared/lazy_data_resolver.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/templates/core/server/test_lazy_data_resolver_v2.py
Due: ruff, ruff-format, mypy

bump to v16
  pyproject.toml
Due: none

bump to v16
  .github/workflows/truss-transfer-test.yml
Due: none

Mf/pointer-creation-refactor (#1797)
  .github/workflows/baseten-performance-client-release.yml
  .github/workflows/main.yml
  .github/workflows/truss-transfer-build-maturin.yml
  .github/workflows/truss-transfer-cli-release.yml
  .github/workflows/truss-transfer-test.yml
  poetry.lock
  pyproject.toml
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/create/aws_metadata.rs
  truss-transfer/src/create/azure_metadata.rs
  truss-transfer/src/create/common_metadata.rs
  truss-transfer/src/create/filter.rs
  truss-transfer/src/create/gcs_metadata.rs
  truss-transfer/src/create/mod.rs
  truss-transfer/src/create/provider.rs
  truss-transfer/src/create/providers/aws.rs
  truss-transfer/src/create/providers/azure.rs
  truss-transfer/src/create/providers/gcs.rs
  truss-transfer/src/create/providers/huggingface.rs
  truss-transfer/src/types.rs
  truss-transfer/src/types/azure_resolution.rs
  truss-transfer/src/types/s3_resolution.rs
  truss-transfer/tests/test_create_bptr_with_gcs.py
  truss/base/truss_config.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/requirements.txt
  truss/templates/shared/lazy_data_resolver.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/templates/core/server/test_lazy_data_resolver_v2.py
Due: ruff, ruff-format, mypy

truss-transfer
  pyproject.toml
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/README.md
Due: none

fix yaml
  .github/workflows/truss-transfer-build-maturin.yml
Due: none

fix hash
  pyproject.toml
  truss-transfer/src/create/common_metadata.rs
  truss-transfer/src/create/filter.rs
  truss-transfer/src/create/hf_metadata.rs
Due: none

check the hf_token access
  poetry.lock
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/create/common_metadata.rs
  truss-transfer/src/create/hf_metadata.rs
  truss-transfer/src/download_core.rs
  truss-transfer/src/secrets.rs
  truss-transfer/tests/test_create_bptr_with_hf.py
  truss-transfer/uv.lock
Due: ruff, ruff-format, mypy

check the hf_token access
  truss/templates/server/requirements.txt
  truss/templates/shared/lazy_data_resolver.py
Due: ruff, ruff-format, mypy

rc18
  pyproject.toml
Due: none

fix: integration test
  truss/tests/templates/server/test_model_wrapper.py
Due: ruff, ruff-format

hash warning
  truss-transfer/src/core.rs
  truss-transfer/src/lib.rs
Due: none

latest truss transfer
  poetry.lock
  pyproject.toml
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/requirements.txt
Due: none

truss-transfer (#1798)
  .github/workflows/truss-transfer-build-maturin.yml
  poetry.lock
  pyproject.toml
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/README.md
  truss-transfer/src/core.rs
  truss-transfer/src/create/common_metadata.rs
  truss-transfer/src/create/filter.rs
  truss-transfer/src/create/hf_metadata.rs
  truss-transfer/src/download_core.rs
  truss-transfer/src/lib.rs
  truss-transfer/src/secrets.rs
  truss-transfer/tests/test_create_bptr_with_hf.py
  truss-transfer/uv.lock
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/requirements.txt
  truss/templates/shared/lazy_data_resolver.py
  truss/tests/templates/server/test_model_wrapper.py
Due: ruff, ruff-format, mypy

Use `unsafe-best-match` for `uv install`
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

Merge pull request #1799 from basetenlabs/nikhil/uv-unsafe-best-match
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

Longer wait for model wrapper integration test
  truss/tests/templates/server/test_model_wrapper.py
Due: ruff, ruff-format

some renames
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

Different improvement, only run single test
  truss/tests/conftest.py
  truss/tests/templates/server/test_model_wrapper.py
Due: ruff, ruff-format

Fix model wrapper integration test (#1800)
  truss/tests/conftest.py
  truss/tests/templates/server/test_model_wrapper.py
Due: ruff, ruff-format

Bump version to 0.9.115
  pyproject.toml
Due: none

Training supports docker auth (#1790)
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

performance client improvements
  baseten-performance-client/Cargo.lock
  baseten-performance-client/Cargo.toml
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/constants.rs
  baseten-performance-client/core/src/http.rs
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/core/src/utils.rs
  baseten-performance-client/core/tests/integration_test.rs
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/src/lib.rs
Due: none

add request hedging
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/constants.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/node_bindings/index.d.ts
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
  baseten-performance-client/python_bindings/src/lib.rs
Due: ruff, ruff-format

add request hedging
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/node_bindings/src/lib.rs
Due: none

Bump version to 0.9.116
  pyproject.toml
Due: none

finally added hedging
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/constants.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/core/src/utils.rs
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/scripts/README_nodejs.md
  baseten-performance-client/scripts/compare_latency_openai.js
  baseten-performance-client/scripts/compare_latency_openai.py
Due: ruff, ruff-format, mypy

add slow provider
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/constants.rs
  baseten-performance-client/core/src/utils.rs
Due: none

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
