Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

isort:
  name: isort-local
  entry: poetry run isort
  language: system
  pass_filenames: true

flake8:
  name: flake8-local
  entry: poetry run flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy-local
  entry: poetry run mypy
  args:
  - --install-types
  - --non-interactive
  language: python
  pass_filenames: true

Clean up logging and patches
  truss/server/common/patches/__init__.py
  truss/server/shared/logging.py
  truss/templates/base.Dockerfile.jinja
Due: isort, flake8, mypy

Fix packages path for TRT
  truss/templates/training/job.py
  truss/templates/trtllm/packages/constants.py
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/tensorrt_llm/config.pbtxt
Due: isort, flake8, mypy

Fix issue holding control server integration tests from passing
  truss/server/shared/util.py
Due: isort, flake8, mypy

Fix rest of integration tests
  truss/tests/server/control/test_server_integration.py
Due: isort, flake8

Fix unit test and drop test_durations
  .test_durations
  truss/test_data/server.Dockerfile
Due: none

Fix last integration test by passing APP_HOME and adding to path
  truss/server/model_wrapper.py
  truss/tests/conftest.py
  truss/tests/server/core/server/common/test_truss_server.py
Due: isort, flake8, mypy

reset vscode settings
  .vscode/settings.json
Due: none

nit cleanup and remove reference to Truss 201
  docs/examples/08-high-performance-vllm.mdx
  docs/guides/model-cache.mdx
  docs/guides/tgi.mdx
  docs/learn/model-serving/publish.mdx
  docs/usage.mdx
Due: none

Fix integration test using example
  truss/test_data/annotated_types_truss/config.yaml
  truss/test_data/annotated_types_truss/model/__init__.py
  truss/test_data/annotated_types_truss/model/model.py
  truss/tests/test_model_schema.py
Due: isort, flake8

Adding test case to check error in log file
  truss/test_data/test_streaming_read_timeout/config.yaml
  truss/tests/test_model_inference.py
Due: isort, flake8

Allow using generic types in output annotation.
  truss/templates/server/common/schema.py
  truss/tests/templates/server/test_schema.py
Due: isort, flake8, mypy

Small cleanup.
  truss/templates/server/common/schema.py
  truss/tests/templates/server/test_schema.py
  truss/tests/test_model_schema.py
Due: isort, flake8, mypy

Allow generic types in annotations (#836)
  truss/templates/server/common/schema.py
  truss/tests/templates/server/test_schema.py
  truss/tests/test_model_schema.py
Due: isort, flake8, mypy

Adding configuration to set the streaming request timeout (#828)
  truss/templates/server/model_wrapper.py
  truss/test_data/test_streaming_read_timeout/config.yaml
  truss/test_data/test_streaming_read_timeout/model/model.py
  truss/tests/templates/server/test_model_wrapper.py
  truss/tests/test_model_inference.py
  truss/truss_config.py
Due: isort, flake8, mypy

Bump version to 0.9.2
  pyproject.toml
Due: none

minor copy update
  README.md
  docs/welcome.mdx
Due: none

correct TensorFlow capitalization
  README.md
  docs/welcome.mdx
Due: none

minor copy update (#838)
  README.md
  docs/welcome.mdx
Due: none

init
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/postprocessing/1/model.py
Due: isort, flake8

Improve `truss watch`: respect `.truss_ignore` when calculating patches (#812)
  truss/patch/calc_patch.py
  truss/patch/dir_signature.py
  truss/patch/hash.py
  truss/patch/utils.py
  truss/remote/baseten/remote.py
  truss/tests/patch/test_calc_patch.py
  truss/tests/patch/test_dir_signature.py
  truss/tests/test_control_truss_patching.py
  truss/tests/util/test_path.py
  truss/truss_gatherer.py
  truss/truss_handle.py
  truss/util/.truss_ignore
  truss/util/path.py
Due: isort, flake8, mypy

add pathspec to pyproject
  pyproject.toml
Due: none

poetry lock --no-update
  poetry.lock
Due: none

fix calc_patch call
  truss/truss_handle.py
Due: isort, flake8, mypy

fallback to packaged truss ignore
  truss/remote/baseten/core.py
Due: isort, flake8, mypy

Fix integration tests (#843)
  poetry.lock
  pyproject.toml
  truss/truss_handle.py
Due: isort, flake8, mypy

os.PathLike[Any] -> os.PathLike
  truss/util/path.py
Due: isort, flake8, mypy

Fix os.PathLike type annotation
  truss/util/path.py
Due: isort, flake8, mypy

Fall back to default .truss_ignore in truss upload
  truss/remote/baseten/core.py
Due: isort, flake8, mypy

Bump version to 0.9.3
  pyproject.toml
Due: none

Draft for workflow DX.
  workflow/api.py
  workflow/processors.py
  workflow/processors_service.py
  workflow/test.py
  workflow/workflow_demo.py
Due: isort, flake8, mypy

Started Code Gen.
  workflow/example/workflow.py
  workflow/generated/processor_GenerateData/model.py
  workflow/generated/processor_SplitData/model.py
  workflow/generated/processor_TextReplicator/model.py
  workflow/generated/processor_TextToNum/model.py
  workflow/slay/__init__.py
  workflow/slay/code_gen.py
  workflow/slay/framework.py
  workflow/slay/public_api.py
  workflow/slay/remote_procssor.py
  workflow/slay/types.py
  workflow/slay/utils.py
Due: isort, flake8, mypy

Draft for workflow DX.
  .pre-commit-config.yaml
Due: none

Lalilu.
  workflow/api.py
  workflow/dependency_injector_demo.py
  workflow/example.py
  workflow/processors.py
  workflow/processors_service.py
  workflow/slay/__init__.py
  workflow/slay/framework.py
  workflow/test.py
  workflow/workflow_demo.py
Due: isort, flake8, mypy

Implement local mode.
  pyproject.toml
  workflow/example.py
  workflow/slay/__init__.py
  workflow/slay/framework.py
Due: isort, flake8, mypy

Reorganized example.
  example_workflow/.slay_gen/processor_GenerateData/model.py
  example_workflow/.slay_gen/processor_SplitData/model.py
  example_workflow/.slay_gen/processor_TextReplicator/model.py
  example_workflow/.slay_gen/processor_TextToNum/model.py
  example_workflow/user_package/shared_processor.py
  example_workflow/workflow.py
  slay/__init__.py
  slay/code_gen.py
  slay/definitions.py
  slay/framework.py
  slay/public_api.py
  slay/remote_procssor.py
  slay/scratch/dependency_injector_demo.py
  slay/utils.py
  workflow/example.py
  workflow/generated/processor_TextToNum/model.py
  workflow/slay/public_api.py
Due: isort, flake8, mypy

Reorganized example.
  example_workflow/.slay_gen/processor_GenerateData/expected_stub.py
  example_workflow/.slay_gen/processor_MistralLLM/model.py
  example_workflow/.slay_gen/processor_SplitData/model.py
  example_workflow/.slay_gen/processor_SplitText/model.py
  example_workflow/.slay_gen/processor_TextReplicator/model.py
  example_workflow/.slay_gen/processor_TextToNum/model.py
  example_workflow/.slay_gen/processor_Workflow/expected_stub.py
  example_workflow/.slay_gen/processor_Workflow/model.py
  example_workflow/demo_helper.py
  example_workflow/workflow.py
  slay/code_gen.py
  slay/framework.py
  slay/remote_procssor.py
Due: isort, flake8, mypy

Path conditions:
  isort: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
