Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff analyze and fix
  entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: python

ruff-format:
  name: ruff format
  entry: poetry run ruff format --force-exclude
  language: python

mypy:
  name: mypy-local
  entry: poetry run mypy
  language: python
  pass_filenames: true

inference stack v3
  pyproject.toml
Due: none

ruff format, fix
  truss/base/trt_llm_config.py
  truss/contexts/docker_build_setup.py
  truss/tests/trt_llm/test_trt_llm_config.py
  truss/trt_llm/config_checks.py
Due: ruff, ruff-format, mypy

ruff format, fix
  pyproject.toml
Due: none

add context forbid
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

add pyproject
  pyproject.toml
Due: none

modify
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

runtime
  pyproject.toml
Due: none

runtime
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

add roundtrip example
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format

add pytest
  pyproject.toml
Due: none

add 106rc114
  pyproject.toml
  truss/base/constants.py
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

exclude unset
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format

add push
  truss/tests/conftest.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format

115
  pyproject.toml
Due: none

More permissive version for google-cloud-storage and python-on-whales (#1726)
  poetry.lock
  pyproject.toml
Due: none

add view command to push message if queued
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

fix(truss): unit tests for truss train recreate
  truss-train/tests/test_recreate.py
Due: ruff, ruff-format, mypy

fix(truss): unit tests for truss train recreate
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

underscore
  truss/base/truss_config.py
Due: ruff, ruff-format, mypy

002
  pyproject.toml
Due: none

feat(truss): enable b10 instance type (#1723)
  pyproject.toml
  truss/base/truss_config.py
Due: ruff, ruff-format, mypy

add latency measureing script
  baseten-performance-client/scripts/continous_latency.py
Due: ruff, ruff-format, mypy

fix(truss): unit tests for truss train recreate
  truss/cli/train/core.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

Mf/truss-dynamo-image-builder-v2 <!-- What does this PR add, remove, and/or change? --> ## :rocket: What
  example/config.yaml
Due: none

fix(truss): merge with master
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

add union style graph
  truss/base/trt_llm_config.py
  truss/cli/cli.py
  truss/contexts/docker_build_setup.py
  truss/tests/conftest.py
  truss/tests/test_config.py
  truss/tests/trt_llm/test_trt_llm_config.py
  truss/trt_llm/config_checks.py
Due: ruff, ruff-format, mypy

rc116
  pyproject.toml
Due: none

yaml
  example/config.yaml
Due: none

add default v1
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

fix test
  truss/tests/conftest.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_config.py
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format

fix(truss): unify post creation logic
  truss/cli/train/core.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

max size
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

fix(truss): unify post creation logic
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

add chains example
  truss-chains/examples/baseten_llm/trt_llama.py
Due: ruff, ruff-format, mypy

add chains example
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

fix(truss): unify post creation logic
  truss-train/tests/test_recreate.py
Due: ruff, ruff-format, mypy

fix(truss): unify post creation logic
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
