Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

keep all chainlets alive even when experimental chainlet names is used
  truss-chains/tests/test_deployment_client_watch.py
  truss-chains/truss_chains/deployment/deployment_client.py
Due: ruff, ruff-format, mypy

Add additional fallback based on the chainlet oracle id before erroring on missing hostname
  truss-chains/tests/test_deployment_client_watch.py
  truss-chains/truss_chains/deployment/deployment_client.py
Due: ruff, ruff-format, mypy

lint fix
  truss/cli/chains_commands.py
Due: ruff, ruff-format, mypy

skip flaky hf test
  truss-transfer/tests/test_create_bptr_with_hf.py
Due: ruff, ruff-format, mypy

skip flaky test
  truss-transfer/tests/test_create_bptr_with_hf.py
Due: ruff, ruff-format, mypy

lint fix
  truss-transfer/tests/test_create_bptr_with_hf.py
Due: ruff, ruff-format, mypy

fix maturin failure
  .github/workflows/build-maturin.yml
Due: none

pin maturin version
  .github/workflows/build-maturin.yml
Due: none

skip more susceptible tests
  truss-transfer/tests/test_create_bptr_with_hf.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format, mypy

fix(truss-transfer): Disable flaky HF truss-transfer test (#2501)
  .github/workflows/build-maturin.yml
  truss-transfer/tests/test_create_bptr_with_hf.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format, mypy

update to keep chainlets alive during slow deploys
  truss-chains/tests/test_deployment_client_watch.py
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/cli/chains_commands.py
  truss/tests/cli/test_chains_cli.py
Due: ruff, ruff-format, mypy

prevent chainlet from falling asleep
  truss-chains/tests/test_deployment_client_watch.py
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/cli/chains_commands.py
  truss/cli/utils/common.py
  truss/tests/cli/test_chains_cli.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

Add validation to prevent no_build with predict_endpoint (#2291)
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

update
  truss/cli/loops_commands.py
  truss/remote/baseten/api.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_loops_cli.py
Due: ruff, ruff-format, mypy

lint
  truss/remote/baseten/remote.py
  truss/tests/cli/test_loops_cli.py
Due: ruff, ruff-format, mypy

feat(chains): Add --no-sleep to chains watch (#2500)
  truss-chains/tests/test_deployment_client_watch.py
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/cli/chains_commands.py
  truss/cli/utils/common.py
  truss/remote/baseten/api.py
  truss/remote/baseten/custom_types.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_chains_cli.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

fix(workstation): scope multinode SLURM rendezvous dir by job id
  truss/templates/workstation/install_slurm.sh
  truss/tests/cli/train/test_workstation.py
Due: ruff, ruff-format

refactor: trim comments and hoist import in workstation slurm fix
  truss/templates/workstation/install_slurm.sh
  truss/tests/cli/train/test_workstation.py
Due: ruff, ruff-format

test: simplify slurm dir test to a content check
  truss/tests/cli/train/test_workstation.py
Due: ruff, ruff-format

refactor: extract resolve_slurm_dir.sh seam for a real behavioral test
  truss/templates/workstation/install_slurm.sh
  truss/templates/workstation/resolve_slurm_dir.sh
  truss/tests/cli/train/test_workstation.py
Due: ruff, ruff-format

revert: drop resolve_slurm_dir.sh seam, keep dir logic inline
  truss/templates/workstation/install_slurm.sh
  truss/templates/workstation/resolve_slurm_dir.sh
  truss/tests/cli/train/test_workstation.py
Due: ruff, ruff-format

style: apply ruff-format to test_workstation.py
  truss/tests/cli/train/test_workstation.py
Due: ruff, ruff-format

test: skip bash-dependent slurm dir tests on Windows
  truss/tests/cli/train/test_workstation.py
Due: ruff, ruff-format

test: assert job-scoped slurm dir via content check, drop bash subprocess
  truss/tests/cli/train/test_workstation.py
Due: ruff, ruff-format

test: behaviorally verify job-scoped slurm dir, skip on Windows
  truss/tests/cli/train/test_workstation.py
Due: ruff, ruff-format

test: trim redundant comments, move skipif mark below imports
  truss/tests/cli/train/test_workstation.py
Due: ruff, ruff-format

test: drop slurm dir tests; testing a bash one-liner wasn't worth the jank
  truss/tests/cli/train/test_workstation.py
Due: ruff, ruff-format

fix(workstation): scope multinode SLURM rendezvous dir by job id (#2503)
  truss/templates/workstation/install_slurm.sh
  truss/tests/cli/train/test_workstation.py
Due: ruff, ruff-format

Bump version to 0.18.11
  pyproject.toml
  uv.lock
Due: uv-lock

Revert "Add validation to prevent no_build with predict_endpoint (#2291)"
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Revert "Add validation to prevent no_build with predict_endpoint (#2291)" (#2505)
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Bump version to 0.18.12
  pyproject.toml
  uv.lock
Due: uv-lock

Add replicas option for Loops deployments (#2502)
  truss/cli/loops_commands.py
  truss/remote/baseten/api.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_loops_cli.py
Due: ruff, ruff-format, mypy

Bump version to 0.18.13
  pyproject.toml
  uv.lock
Due: uv-lock

fix(loops/cli): exclude trainer-target checkpoints from deploy picker
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

fix(loops/cli): exclude trainer-target checkpoints from deploy picker (#2508)
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
