Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff analyze and fix
  entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: python

ruff-format:
  name: ruff format
  entry: poetry run ruff format --force-exclude
  language: python

mypy:
  name: mypy-local
  entry: poetry run mypy
  language: python
  pass_filenames: true

Bump Version for CTX builder
  pyproject.toml
Due: none

Propagate HTTP status codes through chains, safer re-raising of exceptions in case of mismatching arguments (#1475)
  truss-chains/tests/http_errors/http_errors.py
  truss-chains/tests/test_e2e.py
  truss-chains/truss_chains/remote_chainlet/utils.py
  truss/remote/baseten/remote.py
Due: ruff, ruff-format, mypy

Fix boolean config parsing for include_git_info
  truss/cli/remote_cli.py
  truss/remote/baseten/remote.py
  truss/remote/truss_remote.py
Due: ruff, ruff-format, mypy

Fix boolean config parsing for include_git_info (#1478)
  truss/cli/remote_cli.py
  truss/remote/baseten/remote.py
  truss/remote/truss_remote.py
Due: ruff, ruff-format, mypy

Relax truss server requirements (mostly >=) (#1476)
  poetry.lock
  pyproject.toml
  truss/templates/control/requirements.txt
  truss/templates/server/requirements.txt
Due: none

Bump version to 0.9.70
  pyproject.toml
Due: none

Expose `--tail` functionality to traditional truss pushes
  truss-train/truss_train/log_utils.py
  truss/base/log_watcher.py
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/shared/log_watcher.py
  truss/shared/types.py
Due: ruff, ruff-format, mypy

Address comments
  truss-train/truss_train/log_utils.py
  truss/cli/cli.py
  truss/cli/utils/logs.py
  truss/remote/baseten/api.py
  truss/shared/log_watcher.py
  truss/shared/types.py
Due: ruff, ruff-format, mypy

initial stop
  truss/cli/cli.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

helpful logging
  truss-train/truss_train/log_utils.py
Due: ruff, ruff-format, mypy

Address more comments
  truss/cli/utils/logs.py
  truss/remote/baseten/utils/status.py
  truss/shared/log_watcher.py
Due: ruff, ruff-format, mypy

Expose `--tail` functionality to traditional truss pushes (#1474)
  truss-train/truss_train/log_utils.py
  truss/cli/cli.py
  truss/cli/utils/logs.py
  truss/remote/baseten/api.py
  truss/remote/baseten/utils/status.py
  truss/shared/log_watcher.py
  truss/shared/types.py
Due: ruff, ruff-format, mypy

Fix TRT LLM chainlet
  truss-chains/examples/baseten_llm/trt_llama.py
  truss-chains/truss_chains/framework.py
  truss-chains/truss_chains/public_types.py
  truss-chains/truss_chains/utils.py
  truss/remote/baseten/custom_types.py
Due: ruff, ruff-format, mypy

Small log improvements
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/shared/log_watcher.py
Due: ruff, ruff-format, mypy

Small log improvements (#1482)
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/shared/log_watcher.py
Due: ruff, ruff-format, mypy

Fix TRT LLM chainlet (#1481)
  truss-chains/examples/baseten_llm/trt_llama.py
  truss-chains/truss_chains/framework.py
  truss-chains/truss_chains/public_types.py
  truss-chains/truss_chains/utils.py
  truss/remote/baseten/custom_types.py
Due: ruff, ruff-format, mypy

[BT-14076] stop training jobs (#1480)
  truss/cli/cli.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

add context builder: dockerfile validation for openai.
  context_builder.Dockerfile
Due: none

first pass at /metrics
  truss/templates/control/control/application.py
  truss/templates/control/requirements.txt
  truss/templates/server/requirements.txt
  truss/templates/server/truss_server.py
  truss/tests/test_model_inference.py
Due: ruff, ruff-format, mypy

add control server test + filter out /metrics logs
  truss/templates/shared/log_config.py
  truss/tests/templates/control/control/test_server_integration.py
  truss/tests/test_model_inference.py
Due: ruff, ruff-format, mypy

add prom client
  poetry.lock
  pyproject.toml
Due: none

try adding prom client again
  poetry.lock
Due: none

add control server test
  truss/tests/templates/control/control/test_server.py
Due: ruff, ruff-format

fix control server integration test
  truss/tests/templates/control/control/test_server_integration.py
Due: ruff, ruff-format

add proxy for /metrics/ in control server
  truss/templates/control/control/application.py
  truss/templates/control/control/endpoints.py
  truss/tests/templates/control/control/test_server.py
Due: ruff, ruff-format, mypy

fix control server integration tests
  truss/tests/templates/control/control/test_server_integration.py
Due: ruff, ruff-format

add metrics filter to log config
  truss/templates/shared/log_config.py
Due: ruff, ruff-format, mypy

filter out /metrics/ requests from httpx
  truss/templates/shared/log_config.py
Due: ruff, ruff-format, mypy

reorder prom client dep
  pyproject.toml
Due: none

fixes
  poetry.lock
Due: none

revert reqs
  truss/templates/control/requirements.txt
Due: none

lock fixes
  poetry.lock
Due: none

Refactor log watcher helpers
  truss/cli/cli.py
  truss/cli/logs/base_watcher.py
  truss/cli/logs/model_log_watcher.py
  truss/cli/logs/training_log_watcher.py
  truss/cli/logs/utils.py
  truss/cli/utils/logs.py
  truss/shared/types.py
Due: ruff, ruff-format, mypy

add `/metrics` endpoint (#1455)
  poetry.lock
  pyproject.toml
  truss/templates/control/control/endpoints.py
  truss/templates/server/requirements.txt
  truss/templates/server/truss_server.py
  truss/templates/shared/log_config.py
  truss/tests/templates/control/control/test_server.py
  truss/tests/templates/control/control/test_server_integration.py
  truss/tests/test_model_inference.py
Due: ruff, ruff-format, mypy

bump to RC
  pyproject.toml
Due: none

add constants in truss
  truss/base/constants.py
Due: ruff, ruff-format, mypy

add rc
  pyproject.toml
Due: none

bump to `0.9.71rc001` (#1484)
  pyproject.toml
Due: none

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
