Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

Fix CLI hang when stdin is not a tty
  truss/cli/remote_cli.py
  truss/tests/cli/test_remote_cli.py
Due: ruff, ruff-format, mypy

run formatter
  truss/tests/cli/test_remote_cli.py
Due: ruff, ruff-format

Use check_is_interactive() instead of sys.stdin.isatty()
  truss/cli/remote_cli.py
  truss/tests/cli/test_remote_cli.py
Due: ruff, ruff-format, mypy

fmt
  baseten-performance-client/core/src/endpoint_routing.rs
Due: none

lib.rs
  baseten-performance-client/python_bindings/src/lib.rs
Due: none

address comments
  pyproject.toml
  truss-transfer/Cargo.toml
  truss-transfer/src/secrets.rs
  truss/templates/server/requirements.txt
  uv.lock
Due: uv-lock

fixes
  truss-transfer/Cargo.toml
  uv.lock
Due: uv-lock

add comment
  truss/util/path.py
Due: ruff, ruff-format, mypy

allow env vars for truss secrets (#2290)
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/constants.rs
  truss-transfer/src/create/aws_metadata.rs
  truss-transfer/src/create/azure_metadata.rs
  truss-transfer/src/create/basetenpointer.rs
  truss-transfer/src/create/gcs_metadata.rs
  truss-transfer/src/secrets.rs
Due: none

skip over broken symlinks (#2281)
  truss/util/path.py
Due: ruff, ruff-format, mypy

Add --docker-auth-method and --docker-auth-secret to login and sbatch
  truss/cli/train/slurm.py
  truss/cli/train_commands.py
  truss/templates/slurm_harness/login_node/config.py
  truss/templates/slurm_harness/shared/docker_auth.py
  truss/templates/slurm_harness/worker_node/config.py
Due: ruff, ruff-format, mypy

Test PR on min/max Python versions and add PyPI classifiers
  .github/workflows/pr.yml
  pyproject.toml
Due: uv-lock

Fix shared.docker_auth import in config templates
  truss/templates/slurm_harness/login_node/config.py
  truss/templates/slurm_harness/worker_node/config.py
Due: ruff, ruff-format, mypy

Test PR on min/max Python versions and add PyPI classifiers (#2299)
  .github/workflows/pr.yml
  pyproject.toml
Due: uv-lock

Fix Docker Hub registry extraction in docker_auth
  truss/templates/slurm_harness/shared/docker_auth.py
Due: ruff, ruff-format, mypy

Disable interactive session when docker_auth is set
  truss/templates/slurm_harness/login_node/config.py
  truss/templates/slurm_harness/worker_node/config.py
Due: ruff, ruff-format, mypy

Set require_cache_affinity=False on worker nodes
  truss/templates/slurm_harness/worker_node/config.py
Due: ruff, ruff-format, mypy

Revert require_cache_affinity to True on worker nodes
  truss/templates/slurm_harness/worker_node/config.py
Due: ruff, ruff-format, mypy

Add SLURM harness e2e test
  truss/tests/cli/train/test_slurm_e2e.py
Due: ruff, ruff-format

Fix e2e test: move addoption to conftest, increase wait times
  truss/tests/cli/train/conftest.py
  truss/tests/cli/train/test_slurm_e2e.py
Due: ruff, ruff-format

Fix e2e test: handle dict log entries from pagination API
  truss/tests/cli/train/test_slurm_e2e.py
Due: ruff, ruff-format

Add --script and --nodes options to e2e test
  truss/tests/cli/train/conftest.py
  truss/tests/cli/train/test_slurm_e2e.py
Due: ruff, ruff-format

import massage
  truss-train/truss_train/__init__.py
  truss-transfer/Cargo.lock
Due: ruff, ruff-format, mypy

Update Cargo.lock
  truss-transfer/Cargo.lock
Due: none

more import massage
  truss-train/truss_train/__init__.py
Due: ruff, ruff-format, mypy

linteh
  truss-train/truss_train/__init__.py
Due: ruff, ruff-format, mypy

fix field name
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

Auto-detect GPU devices and count for gres.conf and slurm.conf
  truss/templates/slurm_harness/login_node/setup_login.sh
  truss/templates/slurm_harness/worker_node/setup_worker.sh
Due: none

Fix deadlock: write worker GPU count before slurm.conf wait
  truss/templates/slurm_harness/worker_node/setup_worker.sh
Due: none

Address PR review feedback for non-interactive CLI fix
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/cli/remote_cli.py
  truss/cli/train_commands.py
  truss/cli/utils/common.py
  truss/tests/cli/test_remote_cli.py
Due: ruff, ruff-format, mypy

Respect --non-interactive flag in check_is_interactive()
  truss/cli/train_commands.py
  truss/cli/utils/common.py
  truss/tests/cli/test_cli_utils_common.py
Due: ruff, ruff-format, mypy

Support images without pip in login node setup
  truss/templates/slurm_harness/login_node/config.py
Due: ruff, ruff-format, mypy

Respect --non-interactive flag in check_is_interactive() (#2302)
  truss/cli/train_commands.py
  truss/cli/utils/common.py
  truss/tests/cli/test_cli_utils_common.py
Due: ruff, ruff-format, mypy

Guard against None context obj in check_is_interactive()
  truss/cli/utils/common.py
  truss/tests/cli/test_cli_utils_common.py
Due: ruff, ruff-format, mypy

Guard against None context obj in check_is_interactive()
  truss/cli/utils/common.py
  truss/tests/cli/test_remote_cli.py
Due: ruff, ruff-format, mypy

Use --gres on login command for consistency with SLURM and sbatch
  truss/cli/train_commands.py
  truss/templates/slurm_harness/README.md
Due: ruff, ruff-format, mypy

Fix SLURM output file path: use scontrol instead of hardcoded /
  truss/templates/slurm_harness/worker_node/setup_worker.sh
Due: none

run formatter
  truss/tests/cli/test_cli_utils_common.py
Due: ruff, ruff-format

Set sbatch --chdir=/workspace for predictable working directory
  truss/templates/slurm_harness/worker_node/setup_worker.sh
Due: none

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
