Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

Fix failing tests
  truss/remote/baseten/api.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

Update chain uploads
  truss-chains/tests/test_chain_upload_end_to_end.py
  truss-chains/tests/test_public_api_disable_truss_download.py
  truss-chains/truss_chains/deployment/deployment_client.py
  truss-chains/truss_chains/private_types.py
  truss-chains/truss_chains/public_api.py
  truss/cli/chains_commands.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_chains_cli.py
  truss/tests/remote/baseten/test_chain_disable_truss_download.py
Due: ruff, ruff-format, mypy

truss config to allow for no-build deployments (#1997)
  truss/base/constants.py
  truss/base/truss_config.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/no_build.Dockerfile.jinja
Due: ruff, ruff-format, mypy

pre-commit fixes
  truss-chains/tests/test_chain_upload_end_to_end.py
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_chains_cli.py
Due: ruff, ruff-format, mypy

Bump version to 0.11.14
  pyproject.toml
  uv.lock
Due: uv-lock

Fix broken test
  truss/tests/remote/baseten/test_chain_upload.py
Due: ruff, ruff-format

PR comments
  truss/remote/baseten/api.py
  truss/tests/cli/test_chains_cli.py
  truss/tests/remote/baseten/test_chain_upload.py
Due: ruff, ruff-format, mypy

Remove excessive comments
  smoketests/test_chains.py
  truss-chains/tests/test_chain_upload_end_to_end.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
Due: ruff, ruff-format, mypy

Remove 'allow_truss_download: true'
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format

feat(truss): Pass environment name to create model from truss
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
Due: ruff, ruff-format, mypy

Pr changes
  truss-chains/tests/test_chain_upload_end_to_end.py
  truss-chains/truss_chains/public_api.py
  truss/cli/chains_commands.py
  truss/contexts/image_builder/cache_warmer.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_chains_cli.py
  truss/util/error_utils.py
Due: ruff, ruff-format, mypy

Add import
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

Fix tests
  truss/remote/baseten/api.py
  truss/tests/cli/test_chains_cli.py
Due: ruff, ruff-format, mypy

Fix upload
  truss/tests/remote/baseten/test_chain_upload.py
Due: ruff, ruff-format

Correct aws fields
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

Use error handler
  truss/remote/baseten/core.py
  truss/util/error_utils.py
Due: ruff, ruff-format, mypy

Remove unused logger
  truss/util/error_utils.py
Due: ruff, ruff-format, mypy

Update error_utils.py
  truss/util/error_utils.py
Due: ruff, ruff-format, mypy

Use graphql query builder
  pyproject.toml
  truss/remote/baseten/api.py
  truss/tests/remote/baseten/test_api.py
Due: ruff, ruff-format, mypy, uv-lock

Upload Original Chain Artifacts to Support Chain Downloads (#1990)
  smoketests/test_chains.py
  truss-chains/tests/test_chain_upload_end_to_end.py
  truss-chains/truss_chains/deployment/deployment_client.py
  truss-chains/truss_chains/private_types.py
  truss-chains/truss_chains/public_api.py
  truss/cli/chains_commands.py
  truss/contexts/image_builder/cache_warmer.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/custom_types.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_chains_cli.py
  truss/tests/remote/baseten/test_chain_upload.py
  truss/util/error_utils.py
Due: ruff, ruff-format, mypy

Remove json
  pyproject.toml
  truss/remote/baseten/api.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

feat: Add File Explorer Sync VS Code extension
  file-explorer-sync/.gitignore
  file-explorer-sync/.vscode/launch.json
  file-explorer-sync/.vscode/settings.json
  file-explorer-sync/.vscodeignore
  file-explorer-sync/INSTALL.md
  file-explorer-sync/QUICKSTART.md
  file-explorer-sync/README.md
  file-explorer-sync/SUMMARY.md
  file-explorer-sync/extension.js
  file-explorer-sync/package.json
Due: none

White space change
  pyproject.toml
Due: uv-lock

Bump version to 0.11.15
  pyproject.toml
  uv.lock
Due: uv-lock

Don't auto-restart for custom servers.
  truss/templates/docker_server/supervisord.conf.jinja
Due: none

Change to autorestart=false.
  pyproject.toml
  truss/templates/docker_server/supervisord.conf.jinja
  uv.lock
Due: uv-lock

Also change startretries to 1.
  pyproject.toml
  truss/templates/docker_server/supervisord.conf.jinja
  uv.lock
Due: uv-lock

Working changes.
  pyproject.toml
  truss/templates/docker_server/supervisord.conf.jinja
  uv.lock
Due: uv-lock

Don't auto-restart for custom servers. (#2010)
  pyproject.toml
  truss/templates/docker_server/supervisord.conf.jinja
  uv.lock
Due: uv-lock

Revert "Upload Original Chain Artifacts to Support Chain Downloads (#1990)"
  smoketests/test_chains.py
  truss-chains/tests/test_chain_upload_end_to_end.py
  truss-chains/truss_chains/deployment/deployment_client.py
  truss-chains/truss_chains/private_types.py
  truss-chains/truss_chains/public_api.py
  truss/cli/chains_commands.py
  truss/contexts/image_builder/cache_warmer.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/custom_types.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_chains_cli.py
  truss/tests/remote/baseten/test_chain_upload.py
  truss/util/error_utils.py
Due: ruff, ruff-format, mypy

Revert "Upload Original Chain Artifacts to Support Chain Downloads (#1990)" (#2012)
  smoketests/test_chains.py
  truss-chains/tests/test_chain_upload_end_to_end.py
  truss-chains/truss_chains/deployment/deployment_client.py
  truss-chains/truss_chains/private_types.py
  truss-chains/truss_chains/public_api.py
  truss/cli/chains_commands.py
  truss/contexts/image_builder/cache_warmer.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/custom_types.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_chains_cli.py
  truss/tests/remote/baseten/test_chain_upload.py
  truss/util/error_utils.py
Due: ruff, ruff-format, mypy

added support for instance groups
  INSTANCE_GROUPS_FEATURE.md
  test_instance_groups.py
  test_instance_groups_basic.py
  truss/base/truss_config.py
  truss/templates/docker_server/server_wrapper.sh
  truss/templates/server/model_wrapper.py
Due: ruff, ruff-format, mypy

Revert warm cache tests
  truss/contexts/image_builder/cache_warmer.py
Due: ruff, ruff-format, mypy

Revert cache warmer
  truss/contexts/image_builder/cache_warmer.py
Due: ruff, ruff-format, mypy

allow removing env vars during override; override all aws env vars
  truss/remote/baseten/utils/transfer.py
  truss/util/env_vars.py
Due: ruff, ruff-format, mypy

update override env vars test
  truss/tests/util/test_env_vars.py
Due: ruff, ruff-format

fix typing
  truss/remote/baseten/utils/transfer.py
Due: ruff, ruff-format, mypy

run pre-commit
  truss/tests/util/test_env_vars.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
