Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
        language: python
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: poetry run ruff format --force-exclude
        language: python
        files: \.(py|pyi)$
      - id: pyproject.toml
        name: pyproject.toml
        entry: poetry run python bin/pyproject_toml_linter.py
        language: python
        additional_dependencies: [tomlkit]
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true

update truss-transfer version
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

updates for new typing
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

[bt-14163] Usability improvements for training jobs (#1521)
  truss/cli/cli.py
  truss/cli/logs/training_log_watcher.py
  truss/cli/train.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

adds test
  truss-train/tests/test_deployment.py
Due: ruff, ruff-format, mypy

switch scache to false
  .github/workflows/truss-transfer-test.yml
Due: none

release rc 001 (#1525)
  .github/workflows/truss-transfer-test.yml
  pyproject.toml
Due: none

add sccache
  .github/workflows/truss-transfer-build-maturin.yaml
Due: none

pre commit hook
  truss-train/tests/test_deployment.py
Due: ruff, ruff-format, mypy

Introduce pydantic v2 (>=2.1.0 as stable minium v2 version)
  poetry.lock
  pyproject.toml
  truss-chains/truss_chains/__init__.py
  truss-chains/truss_chains/deployment/code_gen.py
  truss-chains/truss_chains/framework.py
  truss-chains/truss_chains/private_types.py
  truss-chains/truss_chains/public_types.py
  truss-train/truss_train/definitions.py
  truss-train/truss_train/deployment.py
  truss/base/custom_types.py
  truss/shared/__init__.py
  truss/shared/types.py
Due: ruff, ruff-format, mypy

Introduce pydantic v2 (>=2.1.0 as stable minium v2 version) (#1526)
  poetry.lock
  pyproject.toml
  truss-chains/truss_chains/__init__.py
  truss-chains/truss_chains/deployment/code_gen.py
  truss-chains/truss_chains/framework.py
  truss-chains/truss_chains/private_types.py
  truss-chains/truss_chains/public_types.py
  truss-train/truss_train/definitions.py
  truss-train/truss_train/deployment.py
  truss/base/custom_types.py
  truss/shared/__init__.py
  truss/shared/types.py
Due: ruff, ruff-format, mypy

disable scache (#1527)
  .github/workflows/truss-transfer-build-maturin.yaml
Due: none

Show method enum values in server messages
  truss/templates/server/model_wrapper.py
Due: ruff, ruff-format, mypy

sanitize url
  truss-transfer/src/lib.rs
Due: none

Show method enum values in server messages (#1528)
  truss/templates/server/model_wrapper.py
Due: ruff, ruff-format, mypy

truss-transfer - sanitize url on download failure (#1529)
  truss-transfer/src/lib.rs
Due: none

make truss with b10cache
  truss/base/truss_config.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_data/test_truss_server_model_cache_v1/__init__.py
  truss/tests/test_data/test_truss_server_model_cache_v1/config.yaml
  truss/tests/test_data/test_truss_server_model_cache_v1/model/__init__.py
  truss/tests/test_data/test_truss_server_model_cache_v1/model/model.py
  truss/tests/test_data/test_truss_server_model_cache_v2/__init__.py
  truss/tests/test_data/test_truss_server_model_cache_v2/config.yaml
  truss/tests/test_data/test_truss_server_model_cache_v2/model/__init__.py
  truss/tests/test_data/test_truss_server_model_cache_v2/model/model.py
Due: ruff, ruff-format, mypy

add ModelCacheB10FS
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Fix external data for truss watch.
  truss/cli/cli.py
  truss/tests/test_util.py
  truss/util/download.py
Due: ruff, ruff-format, mypy

truss repository
  truss-train/tests/test_deployment.py
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

pre commit
  truss-train/tests/test_deployment.py
Due: ruff, ruff-format, mypy

[BT-14122] enable rw cache for training (#1520)
  truss-train/tests/test_deployment.py
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

Bump version to 0.9.76
  pyproject.toml
Due: none

Fix typing in model wrapper for old python versions
  truss/templates/server/model_wrapper.py
Due: ruff, ruff-format, mypy

Fix typing in model wrapper for old python versions (#1533)
  truss/templates/server/model_wrapper.py
Due: ruff, ruff-format, mypy

revert
  truss/base/constants.py
Due: ruff, ruff-format, mypy

Bdubayah/trtllm config lora (#1518)
  pyproject.toml
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

add model cache v2
  truss/base/truss_config.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_config.py
  truss/tests/test_data/test_truss_server_model_cache_v2/config.yaml
Due: ruff, ruff-format, mypy

model cache v2 refactor
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/server.Dockerfile.jinja
  truss/util/basetenpointer.py
Due: ruff, ruff-format, mypy

use volumne
  truss/tests/test_data/test_truss_server_model_cache_v2/config.yaml
Due: none

add truss config
  truss/base/truss_config.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_data/test_truss_server_model_cache_v2/config.yaml
Due: ruff, ruff-format, mypy

add truss config, basetenpointer
  truss/tests/util/test_basetenpointer.py
Due: ruff, ruff-format

add baseten pointer
  truss/util/basetenpointer.py
Due: ruff, ruff-format, mypy

bump truss transfer
  pyproject.toml
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/requirements.txt
Due: none

bump truss transfer, poetry lock
  poetry.lock
  pyproject.toml
Due: none

bump truss transfer, poetry lock, revert version
  pyproject.toml
Due: none
