Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: isort
        name: isort-local
        entry: poetry run isort
        language: system
        types: [python]
        pass_filenames: true
      - id: flake8
        name: flake8-local
        entry: poetry run flake8
        language: system
        types: [python]
        pass_filenames: true
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        args: ["--install-types", "--non-interactive"]
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
  - repo: https://github.com/tcort/markdown-link-check
    rev: "v3.10.3"
    hooks:
      - id: markdown-link-check
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        # It is recommended to specify the latest version of Python
        # supported by your project here, or alternatively use
        # pre-commit's default_language_version, see
        # https://pre-commit.com/#top_level-default_language_version
        language_version: python3.9

Change default truss.
  truss/templates/custom/model/model.py
  truss/truss_config.py
  truss/truss_handle.py
Due: isort, flake8, mypy

Fix invalid memory unit.
  truss/truss_config.py
Due: isort, flake8, mypy

Add back external packages.
  truss/truss_config.py
  truss/truss_handle.py
Due: isort, flake8, mypy

Fix mypy error.
  truss/cli/cli.py
Due: isort, flake8, mypy

Simplify truss init / push commands. (#564)
  truss/build.py
  truss/cli/cli.py
  truss/cli/create.py
  truss/remote/remote_cli.py
Due: isort, flake8, mypy

Update model.py comment.
  truss/templates/custom/model/model.py
Due: isort, flake8

Fix tests.
  truss/tests/test_config.py
Due: isort, flake8

Updated broken test.
  truss/tests/test_truss_handle.py
Due: isort, flake8

Change default truss. (#565)
  truss/templates/custom/model/model.py
  truss/tests/test_config.py
  truss/tests/test_truss_handle.py
  truss/truss_config.py
Due: isort, flake8, mypy

google tag manager
  docs/mint.json
Due: none

google tag manager (#567)
  docs/mint.json
Due: none

Better error message for truss predict.
  truss/cli/cli.py
Due: isort, flake8, mypy

update poetry.lock
  examples/vllm-gcs/config.yaml
  poetry.lock
  truss/contexts/image_builder/cache_warmer.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/vllm/vllm.Dockerfile.jinja
Due: isort, flake8, mypy

Better error message for truss predict. (#568)
  truss/cli/cli.py
Due: isort, flake8, mypy

Bump to version 0.6.0.
  pyproject.toml
Due: none

Bump to version 0.6.0. (#569)
  pyproject.toml
Due: none

CLI reference
  docs/learn/model-serving/init.mdx
  docs/mint.json
  docs/quickstart.mdx
  docs/reference/cli.mdx
  docs/reference/cli/cleanup.mdx
  docs/reference/cli/container.mdx
  docs/reference/cli/image.mdx
  docs/reference/cli/init.mdx
  docs/reference/cli/predict.mdx
  docs/reference/cli/push.mdx
  docs/reference/cli/watch.mdx
  docs/reference/config.mdx
Due: none

fix up 3 tutorials
  docs/examples/private-model.mdx
  docs/examples/streaming.mdx
  docs/examples/system-packages.mdx
  docs/mint.json
Due: none

tutorial refactor
  README.md
  docs/examples/models/overview.mdx
  docs/examples/private-model.mdx
  docs/examples/system-packages.mdx
  docs/learn/model-serving/echo.mdx
  docs/learn/model-serving/init.mdx
  docs/learn/model-serving/model-load.mdx
  docs/learn/model-serving/model-predict.mdx
  docs/learn/model-serving/predict.mdx
  docs/learn/model-serving/publish.mdx
  docs/learn/model-serving/push.mdx
  docs/learn/model-serving/requirements.mdx
  docs/learn/model-serving/watch.mdx
  docs/mint.json
  docs/reference/cli.mdx
  docs/welcome.mdx
Due: none

usage
  docs/images/user-workflow.png
  docs/learn/intro.mdx
  docs/mint.json
  docs/reference/cli.mdx
  docs/reference/cli/init.mdx
  docs/usage.mdx
  docs/welcome.mdx
Due: none

user guide
  docs/images/user-workflow.png
  docs/usage.mdx
Due: none

2 more tutorials
  docs/examples/performance/cached-weights.mdx
  docs/examples/performance/vllm-server.mdx
Due: none

VLLM tutorial
  docs/examples/performance/vllm-server.mdx
  docs/reference/cli/init.mdx
Due: none

Philip/even more docs (#563)
  README.md
  docs/examples/models/overview.mdx
  docs/examples/performance/cached-weights.mdx
  docs/examples/performance/vllm-server.mdx
  docs/examples/private-model.mdx
  docs/examples/streaming.mdx
  docs/examples/system-packages.mdx
  docs/images/user-workflow.png
  docs/learn/intro.mdx
  docs/learn/model-serving/echo.mdx
  docs/learn/model-serving/init.mdx
  docs/learn/model-serving/model-load.mdx
  docs/learn/model-serving/model-predict.mdx
  docs/learn/model-serving/predict.mdx
  docs/learn/model-serving/publish.mdx
  docs/learn/model-serving/push.mdx
  docs/learn/model-serving/requirements.mdx
  docs/learn/model-serving/watch.mdx
  docs/mint.json
  docs/quickstart.mdx
  docs/reference/cli.mdx
  docs/reference/cli/cleanup.mdx
  docs/reference/cli/container.mdx
  docs/reference/cli/image.mdx
  docs/reference/cli/init.mdx
  docs/reference/cli/predict.mdx
  docs/reference/cli/push.mdx
  docs/reference/cli/watch.mdx
  docs/reference/config.mdx
  docs/usage.mdx
  docs/welcome.mdx
Due: none

Add TGI documentation
  docs/examples/performance/tgi-server.mdx
Due: none

Update mint.json
  docs/mint.json
Due: none

update pyproject
  pyproject.toml
Due: none

bump
  pyproject.toml
  truss/templates/vllm/vllm.Dockerfile.jinja
Due: none

Fix truss predict for content-type as text.
  truss/remote/baseten/service.py
Due: isort, flake8, mypy

refactor
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/triton/model/1/triton_utils.py
  truss/templates/triton/model/model.py
  truss/templates/triton/model/transform.py
  truss/templates/triton/model/triton_model_wrapper.py
  truss/templates/triton/model/utils/pydantic.py
  truss/templates/triton/model/utils/signature.py
  truss/templates/triton/model/utils/triton.py
  truss/templates/triton/root/Dockerfile
  truss/templates/triton/root/config.pbtxt.jinja
  truss/templates/triton/root/generate_config.py
  truss/templates/triton/root/proxy.conf
  truss/templates/triton/root/supervisord.conf
Due: isort, flake8, mypy

removing print
  truss/templates/triton/model/transform.py
  truss/templates/triton/model/utils/triton.py
Due: isort, flake8, mypy

docstrings
  truss/templates/triton/model/model.py
  truss/templates/triton/model/transform.py
  truss/templates/triton/model/utils/triton.py
Due: isort, flake8, mypy

Add TGI documentation (#571)
  docs/examples/performance/tgi-server.mdx
  docs/mint.json
Due: none

Fix truss predict for content-type as text. (#572)
  truss/remote/baseten/service.py
Due: isort, flake8, mypy

vllm working
  examples/vllm-gcs/config.yaml
  poetry.lock
  pyproject.toml
Due: none

fixed vllm docs
  docs/examples/performance/vllm-server.mdx
  pyproject.toml
Due: none

fix toml
  pyproject.toml
Due: none

revert
  poetry.lock
  pyproject.toml
Due: none

revert x2
  poetry.lock
  pyproject.toml
Due: none

Fixed vLLM documentation (#573)
  docs/examples/performance/vllm-server.mdx
Due: none
