Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff analyze and fix
  entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: python

ruff-format:
  name: ruff format
  entry: poetry run ruff format --force-exclude
  language: python

mypy:
  name: mypy-local
  entry: poetry run mypy
  language: python
  pass_filenames: true

deploy from checkpoint
  truss/base/truss_config.py
  truss/cli/cli.py
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

rm todo
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

updates
  truss/cli/cli.py
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

add b10lookahead
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Update pyproject.toml
  pyproject.toml
Due: none

Update pyproject.toml (#1616)
  pyproject.toml
Due: none

add b10lookahead (#1615)
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Update pyproject.toml (#1617)
  pyproject.toml
Due: none

use a truss template
  truss/cli/train/core.py
  truss/cli/train/deploy_from_checkpoint_config.yml
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

grpc fix
  pyproject.toml
  truss/base/constants.py
Due: ruff, ruff-format, mypy

basic init
  truss-chains/truss_chains/deployment/code_gen.py
  truss-chains/truss_chains/public_types.py
Due: ruff, ruff-format, mypy

add briton version
  truss/base/constants.py
Due: ruff, ruff-format, mypy

add briton version
  pyproject.toml
Due: none

Bump version to 0.9.84
  pyproject.toml
Due: none

Try bumping version.
  pyproject.toml
Due: none

Bump version.
  pyproject.toml
Due: none

update pyproject.toml
  pyproject.toml
Due: none

truss deploys
  truss/cli/cli.py
  truss/cli/train/core.py
  truss/tests/cli/train/resources/test_deploy_from_checkpoint_config.yml
Due: ruff, ruff-format, mypy

adds a test
  truss/cli/train/core.py
  truss/tests/cli/train/resources/test_deploy_from_checkpoint_config.yml
  truss/tests/cli/train/test_train_cli_core.py
Due: ruff, ruff-format, mypy

adds max lora rank support
  truss/cli/train/core.py
  truss/tests/cli/train/test_train_cli_core.py
Due: ruff, ruff-format, mypy

RC for release.
  pyproject.toml
Due: none

works
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

i think this works
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

add b10ptr fix
  truss/tests/util/test_basetenpointer.py
  truss/util/basetenpointer.py
Due: ruff, ruff-format, mypy

comment
  truss/tests/util/test_basetenpointer.py
Due: ruff, ruff-format

reset pyproject.toml
  pyproject.toml
Due: none

Mf fix real revision b10cache (#1623)
  truss/tests/util/test_basetenpointer.py
  truss/util/basetenpointer.py
Due: ruff, ruff-format, mypy

include training job id in checkpoint id
  truss/cli/train/core.py
  truss/tests/cli/train/resources/test_deploy_from_checkpoint_config.yml
  truss/tests/cli/train/test_train_cli_core.py
Due: ruff, ruff-format, mypy

Fix docs
  docs/chains/doc_gen/API-reference.mdx
  docs/chains/doc_gen/generated-reference.mdx
  docs/chains/doc_gen/reference.patch
  truss-chains/truss_chains/public_types.py
Due: ruff, ruff-format, mypy

Expose `streaming_read_timeout` for Chains entrypoint (#1622)
  docs/chains/doc_gen/API-reference.mdx
  docs/chains/doc_gen/generated-reference.mdx
  docs/chains/doc_gen/reference.patch
  truss-chains/truss_chains/deployment/code_gen.py
  truss-chains/truss_chains/public_types.py
Due: ruff, ruff-format, mypy

fully qualified checkpoint id
  truss/cli/train/core.py
  truss/tests/cli/train/resources/test_deploy_from_checkpoint_config.yml
Due: ruff, ruff-format, mypy

Bump version to 0.9.87
  pyproject.toml
Due: none

Update constants.py
  truss/base/constants.py
Due: ruff, ruff-format, mypy

Update constants.py (#1627)
  pyproject.toml
  truss/base/constants.py
Due: ruff, ruff-format, mypy

pyconfig
  truss-train/truss_train/definitions.py
  truss-train/truss_train/loader.py
  truss/cli/cli.py
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
