Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
        language: python
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: poetry run ruff format --force-exclude
        language: python
        files: \.(py|pyi)$
      - id: pyproject.toml
        name: pyproject.toml
        entry: poetry run python bin/pyproject_toml_linter.py
        language: python
        additional_dependencies: [tomlkit]
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true

Review comments
  truss-chains/truss_chains/framework.py
Due: ruff, ruff-format, mypy

Make websocket ping configurable. Add truss verison override to chains.
  docs/chains/doc_gen/API-reference.mdx
  docs/chains/doc_gen/generated-reference.mdx
  docs/chains/doc_gen/reference.patch
  truss-chains/tests/test_framework.py
  truss-chains/truss_chains/deployment/code_gen.py
  truss-chains/truss_chains/framework.py
  truss-chains/truss_chains/public_types.py
  truss/base/truss_config.py
  truss/cli/cli.py
  truss/templates/control/control/server.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Add websocket ping settings BT-1479 (#1679)
  docs/chains/doc_gen/API-reference.mdx
  docs/chains/doc_gen/generated-reference.mdx
  docs/chains/doc_gen/reference.patch
  truss-chains/tests/test_framework.py
  truss-chains/truss_chains/deployment/code_gen.py
  truss-chains/truss_chains/framework.py
  truss-chains/truss_chains/public_types.py
  truss/base/truss_config.py
  truss/cli/cli.py
  truss/templates/control/control/server.py
  truss/templates/control/requirements.txt
  truss/templates/server/truss_server.py
  truss/tests/test_config.py
  truss/tests/test_model_inference.py
Due: ruff, ruff-format, mypy

rename to 0.0.1
  baseten-inference-client/Cargo.lock
  baseten-inference-client/Cargo.toml
Due: none

Split truss CLI
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/cli/common.py
  truss/cli/logs/base_watcher.py
  truss/cli/logs/model_log_watcher.py
  truss/cli/logs/training_log_watcher.py
  truss/cli/logs/utils.py
  truss/cli/remote_cli.py
  truss/cli/train/common.py
  truss/cli/train/core.py
  truss/cli/train/deploy_checkpoints.py
  truss/cli/train/metrics_watcher.py
  truss/cli/train/poller.py
  truss/cli/train_commands.py
  truss/cli/utils/common.py
  truss/cli/utils/self_upgrade.py
Due: ruff, ruff-format, mypy

Improve training CLI
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/cli/logs/base_watcher.py
  truss/cli/train/core.py
  truss/cli/train/metrics_watcher.py
  truss/cli/train_commands.py
  truss/cli/utils/common.py
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

baseten-inference-client: rename async batch (#1685)
  baseten-inference-client/Cargo.lock
  baseten-inference-client/Cargo.toml
  baseten-inference-client/README.md
  baseten-inference-client/baseten_inference_client.pyi
  baseten-inference-client/src/lib.rs
  baseten-inference-client/tests/test_bindings.py
  baseten-inference-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

notify on slack if post-commit failure
  .github/workflows/main.yml
Due: none

test slack notify on another GHA workflow
  .github/workflows/pr.yml
Due: none

remove "main" branch restriction
  .github/workflows/pr.yml
Due: none

force test failure to test slack message
  truss/tests/templates/server/test_schema.py
Due: ruff, ruff-format

revert testing changes
  .github/workflows/pr.yml
  truss/tests/templates/server/test_schema.py
Due: ruff, ruff-format

Don't upgrade pip if there are no requirements.
  truss/templates/base.Dockerfile.jinja
Due: none

Check for `pip` on path
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

Bump rc version
  pyproject.toml
Due: none

Don't upgrade pip if there are no requirements. (#1678)
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

helpful warning
  truss-train/truss_train/deployment.py
  truss/remote/baseten/core.py
  truss/remote/baseten/utils/tar.py
Due: ruff, ruff-format, mypy

Bump version to 0.9.98
  pyproject.toml
Due: none

apply review comments
  .github/workflows/main.yml
Due: none

use non-problematic parameter for truss integration test
  truss/tests/test_truss_handle.py
Due: ruff, ruff-format

relax lora naming
  pyproject.toml
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Relax python version bounds, bump control server dep
  poetry.lock
  pyproject.toml
  truss/templates/control/requirements.txt
Due: none

Correct bounds
  poetry.lock
  pyproject.toml
Due: none

Relax python version bounds, bump control server dep (#1694)
  poetry.lock
  pyproject.toml
  truss/templates/control/requirements.txt
Due: none

Bump version to 0.9.99
  pyproject.toml
Due: none

Bump truss version to 0.9.100
  pyproject.toml
Due: none

Use multi stage builds for control server venv
  pyproject.toml
  truss/templates/control_venv.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
Due: none

Address comments
  pyproject.toml
  truss/templates/control_venv.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
Due: none

Bump version for automatic push
  pyproject.toml
Due: none

Use multi stage builds for control server venv (#1693)
  pyproject.toml
  truss/templates/control_venv.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
Due: none

Fix Docker emulation for integration tests
  truss/contexts/local_loader/docker_build_emulator.py
Due: ruff, ruff-format, mypy

Fix Docker emulation for integration tests (#1696)
  truss/contexts/local_loader/docker_build_emulator.py
Due: ruff, ruff-format, mypy

Use newer image for integration tests
  truss/tests/test_truss_handle.py
Due: ruff, ruff-format

Use newer image for integration tests (#1697)
  truss/tests/test_truss_handle.py
Due: ruff, ruff-format

Bump version to 0.9.101
  pyproject.toml
Due: none

Revert "Use multi stage builds for control server venv (#1693)"
  truss/templates/control_venv.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
Due: none

Merge pull request #1699 from basetenlabs/nikhil/revert-multi-stage-build
  truss/templates/control_venv.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
Due: none
