Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        # NB(nikhil): `uv` requires system over python (here and below) due to assumptions pre-commit makes about venvs.
        language: system
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude
        language: system
        files: \.(py|pyi)$
      - id: mypy
        name: mypy-local
        entry: uv run mypy
        language: system
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
      - id: uv-lock
        name: uv lock
        entry: uv lock
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

misc(performance-client): prepare 0.1.15 stable release (#2669)
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/pyproject.toml
  baseten-performance-client/python_bindings/uv.lock
Due: none

misc(performance-client): use Python 0.1.15.post1 release
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/pyproject.toml
  baseten-performance-client/python_bindings/uv.lock
Due: none

misc(performance-client): prepare Python 0.1.15.post1 release (#2678)
  baseten-performance-client/python_bindings/pyproject.toml
  baseten-performance-client/python_bindings/uv.lock
Due: none

misc(performance-client): prepare 0.1.16 stable release
  baseten-performance-client/Cargo.lock
  baseten-performance-client/README.md
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/pyproject.toml
  baseten-performance-client/python_bindings/uv.lock
Due: none

fix: allow systemone as an embedding default route
  truss/base/trt_llm_config.py
  truss/config.schema.json
Due: ruff, ruff-format, mypy

chore: bump Truss to 0.18.33rc1
  pyproject.toml
  uv.lock
Due: uv-lock

fix: allow systemone embedding route and bump Truss to 0.18.33rc1 (#2680)
  pyproject.toml
  truss/base/trt_llm_config.py
  truss/config.schema.json
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

Add sampler replica options to truss loops push
  truss/cli/loops_commands.py
  truss/remote/baseten/api.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_loops_cli.py
  truss/tests/remote/baseten/test_api.py
Due: ruff, ruff-format, mypy

feat: configure only minimum Loops sampler replicas
  truss/cli/loops_commands.py
  truss/remote/baseten/api.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_loops_cli.py
  truss/tests/remote/baseten/test_api.py
Due: ruff, ruff-format, mypy

fix: return 503 for ModelNotReady during invocation
  truss/templates/control/control/application.py
Due: ruff, ruff-format, mypy

chore: update error bypass comment
  truss/templates/control/control/application.py
Due: ruff, ruff-format, mypy

chore: format with ruff
  truss/templates/control/control/application.py
Due: ruff, ruff-format, mypy

fix(chains): deactivate chain deployment when push is aborted with Ctrl-C
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/cli/chains_commands.py
  truss/remote/baseten/api.py
  truss/tests/cli/test_chains_cli.py
Due: ruff, ruff-format, mypy

fix(chains): deactivate chain deployment when push is aborted with Ctrl-C (#2683)
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/cli/chains_commands.py
  truss/remote/baseten/api.py
  truss/tests/cli/test_chains_cli.py
Due: ruff, ruff-format, mypy

fix(util): read pyproject.toml as UTF-8
  truss/tests/util/test_requirements.py
  truss/util/requirements.py
Due: ruff, ruff-format, mypy

feat: forward runtime.egress_restrictions for BIS LLM deployments
  truss/base/truss_config.py
  truss/config.schema.json
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

docs: egress_restricted takes effect only when the org enables BIS egress restrictions
  truss/base/truss_config.py
  truss/config.schema.json
Due: ruff, ruff-format, mypy

Bump version to 0.18.33
  pyproject.toml
  uv.lock
Due: uv-lock

feat(config): Accept ngc:// weights sources
  truss-chains/truss_chains/public_types.py
  truss/base/truss_config.py
  truss/config.schema.json
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

docs: egress_restricted: true is the BIS opt-in
  truss/base/truss_config.py
  truss/config.schema.json
Due: ruff, ruff-format, mypy

Merge commit from fork
  truss/templates/server/truss_server.py
  truss/templates/shared/serialization.py
  truss/tests/templates/server/test_truss_server.py
  truss/tests/templates/shared/test_serialization.py
Due: ruff, ruff-format, mypy

docs: egress_restricted is the egress opt-in for every deployment
  truss/base/truss_config.py
  truss/config.schema.json
Due: ruff, ruff-format, mypy

docs: egress_restrictions requires egress_restricted: true
  truss/base/truss_config.py
  truss/config.schema.json
Due: ruff, ruff-format, mypy

docs: either egress setting restricts; restore egress_restrictions docs
  truss/base/truss_config.py
  truss/config.schema.json
Due: ruff, ruff-format, mypy

refactor: forward only egress_restrictions for BIS; drop egress_restricted
  truss/base/truss_config.py
  truss/config.schema.json
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

test: cover IP, empty and unset egress_restrictions for BIS forwarding
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format

feat: warn when a restricted BIS model's allowlist lacks hosts it needs
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

feat: suggest the exact encoder host, not *.api.baseten.co
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

feat: warn about every Baseten-API URL in bis_llm.config, including tokenizer_endpoint
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

test: add unit test for ModelNotReady 503 response
  truss/tests/templates/control/control/test_sanitized_exception_middleware.py
Due: ruff, ruff-format

Rename the sampler replica count to num_replicas
  truss/cli/loops_commands.py
  truss/remote/baseten/api.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_loops_cli.py
  truss/tests/remote/baseten/test_api.py
Due: ruff, ruff-format, mypy

fix: skip URLs urlparse rejects in the BIS egress warning scan
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

refactor: find Baseten-API hosts with one regex over the JSON config
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy
