Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        # NB(nikhil): `uv` requires system over python (here and below) due to assumptions pre-commit makes about venvs.
        language: system
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude
        language: system
        files: \.(py|pyi)$
      - id: mypy
        name: mypy-local
        entry: uv run mypy
        language: system
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
      - id: uv-lock
        name: uv lock
        entry: uv lock
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

feat(truss): add unit tests for paginated log querying
  truss/remote/baseten/api.py
  truss/tests/remote/baseten/test_api.py
Due: ruff, ruff-format, mypy

truss cache summary
  truss/cli/train/common.py
  truss/cli/train/core.py
  truss/cli/train/metrics_watcher.py
  truss/cli/train_commands.py
  truss/cli/utils/common.py
  truss/remote/baseten/api.py
  truss/remote/baseten/custom_types.py
  truss/tests/cli/train/test_cache_view.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

updates
  truss/cli/train/core.py
  truss/cli/train/metrics_watcher.py
  truss/cli/utils/common.py
Due: ruff, ruff-format, mypy

sorting
  truss/cli/train/core.py
  truss/cli/train_commands.py
  truss/tests/cli/train/test_cache_view.py
Due: ruff, ruff-format, mypy

remove bozo comments
  truss/cli/train/core.py
  truss/tests/cli/train/test_cache_view.py
Due: ruff, ruff-format, mypy

updates to interface
  truss/cli/train/core.py
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
  truss/tests/cli/train/test_cache_view.py
Due: ruff, ruff-format, mypy

updates to interface
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

fix(truss): pass in a start time based on tj
  pyproject.toml
  truss/remote/baseten/api.py
  truss/remote/baseten/utils/time.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

refactor(truss): to move pagination logic into core layer from API
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/tests/remote/baseten/test_api.py
Due: ruff, ruff-format, mypy

refactor(truss): to move pagination logic into core layer from API
  truss/remote/baseten/core.py
Due: ruff, ruff-format, mypy

refactor(truss): remove useless comment from cursor
  truss/remote/baseten/utils/time.py
Due: ruff, ruff-format, mypy

refactor(truss): remove useless comment from cursor
  truss/remote/baseten/core.py
Due: ruff, ruff-format, mypy

fix(truss): fix tests
  truss/tests/remote/baseten/test_api.py
Due: ruff, ruff-format

fix(truss): move stuff into a seperate issue
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_core.py
Due: ruff, ruff-format

fix(truss): unit tests
  truss/tests/remote/baseten/test_core.py
Due: ruff, ruff-format

fix(truss): unit tests
  truss/tests/remote/baseten/test_api.py
Due: ruff, ruff-format

fix(truss): unit tests
  truss/tests/remote/baseten/conftest.py
Due: ruff, ruff-format

fix(truss): remove dead code
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

feat(truss): paginated queries to backend for logs (#1888)
  pyproject.toml
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/utils/time.py
  truss/tests/remote/baseten/conftest.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_core.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

constants
  truss/cli/train/common.py
Due: ruff, ruff-format, mypy

pr review
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

Truss train init + remove spaces from folder name + make clear we can choose multiple ckpts
  truss/base/constants.py
  truss/cli/train/core.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/cli/train_commands.py
  truss/templates/train/config.py
  truss/templates/train/run.sh
  truss/tests/cli/train/test_deploy_checkpoints.py
  truss/tests/cli/train/test_train_init.py
Due: ruff, ruff-format, mypy

make log message consistent + format fixes
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/cli/train_commands.py
  truss/tests/cli/train/test_train_init.py
Due: ruff, ruff-format, mypy

missing import
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

return empty list when exception
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

feat(truss): support whisper checkpoints
  truss-train/truss_train/definitions.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints_helpers.py
  truss/cli/train/deploy_checkpoints/deploy_full_checkpoints.py
  truss/cli/train/deploy_checkpoints/deploy_whisper_checkpoints.py
  truss/cli/train/deploy_from_checkpoint_config_whisper.yml
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

feat(truss): reorder imports
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format

fix(truss): dead code and validation
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
Due: ruff, ruff-format, mypy

Bump version to 0.10.9
  pyproject.toml
  uv.lock
Due: uv-lock

If git link broken, initialize baremetal structure
  truss/cli/train/core.py
  truss/cli/train_commands.py
  truss/tests/cli/train/test_train_init.py
Due: ruff, ruff-format, mypy

fix(truss): add vllm audio dependency
  truss/cli/train/deploy_from_checkpoint_config_whisper.yml
Due: none

feat(truss): support whisper checkpoints in deploy checkpoints (#1891)
  truss-train/truss_train/definitions.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints_helpers.py
  truss/cli/train/deploy_checkpoints/deploy_full_checkpoints.py
  truss/cli/train/deploy_checkpoints/deploy_whisper_checkpoints.py
  truss/cli/train/deploy_from_checkpoint_config_whisper.yml
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

lint fixes
  truss/cli/train/core.py
  truss/cli/train_commands.py
  truss/templates/train/run.sh
  truss/tests/cli/train/test_train_init.py
Due: ruff, ruff-format, mypy

fix(truss): move date-util into dev dependencies
  pyproject.toml
  uv.lock
Due: uv-lock

fix(truss): move date-util into dev dependencies (#1893)
  pyproject.toml
  uv.lock
Due: uv-lock

add comments
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

format
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/bindings.rs
  truss-transfer/src/cli.rs
  truss-transfer/src/core.rs
  truss-transfer/src/create/aws_metadata.rs
  truss-transfer/src/create/azure_metadata.rs
  truss-transfer/src/create/basetenpointer.rs
  truss-transfer/src/create/gcs_metadata.rs
  truss-transfer/src/create/hf_metadata.rs
  truss-transfer/src/create/mod.rs
  truss-transfer/src/create/object_storage_client.rs
  truss-transfer/src/download.rs
  truss-transfer/src/download_core.rs
  truss-transfer/src/lib.rs
  truss-transfer/src/secrets.rs
  truss-transfer/src/types.rs
Due: none

fix tests, allow dirty
  truss-transfer/src/create/basetenpointer.rs
  truss-transfer/src/lib.rs
Due: none
