Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
        language: python
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: poetry run ruff format --force-exclude
        language: python
        files: \.(py|pyi)$
      - id: pyproject.toml
        name: pyproject.toml
        entry: poetry run python bin/pyproject_toml_linter.py
        language: python
        additional_dependencies: [tomlkit]
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true

add rustls performance client backend (#1795)
  .github/workflows/baseten-performance-client-nodejs.yml
  baseten-performance-client/Cargo.lock
  baseten-performance-client/Cargo.toml
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/README.md
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/python_bindings/Cargo.toml
Due: none

new rc162 release
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/README.md
Due: none

add truss-transfer
  poetry.lock
  pyproject.toml
  truss/templates/server/requirements.txt
Due: none

update to 0.9.115rc5
  pyproject.toml
Due: none

new basetenpointer
  truss-transfer/README.md
  truss/base/truss_config.py
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

add lazydataresolver
  truss/templates/shared/lazy_data_resolver.py
Due: ruff, ruff-format, mypy

remove log lines
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
  truss/util/basetenpointer.py
Due: ruff, ruff-format, mypy

resolution
  truss/tests/util/test_basetenpointer.py
Due: ruff, ruff-format

refactor serving image builder
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

add pyproject
  pyproject.toml
Due: none

add poetry lock
  poetry.lock
Due: none

add poetry lock
  pyproject.toml
Due: none

resolution
  truss-transfer/src/create/aws_metadata.rs
  truss-transfer/src/create/azure_metadata.rs
Due: none

pointer creation
  poetry.lock
  pyproject.toml
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss/templates/server/requirements.txt
Due: none

pointer creation
  truss-transfer/src/secrets.rs
Due: none

pointer creation
  pyproject.toml
Due: none

add amazon s3 and azure resolution for truss-transfer (#1794)
  poetry.lock
  pyproject.toml
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/README.md
  truss-transfer/src/cache.rs
  truss-transfer/src/create/aws_metadata.rs
  truss-transfer/src/create/azure_metadata.rs
  truss-transfer/src/create/basetenpointer.rs
  truss-transfer/src/create/gcs_metadata.rs
  truss-transfer/src/create/hf_metadata.rs
  truss-transfer/src/create/mod.rs
  truss-transfer/src/create/provider.rs
  truss-transfer/src/create/providers/aws.rs
  truss-transfer/src/create/providers/azure.rs
  truss-transfer/src/create/providers/gcs.rs
  truss-transfer/src/create/providers/huggingface.rs
  truss-transfer/src/create/providers/mod.rs
  truss-transfer/src/download.rs
  truss-transfer/src/download_core.rs
  truss-transfer/src/lib.rs
  truss-transfer/src/secrets.rs
  truss-transfer/src/types.rs
  truss-transfer/src/types/azure_resolution.rs
  truss-transfer/src/types/s3_resolution.rs
  truss/base/truss_config.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/server/requirements.txt
  truss/templates/shared/lazy_data_resolver.py
  truss/tests/util/test_basetenpointer.py
  truss/util/basetenpointer.py
Due: ruff, ruff-format, mypy

add basetenpointer
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

new rc
  pyproject.toml
Due: none

format project
  truss-transfer/src/create/aws_metadata.rs
  truss-transfer/src/create/azure_metadata.rs
  truss-transfer/src/types.rs
  truss-transfer/src/types/azure_resolution.rs
Due: none

format project
  truss-transfer/src/types/s3_resolution.rs
Due: none

format project
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
Due: none

format project
  truss/templates/server/requirements.txt
Due: none

move revision back and forth
  pyproject.toml
Due: none

move revision back and forth
  pyproject.toml
  truss/templates/server.Dockerfile.jinja
Due: none

move revision back and forth
  poetry.lock
  pyproject.toml
  truss-transfer/src/create/aws_metadata.rs
  truss-transfer/src/create/provider.rs
  truss-transfer/src/create/providers/aws.rs
  truss-transfer/src/create/providers/azure.rs
  truss-transfer/src/create/providers/gcs.rs
  truss-transfer/src/create/providers/huggingface.rs
Due: none

fix gcs metadata
  truss-transfer/src/create/aws_metadata.rs
  truss-transfer/src/create/azure_metadata.rs
  truss-transfer/src/create/gcs_metadata.rs
  truss-transfer/src/create/mod.rs
Due: none

new basetenpointer refactor
  truss-transfer/src/create/aws_metadata.rs
  truss-transfer/src/create/aws_provider.rs
  truss-transfer/src/create/azure_metadata.rs
  truss-transfer/src/create/azure_provider.rs
  truss-transfer/src/create/common_metadata.rs
  truss-transfer/src/create/gcs_metadata.rs
  truss-transfer/src/create/gcs_provider.rs
  truss-transfer/src/create/mod.rs
  truss-transfer/src/create/providers/aws.rs
  truss-transfer/src/create/providers/azure.rs
  truss-transfer/tests/test_create_bptr_with_gcs.py
Due: ruff, ruff-format, mypy

new basetenpointer refactor
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/create/aws_metadata.rs
  truss-transfer/src/create/aws_provider.rs
  truss-transfer/src/create/azure_metadata.rs
  truss-transfer/src/create/azure_provider.rs
  truss-transfer/src/create/filter.rs
  truss-transfer/src/create/gcs_metadata.rs
  truss-transfer/src/create/gcs_provider.rs
  truss-transfer/src/create/mod.rs
  truss-transfer/src/create/providers/aws.rs
  truss-transfer/src/create/providers/azure.rs
  truss-transfer/src/create/providers/gcs.rs
Due: none

rc9
  pyproject.toml
Due: none

rc9
  truss/templates/server/requirements.txt
Due: none

rc9
  truss/templates/server.Dockerfile.jinja
Due: none

new basetenpointer refactor
  pyproject.toml
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/requirements.txt
Due: none

poetry lock
  poetry.lock
  pyproject.toml
Due: none

poetry lock
  pyproject.toml
Due: none

poetry lock
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
Due: none

add publish to rc action
  .github/workflows/main.yml
Due: none

add publish to rc action
  .github/workflows/truss-transfer-build-maturin.yml
Due: none

cargo fmt
  truss-transfer/src/create/common_metadata.rs
  truss-transfer/src/create/filter.rs
  truss-transfer/src/create/providers/aws.rs
  truss-transfer/src/create/providers/azure.rs
  truss-transfer/src/create/providers/gcs.rs
Due: none
