Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

Revert "Revert "[BT-15282] Add mirrors for Ubuntu base image (#1916)" (#2225)"
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

Add l40s to truss
  truss/base/trt_llm_config.py
  truss/base/truss_config.py
  truss/contexts/docker_build_setup.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Revert "Revert "[BT-15282] Add mirrors for Ubuntu base image (#1916)" (#2225)" (#2234)
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

feat(truss): bump command for isessions
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

copy data dir to /app/data
  truss/templates/no_build.Dockerfile.jinja
Due: none

feat(truss): bump command for isessions
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

Update to 89
  truss/contexts/docker_build_setup.py
Due: ruff, ruff-format, mypy

feat(truss): add --update flag to isession command for extending session (#2232)
  truss-train/truss_train/definitions.py
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
  truss/tests/cli/train/test_format_time_until_expiry.py
Due: ruff, ruff-format, mypy

Add L40S gpu type to truss (#2229)
  truss/base/trt_llm_config.py
  truss/base/truss_config.py
  truss/contexts/docker_build_setup.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

apply review comment
  truss/templates/no_build.Dockerfile.jinja
Due: none

Copy data directory to /app/data (#2235)
  truss/templates/no_build.Dockerfile.jinja
Due: none

Bump version to 0.13.5
  pyproject.toml
  uv.lock
Due: uv-lock

Revert "Revert "`truss push`: Make published deployments the default (#2178)"…"
  smoketests/test_chains.py
  truss-chains/tests/test_chain_upload_end_to_end.py
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/cli/train_commands.py
  truss/remote/baseten/remote.py
  truss/remote/truss_remote.py
  truss/tests/cli/test_chains_cli.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

revert uv lock change
  uv.lock
Due: uv-lock

add retry initial patch logic
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

end wait early
  truss/cli/cli.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

add check for --tail and --wait
  truss/cli/cli.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

run uv lock
  uv.lock
Due: uv-lock

minor stuff
  truss/cli/cli.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

feat(truss): truss CLI to allow for infinite sessions
  truss-train/truss_train/__init__.py
  truss-train/truss_train/definitions.py
  truss/cli/train_commands.py
  truss/tests/cli/train/test_format_time_until_expiry.py
Due: ruff, ruff-format, mypy

feat(truss): truss CLI to allow for infinite sessions
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

remove error console print
  truss/remote/baseten/remote.py
Due: ruff, ruff-format, mypy

`truss push`: Make published deployments the default + `--watch` option (#2202)
  smoketests/test_chains.py
  truss-chains/tests/test_chain_upload_end_to_end.py
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/cli/train_commands.py
  truss/remote/baseten/remote.py
  truss/remote/truss_remote.py
  truss/tests/cli/test_chains_cli.py
  truss/tests/cli/test_cli.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

Bump version to 0.14.0
  pyproject.toml
  uv.lock
Due: uv-lock

More graceful validation for `TrussTRTLLMBuildConfiguration`
  truss/base/trt_llm_config.py
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format, mypy

Add extra to runtime
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format

More graceful validation for `TrussTRTLLMBuildConfiguration` (#2239)
  truss/base/trt_llm_config.py
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format, mypy

initial impl
  truss/cli/cli.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

add loading_model
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

24hr max keep-alive
  truss/cli/cli.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

only start watch after active status
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

always wait in truss watch
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

address some comments
  truss/cli/cli.py
  truss/cli/utils/common.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

update some mocks in tests
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format

format
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format

ignore 4xx errors
  truss/cli/utils/common.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

truss train push sdk accepts config object
  truss-train/tests/test_deployment.py
  truss-train/tests/test_public_api.py
  truss-train/truss_train/__init__.py
  truss-train/truss_train/deployment.py
  truss-train/truss_train/public_api.py
Due: ruff, ruff-format, mypy

truss train push sdk accepts config object (#2241)
  truss-train/tests/test_deployment.py
  truss-train/tests/test_public_api.py
  truss-train/truss_train/__init__.py
  truss-train/truss_train/deployment.py
  truss-train/truss_train/public_api.py
Due: ruff, ruff-format, mypy

WIP: Enable debug logs for custom server
  pyproject.toml
  truss/templates/docker_server/proxy.conf.jinja
  uv.lock
Due: uv-lock

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
