Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

isort:
  name: isort-local
  entry: poetry run isort
  language: system
  pass_filenames: true

flake8:
  name: flake8-local
  entry: poetry run flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy-local
  entry: poetry run mypy
  args:
  - --install-types
  - --non-interactive
  language: python
  pass_filenames: true

Fix external data for complex URL
  truss/templates/server.Dockerfile.jinja
Due: none

Fix tests
  truss/contexts/image_builder/image_builder.py
  truss/templates/server.Dockerfile.jinja
  truss/tests/test_control_truss_patching.py
  truss/tests/test_truss_handle.py
  truss/truss_handle.py
Due: isort, flake8, mypy

Bump
  pyproject.toml
Due: none

Remove release section from README #726
  CONTRIBUTING.md
Due: none

sid CR: rm info from function names
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_core.py
Due: isort, flake8, mypy

add docstring for get_dev_version / get_dev_version_from_versions
  truss/remote/baseten/core.py
Due: isort, flake8, mypy

Bump version to 0.7.17
  pyproject.toml
Due: none

revert model ID code path changes
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_remote.py
Due: isort, flake8, mypy

`truss predict` bug fixes / unit tests (#723)
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_core.py
  truss/tests/remote/baseten/test_remote.py
Due: isort, flake8, mypy

Fix download with wget
  truss/templates/server.Dockerfile.jinja
Due: none

Bump version to 0.7.18
  pyproject.toml
Due: none

Make download in build a bit less noisy
  truss/templates/server.Dockerfile.jinja
Due: none

Drop reference to Sagemaker in docs
  docs/mint.json
  docs/remotes/sagemaker.mdx
Due: none

Add pr template.
  .github/pull_request_template.md
Due: none

Add base image dockerfile for XTTS example
  docker/base_images/xtts.Dockerfile
Due: none

Ensure external data works on GPU image
  pyproject.toml
  truss/templates/server.Dockerfile.jinja
  truss/tests/conftest.py
  truss/tests/test_truss_handle.py
Due: isort, flake8

Add handling of GPU not available when testing in codespaces
  truss/truss_handle.py
Due: isort, flake8, mypy

Adding some documentation for how to create a custom base image
  docs/guides/creating-base-images.mdx
Due: none

Instead of creating a new page, I'm expanding the base-images page
  docs/guides/base-images.mdx
  docs/guides/creating-base-images.mdx
Due: none

move error handling out of get_dev_version
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

Run truss server as non-root user
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
Due: none

Updating doc based on feedback
  docs/guides/base-images.mdx
Due: none

add changes
  pyproject.toml
  truss/templates/server/requirements.txt
Due: none

bump cython
  truss/templates/server/requirements.txt
Due: none

Bump dependencies (#745)
  pyproject.toml
Due: none

print deployment ID in truss predict
  truss/remote/baseten/service.py
Due: isort, flake8, mypy

add trt-llm enum to build.model_server enum
  truss/truss_config.py
Due: isort, flake8, mypy

add comments and docstring
  truss/contexts/image_builder/serving_image_builder.py
  truss/truss_config.py
Due: isort, flake8, mypy

move print to cli.py + style development model text
  truss/cli/cli.py
  truss/remote/baseten/service.py
Due: isort, flake8, mypy

drop hf requirement in server reqs
  truss/templates/server/requirements.txt
Due: none

Update base-images.mdx
  docs/contribute/base-images.mdx
Due: none

Update base-images.mdx (#753)
  docs/contribute/base-images.mdx
Due: none

bump base image tag
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

comment out line
  .devcontainer/gpu/Dockerfile
Due: none

remove docker download line
  .devcontainer/gpu/Dockerfile
Due: none

Move error handling out of get_dev_version #746
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

Print deployment ID in `truss predict` (#747)
  truss/cli/cli.py
Due: isort, flake8, mypy

Update GPU .devcontainer to skip docker redownload (#754)
  .devcontainer/gpu/Dockerfile
Due: none

remove hf_transfer
  truss/contexts/image_builder/cache_warmer.py
Due: isort, flake8, mypy

remove hf_transfer (#755)
  truss/contexts/image_builder/cache_warmer.py
Due: isort, flake8, mypy

Path conditions:
  isort: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
