Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

add backoff to pypi check
  truss/tests/cli/test_self_upgrade.py
  truss/util/user_config.py
Due: ruff, ruff-format, mypy

add ability to turn off upgrade check
  truss/cli/utils/self_upgrade.py
  truss/tests/cli/test_self_upgrade.py
  truss/util/user_config.py
Due: ruff, ruff-format, mypy

detect dup keys in yaml (#2129)
  truss/base/truss_config.py
  truss/tests/test_config.py
  truss/util/yaml_utils.py
Due: ruff, ruff-format, mypy

use settings for update-check
  truss/util/user_config.py
Due: ruff, ruff-format, mypy

use INSTALL file, add pipx
  truss/cli/utils/self_upgrade.py
  truss/tests/cli/test_self_upgrade.py
Due: ruff, ruff-format, mypy

Revert "add backoff to pypi check"
  truss/tests/cli/test_self_upgrade.py
  truss/util/user_config.py
Due: ruff, ruff-format, mypy

don't rate-limit per version
  truss/cli/utils/self_upgrade.py
  truss/tests/cli/test_self_upgrade.py
  truss/util/user_config.py
Due: ruff, ruff-format, mypy

Final changes
  truss/base/truss_config.py
  truss/cli/cli.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

don't ask for confirmation if non-interactive
  truss/cli/cli.py
  truss/cli/utils/self_upgrade.py
  truss/tests/cli/test_self_upgrade.py
Due: ruff, ruff-format, mypy

fixes based on integration tests
  truss/cli/utils/self_upgrade.py
  truss/tests/cli/test_self_upgrade.py
Due: ruff, ruff-format, mypy

trt update
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Update contract for newest version of performance_client
  baseten-performance-client/scripts/continous_latency.py
Due: ruff, ruff-format, mypy

temp hack: revert before merge
  truss/util/user_config.py
Due: ruff, ruff-format, mypy

add tests
  pyproject.toml
  truss/tests/cli/integration_upgrade/Dockerfile.conda
  truss/tests/cli/integration_upgrade/Dockerfile.pipx
  truss/tests/cli/integration_upgrade/Dockerfile.uv
  truss/tests/cli/integration_upgrade/README.md
  truss/tests/cli/integration_upgrade/run_tests.sh
  truss/tests/cli/integration_upgrade/settings_disabled.toml
  truss/tests/cli/integration_upgrade/settings_enabled.toml
  truss/tests/cli/integration_upgrade/test_in_container.py
  truss/tests/cli/integration_upgrade/test_settings_toml.py
  uv.lock
Due: ruff, ruff-format, uv-lock

Update trt_llm_config.py
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

trt update
  pyproject.toml
  uv.lock
Due: uv-lock

Mf/engine-builder-update (#2141)
  pyproject.toml
  truss/base/trt_llm_config.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

Update contract for newest version of performance_client for continuous latency (#2144)
  baseten-performance-client/scripts/continous_latency.py
Due: ruff, ruff-format, mypy

use dataclass for install cmd
  truss/cli/utils/self_upgrade.py
  truss/tests/cli/test_self_upgrade.py
Due: ruff, ruff-format, mypy

moe parallel
  pyproject.toml
  truss/base/trt_llm_config.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

moe parallel (#2146)
  pyproject.toml
  truss/base/trt_llm_config.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

Address PR comments
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

Full SKU name instance type (#2132)
  truss/base/truss_config.py
  truss/cli/cli.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Full SKU name for instance type for Chains
  truss-chains/truss_chains/deployment/code_gen.py
  truss-chains/truss_chains/public_types.py
Due: ruff, ruff-format, mypy

detect defaults and write settings file
  truss/tests/cli/integration_upgrade/test_settings_toml.py
  truss/util/user_config.py
Due: ruff, ruff-format, mypy

bump version
  pyproject.toml
  truss/tests/cli/integration_upgrade/README.md
  truss/tests/cli/integration_upgrade/run_tests.sh
  uv.lock
Due: uv-lock

fix integration tests
  truss/tests/cli/integration_upgrade/test_in_container.py
Due: ruff, ruff-format

fix no-upgrade warning
  truss/cli/utils/self_upgrade.py
Due: ruff, ruff-format, mypy

refactor tests for camera readiness
  truss/tests/cli/integration_upgrade/Dockerfile.conda
  truss/tests/cli/integration_upgrade/Dockerfile.pipx
  truss/tests/cli/integration_upgrade/Dockerfile.uv
  truss/tests/cli/integration_upgrade/README.md
  truss/tests/cli/integration_upgrade/run_tests.sh
  truss/tests/cli/integration_upgrade/test_harness.py
  truss/tests/cli/integration_upgrade/test_in_container.py
  truss/tests/cli/integration_upgrade/test_settings_toml.py
Due: ruff, ruff-format

exclude the new IT test dir for upgrades
  integration_tests/self_upgrade/Dockerfile.conda
  integration_tests/self_upgrade/Dockerfile.pipx
  integration_tests/self_upgrade/Dockerfile.uv
  integration_tests/self_upgrade/README.md
  integration_tests/self_upgrade/run_tests.sh
  integration_tests/self_upgrade/settings_disabled.toml
  integration_tests/self_upgrade/settings_enabled.toml
  integration_tests/self_upgrade/test_harness.py
  integration_tests/self_upgrade/test_in_container.py
  integration_tests/self_upgrade/test_settings_toml.py
  pyproject.toml
Due: ruff, ruff-format, mypy, uv-lock

better validation
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

feat: LLM validation better validation (#2148)
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

uncomment rc block
  truss/util/user_config.py
Due: ruff, ruff-format, mypy

Add a "truss upgrade" (#2117)
  integration_tests/self_upgrade/Dockerfile.conda
  integration_tests/self_upgrade/Dockerfile.pipx
  integration_tests/self_upgrade/Dockerfile.uv
  integration_tests/self_upgrade/README.md
  integration_tests/self_upgrade/run_tests.sh
  integration_tests/self_upgrade/settings_disabled.toml
  integration_tests/self_upgrade/settings_enabled.toml
  integration_tests/self_upgrade/test_harness.py
  integration_tests/self_upgrade/test_in_container.py
  integration_tests/self_upgrade/test_settings_toml.py
  pyproject.toml
  truss/cli/cli.py
  truss/cli/utils/common.py
  truss/cli/utils/self_upgrade.py
  truss/tests/cli/test_self_upgrade.py
  truss/util/user_config.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

notify once a day
  integration_tests/self_upgrade/run_tests.sh
  integration_tests/self_upgrade/test_settings_toml.py
  truss/util/user_config.py
Due: ruff, ruff-format, mypy

fix
  truss/tests/test_config.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
