Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

feat(loops): poll sampler /v1/models health in addition to trainer /health
  truss/cli/loops_commands.py
  truss/tests/cli/test_loops_cli.py
Due: ruff, ruff-format, mypy

fix(loops): change 'become healthy' to 'become ready' in timeout message
  truss/cli/loops_commands.py
  truss/tests/cli/test_loops_cli.py
Due: ruff, ruff-format, mypy

Potential fix for pull request finding
  truss/cli/loops_commands.py
Due: ruff, ruff-format, mypy

fix(cli): Gracefully handle nonexistent .trussrc in `truss configure`
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

style(loops): fix ruff formatting in loops_commands.py
  truss/cli/loops_commands.py
Due: ruff, ruff-format, mypy

fix(cli): Gracefully handle nonexistent .trussrc in `truss configure` (#2425)
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

fix(ssh): suppress cascading DNS error when sign mode fails
  truss/cli/proxy_command.py
Due: ruff, ruff-format, mypy

add baseten performance client - healthy unhealthy transition
  baseten-performance-client/core/src/endpoint_routing.rs
  baseten-performance-client/core/tests/integration_test.rs
Due: none

feat(loops): switch BasetenApi loops searches to GET + url params (TRN-749)
  truss/cli/train/checkpoint_viewer.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/remote/baseten/api.py
  truss/tests/cli/test_checkpoints_cli.py
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

add readme for health check
  baseten-performance-client/README.md
  baseten-performance-client/python_bindings/README.md
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
Due: ruff, ruff-format

add with_pin_initial_endpoint_once feature
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/endpoint_routing.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/core/tests/integration_test.rs
  baseten-performance-client/node_bindings/index.d.ts
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
  baseten-performance-client/python_bindings/src/lib.rs
Due: ruff, ruff-format

add deployment a
  baseten-performance-client/scripts/integration_truss_server/README.md
  baseten-performance-client/scripts/integration_truss_server/config.yaml
  baseten-performance-client/scripts/integration_truss_server/docker/Dockerfile
  baseten-performance-client/scripts/integration_truss_server/docker/VERSION
  baseten-performance-client/scripts/integration_truss_server/docker/app.py
  baseten-performance-client/scripts/integration_truss_server/docker/build_upload_new_image.sh
  baseten-performance-client/scripts/integration_truss_server/docker/requirements.txt
Due: ruff, ruff-format, mypy

add config.yaml
  baseten-performance-client/scripts/integration_truss_server/config.yaml
Due: none

add healh server
  baseten-performance-client/scripts/integration_truss_server/config.yaml
  baseten-performance-client/scripts/integration_truss_server/test_embeddings_failover.py
Due: ruff, ruff-format, mypy

test(loops): collapse whitespace before checking error messages (TRN-749)
  truss/tests/cli/test_checkpoints_cli.py
Due: ruff, ruff-format

test(loops): strip ANSI escapes + box-drawing chars in CLI error assertions (TRN-749)
  truss/tests/cli/test_checkpoints_cli.py
Due: ruff, ruff-format

add endpoint config logging
  baseten-performance-client/core/src/endpoint_routing.rs
Due: none

misc(loops): drop scaffolding NB comments about trainer_checkpoint_ids field name (TRN-749)
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
Due: ruff, ruff-format, mypy

misc(loops): update stale /search endpoint references in comments (TRN-749)
  truss/cli/train/checkpoint_viewer.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

Bump version to 0.17.3
  pyproject.toml
  uv.lock
Due: uv-lock

refactor(loops): split out the truss checkpoints command group (TRN-749)
  truss/cli/checkpoints_commands.py
  truss/cli/cli.py
  truss/cli/train/checkpoint_viewer.py
  truss/cli/train_commands.py
  truss/tests/cli/test_checkpoints_cli.py
Due: ruff, ruff-format, mypy

feat(loops): add `truss checkpoints` command group + --run-id/--model-name on `truss train checkpoints list`
  truss/cli/checkpoints_commands.py
  truss/cli/cli.py
  truss/cli/train/checkpoint_viewer.py
  truss/cli/train_commands.py
  truss/tests/cli/test_checkpoints_cli.py
Due: ruff, ruff-format, mypy

refactor(loops): truss deactivate uses list-then-deactivate-by-id (TRN-749)
  truss/remote/baseten/api.py
  truss/remote/baseten/remote.py
Due: ruff, ruff-format, mypy

misc(loops): address Copilot review feedback on TRN-749
  truss/remote/baseten/api.py
  truss/remote/baseten/remote.py
Due: ruff, ruff-format, mypy

refactor(loops): repoint existing `trainers` references to `loops` (#2427)
  truss/cli/train/core.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/cli/train/types.py
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
  truss/remote/baseten/remote.py
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

feat(loops): add `truss loops view/runs view/samplers view` + repoint push (TRN-753)
  truss/cli/loops_commands.py
  truss/remote/baseten/api.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_loops_cli.py
Due: ruff, ruff-format, mypy

feat(loops): rename BasetenApi calls to list_loop_runs/list_loop_checkpoints (TRN-753)
  truss/cli/loops_commands.py
  truss/tests/cli/test_loops_cli.py
Due: ruff, ruff-format, mypy

fix(loops): drop duplicate list_loop_deployments after TRN-749 rebase (TRN-753)
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

misc(loops): address Copilot review feedback on TRN-753
  truss/cli/loops_commands.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

misc(loops): drop stale 'samplers endpoint pending' comment (TRN-753)
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

feat(loops): add new `truss loops` cli commands (#2428)
  truss/cli/loops_commands.py
  truss/remote/baseten/api.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_loops_cli.py
Due: ruff, ruff-format, mypy

check config.yaml
  baseten-performance-client/scripts/integration_truss_server/config.yaml
  baseten-performance-client/scripts/integration_truss_server/test_embeddings_failover.py
Due: ruff, ruff-format, mypy

refactor: rename CheckpointList.trainer_checkpoint_ids to loop_checkpoint_ids (TRN-765)
  truss-train/truss_train/definitions.py
  truss/base/truss_config.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/config.schema.json
  truss/tests/cli/train/test_deploy_checkpoints.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

fix(loops): regen config.schema.json + update truss-train tests for loop_checkpoint_ids rename (TRN-765)
  truss-train/tests/test_definitions.py
  truss/config.schema.json
Due: ruff, ruff-format, mypy

misc(loops): address Copilot review feedback on TRN-765
  truss-train/truss_train/definitions.py
  truss/base/truss_config.py
  truss/config.schema.json
Due: ruff, ruff-format, mypy

check config.yaml
  baseten-performance-client/scripts/integration_truss_server/config.yaml
Due: none

style(loops): ruff-format test_deploy_checkpoints.py after rebase (TRN-765)
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format

refactor: rename `trainer_checkpoint_ids` to `loop_checkpoint_ids` (#2432)
  truss-train/tests/test_definitions.py
  truss-train/truss_train/definitions.py
  truss/base/truss_config.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/config.schema.json
  truss/tests/cli/train/test_deploy_checkpoints.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

refactor(loops): clean up _get_loop_run_model_name and stray trainer refs
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/tests/cli/test_loops_cli.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

test: keep /trainer paths in mocked Loops base_urls
  truss/tests/cli/test_loops_cli.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
