Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: isort
        name: isort-local
        entry: poetry run isort
        language: system
        types: [python]
        pass_filenames: true
      - id: flake8
        name: flake8-local
        entry: poetry run flake8
        language: system
        types: [python]
        pass_filenames: true
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        args: ["--install-types", "--non-interactive"]
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
  - repo: https://github.com/tcort/markdown-link-check
    rev: "v3.10.3"
    hooks:
      - id: markdown-link-check
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        # It is recommended to specify the latest version of Python
        # supported by your project here, or alternatively use
        # pre-commit's default_language_version, see
        # https://pre-commit.com/#top_level-default_language_version
        language_version: python3.9

Fix indentation in docs (#403)
  docs/develop/processing.md
  docs/develop/secrets.md
Due: none

Try again
  .github/workflows/main.yml
  pyproject.toml
Due: none

Moving into one step
  .github/workflows/main.yml
Due: none

Combine well
  .github/workflows/main.yml
Due: none

Drop owner
  .github/workflows/main.yml
Due: none

Re-run please
  .github/workflows/main.yml
  pyproject.toml
Due: none

What's the issue
  .github/workflows/main.yml
Due: none

Found it
  .github/workflows/main.yml
Due: none

Fix rc
  pyproject.toml
Due: none

Test toher action
  .github/workflows/main.yml
  pyproject.toml
Due: none

Final test
  .github/workflows/main.yml
  pyproject.toml
Due: none

Cut 0.4.9
  .github/workflows/main.yml
  pyproject.toml
Due: none

Generate lock file
  poetry.lock
Due: none

Update integration-tests.yml
  .github/workflows/integration-tests.yml
Due: none

Create Github releases from release CI (#384)
  .github/workflows/integration-tests.yml
  .github/workflows/main.yml
  poetry.lock
  pyproject.toml
Due: none

Resolved merge conflicts.
  poetry.lock
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
  truss/model_frameworks/lightgbm.py
  truss/model_frameworks/mlflow.py
  truss/model_frameworks/sklearn.py
  truss/templates/control/control/application.py
  truss/templates/control/control/endpoints.py
  truss/templates/control/control/helpers/inference_server_starter.py
  truss/templates/control/control/server.py
  truss/templates/control/requirements.txt
  truss/templates/server/common/truss_server.py
  truss/templates/server/inference_server.py
  truss/templates/shared/logging.py
  truss/templates/shared/serialization.py
  truss/templates/shared/util.py
  truss/templates/shared/uvicorn_config.py
  truss/tests/templates/control/control/test_server.py
  truss/tests/test_control_truss_patching.py
  truss/truss_handle.py
Due: isort, flake8, mypy

Take care of review comments
  pyproject.toml
  truss/templates/server/common/termination_handler_middleware.py
Due: isort, flake8, mypy

Terminate model server quicker on receiving term signal (#404)
  pyproject.toml
  truss/templates/server/common/termination_handler_middleware.py
  truss/templates/server/common/truss_server.py
  truss/templates/server/common/util.py
  truss/tests/templates/core/server/common/test_truss_server.py
  truss/tests/templates/core/server/common/test_util.py
  truss/tests/templates/server/common/test_termination_handler_middleware.py
Due: isort, flake8, mypy

drop train if --trainable is not used
  truss/build.py
  truss/truss_config.py
Due: isort, flake8, mypy

Single loop for control server.
  truss/templates/control/control/server.py
Due: isort, flake8, mypy

Inc version
  pyproject.toml
Due: none

Increment version.
  pyproject.toml
Due: none

Use the ThreadExecutor to do the blocking stuff.
  truss/templates/control/control/endpoints.py
  truss/templates/control/control/server.py
Due: isort, flake8, mypy

Bump pyproject.
  pyproject.toml
Due: none

move to inline import
  truss/patch/local_truss_patch_applier.py
Due: isort, flake8, mypy

trying asdict_factory
  truss/build.py
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

Added required keys for train
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

pass reference to env var dict
  pyproject.toml
  truss/patch/calc_patch.py
  truss/templates/control/control/helpers/inference_server_controller.py
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/control/control/helpers/truss_patch/model_container_patch_applier.py
  truss/templates/control/requirements.txt
  truss/tests/test_control_truss_patching.py
Due: isort, flake8, mypy

passing test
  truss/truss_config.py
Due: isort, flake8, mypy

removed model framework
  truss/tests/test_config.py
Due: isort, flake8

Resolve merge conflicts.
  poetry.lock
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
  truss/model_frameworks/lightgbm.py
  truss/model_frameworks/mlflow.py
  truss/model_frameworks/sklearn.py
  truss/templates/control/control/application.py
  truss/templates/control/control/endpoints.py
  truss/templates/control/control/helpers/inference_server_starter.py
  truss/templates/control/control/server.py
  truss/templates/control/requirements.txt
  truss/templates/server/common/truss_server.py
  truss/templates/server/inference_server.py
  truss/templates/shared/logging.py
  truss/templates/shared/serialization.py
  truss/templates/shared/util.py
  truss/templates/shared/uvicorn_config.py
  truss/tests/templates/control/control/test_server.py
  truss/tests/test_control_truss_patching.py
  truss/truss_handle.py
Due: isort, flake8, mypy

Update truss_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

fix test
  truss/patch/calc_patch.py
  truss/tests/test_control_truss_patching.py
  truss/truss_handle.py
Due: isort, flake8, mypy

fix external data test
  truss/templates/control/control/helpers/truss_patch/model_container_patch_applier.py
  truss/tests/test_control_truss_patching.py
Due: isort, flake8, mypy

add inf_env dict to tests
  truss/tests/templates/control/control/helpers/test_model_container_patch_applier.py
Due: isort, flake8

change patch ordering
  truss/templates/control/control/helpers/inference_server_controller.py
Due: isort, flake8, mypy

remove test
  truss/tests/patch/test_calc_patch.py
Due: isort, flake8

checkpoint
  truss/truss_config.py
Due: isort, flake8, mypy

clean up + bump version
  truss/templates/control/requirements.txt
  truss/tests/test_control_truss_patching.py
Due: isort, flake8

Something worksgit add .! Ya pair programming
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy
