Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

replace optional as delete with explicit delete argument
  truss/remote/baseten/utils/transfer.py
  truss/tests/util/test_env_vars.py
  truss/util/env_vars.py
Due: ruff, ruff-format, mypy

rename context manager and args
  truss/remote/baseten/utils/transfer.py
  truss/tests/util/test_env_vars.py
  truss/util/env_vars.py
Due: ruff, ruff-format, mypy

Override user's AWS environment variables when doing boto multi-part upload (#2015)
  truss/remote/baseten/utils/transfer.py
  truss/tests/util/test_env_vars.py
  truss/util/env_vars.py
Due: ruff, ruff-format, mypy

Bump version to 0.11.16
  pyproject.toml
  uv.lock
Due: uv-lock

Upload Original Chain Artifacts to Support Chain Downloads #2 (#2014)
  smoketests/test_chains.py
  truss-chains/tests/test_chain_upload_end_to_end.py
  truss-chains/truss_chains/deployment/deployment_client.py
  truss-chains/truss_chains/private_types.py
  truss-chains/truss_chains/public_api.py
  truss/cli/chains_commands.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/custom_types.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_chains_cli.py
  truss/tests/remote/baseten/test_chain_upload.py
  truss/util/error_utils.py
Due: ruff, ruff-format, mypy

Bump version to 0.11.17
  pyproject.toml
  uv.lock
Due: uv-lock

Fix integration test
  smoketests/test_chains.py
Due: ruff, ruff-format, mypy

Fix integration test (#2019)
  smoketests/test_chains.py
Due: ruff, ruff-format, mypy

Add deploy-timeout to truss
  truss/api/__init__.py
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_core.py
Due: ruff, ruff-format, mypy

More tests
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format

Dont allow promote and environment flag to be used together
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

feat(truss): Pass environment name to create model from truss
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
Due: ruff, ruff-format, mypy

feat(truss): Pass environment name to create model from truss (#2006)
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
Due: ruff, ruff-format, mypy

Working cli
  truss/api/__init__.py
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_core.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

Better tests
  truss/cli/cli.py
  truss/tests/cli/test_cli.py
  truss/tests/conftest.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

Remove raise
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format

Bump version to 0.11.18
  pyproject.toml
  uv.lock
Due: uv-lock

Fix tests
  truss/tests/cli/test_cli.py
  truss/tests/conftest.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format

add children termination code
  truss/templates/control/control/helpers/inference_server_process_controller.py
Due: ruff, ruff-format, mypy

create rc version
  pyproject.toml
  uv.lock
Due: uv-lock

use lower timeout for shutdown
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/shared/util.py
Due: ruff, ruff-format, mypy

bump version
  pyproject.toml
  uv.lock
Due: uv-lock

better comments, higher timeout
  pyproject.toml
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/shared/util.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

address review comments
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/shared/util.py
Due: ruff, ruff-format, mypy

fix lint
  truss/templates/shared/util.py
Due: ruff, ruff-format, mypy

Terminate children before the main inference server (#2022)
  pyproject.toml
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/shared/util.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

Bump version to 0.11.19
  pyproject.toml
  uv.lock
Due: uv-lock

add bptr manifest generator
  bptr_generator/Dockerfile.bptr
  bptr_generator/bptr_manifest_generator.py
  bptr_generator/bptr_requirements.txt
  bptr_generator/run_bptr_workflow.sh
Due: ruff, ruff-format, mypy

use init script
  bptr_generator/Dockerfile.bptr
  bptr_generator/bptr_init_script.sh
  bptr_generator/run_bptr_workflow.sh
Due: none

feat: cargo publish <!-- What does this PR add, remove, and/or change? --> ## :rocket: What
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
Due: none

add performance client
  baseten-performance-client/core/README.md
Due: none

readme
  baseten-performance-client/core/README.md
Due: none

publish on this?
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
Due: none

update create
  baseten-performance-client/core/Cargo.toml
Due: none

update create
  baseten-performance-client/Cargo.lock
  baseten-performance-client/README.md
Due: none

update create
  baseten-performance-client/README.md
Due: none

cargo publish
  baseten-performance-client/Cargo.lock
Due: none

feat: cargo publish for baseten-performance-client (#2024)
  baseten-performance-client/Cargo.lock
  baseten-performance-client/README.md
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/README.md
Due: none

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
