Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

isort:
  name: isort-local
  entry: poetry run isort
  language: system
  pass_filenames: true

flake8:
  name: flake8-local
  entry: poetry run flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy-local (3.9)
  entry: poetry run mypy
  language: python
  args:
  - --python-version=3.9
  pass_filenames: true

Bump version to 0.9.7
  pyproject.toml
Due: none

Updated doc.
  docs/_snippets/config-params.mdx
Due: none

Finish incomplete sentence.
  docs/_snippets/config-params.mdx
Due: none

Integration tests - works but needs cleanup.
  slay-examples/text_to_num/workflow.py
  slay/framework.py
  slay/stub.py
  slay/truss_adapter/code_gen.py
  slay/utils.py
  truss/templates/server/common/truss_server.py
  truss/tests/test_model_inference.py
Due: isort, flake8, mypy

Add some changes from discussion with Sid.
  slay/framework.py
  slay/truss_adapter/deploy.py
  truss/templates/server/common/truss_server.py
  truss/tests/test_model_inference.py
  truss/tests/test_workflows.py
Due: isort, flake8, mypy

Add docker auth docs. (#881)
  docs/_snippets/config-params.mdx
Due: none

Demo workflow.
  slay-examples/transcribe/chunking.py
  slay-examples/transcribe/requirements.txt
  slay-examples/transcribe/workflow.py
  slay/code_gen.py
  slay/definitions.py
  slay/framework.py
  slay/public_api.py
  slay/stub.py
Due: isort, flake8, mypy

Add some changes from discussion with Sid. Integration tests - works but needs cleanup.
  slay-examples/text_to_num/workflow.py
  slay/code_gen.py
  slay/definitions.py
  slay/framework.py
  slay/public_api.py
  slay/stub.py
  slay/truss_adapter/code_gen.py
  slay/truss_adapter/deploy.py
  slay/truss_adapter/model_skeleton.py
  slay/utils.py
  truss/test_data/workflow_text_to_num/requirements.txt
  truss/test_data/workflow_text_to_num/user_package/__init__.py
  truss/test_data/workflow_text_to_num/user_package/shared_processor.py
  truss/test_data/workflow_text_to_num/workflow.py
  truss/tests/test_workflows.py
Due: isort, flake8, mypy

Updating TRT-LLM template (#866)
  truss/config/trt_llm.py
  truss/constants.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/trtllm/model/model.py
  truss/templates/trtllm/packages/build_engine_utils.py
  truss/templates/trtllm/packages/schema.py
  truss/templates/trtllm/packages/triton_client.py
  truss/templates/trtllm/packages/utils.py
  truss/truss_config.py
Due: isort, flake8, mypy

Add some changes from discussion with Sid. (#883)
  slay-examples/text_to_num/workflow.py
  slay/code_gen.py
  slay/definitions.py
  slay/framework.py
  slay/public_api.py
  slay/stub.py
  slay/truss_adapter/code_gen.py
  slay/truss_adapter/deploy.py
  slay/truss_adapter/model_skeleton.py
  slay/utils.py
  truss/test_data/workflow_text_to_num/requirements.txt
  truss/test_data/workflow_text_to_num/user_package/__init__.py
  truss/test_data/workflow_text_to_num/user_package/shared_processor.py
  truss/test_data/workflow_text_to_num/workflow.py
  truss/tests/test_workflows.py
Due: isort, flake8, mypy

Return structured errors from ModelWrapper / Server.
  .vscode/settings.json
  truss/templates/server/model_wrapper.py
  truss/tests/helpers.py
  truss/tests/test_model_inference.py
Due: isort, flake8, mypy

Bump version to 0.9.8
  pyproject.toml
Due: none

Add branch to truss server error handling that passes through fastapi.HTTPExceptions if raised in model code.
  truss/templates/server/model_wrapper.py
  truss/tests/test_model_inference.py
Due: isort, flake8, mypy

Add branch to truss server error handling that passes through fastapi.HTTPExceptions if raised in model code. (#886)
  truss/templates/server/model_wrapper.py
  truss/tests/test_model_inference.py
Due: isort, flake8, mypy

Various workflow upgrades. (#887)
  slay/definitions.py
  slay/framework.py
  slay/public_api.py
  slay/stub.py
  slay/truss_adapter/code_gen.py
  slay/truss_adapter/deploy.py
  slay/utils.py
  truss/tests/test_workflows.py
Due: isort, flake8, mypy

arm build needs to have build-essential installed, remove after built
  .github/workflows/build-context-builder-image.yml
  .github/workflows/release.yml
  .vscode/settings.json
  context_builder.Dockerfile
  poetry.lock
  pyproject.toml
  truss/tests/test_context_builder_image.py
Due: isort, flake8

lint + comment
  context_builder.Dockerfile
  poetry.lock
Due: none

wip
  pyproject.toml
Due: none

Fixed up types.
  pyproject.toml
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/remote/baseten/service.py
  truss/remote/truss_remote.py
  truss/util/errors.py
Due: isort, flake8, mypy

Fix styling of failures.
  truss/cli/cli.py
Due: isort, flake8, mypy

Updated CLI.
  pyproject.toml
  truss/cli/cli.py
Due: isort, flake8, mypy

update poetry.lock and add comment
  context_builder.Dockerfile
  poetry.lock
Due: none

generated lock file from local
  poetry.lock
Due: none

fixed tests
  pyproject.toml
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_remote.py
  truss/tests/remote/test_truss_remote.py
Due: isort, flake8, mypy

reraise network errors.
  truss/remote/baseten/service.py
Due: isort, flake8, mypy

status => print.
  truss/cli/cli.py
Due: isort, flake8, mypy

Add truss --wait (#891)
  pyproject.toml
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/remote/baseten/service.py
  truss/remote/truss_remote.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_remote.py
  truss/tests/remote/test_truss_remote.py
  truss/util/errors.py
Due: isort, flake8, mypy

Bump version to 0.9.9
  pyproject.toml
Due: none

* Add support for pydantic I/O types of processors. * Extend integration test to use pydantic types for some processors (and mixed pydantic, simple). * Cleanup code generation.
  slay-examples/text_to_num/requirements.txt
  slay-examples/text_to_num/user_package/shared_processor.py
  slay-examples/text_to_num/workflow.py
  slay/__init__.py
  slay/code_gen.py
  slay/definitions.py
  slay/framework.py
  slay/public_api.py
  slay/stub.py
  slay/truss_adapter/code_gen.py
  slay/truss_adapter/deploy.py
  slay/utils.py
  truss/test_data/workflow_text_to_num/requirements.txt
  truss/test_data/workflow_text_to_num/user_package/shared_processor.py
  truss/test_data/workflow_text_to_num/workflow.py
Due: isort, flake8, mypy

Add docstring.
  slay/code_gen.py
Due: isort, flake8, mypy

Support for Pydantic I/O Types (#892)
  slay-examples/text_to_num/requirements.txt
  slay-examples/text_to_num/user_package/shared_processor.py
  slay-examples/text_to_num/workflow.py
  slay/__init__.py
  slay/code_gen.py
  slay/definitions.py
  slay/framework.py
  slay/public_api.py
  slay/stub.py
  slay/truss_adapter/code_gen.py
  slay/truss_adapter/deploy.py
  slay/utils.py
  truss/test_data/workflow_text_to_num/requirements.txt
  truss/test_data/workflow_text_to_num/user_package/shared_processor.py
  truss/test_data/workflow_text_to_num/workflow.py
Due: isort, flake8, mypy

Tests pass.
  slay-examples/text_to_num/user_package/shared_processor.py
  slay-examples/text_to_num/workflow.py
  slay/__init__.py
  slay/code_gen.py
  slay/definitions.py
  slay/framework.py
  slay/public_api.py
  slay/stub.py
  slay/truss_adapter/code_gen.py
  slay/truss_adapter/deploy.py
  slay/truss_adapter/model_skeleton.py
  slay/utils.py
  truss/test_data/workflow_text_to_num/user_package/shared_processor.py
  truss/test_data/workflow_text_to_num/workflow.py
Due: isort, flake8, mypy

Fix predict URLs
  slay/framework.py
Due: isort, flake8, mypy

Fix and add TODO for concurrency setting
  slay/truss_adapter/deploy.py
Due: isort, flake8, mypy

Workflow fxes from user feedback. (#894)
  slay-examples/text_to_num/user_package/shared_processor.py
  slay-examples/text_to_num/workflow.py
  slay/__init__.py
  slay/code_gen.py
  slay/definitions.py
  slay/framework.py
  slay/public_api.py
  slay/stub.py
  slay/truss_adapter/code_gen.py
  slay/truss_adapter/deploy.py
  slay/truss_adapter/model_skeleton.py
  slay/utils.py
  truss/test_data/workflow_text_to_num/user_package/shared_processor.py
  truss/test_data/workflow_text_to_num/workflow.py
Due: isort, flake8, mypy

Cleanup Truss APIs around predict URLs.
  slay/framework.py
  slay/truss_adapter/deploy.py
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/auth.py
  truss/remote/baseten/remote.py
  truss/remote/baseten/service.py
  truss/remote/truss_remote.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/test_remote_factory.py
  truss/tests/remote/test_truss_remote.py
Due: isort, flake8, mypy

Push chains docs.
  docs/chains/a-second-processor.mdx
  docs/chains/adding-an-ml-model.mdx
  docs/chains/full-reference.mdx
  docs/chains/getting-started.mdx
  docs/chains/intro.mdx
  docs/chains/key-concepts.mdx
  docs/chains/tips-and-tricks.mdx
  docs/mint.json
Due: none

init
  truss/templates/trtllm/packages/triton_client.py
Due: isort, flake8, mypy

Added a bunch of stuff to docs.
  docs/chains/a-second-processor.mdx
  docs/chains/getting-started.mdx
  docs/chains/intro.mdx
  docs/chains/key-concepts.mdx
  docs/images/audio-transcription-workflow.png
  docs/images/second-processor.png
  docs/images/single-processor.png
  docs/mint.json
Due: none

Added changes.
  docs/chains/tips-and-tricks.mdx
Due: none

Path conditions:
  isort: any of: \.py$
  flake8: any of: \.py$
  mypy: (any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$|^slay.*) or (any of: ^slay.* and \.py$)
