Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        # NB(nikhil): `uv` requires system over python (here and below) due to assumptions pre-commit makes about venvs.
        language: system
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude
        language: system
        files: \.(py|pyi)$
      - id: mypy
        name: mypy-local
        entry: uv run mypy
        language: system
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
      - id: uv-lock
        name: uv lock
        entry: uv lock
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

add toml
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/python_bindings/Cargo.toml
Due: none

fmt'
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/src/client.rs
Due: none

fmt'
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/errors.rs
Due: none

update ci
  .github/workflows/baseten-performance-client-nodejs.yml
Due: none

perf client things only: trusted publishing nodejs + headers (#2083)
  .github/workflows/baseten-performance-client-nodejs.yml
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/constants.rs
  baseten-performance-client/core/src/customer_request_id.rs
  baseten-performance-client/core/src/errors.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/core/src/utils.rs
  baseten-performance-client/core/tests/integration_test.rs
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/python_bindings/tests/integration_fastapi_server.py
Due: ruff, ruff-format, mypy

customer request id
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/python_bindings/tests/integration_fastapi_server.py
Due: ruff, ruff-format, mypy

add logging
  baseten-performance-client/Cargo.lock
  baseten-performance-client/Cargo.toml
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/core/tests/integration_test.rs
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/python_bindings/tests/integration_fastapi_server.py
Due: ruff, ruff-format, mypy

make trace calls debug
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/python_bindings/tests/integration_fastapi_server.py
Due: ruff, ruff-format, mypy

change max-idle per host
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/http_client.rs
Due: none

change max-idle per host
  baseten-performance-client/core/src/client.rs
Due: none

fix nit
  baseten-performance-client/core/src/http_client.rs
Due: none

fix
  baseten-performance-client/core/src/http_client.rs
Due: none

fmt
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/utils.rs
  baseten-performance-client/core/tests/integration_test.rs
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/src/lib.rs
Due: none

napi version
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/package.json
Due: none

0.0.16 version
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/README.md
  baseten-performance-client/python_bindings/Cargo.toml
Due: none

node readme
  baseten-performance-client/node_bindings/README.md
Due: none

fix readme
  baseten-performance-client/README.md
  baseten-performance-client/python_bindings/README.md
Due: none

Fix baseten-performance-client :rusted nodejs publishing (#2085)
  baseten-performance-client/Cargo.lock
  baseten-performance-client/Cargo.toml
  baseten-performance-client/README.md
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/core/src/utils.rs
  baseten-performance-client/core/tests/integration_test.rs
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/README.md
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/README.md
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/python_bindings/tests/integration_fastapi_server.py
Due: ruff, ruff-format, mypy

fix error classifcation
  baseten-performance-client/core/src/errors.rs
  baseten-performance-client/python_bindings/tests/integration_fastapi_server.py
Due: ruff, ruff-format, mypy

fix ci?
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/pyproject.toml
Due: none

fix ci
  .github/workflows/baseten-performance-client-nodejs.yml
Due: none

add better error classification
  baseten-performance-client/core/src/errors.rs
Due: none

key
  baseten-performance-client/core/src/constants.rs
  baseten-performance-client/core/src/lib.rs
Due: none

key
  baseten-performance-client/README.md
Due: none

ignore script
  .github/workflows/baseten-performance-client-nodejs.yml
Due: none

fix error classifcation (#2086)
  .github/workflows/baseten-performance-client-nodejs.yml
  baseten-performance-client/Cargo.lock
  baseten-performance-client/README.md
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/src/constants.rs
  baseten-performance-client/core/src/errors.rs
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/pyproject.toml
  baseten-performance-client/python_bindings/tests/integration_fastapi_server.py
Due: ruff, ruff-format, mypy

add diff
  baseten-performance-client/README.md
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/constants.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/node_bindings/README.md
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/README.md
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/scripts/README_nodejs.md
  diff.md
Due: none

update config
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/constants.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/core/src/utils.rs
  baseten-performance-client/core/tests/integration_test.rs
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/README.md
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
  baseten-performance-client/python_bindings/src/lib.rs
Due: ruff, ruff-format

update versions, readmes only
  baseten-performance-client/Cargo.lock
  baseten-performance-client/README.md
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/README.md
  baseten-performance-client/node_bindings/index.d.ts
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/pyproject.toml
Due: none

update bindings
  baseten-performance-client/core/src/constants.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/core/src/utils.rs
  baseten-performance-client/node_bindings/README.md
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/README.md
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
  baseten-performance-client/python_bindings/src/lib.rs
Due: ruff, ruff-format

clippy fix
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/constants.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/core/tests/integration_test.rs
  baseten-performance-client/node_bindings/README.md
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/src/lib.rs
Due: none

clippy
  baseten-performance-client/node_bindings/src/lib.rs
Due: none

fmt
  baseten-performance-client/node_bindings/src/lib.rs
Due: none

add client.rs
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/core/src/split_policy.rs
Due: none

add pub private crate diffs
  baseten-performance-client/core/src/cancellation.rs
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/customer_request_id.rs
  baseten-performance-client/core/src/errors.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/core/src/split_policy.rs
Due: none

update version
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/constants.rs
Due: none

update version
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/package.json
Due: none

add cancellation token
  baseten-performance-client/core/src/cancellation.rs
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/constants.rs
  baseten-performance-client/core/src/customer_request_id.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/node_bindings/__test__/ci_test.js
  baseten-performance-client/node_bindings/__test__/test.js
  baseten-performance-client/node_bindings/index.d.ts
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/python_bindings/tests/integration_fastapi_server.py
  baseten-performance-client/python_bindings/tests/test_bindings.py
  baseten-performance-client/python_bindings/tests/test_client_embed.py
  baseten-performance-client/test_uuid_optimization.py
Due: ruff, ruff-format, mypy

add cancellation test
  baseten-performance-client/python_bindings/tests/integration_fastapi_server.py
Due: ruff, ruff-format, mypy
