Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

isort:
  name: isort-local
  entry: poetry run isort
  language: system
  pass_filenames: true

flake8:
  name: flake8-local
  entry: poetry run flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy-local
  entry: poetry run mypy
  args:
  - --install-types
  - --non-interactive
  language: python
  pass_filenames: true

Add missing deps (#354)
  pyproject.toml
Due: none

add PatchRequest dataclass
  truss/tests/templates/control/control/test_server.py
  truss/tests/test_truss_handle.py
  truss/truss_handle.py
  truss/types.py
Due: isort, flake8, mypy

fixing directory bug
  truss/util/path.py
Due: isort, flake8, mypy

removing test truss
  tester/config.yaml
  tester/examples.yaml
  tester/model/__init__.py
  tester/model/eggs/hey.txt
  tester/model/model.py
  truss/truss_gatherer.py
Due: isort, flake8, mypy

resolving comments
  pyproject.toml
  truss/tests/test_model_inference.py
Due: isort, flake8

Crashing inference server intentionally upon model load failure (#303)
  pyproject.toml
  truss/templates/control/control/endpoints.py
  truss/templates/control/control/helpers/errors.py
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/server/common/truss_server.py
  truss/test_data/model_load_failure_test/config.yaml
  truss/test_data/model_load_failure_test/model/model.py
  truss/tests/test_model_inference.py
Due: isort, flake8, mypy

Use uvloop for uvicorn
  pyproject.toml
  truss/contexts/image_builder/util.py
  truss/templates/server/common/truss_server.py
  truss/templates/server/requirements.txt
Due: isort, flake8, mypy

Convert control server from Flask to FastAPI
  poetry.lock
  pyproject.toml
  truss/templates/control/control/application.py
  truss/templates/control/control/endpoints.py
  truss/templates/control/control/helpers/inference_server_starter.py
  truss/templates/control/control/server.py
  truss/templates/control/requirements.txt
Due: isort, flake8, mypy

Fix State attribute assignment
  examples/ai-search/config.yaml
  poetry.lock
  pyproject.toml
  truss/templates/control/control/application.py
  truss/templates/control/control/endpoints.py
  truss/tests/templates/control/control/test_server.py
Due: isort, flake8, mypy

Use uvloop for uvicorn (#357)
  pyproject.toml
  truss/contexts/image_builder/util.py
  truss/templates/server/common/truss_server.py
  truss/templates/server/requirements.txt
Due: isort, flake8, mypy

Fix uvicorn startup; add uvloop
  truss/templates/control/control/server.py
Due: isort, flake8, mypy

Fix integration test
  pyproject.toml
  truss/tests/test_truss_handle.py
Due: isort, flake8

Fix integration test (#359)
  pyproject.toml
  truss/tests/test_truss_handle.py
Due: isort, flake8

Fix some of the tests
  truss/templates/control/control/endpoints.py
  truss/tests/templates/control/control/test_server.py
Due: isort, flake8, mypy

Fix all tests not relying on exceptions
  truss/templates/control/control/helpers/inference_server_starter.py
  truss/templates/control/control/server.py
  truss/tests/templates/control/control/test_server.py
Due: isort, flake8, mypy

Attempt to handle exceptions
  examples/ai-search/config.yaml
  truss/templates/control/control/application.py
  truss/templates/control/control/endpoints.py
Due: isort, flake8, mypy

chkpt
  truss/templates/control/control/application.py
  truss/templates/control/control/helpers/inference_server_controller.py
  truss/templates/control/control/helpers/truss_patch/__init__.py
  truss/templates/control/control/helpers/truss_patch/model_container_patch_applier.py
  truss/tests/templates/control/control/helpers/test_patch_applier.py
Due: isort, flake8, mypy

chkpt
  truss/templates/control/control/helpers/inference_server_controller.py
  truss/templates/control/control/helpers/truss_patch/model_container_patch_applier.py
  truss/templates/control/control/helpers/truss_patch/truss_dir_patch_applier.py
  truss/tests/templates/control/control/helpers/test_patch_applier.py
Due: isort, flake8, mypy

chkpt
  truss/model_inference.py
  truss/patch/calc_patch.py
  truss/patch/truss_dir_patch_applier.py
  truss/templates/control/control/helpers/truss_patch/__init__.py
  truss/templates/control/control/helpers/truss_patch/model_code_patch_applier.py
  truss/templates/control/control/helpers/truss_patch/model_container_patch_applier.py
  truss/templates/control/control/helpers/truss_patch/requirement_name_identifier.py
  truss/templates/control/control/helpers/truss_patch/system_packages.py
  truss/templates/control/control/helpers/truss_patch/truss_dir_patch_applier.py
Due: isort, flake8, mypy

Add tests
  truss/templates/control/control/helpers/truss_patch/model_code_patch_applier.py
  truss/tests/patch/test_truss_dir_patch_applier.py
Due: isort, flake8, mypy

Add support for patching a truss
  truss/model_inference.py
  truss/patch/calc_patch.py
  truss/patch/truss_dir_patch_applier.py
  truss/templates/control/control/application.py
  truss/templates/control/control/helpers/inference_server_controller.py
  truss/templates/control/control/helpers/truss_patch/__init__.py
  truss/templates/control/control/helpers/truss_patch/model_code_patch_applier.py
  truss/templates/control/control/helpers/truss_patch/model_container_patch_applier.py
  truss/templates/control/control/helpers/truss_patch/requirement_name_identifier.py
  truss/templates/control/control/helpers/truss_patch/system_packages.py
  truss/tests/patch/test_truss_dir_patch_applier.py
  truss/tests/templates/control/control/helpers/test_model_container_patch_applier.py
Due: isort, flake8, mypy

inc version
  pyproject.toml
Due: none

WIP: still not catching exceptions
  poetry.lock
  pyproject.toml
  truss/templates/control/control/application.py
  truss/templates/control/control/endpoints.py
  truss/templates/control/control/server.py
Due: isort, flake8, mypy

fixing exception handling
  truss/templates/control/control/application.py
Due: isort, flake8, mypy

adding test
  truss/tests/conftest.py
  truss/tests/test_truss_util.py
  truss/util/.truss_ignore
  truss/util/path.py
Due: isort, flake8, mypy

using pathlib open
  truss/util/path.py
Due: isort, flake8, mypy

fixing tests
  truss/tests/test_truss_util.py
Due: isort, flake8

Fix proxy implementation
  truss/templates/control/control/application.py
  truss/templates/control/control/endpoints.py
Due: isort, flake8, mypy

Self review
  truss/templates/control/control/application.py
Due: isort, flake8, mypy

WIP: start setting msgpack ASGI middleware
  poetry.lock
  pyproject.toml
  truss/templates/server/common/truss_server.py
  truss/templates/server/requirements.txt
Due: isort, flake8, mypy

Handle binary serialization via Msgpack middleware
  truss/templates/server/common/truss_server.py
Due: isort, flake8, mypy

Self review
  truss/templates/server/common/truss_server.py
Due: isort, flake8, mypy

Share logging stuff.
  truss/templates/control/control/application.py
  truss/templates/server/common/truss_server.py
  truss/templates/server/inference_server.py
  truss/templates/shared/logging.py
Due: isort, flake8, mypy

Bump version.
  pyproject.toml
Due: none

Fix it.
  truss/templates/control/control/application.py
  truss/templates/server/common/truss_server.py
  truss/templates/server/inference_server.py
Due: isort, flake8, mypy

Bump truss version.
  pyproject.toml
Due: none

Logging setup from control module.
  pyproject.toml
  truss/templates/control/control/application.py
  truss/templates/control/control/helpers/logging.py
  truss/templates/control/requirements.txt
Due: isort, flake8, mypy

Try new version.
  pyproject.toml
Due: none

Remove check for is_scattered
  truss/truss_handle.py
Due: isort, flake8, mypy

Fix reraising exception from proxy with test
  truss/templates/control/control/application.py
  truss/templates/control/control/endpoints.py
  truss/tests/templates/control/control/test_server.py
Due: isort, flake8, mypy

Path conditions:
  isort: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
