Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: isort
        name: isort-local
        entry: poetry run isort
        language: system
        types: [python]
        pass_filenames: true
      - id: flake8
        name: flake8-local
        entry: poetry run flake8
        language: system
        types: [python]
        pass_filenames: true
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        args: ["--install-types", "--non-interactive"]
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
  - repo: https://github.com/tcort/markdown-link-check
    rev: "v3.10.3"
    hooks:
      - id: markdown-link-check
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        # It is recommended to specify the latest version of Python
        # supported by your project here, or alternatively use
        # pre-commit's default_language_version, see
        # https://pre-commit.com/#top_level-default_language_version
        language_version: python3.9

Make tests pass on core
  core/poetry.lock
  core/pyproject.toml
  core/src/truss/core/constants.py
  core/src/truss/core/patch/calc_patch.py
  core/src/truss/core/patch/dir_signature.py
  core/src/truss/core/patch/errors.py
  core/src/truss/core/patch/local_truss_patch_applier.py
  core/src/truss/core/patch/signature.py
  core/src/truss/core/patch/truss_dir_patch_applier.py
  core/src/truss/core/patch/types.py
  core/src/truss/core/truss_spec.py
  core/src/truss/core/types.py
Due: isort, flake8, mypy

remove coppied files
  truss/constants.py
  truss/errors.py
  truss/patch/calc_patch.py
  truss/patch/dir_signature.py
  truss/patch/hash.py
  truss/patch/local_truss_patch_applier.py
  truss/patch/signature.py
  truss/patch/truss_dir_patch_applier.py
  truss/patch/types.py
  truss/tests/__init__.py
  truss/tests/test_config.py
  truss/tests/test_truss_util.py
  truss/tests/test_validation.py
  truss/truss_config.py
  truss/truss_spec.py
  truss/types.py
  truss/util/data_structures.py
  truss/util/gpu.py
  truss/util/jinja.py
  truss/util/path.py
  truss/validation.py
Due: isort, flake8, mypy

Delete moved files
  truss/templates/control/control/application.py
  truss/templates/control/control/endpoints.py
  truss/templates/control/control/helpers/context_managers.py
  truss/templates/control/control/helpers/errors.py
  truss/templates/control/control/helpers/inference_server_controller.py
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/control/control/helpers/inference_server_starter.py
  truss/templates/control/control/helpers/logging.py
  truss/templates/control/control/helpers/truss_patch/__init__.py
  truss/templates/control/control/helpers/truss_patch/model_code_patch_applier.py
  truss/templates/control/control/helpers/truss_patch/model_container_patch_applier.py
  truss/templates/control/control/helpers/truss_patch/requirement_name_identifier.py
  truss/templates/control/control/helpers/truss_patch/system_packages.py
  truss/templates/control/control/helpers/types.py
  truss/templates/control/control/server.py
  truss/templates/control/requirements.txt
  truss/templates/server/__init__.py
  truss/templates/server/common/__init__.py
  truss/templates/server/common/errors.py
  truss/templates/server/common/patches.py
  truss/templates/server/common/patches/whisper/patch.py
  truss/templates/server/common/retry.py
  truss/templates/server/common/truss_server.py
  truss/templates/server/inference_server.py
  truss/templates/server/local_inference_server.py
  truss/templates/server/model_wrapper.py
  truss/templates/server/requirements.txt
  truss/templates/shared/README.md
  truss/templates/shared/__init__.py
  truss/templates/shared/logging.py
  truss/templates/shared/secrets_resolver.py
  truss/templates/shared/serialization.py
  truss/templates/shared/util.py
  truss/templates/shared/uvicorn_config.py
Due: isort, flake8, mypy

Make tests pass for all server
  server/tests/control/control/test_server.py
  server/tests/server/test_model_wrapper.py
Due: isort, flake8, mypy

Make the server package a bit flatter
  server/src/truss/server/control/application.py
  server/src/truss/server/control/endpoints.py
  server/src/truss/server/control/helpers/context_managers.py
  server/src/truss/server/control/helpers/errors.py
  server/src/truss/server/control/helpers/inference_server_controller.py
  server/src/truss/server/control/helpers/inference_server_process_controller.py
  server/src/truss/server/control/helpers/inference_server_starter.py
  server/src/truss/server/control/helpers/logging.py
  server/src/truss/server/control/helpers/types.py
  server/src/truss/server/control/patch_appliers/__init__.py
  server/src/truss/server/control/patch_appliers/model_code_patch_applier.py
  server/src/truss/server/control/patch_appliers/model_container_patch_applier.py
  server/src/truss/server/control/patch_appliers/requirement_name_identifier.py
  server/src/truss/server/control/patch_appliers/system_packages.py
  server/src/truss/server/control/server.py
  server/src/truss/server/inference/__init__.py
  server/src/truss/server/inference/common/__init__.py
  server/src/truss/server/inference/common/errors.py
  server/src/truss/server/inference/common/patches.py
  server/src/truss/server/inference/common/patches/whisper/patch.py
  server/src/truss/server/inference/common/retry.py
  server/src/truss/server/inference/common/truss_server.py
  server/src/truss/server/inference/inference_server.py
  server/src/truss/server/inference/local_inference_server.py
  server/src/truss/server/inference/model_wrapper.py
  server/src/truss/server/inference/requirements.txt
  server/tests/control/helpers/test_context_managers.py
  server/tests/control/patch_appliers/test_model_container_patch_applier.py
  server/tests/control/patch_appliers/test_requirement_name_identifier.py
  server/tests/control/test_server.py
  server/tests/inference/common/test_retry.py
  server/tests/inference/test_model_wrapper.py
Due: isort, flake8, mypy

resolving comments
  truss/util/path.py
Due: isort, flake8, mypy

Add async tests to control server and fix
  truss/tests/templates/control/control/test_server.py
Due: isort, flake8

Got tests to path, but I don't think this fixed anything
  pyproject.toml
  truss/templates/control/control/endpoints.py
  truss/tests/templates/control/control/test_server.py
Due: isort, flake8, mypy

Got tests to path, but I don't think this fixed anything
  truss/tests/test_control_truss_patching.py
Due: isort, flake8

init
  pyproject.toml
  truss/remote/README.md
  truss/remote/baseten/api.py
  truss/remote/baseten/auth.py
  truss/remote/baseten/core.py
  truss/remote/baseten/error.py
  truss/remote/baseten/remote.py
  truss/remote/baseten/service.py
  truss/remote/baseten/tar.py
  truss/remote/baseten/utils.py
  truss/remote/truss_remote.py
Due: isort, flake8, mypy

adding type and init
  truss/remote/baseten/__init__.py
  truss/remote/baseten/auth.py
Due: isort, flake8, mypy

resolving comments
  truss/remote/baseten/api.py
  truss/remote/baseten/auth.py
  truss/remote/baseten/core.py
  truss/remote/baseten/error.py
  truss/remote/baseten/remote.py
  truss/remote/baseten/utils/tar.py
  truss/remote/baseten/utils/transfer.py
  truss/remote/truss_remote.py
Due: isort, flake8, mypy

adding log
  truss/remote/baseten/auth.py
Due: isort, flake8, mypy

adding version
  truss/remote/baseten/core.py
Due: isort, flake8, mypy

Move the startup routine to FastAPI server startup instead of thread
  examples/ai-search/config.yaml
  examples/ai-search/model/model.py
  truss/templates/control/control/application.py
  truss/templates/control/control/helpers/inference_server_starter.py
  truss/templates/control/control/server.py
Due: isort, flake8, mypy

Make dev release to test
  pyproject.toml
Due: none

Fix actual issue tested
  examples/ai-search/config.yaml
  examples/ai-search/model/model.py
  pyproject.toml
Due: isort, flake8

Run server startup in background asyncio worker
  pyproject.toml
  truss/templates/control/control/application.py
  truss/templates/control/control/helpers/inference_server_starter.py
Due: isort, flake8, mypy

Fix startup in background
  pyproject.toml
  truss/templates/control/control/application.py
  truss/templates/control/control/helpers/inference_server_starter.py
  truss/tests/templates/control/control/test_server.py
Due: isort, flake8, mypy

Bump rc
  pyproject.toml
  truss/templates/control/control/server.py
  truss/templates/shared/uvicorn_config.py
Due: isort, flake8, mypy

Revert unneeded change
  truss/templates/control/control/server.py
  truss/templates/shared/uvicorn_config.py
Due: isort, flake8, mypy

Move inference server from thread to startup of control server (#379)
  pyproject.toml
  truss/templates/control/control/application.py
  truss/templates/control/control/endpoints.py
  truss/templates/control/control/helpers/inference_server_starter.py
  truss/templates/control/control/server.py
  truss/tests/templates/control/control/test_server.py
  truss/tests/test_control_truss_patching.py
Due: isort, flake8, mypy

Remove re-dundant test and change to lighter image
  truss/tests/test_truss_handle.py
Due: isort, flake8

fixing bug
  truss/remote/baseten/service.py
Due: isort, flake8, mypy

Remove re-dundant test and change to lighter image (#381)
  truss/tests/test_truss_handle.py
Due: isort, flake8

Update integration-tests.yml
  .github/workflows/integration-tests.yml
Due: none

fixing bug
  truss/remote/truss_remote.py
Due: isort, flake8, mypy

refactor general config patch
  truss/patch/calc_patch.py
  truss/templates/control/control/helpers/types.py
  truss/tests/patch/test_calc_patch.py
Due: isort, flake8, mypy

Create github releases from release CI
  .github/workflows/main.yml
Due: none

Test bump dev version
  pyproject.toml
Due: none

separate env var and external data patches
  truss/patch/calc_patch.py
  truss/templates/control/control/helpers/types.py
  truss/tests/patch/test_calc_patch.py
Due: isort, flake8, mypy

remove unused helpers
  truss/patch/calc_patch.py
Due: isort, flake8, mypy

Test with RC
  .github/workflows/integration-tests.yml
  .github/workflows/main.yml
  pyproject.toml
Due: none

Test with draft:False
  .github/workflows/main.yml
  pyproject.toml
Due: none

Skip integration tests as needed
  .github/workflows/main.yml
  pyproject.toml
Due: none

Remove extra branch
  .github/workflows/main.yml
Due: none
