Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

isort:
  name: isort-local
  entry: poetry run isort
  language: system
  pass_filenames: true

flake8:
  name: flake8-local
  entry: poetry run flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy-local (3.9)
  entry: poetry run mypy
  language: python
  args:
  - --python-version=3.9
  pass_filenames: true

Bumpo pyproject.
  pyproject.toml
Due: none

Improve conflict resolution.
  docs/chains/doc_gen/generate_reference.py
  docs/chains/doc_gen/generated-reference.mdx
  docs/chains/doc_gen/reference.patch
  docs/snippets/chains/API-reference.mdx
  truss-chains/truss_chains/definitions.py
Due: isort, flake8, mypy

Make classes/functions ### heading
  docs/chains/doc_gen/generate_reference.py
  docs/chains/doc_gen/generated-reference.mdx
  docs/chains/doc_gen/mdx_adapter.py
  docs/chains/doc_gen/reference.patch
  docs/snippets/chains/API-reference.mdx
  truss-chains/truss_chains/__init__.py
Due: isort, flake8, mypy

Reference Doc (semi-manual).
  docs/chains/doc_gen/README.md
  docs/chains/doc_gen/generate_reference.py
  docs/chains/doc_gen/generated-reference.mdx
  docs/chains/doc_gen/mdx_adapter.py
  docs/chains/doc_gen/reference.patch
  docs/chains/doc_gen/sphinx_config.py
  docs/chains/full-reference.mdx
  docs/snippets/chains/API-reference.mdx
  docs/snippets/chains/TOC.mdx
  truss-chains/truss_chains/__init__.py
  truss-chains/truss_chains/code_gen.py
  truss-chains/truss_chains/definitions.py
  truss-chains/truss_chains/deploy.py
  truss-chains/truss_chains/public_api.py
  truss-chains/truss_chains/stub.py
  truss-chains/truss_chains/utils.py
Due: isort, flake8, mypy

Reference Doc (semi-manual). (#978)
  docs/chains/doc_gen/README.md
  docs/chains/doc_gen/generate_reference.py
  docs/chains/doc_gen/generated-reference.mdx
  docs/chains/doc_gen/mdx_adapter.py
  docs/chains/doc_gen/reference.patch
  docs/chains/doc_gen/sphinx_config.py
  docs/chains/full-reference.mdx
  docs/snippets/chains/API-reference.mdx
  docs/snippets/chains/TOC.mdx
  truss-chains/truss_chains/__init__.py
  truss-chains/truss_chains/code_gen.py
  truss-chains/truss_chains/definitions.py
  truss-chains/truss_chains/deploy.py
  truss-chains/truss_chains/public_api.py
  truss-chains/truss_chains/stub.py
  truss-chains/truss_chains/utils.py
Due: isort, flake8, mypy

Reference Doc (semi-manual).
  docs/chains/doc_gen/generate_reference.py
  docs/chains/doc_gen/generated-reference.mdx
  docs/chains/doc_gen/mdx_adapter.py
  docs/chains/doc_gen/reference.patch
  truss-chains/truss_chains/definitions.py
Due: isort, flake8, mypy

Make classes/functions ### heading
  docs/chains/doc_gen/generate_reference.py
  docs/chains/doc_gen/generated-reference.mdx
  docs/chains/doc_gen/mdx_adapter.py
  docs/chains/doc_gen/reference.patch
  docs/snippets/chains/API-reference.mdx
Due: isort, flake8, mypy

Missing part of #978
  docs/chains/doc_gen/generate_reference.py
  docs/chains/doc_gen/generated-reference.mdx
  docs/chains/doc_gen/reference.patch
  docs/snippets/chains/API-reference.mdx
  truss-chains/truss_chains/definitions.py
Due: isort, flake8, mypy

Missing part of #978 (#982)
  docs/chains/doc_gen/generate_reference.py
  docs/chains/doc_gen/generated-reference.mdx
  docs/chains/doc_gen/reference.patch
  docs/snippets/chains/API-reference.mdx
  truss-chains/truss_chains/definitions.py
Due: isort, flake8, mypy

Integrate new Whisper model, Chunk Overlap.
  truss-chains/examples/transcribe/data_types.py
  truss-chains/examples/transcribe/helpers.py
  truss-chains/examples/transcribe/transcribe.py
  truss-chains/examples/transcribe/whisper.py
  truss-chains/truss_chains/py.typed
Due: isort, flake8, mypy

Update Adapter
  truss-chains/examples/transcribe/adapter.py
  truss-chains/examples/transcribe/data_types.py
  truss-chains/examples/transcribe/helpers.py
  truss-chains/examples/transcribe/transcribe.py
Due: isort, flake8, mypy

Updated for PR feedback.
  pyproject.toml
  truss-chains/truss_chains/deploy.py
  truss/cli/cli.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/remote/baseten/utils/status.py
Due: isort, flake8, mypy

Use new cli links (#981)
  pyproject.toml
  truss-chains/truss_chains/deploy.py
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/remote/baseten/utils/status.py
Due: isort, flake8, mypy

Bump version to 0.9.16
  pyproject.toml
Due: none

Use lazy data resolver in triton engine builder flow
  truss/templates/trtllm/model/model.py
Due: isort, flake8

initial commit
  docker/base_images/base_image.Dockerfile.jinja
  pyproject.toml
  truss/templates/control/control/helpers/truss_patch/requirement_name_identifier.py
  truss/util/path.py
Due: isort, flake8, mypy

dont be lazy with imports
  truss/util/path.py
Due: isort, flake8, mypy

poetry
  poetry.lock
Due: none

Use lazy data resolver in triton engine builder flow (#979)
  truss/templates/trtllm/model/model.py
Due: isort, flake8

trailing whitespace?
  truss/templates/control/control/helpers/truss_patch/requirement_name_identifier.py
Due: isort, flake8, mypy

Integrate new Whisper model, Chunk Overlap. (#980)
  truss-chains/examples/transcribe/adapter.py
  truss-chains/examples/transcribe/data_types.py
  truss-chains/examples/transcribe/helpers.py
  truss-chains/examples/transcribe/transcribe.py
  truss-chains/examples/transcribe/whisper.py
  truss-chains/truss_chains/py.typed
Due: isort, flake8, mypy

Integrate new Whisper model, Chunk Overlap.
  truss-chains/examples/transcribe/data_types.py
  truss-chains/examples/transcribe/helpers.py
  truss-chains/examples/transcribe/transcribe.py
Due: isort, flake8, mypy

Update Adapter
  truss-chains/examples/transcribe/data_types.py
  truss-chains/examples/transcribe/helpers.py
  truss-chains/examples/transcribe/transcribe.py
Due: isort, flake8, mypy

Add Readme, simplify generaly chain data types.
  truss-chains/examples/transcribe/README.md
  truss-chains/examples/transcribe/adapter.py
  truss-chains/examples/transcribe/data_types.py
  truss-chains/examples/transcribe/transcribe.py
Due: isort, flake8, mypy

Missing changes of #980 (#986)
  truss-chains/examples/transcribe/README.md
  truss-chains/examples/transcribe/adapter.py
  truss-chains/examples/transcribe/data_types.py
  truss-chains/examples/transcribe/transcribe.py
Due: isort, flake8, mypy

Address feedback
  pyproject.toml
  truss-chains/truss_chains/__init__.py
  truss/__init__.py
  truss/cli/__init__.py
Due: isort, flake8, mypy

Ruff fixes
  docs/chains/doc_gen/generate_reference.py
  truss/cli/cli.py
Due: isort, flake8, mypy

Add comment
  pyproject.toml
Due: none

Remove extra newline
  pyproject.toml
Due: none

Address comments
  pyproject.toml
  truss-chains/truss_chains/code_gen.py
Due: isort, flake8, mypy

Grammar
  pyproject.toml
Due: none

Reformat
  docs/chains/doc_gen/generate_reference.py
  docs/chains/doc_gen/mdx_adapter.py
  truss-chains/truss_chains/example_chainlet.py
Due: isort, flake8, mypy

Rebase and re-format now files.
  truss-chains/examples/transcribe/adapter.py
  truss-chains/examples/transcribe/helpers.py
  truss-chains/examples/transcribe/transcribe.py
  truss-chains/examples/transcribe/whisper.py
  truss-chains/truss_chains/deploy.py
Due: isort, flake8, mypy

Plumb Whisper parameteres through Whisper model. Include in chain
  truss-chains/examples/transcribe/data_types.py
  truss-chains/examples/transcribe/transcribe.py
  truss-chains/examples/transcribe/whisper_model.py
Due: isort, flake8, mypy

poetry lock update
  poetry.lock
Due: none

imports
  truss/util/path.py
Due: isort, flake8, mypy

Path conditions:
  isort: any of: \.py$
  flake8: any of: \.py$
  mypy: (any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$|^slay.*) or (any of: ^slay.* and \.py$)
