Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
        language: python
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: poetry run ruff format --force-exclude
        language: python
        files: \.(py|pyi)$
      - id: pyproject.toml
        name: pyproject.toml
        entry: poetry run python bin/pyproject_toml_linter.py
        language: python
        additional_dependencies: [tomlkit]
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true

release 0.0.10 baseten-performance-client py/nodejs.yml (#1833)
  .github/workflows/baseten-performance-client-nodejs.yml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/python_bindings/Cargo.toml
Due: none

Bump version to 0.9.120
  pyproject.toml
Due: none

fix(truss): types for new format of checkpoints
  truss/base/truss_config.py
Due: ruff, ruff-format, mypy

Model-cache
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

add dry-run, dump-config to truss push
  truss/cli/cli.py
  truss/cli/train/deploy_checkpoints.py
  truss/cli/train_commands.py
  truss/remote/baseten/remote.py
Due: ruff, ruff-format, mypy

env vars as part of runtime
  pyproject.toml
  truss/cli/train/deploy_checkpoints.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/remote/baseten/remote.py
  truss/templates/base.Dockerfile.jinja
Due: ruff, ruff-format, mypy

fix lint errors
  truss/remote/baseten/remote.py
Due: ruff, ruff-format, mypy

add static bptr
  .github/workflows/truss-transfer-test.yml
  truss-transfer/Cargo.toml
  truss-transfer/README.md
  truss-transfer/src/constants.rs
  truss-transfer/src/lib.rs
  truss/templates/server.Dockerfile.jinja
  truss/templates/shared/lazy_data_resolver.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/templates/core/server/test_lazy_data_resolver_v2.py
Due: ruff, ruff-format, mypy

rc2
  pyproject.toml
Due: none

static-bptr
  .github/workflows/_integration_test_shared.yml
  .github/workflows/pr.yml
  .github/workflows/truss-transfer-cli-release.yml
Due: none

add skip build result
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

bump versions
  poetry.lock
  pyproject.toml
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/requirements.txt
Due: none

new test
  truss/tests/templates/core/server/test_lazy_data_resolver_v2.py
Due: ruff, ruff-format

new test
  pyproject.toml
Due: none

allow none
  pyproject.toml
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

allow none
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

add monitor
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/download_core.rs
Due: none

fix
  truss-transfer/src/download_core.rs
Due: none

gcs working
  truss-transfer/README.md
  truss-transfer/src/bindings.rs
  truss-transfer/src/create/aws_metadata.rs
  truss-transfer/src/create/azure_metadata.rs
  truss-transfer/src/create/basetenpointer.rs
  truss-transfer/src/create/common_metadata.rs
  truss-transfer/src/create/gcs_metadata.rs
  truss-transfer/src/create/hf_metadata.rs
  truss-transfer/src/create/provider.rs
  truss-transfer/src/create/providers/aws.rs
  truss-transfer/src/create/providers/azure.rs
  truss-transfer/src/create/providers/gcs.rs
  truss-transfer/src/create/providers/huggingface.rs
  truss-transfer/src/download_core.rs
  truss-transfer/src/lib.rs
  truss-transfer/src/secrets.rs
Due: none

add downloader
  truss-transfer/README.md
  truss-transfer/src/create/azure_metadata.rs
  truss-transfer/src/create/basetenpointer.rs
Due: none

bump truss-transfer
  poetry.lock
  pyproject.toml
  truss-transfer/tests/test_create_bptr_with_gcs.py
  truss-transfer/tests/test_create_bptr_with_hf.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/requirements.txt
Due: ruff, ruff-format, mypy

bump truss-transfer
  pyproject.toml
Due: none

add server.Dockerfile
  truss/templates/server.Dockerfile.jinja
Due: none

add model cache allowed for trt (#1838)
  .github/workflows/_integration_test_shared.yml
  .github/workflows/pr.yml
  .github/workflows/truss-transfer-cli-release.yml
  .github/workflows/truss-transfer-test.yml
  poetry.lock
  pyproject.toml
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/README.md
  truss-transfer/src/bindings.rs
  truss-transfer/src/constants.rs
  truss-transfer/src/create/aws_metadata.rs
  truss-transfer/src/create/azure_metadata.rs
  truss-transfer/src/create/basetenpointer.rs
  truss-transfer/src/create/common_metadata.rs
  truss-transfer/src/create/gcs_metadata.rs
  truss-transfer/src/create/hf_metadata.rs
  truss-transfer/src/create/provider.rs
  truss-transfer/src/create/providers/aws.rs
  truss-transfer/src/create/providers/azure.rs
  truss-transfer/src/create/providers/gcs.rs
  truss-transfer/src/create/providers/huggingface.rs
  truss-transfer/src/download_core.rs
  truss-transfer/src/lib.rs
  truss-transfer/src/secrets.rs
  truss-transfer/tests/test_create_bptr_with_gcs.py
  truss-transfer/tests/test_create_bptr_with_hf.py
  truss/base/trt_llm_config.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/requirements.txt
  truss/templates/shared/lazy_data_resolver.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/templates/core/server/test_lazy_data_resolver_v2.py
Due: ruff, ruff-format, mypy

enable multi-threaded runtime
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/python_bindings/src/lib.rs
Due: none

global runtime
  truss-transfer/src/bindings.rs
  truss-transfer/src/create/azure_metadata.rs
  truss-transfer/src/create/basetenpointer.rs
Due: none

newer tokio runtime
  truss-transfer/Cargo.toml
Due: none

truss-transfer
  baseten-performance-client/python_bindings/Cargo.toml
Due: none

truss-transfer
  truss-transfer/Cargo.toml
Due: none

fix
  truss-transfer/Cargo.lock
  truss-transfer/src/cache.rs
Due: none

Migrate truss from `poetry` to `uv`
  .github/actions/setup-python/action.yml
  .github/scripts/get-python-version-range.py
  .github/workflows/_build_truss_server_base_images_if_needed_shared.yml
  .github/workflows/_detect_version_changed_shared.yml
  .github/workflows/_integration_test_shared.yml
  .github/workflows/build-context-builder-image.yml
  .github/workflows/create_release_pr.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/smoketests.yml
  .pre-commit-config.yaml
  .python-version
  .tool-versions
  CONTRIBUTING.md
  bin/bump_truss_version.sh
  bin/codespace_post_create.sh
  bin/pyproject_toml_linter.py
  context_builder.Dockerfile
  docs/chains/doc_gen/README.md
  docs/contribute/base-images.md
  poetry.lock
  pyproject.toml
  truss/__init__.py
  truss/cli/utils/self_upgrade.py
  truss/tests/conftest.py
  truss/tests/test_data/context_builder_image_test/Dockerfile
  truss/util/path.py
  uv.lock
Due: ruff, ruff-format, mypy

Address comments
  .github/actions/setup-python/action.yml
  .github/workflows/_build_truss_server_base_images_if_needed_shared.yml
  .github/workflows/_integration_test_shared.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .github/workflows/smoketests.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  bin/codespace_post_create.sh
  context_builder.Dockerfile
  pyproject.toml
  uv.lock
Due: none

Migrate truss from `poetry` to `uv` (#1827)
  .github/actions/setup-python/action.yml
  .github/scripts/get-python-version-range.py
  .github/workflows/_build_truss_server_base_images_if_needed_shared.yml
  .github/workflows/_detect_version_changed_shared.yml
  .github/workflows/_integration_test_shared.yml
  .github/workflows/build-context-builder-image.yml
  .github/workflows/create_release_pr.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/smoketests.yml
  .pre-commit-config.yaml
  .python-version
  .tool-versions
  CONTRIBUTING.md
  bin/bump_truss_version.sh
  bin/codespace_post_create.sh
  bin/pyproject_toml_linter.py
  context_builder.Dockerfile
  docs/chains/doc_gen/README.md
  docs/contribute/base-images.md
  poetry.lock
  pyproject.toml
  truss/__init__.py
  truss/cli/utils/self_upgrade.py
  truss/tests/conftest.py
  truss/tests/test_data/context_builder_image_test/Dockerfile
  truss/util/path.py
  uv.lock
Due: ruff, ruff-format, mypy

tt version
  truss-transfer/Cargo.toml
Due: none

tt 6
  pyproject.toml
Due: none

check poetry lock
  poetry.lock
  pyproject.toml
  truss-transfer/src/core.rs
  truss/templates/server/requirements.txt
Due: none

uv lock
  pyproject.toml
  uv.lock
Due: none

Mf/multi-thread-runtime (#1840)
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/src/lib.rs
  pyproject.toml
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/bindings.rs
  truss-transfer/src/cache.rs
  truss-transfer/src/core.rs
  truss-transfer/src/create/azure_metadata.rs
  truss-transfer/src/create/basetenpointer.rs
  truss/templates/server/requirements.txt
  uv.lock
Due: none

uv lock
  pyproject.toml
Due: none

Bump version to 0.10.0
  pyproject.toml
Due: none
