Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

feat(truss-train): add LoopsCheckpoint to load_checkpoint config
  truss-train/tests/test_definitions.py
  truss-train/truss_train/__init__.py
  truss-train/truss_train/definitions.py
  truss-train/truss_train/restore_from_checkpoint.py
Due: ruff, ruff-format, mypy

Show Loops workload planes in CLI
  truss/cli/loops_commands.py
  truss/tests/cli/test_loops_cli.py
Due: ruff, ruff-format, mypy

fix(slim): tighten flag parsing and gate against no_build
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/server.Dockerfile.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format, mypy

feat(docker_server): slim build branch (no in-image proxy)
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/server.Dockerfile.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format, mypy

chore: drop redundant block comments in slim build tests
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format

refactor(docker_server): split slim-build predicate to drop redundant checks
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

feat(docker_server): slim build branch (no in-image proxy) (#2402)
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/server.Dockerfile.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format, mypy

update chainlet status check to fix keepalive
  truss-chains/tests/test_deployment_client_watch.py
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/tests/cli/test_chains_cli.py
Due: ruff, ruff-format, mypy

Bump version to 0.18.14
  pyproject.toml
  uv.lock
Due: uv-lock

feat(truss-train): add LoopsCheckpoint to load_checkpoint config (#2509)
  truss-train/tests/test_definitions.py
  truss-train/truss_train/__init__.py
  truss-train/truss_train/definitions.py
  truss-train/truss_train/restore_from_checkpoint.py
Due: ruff, ruff-format, mypy

update to use watch endpoints directly
  truss/cli/utils/common.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

Bump version to 0.18.15
  pyproject.toml
  uv.lock
Due: uv-lock

update comment
  truss/cli/utils/common.py
Due: ruff, ruff-format, mypy

limit scope
  truss/cli/utils/common.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

Hash full config for image builds, copy config.yaml as last layer
  truss/base/truss_config.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/server.Dockerfile.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_config.py
  truss/tests/test_data/server.Dockerfile
Due: ruff, ruff-format, mypy

Refactor config.yaml copy into a dedicated macro called before ENTRYPOINT
  truss/templates/server.Dockerfile.jinja
Due: none

Release candidate 0.18.16rc0
  pyproject.toml
  uv.lock
Due: uv-lock

fix(chains): Normalize chainlet status to fix keepalive behavior (#2511)
  truss-chains/tests/test_deployment_client_watch.py
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/tests/cli/test_chains_cli.py
Due: ruff, ruff-format, mypy

Bump version to 0.18.16
  pyproject.toml
  uv.lock
Due: uv-lock

Revert rc version bump (0.18.16rc0 -> 0.18.15)
  pyproject.toml
  uv.lock
Due: uv-lock

remove the shell
  truss/base/truss_config.py
Due: ruff, ruff-format, mypy

remove callsite
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

remove callsite
  truss/tests/test_config.py
Due: ruff, ruff-format

more cleanup
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

Hash full config for image builds; copy config.yaml as the last layer (#2514)
  truss/base/truss_config.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/server.Dockerfile.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_config.py
  truss/tests/test_data/server.Dockerfile
Due: ruff, ruff-format, mypy

remove instancetype validation
  truss/cli/train/workstation.py
Due: ruff, ruff-format, mypy

fix(cli/train): allow stopping queued/pending jobs
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

should be good
  truss/cli/train/workstation.py
Due: ruff, ruff-format, mypy

remove instance type validation from truss train workstation (#2516)
  truss/cli/train/workstation.py
Due: ruff, ruff-format, mypy

fix(cli/train): allow stopping queued/pending jobs (#2517)
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

Bump version to 0.18.17
  pyproject.toml
  uv.lock
Due: uv-lock

feat(cli/train): add command to update pending job priority
  truss-train/tests/test_recreate.py
  truss/cli/train/core.py
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
  truss/tests/remote/baseten/test_api.py
Due: ruff, ruff-format, mypy

Add AvailabilityModel to job Compute
  truss-train/tests/test_definitions.py
  truss-train/truss_train/__init__.py
  truss-train/truss_train/definitions.py
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

feat(cli/train): add --spot flag to truss train push
  truss-train/tests/test_deployment.py
  truss-train/truss_train/deployment.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

feat(loops): `truss loops view --org` to list the whole org's deployments
  truss/cli/loops_commands.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

test: cover `truss loops view --org` scope + Owner column
  truss/tests/cli/test_loops_cli.py
Due: ruff, ruff-format

feat(loops): add `truss loops view --org` to list the whole org's deployments (#2523)
  truss/cli/loops_commands.py
  truss/remote/baseten/api.py
  truss/tests/cli/test_loops_cli.py
Due: ruff, ruff-format, mypy

chains: replace 'via' in run_remote and external_data docstrings
  truss-chains/truss_chains/public_types.py
Due: ruff, ruff-format, mypy

Generalize update training job function
  truss-train/tests/test_recreate.py
  truss/cli/train/core.py
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
  truss/tests/remote/baseten/test_api.py
Due: ruff, ruff-format, mypy

feat(cli/train): add command to update pending job priority (#2521)
  truss-train/tests/test_recreate.py
  truss/cli/train/core.py
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
  truss/tests/remote/baseten/test_api.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
