Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

fix lib.rs
  baseten-performance-client/core/src/customer_request_id.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/core/tests/integration_test.rs
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/src/lib.rs
Due: none

cancellation scenario
  baseten-performance-client/python_bindings/tests/integration_fastapi_server.py
Due: ruff, ruff-format, mypy

add cancellation support
  baseten-performance-client/README.md
Due: none

add no scripts
  .github/workflows/baseten-performance-client-nodejs.yml
Due: none

improve ci
  .github/workflows/baseten-performance-client-nodejs.yml
Due: none

most loaded vs least loaded
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/constants.rs
Due: none

checks out
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/customer_request_id.rs
Due: none

new version release
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/pyproject.toml
Due: none

unified bindings
  baseten-performance-client/README.md
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/python_bindings/tests/integration_fastapi_server.py
  baseten-performance-client/python_bindings/tests/test_bindings.py
Due: ruff, ruff-format, mypy

fmt
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/tests/integration_test.rs
  baseten-performance-client/python_bindings/src/lib.rs
Due: none

clippy
  baseten-performance-client/core/src/split_policy.rs
Due: none

clippy
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/node_bindings/index.d.ts
Due: none

update index.ts
  baseten-performance-client/node_bindings/index.d.ts
  baseten-performance-client/node_bindings/index.js
Due: none

fiox tests'
  baseten-performance-client/python_bindings/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

fix(truss): validate docker_server.start_command is single line
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

fix nodejs tests
  baseten-performance-client/node_bindings/__test__/test_with_key.js
Due: none

fix(truss): validate docker_server.start_command has no newlines
  truss/tests/test_config.py
  truss/tests/test_data/docker_server_start_command/backslash_continuation.yaml
  truss/tests/test_data/docker_server_start_command/folded_block.yaml
  truss/tests/test_data/docker_server_start_command/folded_chomped.yaml
  truss/tests/test_data/docker_server_start_command/literal_block.yaml
  truss/tests/test_data/docker_server_start_command/plain_multiline.yaml
Due: ruff, ruff-format

feat(truss): support multiline docker_server.start_command
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/docker_server/supervisord.conf.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format, mypy

refactor: parametrize docker_server start_command YAML tests
  truss/tests/test_config.py
Due: ruff, ruff-format

test: add parameterized tests for shell command patterns
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format

add stream
  baseten-performance-client/Cargo.lock
  baseten-performance-client/Cargo.toml
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/core/src/streaming/client_ext.rs
  baseten-performance-client/core/src/streaming/error.rs
  baseten-performance-client/core/src/streaming/event_parser.rs
  baseten-performance-client/core/src/streaming/mod.rs
  baseten-performance-client/core/src/streaming/request_handler.rs
  baseten-performance-client/core/src/streaming/response.rs
  baseten-performance-client/core/src/streaming/response_wrapper.rs
  baseten-performance-client/core/src/streaming/types.rs
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
  baseten-performance-client/python_bindings/src/bridge.rs
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/python_bindings/src/streaming.rs
  baseten-performance-client/test_uuid_optimization.py
Due: ruff, ruff-format, mypy

Performance client: version bump * update config
  baseten-performance-client/core/Cargo.toml
Due: none

bump version
  baseten-performance-client/Cargo.toml
  baseten-performance-client/core/Cargo.toml
Due: none

napi version
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/pyproject.toml
Due: none

fix(truss): validate docker_server.start_command is single line (#2088)
  truss/base/truss_config.py
  truss/tests/test_config.py
  truss/tests/test_data/docker_server_start_command/backslash_continuation.yaml
  truss/tests/test_data/docker_server_start_command/folded_block.yaml
  truss/tests/test_data/docker_server_start_command/folded_chomped.yaml
  truss/tests/test_data/docker_server_start_command/literal_block.yaml
  truss/tests/test_data/docker_server_start_command/plain_multiline.yaml
Due: ruff, ruff-format, mypy

remove tests
  baseten-performance-client/test_uuid_optimization.py
Due: ruff, ruff-format, mypy

fix error
  baseten-performance-client/core/src/errors.rs
Due: none

fix not reading response
  baseten-performance-client/core/src/http_client.rs
Due: none

fix tests
  baseten-performance-client/node_bindings/__test__/test_with_key.js
Due: none

fix tests
  baseten-performance-client/core/src/http_client.rs
Due: none

add new truss-encoder only build
  truss/base/trt_llm_config.py
  truss/contexts/docker_build_setup.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/trt_llm/config_checks.py
Due: ruff, ruff-format, mypy

add new truss-encoder only build
  pyproject.toml
  uv.lock
Due: uv-lock

uv-lock
  pyproject.toml
  uv.lock
Due: uv-lock

uv-lock
  truss/contexts/docker_build_setup.py
Due: ruff, ruff-format, mypy

fig serving image builder
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

fig serving image builder
  pyproject.toml
  uv.lock
Due: uv-lock

Watch external_package_dirs for seamless live development
  truss/remote/baseten/remote.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
