Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
        language: python
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: poetry run ruff format --force-exclude
        language: python
        files: \.(py|pyi)$
      - id: pyproject.toml
        name: pyproject.toml
        entry: poetry run python bin/pyproject_toml_linter.py
        language: python
        additional_dependencies: [tomlkit]
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true

TrainingPoller
  truss/cli/logs/training_log_watcher.py
  truss/cli/train.py
  truss/cli/train_metrics_display.py
Due: ruff, ruff-format, mypy

small updates
  truss/cli/logs/training_log_watcher.py
  truss/cli/train.py
  truss/cli/training_metrics_watcher.py
Due: ruff, ruff-format, mypy

fix(config): Include default transport kind in sparse config (#1570)
  truss/base/custom_types.py
  truss/base/trt_llm_config.py
  truss/base/truss_config.py
  truss/contexts/docker_build_setup.py
  truss/tests/test_config.py
  truss/tests/test_data/test_truss/config.yaml
Due: ruff, ruff-format, mypy

Bump version to 0.9.79
  pyproject.toml
Due: none

small refactor
  truss/cli/common.py
  truss/cli/logs/base_watcher.py
  truss/cli/logs/training_log_watcher.py
  truss/cli/metrics/training_metrics_watcher.py
  truss/cli/train.py
  truss/cli/training_metrics_watcher.py
  truss/cli/training_poller.py
Due: ruff, ruff-format, mypy

precommit
  truss/cli/common.py
  truss/cli/metrics/training_metrics_watcher.py
  truss/cli/training_poller.py
Due: ruff, ruff-format, mypy

remove storage
  truss/cli/metrics/training_metrics_watcher.py
Due: ruff, ruff-format, mypy

rename common func
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

dynamic coloring
  truss/cli/metrics/training_metrics_watcher.py
Due: ruff, ruff-format, mypy

offset minutes
  truss/cli/metrics/training_metrics_watcher.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

move files, offset minutes
  truss/cli/cli.py
  truss/cli/logs/training_log_watcher.py
  truss/cli/train/core.py
  truss/cli/train/metrics_watcher.py
  truss/cli/train/poller.py
Due: ruff, ruff-format, mypy

i think this is it
  truss/cli/cli.py
  truss/cli/logs/training_log_watcher.py
  truss/cli/train/metrics_watcher.py
  truss/cli/train/poller.py
Due: ruff, ruff-format, mypy

add unit test with heavy mocking
  truss/tests/cli/train/test_core.py
Due: ruff, ruff-format

lazy v1
  truss/templates/shared/lazy_data_resolver.py
  truss/tests/templates/core/server/test_lazy_data_resolver.py
Due: ruff, ruff-format, mypy

fix test
  truss/tests/templates/core/server/test_lazy_data_resolver_v2.py
Due: ruff, ruff-format

move resolved dir
  truss/templates/shared/lazy_data_resolver.py
Due: ruff, ruff-format, mypy

update unit timestamp
  truss/tests/templates/core/server/test_lazy_data_resolver_v2.py
Due: ruff, ruff-format

refactor init
  truss/tests/templates/core/server/test_lazy_data_resolver_v2.py
Due: ruff, ruff-format

remove: lazy data resolver v1 (#1576)
  truss/templates/shared/lazy_data_resolver.py
  truss/tests/templates/core/server/test_lazy_data_resolver.py
  truss/tests/templates/core/server/test_lazy_data_resolver_v2.py
Due: ruff, ruff-format, mypy

background prefetch
  truss/templates/shared/lazy_data_resolver.py
Due: ruff, ruff-format, mypy

block until download complete
  truss/templates/shared/lazy_data_resolver.py
  truss/tests/templates/core/server/test_lazy_data_resolver_v2.py
Due: ruff, ruff-format, mypy

lazy data resolver
  truss/templates/trtllm-briton/src/extension.py
Due: ruff, ruff-format, mypy

pr review
  truss/cli/cli.py
  truss/cli/train/core.py
  truss/cli/train/metrics_watcher.py
  truss/cli/train/poller.py
  truss/remote/baseten/api.py
  truss/tests/cli/train/test_core.py
Due: ruff, ruff-format, mypy

test train core
  truss/tests/cli/train/test_train_cli_core.py
Due: ruff, ruff-format

lazy data resolver
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/lib.rs
Due: none

remove unnecessary codes
  truss/cli/train/metrics_watcher.py
Due: ruff, ruff-format, mypy

add gil
  pyproject.toml
  truss/templates/server/requirements.txt
Due: none

add gil lock
  poetry.lock
Due: none

feat(truss): Add Metrics watching to truss train (#1574)
  truss/cli/cli.py
  truss/cli/common.py
  truss/cli/logs/base_watcher.py
  truss/cli/logs/training_log_watcher.py
  truss/cli/train/core.py
  truss/cli/train/metrics_watcher.py
  truss/cli/train/poller.py
  truss/remote/baseten/api.py
  truss/tests/cli/train/test_train_cli_core.py
Due: ruff, ruff-format, mypy

Mf/release gil truss transfer (#1578)
  poetry.lock
  pyproject.toml
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/lib.rs
  truss/templates/server/requirements.txt
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update pyproject.toml (#1579)
  pyproject.toml
Due: none

name to .block_until_download_complete()
  truss/templates/server/model_wrapper.py
  truss/tests/templates/core/server/test_lazy_data_resolver_v2.py
Due: ruff, ruff-format, mypy

add prefetch
  truss/templates/server/model_wrapper.py
  truss/templates/shared/lazy_data_resolver.py
  truss/tests/templates/core/server/test_lazy_data_resolver_v2.py
Due: ruff, ruff-format, mypy

rm: fetch
  truss/templates/shared/lazy_data_resolver.py
Due: ruff, ruff-format, mypy

add non blocking thread
  truss/templates/server/requirements.txt
Due: none

add non blocking thread
  pyproject.toml
Due: none

add rc
  truss/templates/server/requirements.txt
Due: none

Update trt_llm_config.py
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

name to .block_until_download_complete()
  truss/util/basetenpointer.py
Due: ruff, ruff-format, mypy
