Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

Increase graceful termination timeout.
  pyproject.toml
  uv.lock
Due: uv-lock

feat(loops): polish view tables and add sort to samplers view (#2444)
  truss/cli/loops_commands.py
  truss/tests/cli/test_loops_cli.py
Due: ruff, ruff-format, mypy

feat(train): print SSH commands after push, add `truss ssh --training-job-id`
  truss/cli/ssh_commands.py
  truss/cli/train_commands.py
  truss/tests/cli/test_ssh.py
Due: ruff, ruff-format, mypy

review comment remove some arcs
  baseten-performance-client/core/src/endpoint_routing.rs
  baseten-performance-client/core/src/split_policy.rs
Due: none

review comment remove some arcs for api key
  baseten-performance-client/core/src/endpoint_routing.rs
Due: none

remove some result types in selection of url
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/endpoint_routing.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/split_policy.rs
Due: none

add non-empty vec crate to avoid many result validation
  baseten-performance-client/Cargo.lock
  baseten-performance-client/Cargo.toml
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/src/endpoint_routing.rs
Due: none

bump rc versions
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/pyproject.toml
Due: none

feat(truss): Increase graceful termination timeout to 60 minutes (#2441)
  pyproject.toml
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/server/truss_server.py
  truss/templates/shared/util.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

fix client checking
  baseten-performance-client/core/src/client.rs
Due: none

Bump version to 0.18.0
  pyproject.toml
  uv.lock
Due: uv-lock

constant timeout is no vote
  baseten-performance-client/core/src/endpoint_routing.rs
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
  baseten-performance-client/python_bindings/src/lib.rs
Due: ruff, ruff-format

bump to 0.1.6
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/pyproject.toml
Due: none

some maintaince work for b10fs so its disabled for future versions
  truss-transfer/README.md
  truss-transfer/src/constants.rs
Due: none

bump truss-transfer version
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
Due: none

add cache mounts
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
  truss/templates/cache.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format, mypy

make rc
  pyproject.toml
  uv.lock
Due: uv-lock

Pass proxy/CA env vars through clean_uv_env
  truss/templates/base.Dockerfile.jinja
Due: none

restore uv lock
  pyproject.toml
  uv.lock
Due: uv-lock

less comments
  truss/templates/base.Dockerfile.jinja
Due: none

Send upgrade-available notice to stderr
  truss/cli/utils/output.py
  truss/cli/utils/self_upgrade.py
  truss/tests/cli/test_self_upgrade.py
Due: ruff, ruff-format, mypy

Add b300 to truss
  truss/base/truss_config.py
  truss/contexts/docker_build_setup.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

RC
  uv.lock
Due: uv-lock

address comments
  truss/contexts/image_builder/serving_image_builder.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format, mypy

fix uv lock
  uv.lock
Due: uv-lock

Add b300 to truss (#2443)
  truss/base/truss_config.py
  truss/contexts/docker_build_setup.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Add regression test for clean_uv_env passthrough
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format

Pass proxy/CA env vars through clean_uv_env (#2449)
  truss/templates/base.Dockerfile.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format

add cache mounts (#2448)
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
  truss/templates/cache.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format, mypy

Enable TrussChainlets to be entrypoints
  truss-chains/tests/test_truss_chainlet.py
  truss-chains/truss_chains/framework.py
Due: ruff, ruff-format, mypy

Send upgrade-available notice to stderr (#2450)
  truss/cli/utils/output.py
  truss/cli/utils/self_upgrade.py
  truss/tests/cli/test_self_upgrade.py
Due: ruff, ruff-format, mypy

feat(loops): add `truss loops checkpoints` view + deploy commands
  truss/cli/loops_checkpoint_viewer.py
  truss/cli/loops_commands.py
  truss/cli/train/checkpoint_viewer.py
  truss/cli/train/core.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/cli/train/types.py
  truss/cli/train_commands.py
  truss/tests/cli/test_loops_cli.py
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

fix(loops): mypy abstract-class instantiation + flaky output assertions
  truss/cli/loops_checkpoint_viewer.py
  truss/tests/cli/test_loops_cli.py
Due: ruff, ruff-format, mypy

Bump version to 0.18.1
  pyproject.toml
  uv.lock
Due: uv-lock

fix test
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format

fix test (#2453)
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format

Add request timeout and include exception detail in poll warning
  truss/remote/baseten/rest_client.py
  truss/remote/baseten/service.py
  truss/tests/remote/baseten/test_service.py
Due: ruff, ruff-format, mypy

feat(loops): polish checkpoints view + --checkpoint-ids on deploy
  truss/cli/loops_checkpoint_viewer.py
  truss/cli/loops_commands.py
  truss/cli/train/checkpoint_viewer.py
  truss/cli/train/core.py
  truss/cli/train/types.py
  truss/tests/cli/test_loops_cli.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
