Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff analyze and fix
  entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: python

ruff-format:
  name: ruff format
  entry: poetry run ruff format --force-exclude
  language: python

mypy:
  name: mypy-local
  entry: poetry run mypy
  language: python
  pass_filenames: true

use rc instead
  pyproject.toml
  uv.lock
Due: none

fix(truss): auto-detect checkpoint type rather than forcing user to input
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
Due: ruff, ruff-format, mypy

fix(truss): revert change in uv.lock file
  uv.lock
Due: none

fix(truss): auto-generate the uv lock file
  uv.lock
Due: none

fix(truss): delete model_weight_format field from user facing code
  truss-train/truss_train/definitions.py
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

add range download
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/constants.rs
  truss-transfer/src/core.rs
Due: none

fix core
  truss-transfer/Cargo.lock
  truss-transfer/src/core.rs
Due: none

fix core
  truss-transfer/src/core.rs
Due: none

fix(truss): clean up dead code
  truss-train/truss_train/definitions.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
Due: ruff, ruff-format, mypy

fix(truss): unit test fix
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format

bump version to 11
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
Due: none

refactor(truss): to stop hardcoding lora logic into deploy checkpoints BT-15099 (#1822)
  truss-train/tests/import/deploy_checkpoints_config.py
  truss-train/tests/import/project_with_deploy_checkpoints_config.py
  truss-train/tests/test_loader.py
  truss-train/truss_train/definitions.py
  truss/base/truss_config.py
  truss/cli/train/core.py
  truss/cli/train/deploy_checkpoints/__init__.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/cli/train/deploy_checkpoints/deploy_lora_checkpoints.py
  truss/cli/train/types.py
  truss/tests/cli/train/resources/test_deploy_from_checkpoint_config.yml
  truss/tests/cli/train/test_deploy_checkpoints.py
  uv.lock
Due: ruff, ruff-format, mypy

Use UV (#1855)
  .tool-versions
  Makefile
Due: none

fix integration test
  truss/truss_handle/truss_handle.py
Due: ruff, ruff-format, mypy

bump version
  pyproject.toml
  uv.lock
Due: none

add range downloader
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/core.rs
  truss-transfer/src/download.rs
  truss-transfer/src/download_core.rs
  truss-transfer/src/hf_transfer.rs
Due: none

add rc12 release
  truss-transfer/Cargo.toml
Due: none

fix constants
  truss-transfer/src/constants.rs
Due: none

fix constants
  truss-transfer/Cargo.toml
Due: none

add requirements.txt
  truss/templates/server/requirements.txt
Due: none

rc12
  pyproject.toml
Due: none

refactor(truss): move logic into helpers to make it more readable
  truss-train/truss_train/definitions.py
  truss/base/truss_config.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints_helpers.py
  truss/cli/train/deploy_checkpoints/deploy_full_checkpoints.py
  truss/cli/train/deploy_checkpoints/deploy_lora_checkpoints.py
Due: ruff, ruff-format, mypy

Remove test message
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

make lint happy
  truss/cli/train/deploy_checkpoints/deploy_lora_checkpoints.py
Due: ruff, ruff-format, mypy

fix(truss): add unit tests and refactor model_weight_format into a single entity
  truss-train/truss_train/definitions.py
  truss/base/truss_config.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/cli/train/deploy_checkpoints/deploy_full_checkpoints.py
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

fix test expectations
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format

remove redundant code
  pyproject.toml
  truss/truss_handle/truss_handle.py
  uv.lock
Due: ruff, ruff-format, mypy

fix(truss): use model name when avaliable in deployment config
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
Due: ruff, ruff-format, mypy

[BT-14521] Use env variable for start command in supervisord (#1839)
  pyproject.toml
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/cli/train/deploy_checkpoints/deploy_lora_checkpoints.py
  truss/templates/base.Dockerfile.jinja
  truss/tests/cli/train/resources/test_deploy_from_checkpoint_config.yml
  truss/tests/cli/train/test_deploy_checkpoints.py
  truss/truss_handle/truss_handle.py
  uv.lock
Due: ruff, ruff-format, mypy

Bump version to 0.11.0
  pyproject.toml
  uv.lock
Due: none

Bump version to 0.10.4
  pyproject.toml
  uv.lock
Due: none

fix chunk size calculation
  truss-transfer/src/hf_transfer.rs
Due: none

cargo lock
  truss-transfer/Cargo.lock
  truss-transfer/src/constants.rs
  truss-transfer/src/core.rs
  truss-transfer/src/download_core.rs
Due: none

remove redundant code
  truss/truss_handle/truss_handle.py
Due: ruff, ruff-format, mypy

allow run of precommit from GHA Web interface
  .github/workflows/pr.yml
Due: none

final version
  truss-transfer/src/constants.rs
  truss-transfer/src/download_core.rs
  truss-transfer/src/hf_transfer.rs
Due: none

lock
  pyproject.toml
  uv.lock
Due: none

rc25
  pyproject.toml
  truss-transfer/Cargo.toml
  uv.lock
Due: none

update rc
  truss/templates/server.Dockerfile.jinja
Due: none

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
