Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff analyze and fix
  entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: python

ruff-format:
  name: ruff format
  entry: poetry run ruff format --force-exclude
  language: python

mypy:
  name: mypy-local
  entry: poetry run mypy
  language: python
  pass_filenames: true

apply review comments
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/docker_server/supervisord.conf.jinja
Due: ruff, ruff-format, mypy

[BT-14521] Limit supervisord changes to checkpoint deployments only (#1823)
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
  truss/truss_handle/truss_handle.py
Due: ruff, ruff-format, mypy

fix(truss): add training job it to path prefix
  truss/cli/train/deploy_checkpoints.py
Due: ruff, ruff-format, mypy

fix(truss): llm based refactoring to move lora and normal checkpoints into a seperate file
  truss/cli/train/deploy_checkpoints.py
  truss/tests/cli/train/resources/test_deploy_from_checkpoint_config.yml
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

fix(truss): llm based refactoring to move lora and normal checkpoints into a seperate file
  truss/cli/train/deploy_checkpoints/__init__.py
Due: ruff, ruff-format, mypy

fix(truss): llm based refactoring to move lora and normal checkpoints into a seperate file
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/cli/train/deploy_checkpoints/deploy_lora_checkpoints.py
Due: ruff, ruff-format, mypy

fix(truss): llm based refactoring to move lora and normal checkpoints into a seperate file
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format

fix(truss): llm based refactoring to move lora and normal checkpoints into a seperate file
  truss/cli/train/core.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/cli/train/deploy_checkpoints/deploy_lora_checkpoints.py
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

Migrate truss from `poetry` to `uv`
  .github/actions/setup-python/action.yml
  .github/scripts/get-python-version-range.py
  .github/workflows/_build_truss_server_base_images_if_needed_shared.yml
  .github/workflows/_detect_version_changed_shared.yml
  .github/workflows/_integration_test_shared.yml
  .github/workflows/build-context-builder-image.yml
  .github/workflows/create_release_pr.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/smoketests.yml
  .pre-commit-config.yaml
  .python-version
  .tool-versions
  CONTRIBUTING.md
  bin/bump_truss_version.sh
  bin/codespace_post_create.sh
  bin/pyproject_toml_linter.py
  context_builder.Dockerfile
  docs/chains/doc_gen/README.md
  docs/contribute/base-images.md
  poetry.lock
  pyproject.toml
  truss/__init__.py
  truss/cli/utils/self_upgrade.py
  truss/tests/conftest.py
  truss/tests/test_data/context_builder_image_test/Dockerfile
  truss/util/path.py
  uv.lock
Due: ruff, ruff-format, mypy

Address comments
  .github/actions/setup-python/action.yml
  .github/workflows/_build_truss_server_base_images_if_needed_shared.yml
  .github/workflows/_integration_test_shared.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .github/workflows/smoketests.yml
  .pre-commit-config.yaml
  context_builder.Dockerfile
  pyproject.toml
Due: none

fix(truss): unit tests
  truss-train/tests/import/deploy_checkpoints_config.py
  truss-train/tests/import/project_with_deploy_checkpoints_config.py
  truss-train/tests/test_loader.py
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

Account for yanked releases (#1829)
  bin/bump_truss_version.sh
Due: none

fix(truss): remove useless code
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
Due: ruff, ruff-format, mypy

fix(truss): lint
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
Due: ruff, ruff-format, mypy

fix(truss): pr feedback
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

temporarily disable supervisord changes
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

Fix HF secret access
  truss/base/constants.py
  truss/contexts/image_builder/cache_warmer.py
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

temporarily disable supervisord changes (#1831)
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

Lint
  Makefile
  truss/contexts/image_builder/cache_warmer.py
Due: ruff, ruff-format, mypy

Update baseten-performance-client-nodejs.yml
  .github/workflows/baseten-performance-client-nodejs.yml
Due: none

fix(truss): remove model_weight_format in TrussConfig
  truss-train/tests/import/deploy_checkpoints_config.py
  truss-train/tests/import/project_with_deploy_checkpoints_config.py
  truss-train/truss_train/definitions.py
  truss/base/truss_config.py
  truss/cli/train/deploy_checkpoints/deploy_lora_checkpoints.py
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

fix(truss): assert exact vllm command
  truss/tests/cli/train/resources/test_deploy_from_checkpoint_config.yml
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format

fix pos
  .github/workflows/baseten-performance-client-nodejs.yml
Due: none

add nodejs
  .github/workflows/baseten-performance-client-nodejs.yml
Due: none

Bump version to 0.9.120
  pyproject.toml
Due: none

artifacts
  .github/workflows/baseten-performance-client-nodejs.yml
Due: none

add artifacts
  .github/workflows/baseten-performance-client-nodejs.yml
Due: none

yarn universal
  .github/workflows/baseten-performance-client-nodejs.yml
Due: none

expired performance client
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/python_bindings/Cargo.toml
Due: none

move artifacts
  .github/workflows/baseten-performance-client-nodejs.yml
Due: none

fix darvinuniversal
  .github/workflows/baseten-performance-client-nodejs.yml
Due: none

add requirement
  .github/workflows/baseten-performance-client-nodejs.yml
Due: none

napi version
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
Due: none

performance-client python rc 0.0.10rc0 - expiration defaults #1835
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/python_bindings/Cargo.toml
Due: none

client
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/python_bindings/Cargo.toml
Due: none

napi
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
Due: none

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
