Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: isort
        name: isort-local
        entry: poetry run isort
        language: system
        types: [python]
        pass_filenames: true
      - id: flake8
        name: flake8-local
        entry: poetry run flake8
        language: system
        types: [python]
        pass_filenames: true
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        args: ["--install-types", "--non-interactive"]
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
  - repo: https://github.com/tcort/markdown-link-check
    rev: "v3.10.3"
    hooks:
      - id: markdown-link-check
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        # It is recommended to specify the latest version of Python
        # supported by your project here, or alternatively use
        # pre-commit's default_language_version, see
        # https://pre-commit.com/#top_level-default_language_version
        language_version: python3.9

add unit test
  truss/tests/patch/test_calc_patch.py
Due: isort, flake8

Improve `truss watch`: minor improvements to CLI logs (#810)
  truss/cli/cli.py
  truss/cli/console.py
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

rename
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

is_ignored uses pathspec + change to .git in truss ignore
  truss/tests/util/test_path.py
  truss/util/.truss_ignore
  truss/util/path.py
Due: isort, flake8, mypy

update other logic to use pathspec
  truss/patch/calc_patch.py
  truss/patch/dir_signature.py
  truss/patch/hash.py
  truss/patch/utils.py
  truss/tests/patch/test_dir_signature.py
  truss/util/path.py
Due: isort, flake8, mypy

mv shadow truss out of path util
  truss/tests/test_control_truss_patching.py
  truss/truss_gatherer.py
  truss/util/path.py
Due: isort, flake8, mypy

fix lint
  truss/util/path.py
Due: isort, flake8, mypy

use ignore patterns in hash, signature
  truss/truss_handle.py
Due: isort, flake8, mypy

Bump version to 0.8.1
  pyproject.toml
Due: none

Bump version to 0.8.1rc1
  pyproject.toml
Due: none

add test_path unit tests
  truss/tests/util/test_path.py
Due: isort, flake8

add loguru changes
  truss/templates/server/common/truss_server.py
  truss/templates/server/model_wrapper.py
  truss/templates/shared/logging.py
Due: isort, flake8, mypy

add loguru changes
  pyproject.toml
Due: none

loguru
  pyproject.toml
Due: none

update poetry
  poetry.lock
Due: none

get header name correct
  truss/templates/server/common/truss_server.py
Due: isort, flake8, mypy

Add H100s.
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

Add H100s. (#816)
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

added loguru + test
  poetry.lock
  pyproject.toml
  truss/templates/control/requirements.txt
  truss/templates/server/requirements.txt
  truss/tests/test_model_inference.py
Due: isort, flake8

resolve issues
  truss/templates/server/common/truss_server.py
  truss/templates/shared/logging.py
Due: isort, flake8, mypy

[WIP][RFC] New Image Builder Interface
  truss-build/.tool-versions
  truss-build/README.md
  truss-build/poetry.lock
  truss-build/pyproject.toml
  truss-build/src/truss/build/__init__.py
  truss-build/src/truss/build/builder.py
  truss-build/src/truss/build/commands.py
  truss-build/src/truss/build/exceptions.py
  truss-build/src/truss/build/image.py
  truss-build/src/truss/build/utils.py
Due: isort, flake8, mypy

Bump version to 0.8.2
  pyproject.toml
Due: none

503 in case load has not succeeded yet.
  truss/templates/server/common/truss_server.py
  truss/templates/server/model_wrapper.py
  truss/tests/test_model_schema.py
Due: isort, flake8, mypy

[L] Support annotated functions & schema in Truss (#778)
  examples/annotated_types/config.yaml
  examples/annotated_types/model/__init__.py
  examples/annotated_types/model/model.py
  pyproject.toml
  truss/contexts/image_builder/image_builder.py
  truss/templates/server/common/schema.py
  truss/templates/server/common/truss_server.py
  truss/templates/server/model_wrapper.py
  truss/tests/helpers.py
  truss/tests/templates/server/test_schema.py
  truss/tests/test_model_inference.py
  truss/tests/test_model_schema.py
Due: isort, flake8, mypy

Bump version to 0.9.0
  pyproject.toml
Due: none

refactor
  truss/templates/trtllm/packages/constants.py
  truss/templates/trtllm/packages/schema.py
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/ensemble/config.pbtxt
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/postprocessing/1/model.py
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/postprocessing/config.pbtxt
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/preprocessing/1/model.py
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/preprocessing/config.pbtxt
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/tensorrt_llm/config.pbtxt
Due: isort, flake8, mypy

deleting old triton repo
  truss/templates/trtllm/packages/client.py
  truss/templates/trtllm/packages/inflight_batcher_llm/ensemble/config.pbtxt
  truss/templates/trtllm/packages/inflight_batcher_llm/postprocessing/1/model.py
  truss/templates/trtllm/packages/inflight_batcher_llm/postprocessing/config.pbtxt
  truss/templates/trtllm/packages/inflight_batcher_llm/preprocessing/1/model.py
  truss/templates/trtllm/packages/inflight_batcher_llm/preprocessing/config.pbtxt
  truss/templates/trtllm/packages/inflight_batcher_llm/tensorrt_llm/config.pbtxt
  truss/templates/trtllm/packages/utils.py
Due: isort, flake8, mypy

refactor model class
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/trtllm/model/model.py
Due: isort, flake8, mypy

clean up of duplicated code
  truss/templates/trtllm/model/model.py
  truss/templates/trtllm/packages/build_engine_utils.py
  truss/templates/trtllm/packages/client.py
  truss/templates/trtllm/packages/constants.py
Due: isort, flake8, mypy

Rename client to better match triton client
  truss/templates/trtllm/model/model.py
  truss/templates/trtllm/packages/triton_client.py
Due: isort, flake8, mypy

lint
  truss/templates/trtllm/model/model.py
  truss/templates/trtllm/packages/build_engine_utils.py
  truss/templates/trtllm/packages/constants.py
  truss/templates/trtllm/packages/schema.py
  truss/templates/trtllm/packages/triton_client.py
  truss/templates/trtllm/packages/utils.py
Due: isort, flake8, mypy

fix packages constant
  truss/templates/trtllm/packages/constants.py
Due: isort, flake8, mypy

build fix
  truss/templates/trtllm/model/model.py
Due: isort, flake8

inject logs into uvicorn.access
  truss/templates/server/common/truss_server.py
  truss/templates/shared/logging.py
Due: isort, flake8, mypy

thread-local filters
  truss/templates/server/common/truss_server.py
Due: isort, flake8, mypy

added loguru
  poetry.lock
  pyproject.toml
  truss/contexts/image_builder/util.py
  truss/templates/control/requirements.txt
  truss/templates/server/requirements.txt
Due: isort, flake8, mypy

bumped poetry.lock
  poetry.lock
Due: none

re run lock
  poetry.lock
Due: none

base image version tag matches truss version
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

bump version
  pyproject.toml
Due: none
