Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        # It is recommended to specify the latest version of Python
        # supported by your project here, or alternatively use
        # pre-commit's default_language_version, see
        # https://pre-commit.com/#top_level-default_language_version
        language_version: python3.9
  - repo: local
    hooks:
      - id: isort
        name: isort-local
        entry: poetry run isort
        language: system
        types: [python]
        pass_filenames: true
      - id: flake8
        name: flake8-local
        entry: poetry run flake8
        language: system
        types: [python]
        pass_filenames: true
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$|^slay.*
        pass_filenames: true
      - id: mypy
        name: mypy-local (3.9)
        entry: poetry run mypy
        language: python
        types: [python]
        files: ^slay.*
        args:
          - --python-version=3.9
        pass_filenames: true

WIP: Quality improvements by propogating values
  truss-chains/examples/transcribe/adapter.py
  truss-chains/examples/transcribe/data_types.py
  truss-chains/examples/transcribe/helpers.py
  truss-chains/examples/transcribe/transcribe.py
  truss-chains/examples/transcribe/whisper_model.py
Due: isort, flake8, mypy

* Override fix publish options for `create_chain`. * Don't create chains in `dryrun` / `only_generate_trusses` case. * Chain as model name prefix, since now we have chains organized directly.
  truss-chains/truss_chains/deploy.py
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

Review comments.
  truss-chains/truss_chains/cli.py
  truss-chains/truss_chains/code_gen.py
Due: isort, flake8, mypy

[Chains] Fixes from bug-bash (#989)
  truss-chains/truss_chains/__init__.py
  truss-chains/truss_chains/cli.py
  truss-chains/truss_chains/code_gen.py
  truss-chains/truss_chains/deploy.py
  truss-chains/truss_chains/framework.py
  truss/cli/cli.py
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

update briton server version
  pyproject.toml
  truss/constants.py
Due: isort, flake8, mypy

set version to rc
  pyproject.toml
Due: none

update briton server version (#992)
  pyproject.toml
  truss/constants.py
Due: isort, flake8, mypy

add kv cache free gpu mem fraction support to engine builder flow
  pyproject.toml
  truss/config/trt_llm.py
  truss/templates/trtllm-briton/model/model.py
Due: isort, flake8, mypy

add kv cache free gpu mem fraction support to engine builder flow
  pyproject.toml
  truss/config/trt_llm.py
  truss/constants.py
  truss/templates/trtllm-briton/model/model.py
Due: isort, flake8, mypy

Update version
  pyproject.toml
  truss/constants.py
Due: isort, flake8, mypy

adding whisper key
  truss/config/trt_llm.py
Due: isort, flake8, mypy

add kv cache free gpu mem fraction support to engine builder flow (#993)
  pyproject.toml
  truss/config/trt_llm.py
  truss/constants.py
  truss/templates/trtllm-briton/model/model.py
Due: isort, flake8, mypy

Fixed spelling in error message
  truss-chains/truss_chains/framework.py
Due: isort, flake8, mypy

Remove ChainService docs and unneeded
  docs/chains/doc_gen/generated-reference.mdx
  docs/chains/doc_gen/reference.patch
  docs/snippets/chains/API-reference.mdx
Due: none

Remove ChainService docs and unneeded (#995)
  docs/chains/doc_gen/generated-reference.mdx
  docs/chains/doc_gen/reference.patch
  docs/snippets/chains/API-reference.mdx
Due: none

Retry transient httpx exceptions that are making the logs unusable
  pyproject.toml
  truss/templates/control/control/endpoints.py
Due: isort, flake8, mypy

init
  truss/templates/trtllm-whisper/model/model.py
  truss/templates/trtllm-whisper/packages/whisper_trt/__init__.py
  truss/templates/trtllm-whisper/packages/whisper_trt/assets.py
  truss/templates/trtllm-whisper/packages/whisper_trt/batching.py
  truss/templates/trtllm-whisper/packages/whisper_trt/modeling.py
  truss/templates/trtllm-whisper/packages/whisper_trt/tokenizer.py
  truss/templates/trtllm-whisper/packages/whisper_trt/types.py
  truss/templates/trtllm-whisper/packages/whisper_trt/utils.py
  truss/templates/trtllm-whisper/requirements.txt
Due: isort, flake8, mypy

changes to serving image builder
  truss/config/trt_llm.py
  truss/constants.py
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

rm requirements.txt
  truss/templates/trtllm-whisper/requirements.txt
Due: none

improve trt llm example
  truss/templates/trtllm/model/model.py
  truss/templates/trtllm/packages/schema.py
Due: isort, flake8, mypy

small updates
  truss/templates/trtllm/model/model.py
  truss/templates/trtllm/packages/schema.py
Due: isort, flake8, mypy

bug fixes
  truss/config/trt_llm.py
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

more comments
  truss/templates/trtllm/packages/schema.py
Due: isort, flake8, mypy

Adding more types to TRT LLM config (#994)
  truss/config/trt_llm.py
Due: isort, flake8, mypy

updates function call
  truss/templates/trtllm/model/model.py
Due: isort, flake8

small flag
  truss/templates/trtllm/model/model.py
Due: isort, flake8

refactor
  truss/constants.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/trtllm-audio/model/model.py
  truss/templates/trtllm-audio/packages/whisper_trt/__init__.py
  truss/templates/trtllm-audio/packages/whisper_trt/assets.py
  truss/templates/trtllm-audio/packages/whisper_trt/batching.py
  truss/templates/trtllm-audio/packages/whisper_trt/modeling.py
  truss/templates/trtllm-audio/packages/whisper_trt/tokenizer.py
  truss/templates/trtllm-audio/packages/whisper_trt/types.py
  truss/templates/trtllm-audio/packages/whisper_trt/utils.py
Due: isort, flake8, mypy

remove extraneous comments
  truss/templates/trtllm-audio/model/model.py
Due: isort, flake8

constants
  truss/constants.py
Due: isort, flake8, mypy

review comments
  truss/config/trt_llm.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/trtllm-audio/model/model.py
  truss/templates/trtllm-audio/packages/whisper_trt/__init__.py
  truss/templates/trtllm-audio/packages/whisper_trt/batching.py
  truss/templates/trtllm-audio/packages/whisper_trt/utils.py
Due: isort, flake8, mypy

increment version
  pyproject.toml
Due: none

pin to python3.10
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

lint
  truss/config/trt_llm.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/trtllm-audio/model/model.py
  truss/templates/trtllm-audio/packages/whisper_trt/__init__.py
  truss/templates/trtllm-audio/packages/whisper_trt/batching.py
  truss/templates/trtllm-audio/packages/whisper_trt/modeling.py
  truss/templates/trtllm-audio/packages/whisper_trt/tokenizer.py
  truss/templates/trtllm-audio/packages/whisper_trt/types.py
  truss/templates/trtllm-audio/packages/whisper_trt/utils.py
Due: isort, flake8, mypy

Add new template to Truss (#997)
  pyproject.toml
  truss/config/trt_llm.py
  truss/constants.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/trtllm-audio/model/model.py
  truss/templates/trtllm-audio/packages/whisper_trt/__init__.py
  truss/templates/trtllm-audio/packages/whisper_trt/assets.py
  truss/templates/trtllm-audio/packages/whisper_trt/batching.py
  truss/templates/trtllm-audio/packages/whisper_trt/modeling.py
  truss/templates/trtllm-audio/packages/whisper_trt/tokenizer.py
  truss/templates/trtllm-audio/packages/whisper_trt/types.py
  truss/templates/trtllm-audio/packages/whisper_trt/utils.py
Due: isort, flake8, mypy

improvements to config checking for lms
  truss/cli/cli.py
  truss/constants.py
  truss/truss_config.py
  truss/truss_spec.py
  truss/util/huggingface.py
  truss/validation.py
Due: isort, flake8, mypy

commit hooks
  truss/templates/trtllm/model/model.py
  truss/templates/trtllm/packages/schema.py
Due: isort, flake8, mypy

create RAG example for docs
  truss-chains/examples/rag/README.md
  truss-chains/examples/rag/call_rag.py
  truss-chains/examples/rag/rag_chain.py
Due: isort, flake8, mypy

Address review comments
  .python-version
  truss-chains/examples/rag/README.md
  truss-chains/examples/rag/rag_chain.py
Due: isort, flake8, mypy
