Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        # It is recommended to specify the latest version of Python
        # supported by your project here, or alternatively use
        # pre-commit's default_language_version, see
        # https://pre-commit.com/#top_level-default_language_version
        language_version: python3.9
  - repo: local
    hooks:
      - id: isort
        name: isort-local
        entry: poetry run isort
        language: system
        types: [python]
        pass_filenames: true
      - id: flake8
        name: flake8-local
        entry: poetry run flake8
        language: system
        types: [python]
        pass_filenames: true
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$|^truss-chains/.*
        pass_filenames: true
      - id: mypy
        name: mypy-local (3.9)
        entry: poetry run mypy
        language: python
        types: [python]
        files: ^truss-chains/.*
        args:
          - --python-version=3.9
        exclude: helpers.py$|whisper.py$|data_types.py$|transcribe.py$ # Duplicate module error.
        pass_filenames: true

Update example.
  truss-chains/examples/audio-transcription/transcribe.py
Due: isort, flake8

Remove old transcribe example (#1011)
  truss-chains/examples/audio-transcription/transcribe.py
  truss-chains/examples/transcribe/README.md
  truss-chains/examples/transcribe/adapter.py
  truss-chains/examples/transcribe/data_types.py
  truss-chains/examples/transcribe/helpers.py
  truss-chains/examples/transcribe/transcribe.py
  truss-chains/examples/transcribe/whisper.py
Due: isort, flake8, mypy

init
  truss/cli/cli.py
  truss/util/config_checks.py
Due: isort, flake8, mypy

better naming
  truss/cli/cli.py
  truss/util/config_checks.py
Due: isort, flake8, mypy

update trtllm template so ModelInput is forward compatible (#1010)
  truss/templates/trtllm/model/model.py
  truss/templates/trtllm/packages/schema.py
Due: isort, flake8, mypy

another pass
  docs/snippets/config/trt-llm-params.mdx
Due: none

review
  docs/snippets/config/trt-llm-params.mdx
Due: none

add s3 to CheckpointSource enum
  truss/config/trt_llm.py
Due: isort, flake8, mypy

Update doc gen.
  docs/chains/doc_gen/API-reference.mdx
  docs/chains/doc_gen/README.md
  docs/chains/doc_gen/generate_reference.py
  docs/chains/doc_gen/generated-reference.mdx
  docs/chains/doc_gen/mdx_adapter.py
  docs/chains/doc_gen/reference.patch
  docs/snippets/chains/TOC.mdx
  truss-chains/truss_chains/definitions.py
  truss-chains/truss_chains/example_chainlet.py
  truss-chains/truss_chains/public_api.py
Due: isort, flake8, mypy

[chains] Fixes: status polling timeout, unify example code.
  truss-chains/examples/README.md
  truss-chains/examples/audio-transcription/README.md
  truss-chains/examples/audio-transcription/helpers.py
  truss-chains/examples/audio-transcription/transcribe.py
  truss-chains/examples/mistral/mistral_chainlet.py
  truss-chains/examples/rag/README.md
  truss-chains/examples/rag/call_rag.py
  truss-chains/examples/rag/rag_chain.py
  truss-chains/examples/text_to_num/main.py
  truss-chains/examples/text_to_num/sub_package/__init__.py
  truss-chains/examples/text_to_num/sub_package/shared_chainlet.py
  truss-chains/examples/whisper/whisper.py
  truss-chains/truss_chains/deploy.py
  truss/cli/cli.py
Due: isort, flake8, mypy

Format CLI links and add status page.
  .pre-commit-config.yaml
  truss-chains/truss_chains/deploy.py
  truss-chains/truss_chains/example_chainlet.py
  truss/cli/cli.py
Due: isort, flake8, mypy

[chains] Fixes: status polling timeout, unify example code updat doc gen. (#1014)
  .pre-commit-config.yaml
  docs/chains/doc_gen/API-reference.mdx
  docs/chains/doc_gen/README.md
  docs/chains/doc_gen/generate_reference.py
  docs/chains/doc_gen/generated-reference.mdx
  docs/chains/doc_gen/mdx_adapter.py
  docs/chains/doc_gen/reference.patch
  docs/snippets/chains/TOC.mdx
  truss-chains/examples/README.md
  truss-chains/examples/audio-transcription/README.md
  truss-chains/examples/audio-transcription/helpers.py
  truss-chains/examples/audio-transcription/transcribe.py
  truss-chains/examples/mistral/mistral_chainlet.py
  truss-chains/examples/rag/README.md
  truss-chains/examples/rag/call_rag.py
  truss-chains/examples/rag/rag_chain.py
  truss-chains/examples/text_to_num/main.py
  truss-chains/examples/text_to_num/sub_package/__init__.py
  truss-chains/examples/text_to_num/sub_package/shared_chainlet.py
  truss-chains/examples/whisper/whisper.py
  truss-chains/truss_chains/definitions.py
  truss-chains/truss_chains/deploy.py
  truss-chains/truss_chains/example_chainlet.py
  truss-chains/truss_chains/public_api.py
  truss/cli/cli.py
Due: isort, flake8, mypy

Grammar
  pyproject.toml
Due: none

Add comment
  pyproject.toml
Due: none

Ruff fixes
  docs/chains/doc_gen/generate_reference.py
Due: isort, flake8, mypy

Remove extra newline
  pyproject.toml
Due: none

Address feedback
  pyproject.toml
  truss/__init__.py
  truss/cli/__init__.py
Due: isort, flake8, mypy

Reformat
  docs/chains/doc_gen/generate_reference.py
  docs/chains/doc_gen/mdx_adapter.py
  truss-chains/truss_chains/example_chainlet.py
Due: isort, flake8, mypy

Address comments
  pyproject.toml
  truss-chains/truss_chains/code_gen.py
Due: isort, flake8, mypy

Rebase on main
  poetry.lock
  truss-chains/examples/audio-transcription/helpers.py
  truss-chains/examples/audio-transcription/transcribe.py
  truss-chains/examples/audio-transcription/whisper_chainlet.py
  truss-chains/examples/mistral/mistral_chainlet.py
  truss-chains/truss_chains/code_gen.py
  truss-chains/truss_chains/deploy.py
  truss/cli/cli.py
  truss/templates/control/control/helpers/truss_patch/requirement_name_identifier.py
  truss/templates/trtllm-audio/packages/whisper_trt/__init__.py
  truss/templates/trtllm-audio/packages/whisper_trt/batching.py
  truss/templates/trtllm-audio/packages/whisper_trt/modeling.py
Due: isort, flake8, mypy

Enforce chains docs sync
  .github/workflows/pr.yml
Due: none

Diff
  .github/workflows/integration-tests.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .github/workflows/release-truss-utils.yml
Due: none

re-add chains docs
  docs/chains/doc_gen/API-reference.mdx
  docs/chains/doc_gen/README.md
  docs/chains/doc_gen/generate_reference.py
  docs/chains/doc_gen/generated-reference.mdx
  docs/chains/doc_gen/mdx_adapter.py
  docs/chains/doc_gen/reference.patch
  docs/chains/doc_gen/sphinx_config.py
Due: isort, flake8, mypy

Update
  .github/actions/setup-python/action.yml
  .github/workflows/pr.yml
Due: none

[chains] Add symbols to __all__
  pyproject.toml
  truss-chains/truss_chains/__init__.py
Due: isort, flake8, mypy

Add __all__ to other files
  truss/__init__.py
  truss/cli/__init__.py
Due: isort, flake8, mypy

Add favicon back
  docs/favicon.svg
Due: none

[chains] Add symbols to __all__ (#1016)
  docs/favicon.svg
  pyproject.toml
  truss-chains/truss_chains/__init__.py
  truss/__init__.py
  truss/cli/__init__.py
Due: isort, flake8, mypy

Default values for arguments
  truss-chains/tests/itest_chain/itest_chain.py
  truss-chains/truss_chains/code_gen.py
  truss-chains/truss_chains/definitions.py
  truss-chains/truss_chains/framework.py
  truss-chains/truss_chains/utils.py
Due: isort, flake8, mypy

Explicit test of default args.
  truss-chains/tests/chains_test.py
  truss-chains/tests/itest_chain/itest_chain.py
  truss-chains/truss_chains/utils.py
Due: isort, flake8, mypy

Fix test
  truss-chains/tests/chains_test.py
Due: isort, flake8, mypy

Default values for arguments (#991)
  truss-chains/tests/chains_test.py
  truss-chains/tests/itest_chain/itest_chain.py
  truss-chains/truss_chains/code_gen.py
  truss-chains/truss_chains/definitions.py
  truss-chains/truss_chains/framework.py
  truss-chains/truss_chains/utils.py
Due: isort, flake8, mypy

init
  truss/templates/trtllm/packages/constants.py
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/postprocessing/1/model.py
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/preprocessing/1/model.py
Due: isort, flake8, mypy

Fix dev/staging API calls.
  truss/remote/baseten/api.py
Due: isort, flake8, mypy

Fix dev/staging API calls. (#1018)
  truss/remote/baseten/api.py
Due: isort, flake8, mypy

change gemm default to auto
  truss/config/trt_llm.py
Due: isort, flake8, mypy

change gemm default to auto (#1019)
  truss/config/trt_llm.py
Due: isort, flake8, mypy
