Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

performance-client: better cancellations (#2051)
  baseten-performance-client/Cargo.lock
  baseten-performance-client/README.md
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/src/cancellation.rs
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/constants.rs
  baseten-performance-client/core/src/http.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/core/src/utils.rs
  baseten-performance-client/core/tests/integration_test.rs
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/python_bindings/tests/integration_fastapi_server.py
Due: ruff, ruff-format, mypy

truss config
  truss/base/truss_config.py
Due: ruff, ruff-format, mypy

cache internal config fix
  truss/tests/test_config.py
Due: ruff, ruff-format

add use_volume=False everywhere
  truss/tests/test_config.py
  truss/tests/test_data/test_truss_server_model_cache_v1/config.yaml
Due: ruff, ruff-format

add use_volume=False everywhere
  truss/tests/test_config.py
Due: ruff, ruff-format

fix test
  truss/tests/test_config.py
Due: ruff, ruff-format

Model cache use_volume: bool and revision error string. (#2054)
  truss-chains/examples/mistral/mistral_chainlet.py
  truss/base/truss_config.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_config.py
  truss/tests/test_data/test_truss_server_model_cache_v1/config.yaml
Due: ruff, ruff-format, mypy

24rc0
  baseten-performance-client/Cargo.lock
  pyproject.toml
Due: uv-lock

Limit websockets version
  pyproject.toml
  uv.lock
Due: uv-lock

Pin higher version of uvicorn, use newer websockets protocol
  truss/templates/control/control/server.py
  truss/templates/control/requirements.txt
  truss/templates/server/requirements.txt
  truss/templates/server/truss_server.py
Due: ruff, ruff-format, mypy

Bump version
  pyproject.toml
  uv.lock
Due: uv-lock

update versions
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/README.md
Due: none

Pin higher version of uvicorn, use newer websockets protocol (#2057)
  pyproject.toml
  truss/templates/control/control/server.py
  truss/templates/control/requirements.txt
  truss/templates/server/requirements.txt
  truss/templates/server/truss_server.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

Revert "Pin higher version of uvicorn, use newer websockets protocol (#2057)"
  pyproject.toml
  truss/templates/control/control/server.py
  truss/templates/control/requirements.txt
  truss/templates/server/requirements.txt
  truss/templates/server/truss_server.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

Don't revert `rc` version
  pyproject.toml
  uv.lock
Due: uv-lock

Revert uvicorn upgrade (#2058)
  truss/templates/control/control/server.py
  truss/templates/control/requirements.txt
  truss/templates/server/requirements.txt
  truss/templates/server/truss_server.py
Due: ruff, ruff-format, mypy

24rc0 (#2055)
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/README.md
  pyproject.toml
Due: uv-lock

feat(fix): team picker appearing when model exists in exactly one team
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

filter chains by team_id server side
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

fix(truss): team picker appearing when model exists in non-default team (#2052)
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

include deploying logs
  truss/cli/train/poller.py
Due: ruff, ruff-format, mypy

job logging state
  uv.lock
Due: uv-lock

descriptive secret name
  truss-transfer/src/constants.rs
Due: none

feat(truss): include deploying logs when running --tail (#2059)
  truss/cli/train/poller.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

secret base path
  truss-transfer/src/secrets.rs
Due: none

update
  truss-transfer/src/secrets.rs
Due: none

Bump version to 0.11.24
  pyproject.toml
  uv.lock
Due: uv-lock

update rc
  pyproject.toml
Due: uv-lock

format
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

update the lock
  pyproject.toml
Due: uv-lock

add pre-signed url;s
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/create/aws_metadata.rs
  truss-transfer/src/create/azure_metadata.rs
  truss-transfer/src/create/providers/aws.rs
  truss-transfer/src/create/providers/azure.rs
  truss-transfer/src/download.rs
  truss-transfer/src/download_core.rs
Due: none

clippy fix
  truss-transfer/src/download_core.rs
  truss-transfer/src/hf_transfer.rs
Due: none

revofrmat files
  truss-transfer/src/cloud_range_download.rs
  truss-transfer/src/download_core.rs
  truss-transfer/src/lib.rs
  truss-transfer/tests/test_create_bptr_with_aws.py
Due: ruff, ruff-format, mypy

revofrmat files
  truss-transfer/src/download_core.rs
Due: none

bypass b10fs
  truss-transfer/src/hf_transfer.rs
Due: none

bypass b10fs
  truss-transfer/src/download_core.rs
  truss-transfer/src/hf_transfer.rs
Due: none

hf transfer performance writes
  truss-transfer/src/hf_transfer.rs
Due: none

changes
  truss-transfer/src/hf_transfer.rs
Due: none

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
