Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
        language: python
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: poetry run ruff format --force-exclude
        language: python
        files: \.(py|pyi)$
      - id: pyproject.toml
        name: pyproject.toml
        entry: poetry run python bin/pyproject_toml_linter.py
        language: python
        additional_dependencies: [tomlkit]
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true

add 0.0.9 of truss-transfer (#1557)
  poetry.lock
  pyproject.toml
  truss-transfer/src/lib.rs
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/requirements.txt
Due: none

project name
  truss/cli/train.py
Due: ruff, ruff-format, mypy

bump
  pyproject.toml
  truss/base/constants.py
Due: ruff, ruff-format, mypy

bump briton
  pyproject.toml
  truss/base/constants.py
Due: ruff, ruff-format, mypy

bump briton (#1558)
  pyproject.toml
  truss/base/constants.py
Due: ruff, ruff-format, mypy

bump versions
  pyproject.toml
  truss/base/constants.py
Due: ruff, ruff-format, mypy

bump versions (#1559)
  pyproject.toml
  truss/base/constants.py
Due: ruff, ruff-format, mypy

Bump version to 0.9.78
  pyproject.toml
Due: none

pr review
  truss/cli/train.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

pre-commit
  truss/cli/train.py
Due: ruff, ruff-format, mypy

Revert "Add the preserve-env-instance-type flag to 'truss push' (#1536)"
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_core.py
Due: ruff, ruff-format, mypy

Revert "Add the preserve-env-instance-type flag to 'truss push' (#1536)" (#1563)
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_core.py
Due: ruff, ruff-format, mypy

truss train cli improvements (#1547)
  truss/cli/cli.py
  truss/cli/train.py
Due: ruff, ruff-format, mypy

add max usage
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/lib.rs
Due: none

add max usage (#1566)
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/lib.rs
Due: none

Revert "Revert "Add the preserve-env-instance-type flag to 'truss push' (#153…"
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_core.py
Due: ruff, ruff-format, mypy

Add B200 accelerator
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Reverse the default for preserve-env-instance-type and adjust output
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_api.py
Due: ruff, ruff-format, mypy

fix(config): Fix parsing of empty 'transport', use versions instead of image refs for MP overrides
  truss/base/trt_llm_config.py
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Update blake3 dep, remove dockerfile, simplify build
  context_builder.Dockerfile
  poetry.lock
  pyproject.toml
  truss/base/constants.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/contexts/local_loader/docker_build_emulator.py
  truss/contexts/local_loader/dockerfile_parser.py
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/test_requirements_file_truss/requirements.txt
Due: ruff, ruff-format, mypy

fix(config): Fix parsing of empty 'transport', use versions instead of image refs for MP overrides (#1569)
  truss/base/trt_llm_config.py
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Update blake3 dep, remove dockerfile, simplify build (#1561)
  context_builder.Dockerfile
  poetry.lock
  pyproject.toml
  truss/base/constants.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/contexts/local_loader/docker_build_emulator.py
  truss/contexts/local_loader/dockerfile_parser.py
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/test_requirements_file_truss/requirements.txt
Due: ruff, ruff-format, mypy

Add B200 accelerator (#1568)
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Add served_model_name to TrussTRTLLMRuntimeConfiguration
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Update TRT-LLM config test
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format

Bump version
  pyproject.toml
Due: none

Add served_model_name to TrussTRTLLMRuntimeConfiguration (#1571)
  pyproject.toml
  truss/base/trt_llm_config.py
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format, mypy

Bump version to 0.9.79
  pyproject.toml
Due: none

fix(config): Include default transport kind in sparse config
  truss/base/custom_types.py
  truss/base/trt_llm_config.py
  truss/base/truss_config.py
  truss/contexts/docker_build_setup.py
  truss/tests/test_config.py
  truss/tests/test_data/test_truss/config.yaml
Due: ruff, ruff-format, mypy

Update constants.py
  truss/base/constants.py
Due: ruff, ruff-format, mypy

Update constants.py (#1573)
  truss/base/constants.py
Due: ruff, ruff-format, mypy

metrics start
  truss/cli/cli.py
  truss/cli/train.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

working
  truss/cli/cli.py
  truss/cli/logs/training_log_watcher.py
  truss/cli/train.py
  truss/cli/train_metrics_display.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy
