Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: isort
        name: isort-local
        entry: poetry run isort
        language: system
        types: [python]
        pass_filenames: true
      - id: flake8
        name: flake8-local
        entry: poetry run flake8
        language: system
        types: [python]
        pass_filenames: true
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        args: ["--install-types", "--non-interactive"]
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
  - repo: https://github.com/tcort/markdown-link-check
    rev: "v3.10.3"
    hooks:
      - id: markdown-link-check
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        # It is recommended to specify the latest version of Python
        # supported by your project here, or alternatively use
        # pre-commit's default_language_version, see
        # https://pre-commit.com/#top_level-default_language_version
        language_version: python3.9

Bump truss version in control server (#350)
  pyproject.toml
  truss/templates/control/requirements.txt
Due: none

Publish 0.4.8
  pyproject.toml
Due: none

Publish 0.4.8 (#351)
  pyproject.toml
Due: none

WIP: Emulate Docker build to run server locally
  poetry.lock
  pyproject.toml
  truss/contexts/local_loader/local_server_loader.py
  truss/truss_handle.py
  truss/util/path.py
Due: isort, flake8, mypy

Checkpoint: Working on linux for server launch
  truss/contexts/local_loader/local_server_loader.py
  truss/util/path.py
Due: isort, flake8, mypy

Added env resolution and workdir support
  truss/contexts/local_loader/local_server_loader.py
Due: isort, flake8, mypy

Working live reload server
  truss/contexts/local_loader/local_server_loader.py
  truss/templates/server/local_inference_server.py
  truss/truss_handle.py
Due: isort, flake8, mypy

Fix deps
  poetry.lock
  pyproject.toml
Due: none

Add cli command; needs graceful term
  truss/cli.py
  truss/contexts/local_loader/local_server_loader.py
Due: isort, flake8, mypy

Graceful termination with daemon Thread
  truss/contexts/local_loader/local_server_loader.py
Due: isort, flake8, mypy

Add port setting support
  truss/cli.py
  truss/contexts/local_loader/local_server_loader.py
  truss/truss_handle.py
Due: isort, flake8, mypy

Don't use json logger locally for reability
  truss/contexts/local_loader/local_server_loader.py
  truss/templates/server/common/truss_server.py
  truss/templates/server/local_inference_server.py
Due: isort, flake8, mypy

Split up files for readability and testing
  truss/contexts/local_loader/local_server_loader.py
  truss/contexts/local_loader/truss_file_watcher.py
Due: isort, flake8, mypy

Reformat a little
  truss/templates/server/common/truss_server.py
Due: isort, flake8, mypy

Refactor a bit more
  truss/contexts/local_loader/local_server_loader.py
Due: isort, flake8, mypy

Some review comments
  truss/cli.py
  truss/contexts/local_loader/local_server_loader.py
  truss/contexts/local_loader/truss_file_syncer.py
  truss/truss_handle.py
Due: isort, flake8, mypy

Remove debug print
  truss/templates/server/common/truss_server.py
Due: isort, flake8, mypy

Handle some of the review comments
  truss/cli.py
  truss/contexts/local_loader/local_server_loader.py
  truss/truss_gatherer.py
  truss/truss_handle.py
  truss/util/path.py
Due: isort, flake8, mypy

Add spinners for loading state
  poetry.lock
  pyproject.toml
  truss/contexts/local_loader/local_server_loader.py
Due: isort, flake8, mypy

Update base-images.md
  docs/develop/base-images.md
Due: none

revised docs
  ROADMAP.md
  docs/SUMMARY.md
  docs/develop/base-images.md
Due: none

re-add roadmap, I'll remove that doc in a separate PR
  ROADMAP.md
Due: none

lint
  ROADMAP.md
  docs/SUMMARY.md
  docs/develop/base-images.md
Due: none

Update base-images.md (#323)
  docs/SUMMARY.md
  docs/develop/base-images.md
Due: none

Add custom base image example for Nemo Titanet
  examples/nemo-titanet/config.yaml
  examples/nemo-titanet/examples.yaml
  examples/nemo-titanet/model/__init__.py
  examples/nemo-titanet/model/model.py
Due: isort, flake8

Update review comments
  pyproject.toml
  truss/cli.py
  truss/contexts/local_loader/local_server_loader.py
  truss/contexts/local_loader/truss_file_syncer.py
Due: isort, flake8, mypy

changelog for Truss 0.4.8
  docs/CHANGELOG.md
Due: none

changelog for Truss 0.4.8 (#353)
  docs/CHANGELOG.md
Due: none

typo
  truss/contexts/local_loader/truss_file_syncer.py
Due: isort, flake8, mypy

Fix link lint
  examples/controlnet-scribble/README.md
Due: none

Add readme
  examples/nemo-titanet/README.md
Due: none

Add custom base image example for Nemo Titanet (#352)
  examples/controlnet-scribble/README.md
  examples/nemo-titanet/README.md
  examples/nemo-titanet/config.yaml
  examples/nemo-titanet/examples.yaml
  examples/nemo-titanet/model/__init__.py
  examples/nemo-titanet/model/model.py
Due: isort, flake8

Run live reload server locally (#319)
  poetry.lock
  pyproject.toml
  truss/cli.py
  truss/contexts/local_loader/local_server_loader.py
  truss/contexts/local_loader/truss_file_syncer.py
  truss/templates/server/common/truss_server.py
  truss/templates/server/local_inference_server.py
  truss/truss_gatherer.py
  truss/truss_handle.py
  truss/util/path.py
Due: isort, flake8, mypy

adding error handler
  truss/templates/control/control/endpoints.py
  truss/templates/control/control/helpers/errors.py
  truss/templates/control/control/helpers/inference_server_process_controller.py
Due: isort, flake8, mypy

increment version
  pyproject.toml
Due: none

adding dockerfile
  pyproject.toml
Due: none

adding missing deps
  pyproject.toml
Due: none

init
  tester/config.yaml
  tester/examples.yaml
  tester/model/__init__.py
  tester/model/eggs/hey.txt
  tester/model/model.py
  truss/truss_gatherer.py
  truss/truss_handle.py
  truss/util/path.py
  truss/util/python.gitignore
Due: isort, flake8, mypy

missing deps
  pyproject.toml
Due: none
