Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

isort:
  name: isort-local
  entry: poetry run isort
  language: system
  pass_filenames: true

flake8:
  name: flake8-local
  entry: poetry run flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy-local (3.9)
  entry: poetry run mypy
  language: python
  args:
  - --python-version=3.9
  pass_filenames: true

Bump pyproject version.
  pyproject.toml
  truss/templates/control/control/endpoints.py
Due: isort, flake8, mypy

test use with data
  truss-chains/examples/RAG/main.py
  truss-chains/examples/RAG/vector_data/chroma/2ee3c0df-8c3d-4781-9ecc-b6d82d94faec/data_level0.bin
  truss-chains/examples/RAG/vector_data/chroma/2ee3c0df-8c3d-4781-9ecc-b6d82d94faec/length.bin
  truss-chains/examples/RAG/vector_data/testfile.db
Due: isort, flake8, mypy

WIP
  truss-chains/examples/RAG/main.py
  truss-chains/examples/RAG/requirements.txt
  truss-chains/examples/RAG/vector_data/chroma/2ee3c0df-8c3d-4781-9ecc-b6d82d94faec/data_level0.bin
  truss-chains/examples/RAG/vector_data/chroma/2ee3c0df-8c3d-4781-9ecc-b6d82d94faec/length.bin
  truss-chains/truss_chains/definitions.py
Due: isort, flake8, mypy

new truss.
  pyproject.toml
  truss/templates/control/control/application.py
  truss/templates/control/control/endpoints.py
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/control/control/server.py
  truss/templates/control/requirements.txt
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/nginx.conf
  truss/templates/server/run.sh
Due: isort, flake8, mypy

add truss docs to chroma
  truss-chains/examples/RAG/vector_data/chroma/chroma.sqlite3
Due: none

add truss docs to chroma
  truss-chains/examples/RAG/vector_data/chroma/c19fafef-f04c-4103-8273-ea99513baee0/data_level0.bin
  truss-chains/examples/RAG/vector_data/chroma/c19fafef-f04c-4103-8273-ea99513baee0/header.bin
  truss-chains/examples/RAG/vector_data/chroma/c19fafef-f04c-4103-8273-ea99513baee0/length.bin
  truss-chains/examples/RAG/vector_data/chroma/c19fafef-f04c-4103-8273-ea99513baee0/link_lists.bin
Due: none

add rest api data
  truss-chains/examples/RAG/vector_data/chroma/chroma.sqlite3
Due: none

WIP
  truss-chains/examples/RAG/client.py
  truss-chains/examples/RAG/main.py
  truss-chains/examples/RAG/requirements.txt
  truss-chains/truss_chains/stub.py
Due: isort, flake8, mypy

Fix nginx.
  pyproject.toml
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/server/nginx.conf
Due: isort, flake8, mypy

Addcess.
  pyproject.toml
  truss/templates/control/control/helpers/inference_server_process_controller.py
Due: isort, flake8, mypy

Change system prompts and logging
  truss-chains/examples/RAG/client.py
  truss-chains/examples/RAG/main.py
  truss-chains/examples/RAG/vector_data/chroma/c19fafef-f04c-4103-8273-ea99513baee0/data_level0.bin
  truss-chains/examples/RAG/vector_data/chroma/c19fafef-f04c-4103-8273-ea99513baee0/length.bin
Due: isort, flake8, mypy

Fixed thing.
  pyproject.toml
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/server/nginx.conf
Due: isort, flake8, mypy

add corpus creation
  truss-chains/examples/RAG/create_corpus.py
Due: isort, flake8, mypy

Add pretty print
  truss-chains/examples/RAG/main.py
  truss-chains/examples/RAG/vector_data/chroma/2ee3c0df-8c3d-4781-9ecc-b6d82d94faec/data_level0.bin
  truss-chains/examples/RAG/vector_data/chroma/2ee3c0df-8c3d-4781-9ecc-b6d82d94faec/length.bin
Due: isort, flake8, mypy

Add support for the truss plan command
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/remote.py
  truss/remote/truss_remote.py
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

Configurable RPC retries (#912)
  truss-chains/tests/chains_test.py
  truss-chains/tests/itest_chain/itest_chain.py
  truss-chains/tests/itest_chain/user_package/shared_chainlet.py
  truss-chains/truss_chains/__init__.py
  truss-chains/truss_chains/code_gen.py
  truss-chains/truss_chains/definitions.py
  truss-chains/truss_chains/deploy.py
  truss-chains/truss_chains/framework.py
  truss-chains/truss_chains/public_api.py
  truss-chains/truss_chains/stub.py
  truss-chains/truss_chains/utils.py
  truss/cli/cli.py
  truss/truss_handle.py
Due: isort, flake8, mypy

Test updating content.
  docs/chains/chaining-chainlets.mdx
Due: none

Fix.
  docs/chains/chaining-chainlets.mdx
Due: none

Try changing content.
  docs/chains/intro.mdx
Due: none

Add links at teh bottom of each page.
  docs/chains/chaining-chainlets.mdx
  docs/chains/deps-and-resources.mdx
  docs/chains/getting-started.mdx
  docs/chains/intro.mdx
  docs/mint.json
Due: none

Add deps-and-resources section.
  .vscode/settings.json
  docs/chains/chaining-chainlets.mdx
  docs/chains/deps-and-resources.mdx
  docs/chains/getting-started.mdx
  docs/chains/intro.mdx
Due: none

Small changes.
  docs/chains/chaining-chainlets.mdx
  docs/chains/deps-and-resources.mdx
Due: none

Add toc to reference.
  docs/chains/full-reference.mdx
Due: none

Add prompt.
  docs/chains/deps-and-resources.mdx
Due: none

Attempt to fix truss push.
  pyproject.toml
  truss/cli/console.py
Due: isort, flake8, mypy

Attempt to fix truss push. (#918)
  pyproject.toml
  truss/cli/console.py
Due: isort, flake8, mypy

Bump version to 0.9.10
  pyproject.toml
Due: none

Update TRT-LLM builder truss config interface (#916)
  poetry.lock
  pyproject.toml
  truss/config/trt_llm.py
  truss/constants.py
  truss/templates/trtllm/packages/schema.py
Due: isort, flake8, mypy

Update per PR feedback.
  docs/chains/chaining-chainlets.mdx
  docs/chains/deps-and-resources.mdx
  docs/chains/getting-started.mdx
  docs/chains/intro.mdx
Due: none

Chains docs (#901)
  .vscode/settings.json
  docs/chains/chaining-chainlets.mdx
  docs/chains/deps-and-resources.mdx
  docs/chains/full-reference.mdx
  docs/chains/getting-started.mdx
  docs/chains/intro.mdx
  docs/chains/tips-and-tricks.mdx
  docs/images/audio-transcription-chain.png
  docs/images/audio-transcription-chainlet.png
  docs/images/mistral-diagram.png
  docs/images/second-chainlet.png
Due: none

decoupling fastapi exceptions from triton
  truss/templates/trtllm/model/model.py
  truss/templates/trtllm/packages/triton_client.py
Due: isort, flake8, mypy

Increment minimal python version to 3.9
  .github/workflows/integration-tests.yml
  .github/workflows/main.yml
  .pre-commit-config.yaml
  docs/chains/full-reference.mdx
  docs/guides/base-images.mdx
  poetry.lock
  pyproject.toml
  truss/constants.py
  truss/model_inference.py
  truss/templates/base.Dockerfile.jinja
  truss/test_data/server.Dockerfile
  truss/tests/conftest.py
  truss/tests/test_model_inference.py
  truss/tests/test_truss_handle.py
  truss/tests/util/test_path.py
  truss/truss_config.py
Due: isort, flake8, mypy

Fix tests
  pyproject.toml
  truss/model_inference.py
  truss/pytest.ini
  truss/tests/test_truss_handle.py
  truss/truss_handle.py
Due: isort, flake8, mypy

Increment minimal python version to 3.9 (#921)
  .github/workflows/integration-tests.yml
  .github/workflows/main.yml
  .pre-commit-config.yaml
  docs/chains/full-reference.mdx
  docs/guides/base-images.mdx
  poetry.lock
  pyproject.toml
  truss/constants.py
  truss/model_inference.py
  truss/pytest.ini
  truss/templates/base.Dockerfile.jinja
  truss/test_data/server.Dockerfile
  truss/tests/conftest.py
  truss/tests/test_model_inference.py
  truss/tests/test_truss_handle.py
  truss/tests/util/test_path.py
  truss/truss_config.py
  truss/truss_handle.py
Due: isort, flake8, mypy

Integration Test Passes (but not for data_dir)
  truss-chains/examples/text_to_num/main.py
  truss-chains/tests/chains_test.py
  truss-chains/tests/itest_chain/itest_chain.py
  truss-chains/tests/itest_chain/requirements.txt
  truss-chains/tests/itest_chain/user_package/nested_package/__init__.py
  truss-chains/tests/itest_chain/user_package/nested_package/io_types.py
  truss-chains/tests/itest_chain/user_package/shared_chainlet.py
  truss-chains/truss_chains/code_gen.py
  truss-chains/truss_chains/definitions.py
  truss-chains/truss_chains/deploy.py
  truss-chains/truss_chains/model_skeleton.py
  truss-chains/truss_chains/public_api.py
  truss-chains/truss_chains/utils.py
  truss/cli/cli.py
Due: isort, flake8, mypy

init
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/postprocessing/1/model.py
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/preprocessing/1/model.py
Due: isort, flake8

update token name
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/postprocessing/1/model.py
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/preprocessing/1/model.py
Due: isort, flake8

Review comments
  truss-chains/truss_chains/code_gen.py
Due: isort, flake8, mypy

Path conditions:
  isort: any of: \.py$
  flake8: any of: \.py$
  mypy: (any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$|^slay.*) or (any of: ^slay.* and \.py$)
