Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        # NB(nikhil): `uv` requires system over python (here and below) due to assumptions pre-commit makes about venvs.
        language: system
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude
        language: system
        files: \.(py|pyi)$
      - id: mypy
        name: mypy-local
        entry: uv run mypy
        language: system
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
      - id: uv-lock
        name: uv lock
        entry: uv lock
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

Use pwd for sbatch --chdir instead of hardcoded /workspace
  truss/templates/slurm_harness/worker_node/setup_worker.sh
Due: none

Guard against None context obj in check_is_interactive() (#2303)
  truss/cli/utils/common.py
  truss/tests/cli/test_cli_utils_common.py
Due: ruff, ruff-format, mypy

Support concurrent SLURM jobs with per-job namespacing
  truss/templates/slurm_harness/login_node/setup_login.sh
  truss/templates/slurm_harness/worker_node/setup_worker.sh
Due: none

Propagate SLURM job exit code to Baseten training status
  truss/templates/slurm_harness/worker_node/setup_worker.sh
Due: none

Start slurmctld immediately with empty config
  truss/templates/slurm_harness/login_node/setup_login.sh
Due: none

fix(ci): retry on 429 in markdown-link-check
  .github/workflows/pr.yml
  .mlc_config.json
Due: none

Clean up slurm status: hide down nodes and role line
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

Remove unnecessary aliveStatusCodes from mlc config
  .mlc_config.json
Due: none

Add JSON schema for truss config.yaml
  .pre-commit-config.yaml
  bin/generate_truss_config_schema.py
  truss/base/truss_config.py
  truss/config.schema.json
Due: ruff, ruff-format, mypy

allow no checkpoint repo
  truss/base/trt_llm_config.py
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format, mypy

update and test
  truss/base/trt_llm_config.py
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format, mypy

Update pyproject.toml for py version
  pyproject.toml
Due: uv-lock

fix presigned url cut off in truss checkpoint viewer
  truss/cli/train/checkpoint_viewer.py
Due: ruff, ruff-format, mypy

fix presigned url cut off in truss checkpoint viewer (#2307)
  truss/cli/train/checkpoint_viewer.py
Due: ruff, ruff-format, mypy

impl
  truss/cli/cli.py
  truss/cli/utils/common.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

Add placeholder node to slurm.conf so slurmctld can start empty
  truss/templates/slurm_harness/login_node/setup_login.sh
Due: none

Fix: partition must reference a node for slurmctld to start
  truss/templates/slurm_harness/login_node/setup_login.sh
Due: none

Revert immediate slurmctld start — requires at least one node
  truss/templates/slurm_harness/login_node/setup_login.sh
Due: none

Always enable interactive session, even with docker_auth
  truss/templates/slurm_harness/login_node/config.py
  truss/templates/slurm_harness/worker_node/config.py
Due: ruff, ruff-format, mypy

Add --interactive flag to login and sbatch commands
  truss/cli/train/slurm.py
  truss/cli/train_commands.py
  truss/templates/slurm_harness/login_node/config.py
  truss/templates/slurm_harness/worker_node/config.py
  truss/tests/cli/train/test_slurm.py
Due: ruff, ruff-format, mypy

uv lock
  uv.lock
Due: uv-lock

uv lock
  pyproject.toml
  uv.lock
Due: uv-lock

Remove timeout from login node job watcher — wait indefinitely
  truss/templates/slurm_harness/login_node/setup_login.sh
Due: none

Pass --gres to sbatch so SLURM allocates all GPUs
  truss/templates/slurm_harness/worker_node/setup_worker.sh
Due: none

Add constraints.txt and flexible server dependency handling
  truss/base/constants.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
  truss/templates/server/constraints.txt
  truss/templates/server/requirements.txt
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_data/server.Dockerfile
  truss/tests/test_model_inference.py
Due: ruff, ruff-format, mypy

Add cancel instructions to README
  truss/templates/slurm_harness/README.md
Due: none

Default workers to on_demand interactive session, add provider flags
  truss/cli/train/slurm.py
  truss/cli/train_commands.py
  truss/templates/slurm_harness/login_node/config.py
  truss/templates/slurm_harness/worker_node/config.py
  truss/tests/cli/train/test_slurm.py
Due: ruff, ruff-format, mypy

revert the trussrc changes
  pyproject.toml
  uv.lock
Due: uv-lock

revert uv lock changes
  uv.lock
Due: uv-lock

PR fixes: add missing import, fix comment stripping for URL fragments
  truss/contexts/image_builder/serving_image_builder.py
  truss/tests/test_model_inference.py
Due: ruff, ruff-format, mypy

Bump version to 0.15.8
  pyproject.toml
  uv.lock
Due: uv-lock

allow no checkpoint repo for v2 if and only if skip build result is set [COR-1357] (#2306)
  truss/base/trt_llm_config.py
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format, mypy

change to watch no sleep
  truss/cli/cli.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

Add `no-sleep` functionality to `truss push --watch` (#2308)
  truss/cli/cli.py
  truss/cli/utils/common.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

feat(cli): display checkpoint sync state in training job details (#2292)
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

Add checkpointing flags to login and sbatch commands
  truss/cli/train/slurm.py
  truss/cli/train_commands.py
  truss/templates/slurm_harness/login_node/config.py
  truss/templates/slurm_harness/worker_node/config.py
  truss/tests/cli/train/test_slurm.py
Due: ruff, ruff-format, mypy

Handle hot reload errors: return 422 from inference server, raise PatchFailedRecoverable from control server
  truss/templates/control/control/endpoints.py
  truss/templates/server/truss_server.py
  truss/tests/templates/control/control/test_server.py
  truss/tests/templates/server/test_model_wrapper.py
  truss/tests/templates/server/test_truss_server.py
Due: ruff, ruff-format, mypy

fix(ci): retry on 429 in markdown-link-check (#2304)
  .github/workflows/pr.yml
  .mlc_config.json
Due: none

Add hot-reload support for model code patches (#2298)
  truss/cli/cli.py
  truss/remote/baseten/remote.py
  truss/templates/control/control/endpoints.py
  truss/templates/control/control/helpers/custom_types.py
  truss/templates/control/control/helpers/inference_server_controller.py
  truss/templates/server/model_wrapper.py
  truss/templates/server/truss_server.py
  truss/tests/templates/control/control/test_server.py
  truss/tests/templates/server/test_truss_server.py
Due: ruff, ruff-format, mypy

Bump `truss` manually to 0.15.8
  pyproject.toml
  uv.lock
Due: uv-lock
