Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

isort:
  name: isort-local
  entry: poetry run isort
  language: system
  pass_filenames: true

flake8:
  name: flake8-local
  entry: poetry run flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy-local
  entry: poetry run mypy
  args:
  - --install-types
  - --non-interactive
  language: python
  pass_filenames: true

Don't fail fast. run all groups
  .github/workflows/integration-tests.yml
  .github/workflows/main.yml
Due: none

Run integration tests in parallel of 5 groups until we make them faster (#335)
  .github/workflows/integration-tests.yml
  .github/workflows/main.yml
  poetry.lock
  pyproject.toml
Due: none

propagate error
  bin/generate_base_images.py
  docs/develop/base-images.md
Due: isort, flake8, mypy

rc3
  pyproject.toml
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

propagate error on generation script (#336)
  bin/generate_base_images.py
  docs/develop/base-images.md
  pyproject.toml
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

Update base image to 20.04 to support more python versions
  docker/base_images/base_image.Dockerfile.jinja
  pyproject.toml
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

Also bump version to release rc
  pyproject.toml
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

Update base image to 20.04 to support more python versions (#337)
  docker/base_images/base_image.Dockerfile.jinja
  pyproject.toml
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

Take care of review comments
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

Bundle external data into docker image, rather than download at runtime (#332)
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/server/common/external_data_resolver.py
  truss/templates/server/model_wrapper.py
  truss/tests/conftest.py
  truss/tests/templates/server/common/test_external_resolver.py
Due: isort, flake8, mypy

Version bump for external data bundling change
  pyproject.toml
Due: none

Allow concurrent release jobs
  .github/workflows/main.yml
  pyproject.toml
Due: none

Allow concurrent release jobs (#339)
  .github/workflows/main.yml
  pyproject.toml
Due: none

Fix issue with dataclasses for python3.11
  truss/truss_config.py
Due: isort, flake8, mypy

Fix issue with dataclasses for python3.11 (#340)
  truss/truss_config.py
Due: isort, flake8, mypy

fix python#.#-venv install for live reload with custom base images only
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/test_data/server.Dockerfile
Due: none

fix install
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/test_data/server.Dockerfile
Due: none

0.4.8rc6
  pyproject.toml
Due: none

Do not evaluate env for commands not supported
  truss/contexts/local_loader/docker_build_emulator.py
Due: isort, flake8, mypy

fix python#.#-venv install for live reload with custom base images only (#341)
  pyproject.toml
  truss/contexts/local_loader/docker_build_emulator.py
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/test_data/server.Dockerfile
Due: isort, flake8, mypy

Don't run PR workflow on main branch
  .github/workflows/pr.yml
Due: none

Drop b10cp from docker build
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/test_data/server.Dockerfile
Due: none

Don't run PR workflow on main branch (#342)
  .github/workflows/pr.yml
Due: none

Drop venv patch for now
  truss/templates/server.Dockerfile.jinja
  truss/tests/test_truss_handle.py
Due: isort, flake8

Bump version to get image
  pyproject.toml
Due: none

Always run integration tests
  .github/workflows/main.yml
Due: none

Change log when control server starts
  truss/templates/control/control/server.py
Due: isort, flake8, mypy

Fix linting issue
  truss/templates/control/control/server.py
Due: isort, flake8, mypy

Change log when control server starts (#346)
  truss/templates/control/control/server.py
Due: isort, flake8, mypy

add conditional python#.#-venv install
  truss/templates/server.Dockerfile.jinja
Due: none

move variable
  truss/templates/server.Dockerfile.jinja
Due: none

indent command
  truss/templates/server.Dockerfile.jinja
Due: none

Drop b10cp from docker build (#343)
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/test_data/server.Dockerfile
Due: none

Revert "Drop b10cp from docker build (#343)"
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/test_data/server.Dockerfile
Due: none

Modify custom base image venv patch (#344)
  pyproject.toml
  truss/templates/server.Dockerfile.jinja
  truss/tests/test_truss_handle.py
Due: isort, flake8

Always run integration tests (#345)
  .github/workflows/main.yml
Due: none

Publish 0.4.8 after testing
  pyproject.toml
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

Publish 0.4.8 after testing (#348)
  pyproject.toml
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

Test all python versions in parallel
  .github/workflows/pr.yml
Due: none

Bump truss version in control server
  pyproject.toml
  truss/templates/control/requirements.txt
Due: none

Path conditions:
  isort: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
