Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff analyze and fix
  entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: python

ruff-format:
  name: ruff format
  entry: poetry run ruff format --force-exclude
  language: python

mypy:
  name: mypy-local
  entry: poetry run mypy
  language: python
  pass_filenames: true

Use `uv` in truss server builds
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/templates/control_venv.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
  truss/tests/test_truss_handle.py
Due: ruff, ruff-format

fix: pr feedback
  truss-train/tests/import/config_with_single_training_project.py
  truss-train/tests/import/project_with_cache_config.py
  truss-train/tests/test_loader.py
Due: ruff, ruff-format, mypy

fix: pr feedback
  truss-train/truss_train/loader.py
Due: ruff, ruff-format, mypy

fix: pr feedback
  truss-train/tests/import/config_with_single_training_project.py
  truss-train/tests/test_loader.py
Due: ruff, ruff-format, mypy

fix: pr feedback
  truss-train/tests/import/config_with_single_training_project.py
Due: ruff, ruff-format, mypy

improve name logic
  truss/cli/train/deploy_checkpoints.py
Due: ruff, ruff-format, mypy

More robust checkpointing support (#1755)
  truss/cli/train/core.py
  truss/cli/train/deploy_checkpoints.py
Due: ruff, ruff-format, mypy

Use `uv` in truss server builds (#1759)
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/templates/control_venv.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
  truss/tests/test_truss_handle.py
Due: ruff, ruff-format

try to optimize client
  baseten-performance-client/Cargo.lock
  baseten-performance-client/Cargo.toml
  baseten-performance-client/scripts/compare_latency_openai.py
  baseten-performance-client/src/lib.rs
Due: ruff, ruff-format, mypy

use the name
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

Ensure `curl` is installed for `uv` installation
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

Ensure `curl` is installed for `uv` installation (#1760)
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

ruff format
  baseten-performance-client/scripts/compare_latency_openai.py
  baseten-performance-client/scripts/continous_latency.py
Due: ruff, ruff-format, mypy

truss client-side changes for buildless deployment
  pyproject.toml
  truss/cli/train/deploy_checkpoints.py
  truss/contexts/docker_build_setup.py
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

Better Truss watch logs
  truss/remote/baseten/remote.py
Due: ruff, ruff-format, mypy

Fix `wait_for_server` behavior
  truss/truss_handle/truss_handle.py
Due: ruff, ruff-format, mypy

Fix `wait_for_server` behavior (#1764)
  truss/truss_handle/truss_handle.py
Due: ruff, ruff-format, mypy

add http2 option
  baseten-performance-client/Cargo.lock
  baseten-performance-client/Cargo.toml
  baseten-performance-client/scripts/compare_latency_openai.py
  baseten-performance-client/src/lib.rs
Due: ruff, ruff-format, mypy

Improvements to integration tests
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/templates/server/test_model_wrapper.py
  truss/tests/test_custom_server.py
Due: ruff, ruff-format

add client builder
  baseten-performance-client/baseten_performance_client.pyi
Due: ruff, ruff-format

cargo fmt
  baseten-performance-client/baseten_performance_client.pyi
  baseten-performance-client/scripts/compare_latency_openai.py
Due: ruff, ruff-format, mypy

Improvements to integration tests
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/templates/server/test_model_wrapper.py
  truss/tests/test_custom_server.py
  truss/tests/test_data/server.Dockerfile
Due: ruff, ruff-format

Improvements to integration tests (#1765)
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/templates/server/test_model_wrapper.py
  truss/tests/test_custom_server.py
  truss/tests/test_data/server.Dockerfile
Due: ruff, ruff-format

Revert "Improvements to integration tests (#1765)"
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

Revert "Ensure `curl` is installed for `uv` installation (#1760)"
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

Revert "Use `uv` in truss server builds (#1759)"
  truss/templates/base.Dockerfile.jinja
  truss/templates/control_venv.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
  truss/tests/test_truss_handle.py
Due: ruff, ruff-format

add cargo fmt
  baseten-performance-client/baseten_performance_client.pyi
  baseten-performance-client/scripts/compare_latency_openai.py
  baseten-performance-client/src/lib.rs
Due: ruff, ruff-format, mypy

http2 improvements
  baseten-performance-client/scripts/compare_latency_openai.py
Due: ruff, ruff-format, mypy

add http2 to 0.0.5 release
  baseten-performance-client/Cargo.lock
  baseten-performance-client/Cargo.toml
Due: none

cargo fmt
  baseten-performance-client/src/lib.rs
Due: none

ruff fix
  baseten-performance-client/scripts/compare_latency_openai.py
Due: ruff, ruff-format, mypy

Bump version to 0.9.112
  pyproject.toml
Due: none

Better Truss watch logs (#1763)
  truss/remote/baseten/remote.py
Due: ruff, ruff-format, mypy

least used client round robin
  baseten-performance-client/src/lib.rs
Due: none

add sub 1 infra
  baseten-performance-client/src/lib.rs
Due: none

benchmarking script
  baseten-performance-client/scripts/compare_latency_openai.py
Due: ruff, ruff-format, mypy

add allow comments
  baseten-performance-client/src/lib.rs
Due: none

v6 version
  baseten-performance-client/Cargo.lock
  baseten-performance-client/Cargo.toml
  baseten-performance-client/scripts/compare_latency_openai.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
