Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

fix test
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_data/server.Dockerfile
Due: ruff, ruff-format

Updates models on readme
  README.md
Due: none

add pipes
  README.md
Due: none

add section on deployment with Truss
  README.md
Due: none

add note on training
  README.md
Due: none

remove section of contributors
  README.md
Due: none

feat(truss): Add --team option to truss train commands for project disambiguation
  truss/cli/train/core.py
  truss/cli/train_commands.py
  truss/tests/cli/train/test_fetch_project_by_name_or_id.py
  truss/tests/cli/train/test_train_team_option.py
Due: ruff, ruff-format, mypy

Bump version to 0.12.3rc1
  pyproject.toml
  uv.lock
Due: uv-lock

Bump version to 0.12.4
  pyproject.toml
  uv.lock
Due: uv-lock

rollback the pyproject version upgrade to prep for merge
  pyproject.toml
  uv.lock
Due: uv-lock

feat(watch): Add team disambiguation to truss watch command (#2107)
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/cli/remote_cli.py
  truss/cli/resolvers/chain_team_resolver.py
  truss/cli/resolvers/model_team_resolver.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_chain_team_resolver.py
  truss/tests/cli/test_model_team_resolver.py
  truss/tests/remote/baseten/test_remote.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

Indicate default team and sort teams alphanumerically in team selection
  truss/cli/remote_cli.py
  truss/remote/baseten/api.py
  truss/tests/cli/chains/test_chains_team_parameter.py
  truss/tests/cli/test_chain_team_resolver.py
  truss/tests/cli/test_model_team_resolver.py
  truss/tests/cli/train/test_train_team_parameter.py
Due: ruff, ruff-format, mypy

TeamType hints
  truss/cli/remote_cli.py
  truss/cli/resolvers/chain_team_resolver.py
  truss/cli/resolvers/model_team_resolver.py
  truss/cli/resolvers/training_project_team_resolver.py
  truss/remote/baseten/api.py
  truss/remote/baseten/custom_types.py
  truss/tests/cli/chains/test_chains_team_parameter.py
  truss/tests/cli/test_chain_team_resolver.py
  truss/tests/cli/test_model_team_resolver.py
  truss/tests/cli/train/test_train_team_parameter.py
Due: ruff, ruff-format, mypy

Fix type hints in train_commands.py to use TeamType
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

Fix test mocks to include default field in team objects
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format

Use Choice objects with colored (default) suffix instead of string manipulation
  truss/cli/remote_cli.py
Due: ruff, ruff-format, mypy

Use Choice objects to handle team names containing (default)
  truss/cli/remote_cli.py
  truss/tests/cli/test_model_team_resolver.py
Due: ruff, ruff-format, mypy

feat(teams): Indicate default team and sort teams alphanumerically in team selection (#2113)
  truss/cli/remote_cli.py
  truss/cli/resolvers/chain_team_resolver.py
  truss/cli/resolvers/model_team_resolver.py
  truss/cli/resolvers/training_project_team_resolver.py
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
  truss/remote/baseten/custom_types.py
  truss/tests/cli/chains/test_chains_team_parameter.py
  truss/tests/cli/test_chain_team_resolver.py
  truss/tests/cli/test_model_team_resolver.py
  truss/tests/cli/train/test_train_team_parameter.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

apply review comments
  truss/base/constants.py
  truss/base/truss_config.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

feat(config): Add team to remote config in trussrc
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/cli/train_commands.py
  truss/remote/remote_factory.py
  truss/tests/remote/test_remote_factory.py
Due: ruff, ruff-format, mypy

refactor: simplify effective_team_name logic and add test for spaces
  truss/cli/chains_commands.py
  truss/tests/remote/test_remote_factory.py
Due: ruff, ruff-format, mypy

feat(teams): Add team to remote config in trussrc (#2116)
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/cli/train_commands.py
  truss/remote/remote_factory.py
  truss/tests/remote/test_remote_factory.py
Due: ruff, ruff-format, mypy

simplify jinja vars for user id
  pyproject.toml
  truss/base/truss_config.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

newline
  truss/templates/docker_server/proxy.conf.jinja
Due: none

add grpc-specific block for nginx server in front of custom images
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/docker_server/proxy.conf.jinja
Due: ruff, ruff-format, mypy

update truss rc version
  pyproject.toml
  uv.lock
Due: uv-lock

bump, match all paths
  pyproject.toml
  truss/templates/docker_server/proxy.conf.jinja
  uv.lock
Due: uv-lock

initial commit
  pyproject.toml
  truss/cli/cli.py
  truss/cli/utils/common.py
  truss/cli/utils/self_upgrade.py
  truss/tests/cli/test_self_upgrade.py
  truss/util/user_config.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

feat(weights): add https:// scheme support to WeightsSource
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

feat(weights): add https:// scheme support to WeightsSource (#2122)
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

feat(cli): add truss migrate command for model_cache and external_data
  pyproject.toml
  truss/cli/cli.py
  truss/cli/migrate_commands.py
  truss/tests/cli/test_migrate.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

fix: exclude weights from build hash to prevent unnecessary rebuilds
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

fix: exclude weights from build hash to prevent unnecessary rebuilds (#2125)
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Rename CLAUDE.md to AGENTS.md, symlink CLAUDE.md (#2102)
  AGENTS.md
  CLAUDE.md
Due: none

simplify user-id validation
  truss/base/truss_config.py
Due: ruff, ruff-format, mypy

Support configurable run-as user ID for custom-server deployments (#2109)
  pyproject.toml
  truss/base/constants.py
  truss/base/truss_config.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_config.py
  truss/tests/test_data/server.Dockerfile
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

Bump version to 0.12.5
  pyproject.toml
  uv.lock
Due: uv-lock

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
