Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff analyze and fix
  entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: python

ruff-format:
  name: ruff format
  entry: poetry run ruff format --force-exclude
  language: python

mypy:
  name: mypy-local
  entry: poetry run mypy
  language: python
  pass_filenames: true

Bump version to 0.9.82
  pyproject.toml
Due: none

add fp4 on Blackwell (#1589)
  truss-transfer/Cargo.lock
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Update pyproject.toml
  pyproject.toml
Due: none

bump
  pyproject.toml
  truss/base/constants.py
Due: ruff, ruff-format, mypy

bump
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss/base/trt_llm_config.py
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_core.py
Due: ruff, ruff-format, mypy

Update pyproject.toml (#1591)
  pyproject.toml
Due: none

removed debian checks and apt-get installs
  context_builder.Dockerfile
  docker/base_images/base_image.Dockerfile.jinja
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
Due: none

updated tag in pyproject.toml
  pyproject.toml
Due: none

0.18.0 release
  truss/base/constants.py
Due: ruff, ruff-format, mypy

0.18.0 release
  pyproject.toml
Due: none

add storage metrics
  truss/cli/train/metrics_watcher.py
Due: ruff, ruff-format, mypy

storage utilization
  truss/cli/train/metrics_watcher.py
Due: ruff, ruff-format, mypy

add blackwell - new briton
  pyproject.toml
  truss/base/constants.py
Due: ruff, ruff-format, mypy

new builder
  pyproject.toml
  truss/base/constants.py
Due: ruff, ruff-format, mypy

0.18.0 release trt-llm (#1593)
  pyproject.toml
  truss/base/constants.py
Due: ruff, ruff-format, mypy

lock
  poetry.lock
Due: none

misc(misc): update truss-transfer in unit tests (#1596)
  poetry.lock
  pyproject.toml
Due: none

Bump version to 0.9.83
  pyproject.toml
Due: none

Update trt_llm_config.py
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Update trt_llm_config.py (#1598)
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Chainlet RPC throttling.
  truss-chains/tests/test_e2e.py
  truss-chains/tests/test_remote_chainlet.py
  truss-chains/tests/throttling_chain/throttling_chain.py
  truss-chains/truss_chains/deployment/code_gen.py
  truss-chains/truss_chains/public_api.py
  truss-chains/truss_chains/public_types.py
  truss-chains/truss_chains/remote_chainlet/stub.py
  truss-chains/truss_chains/remote_chainlet/utils.py
Due: ruff, ruff-format, mypy

Change langauge to queueing.
  truss-chains/tests/test_e2e.py
  truss-chains/tests/test_remote_chainlet.py
  truss-chains/tests/throttling_chain/throttling_chain.py
  truss-chains/truss_chains/public_api.py
  truss-chains/truss_chains/public_types.py
  truss-chains/truss_chains/remote_chainlet/stub.py
  truss-chains/truss_chains/remote_chainlet/utils.py
Due: ruff, ruff-format, mypy

Chainlet RPC throttling. BT-14389 (#1592)
  truss-chains/tests/test_e2e.py
  truss-chains/tests/test_remote_chainlet.py
  truss-chains/tests/throttling_chain/throttling_chain.py
  truss-chains/truss_chains/deployment/code_gen.py
  truss-chains/truss_chains/public_api.py
  truss-chains/truss_chains/public_types.py
  truss-chains/truss_chains/remote_chainlet/stub.py
  truss-chains/truss_chains/remote_chainlet/utils.py
Due: ruff, ruff-format, mypy

works
  truss/cli/train/metrics_watcher.py
Due: ruff, ruff-format, mypy

Make semaphore context safer.
  truss-chains/truss_chains/remote_chainlet/stub.py
  truss-chains/truss_chains/remote_chainlet/utils.py
Due: ruff, ruff-format, mypy

Add prometheus metrics for Chainlet RPCs
  truss-chains/tests/test_remote_chainlet.py
  truss-chains/truss_chains/remote_chainlet/utils.py
Due: ruff, ruff-format, mypy

Add prometheus metrics for Chainlet RPCs. BT-14390 (#1595)
  truss-chains/tests/test_remote_chainlet.py
  truss-chains/truss_chains/remote_chainlet/stub.py
  truss-chains/truss_chains/remote_chainlet/utils.py
Due: ruff, ruff-format, mypy

fix context builder
  context_builder.Dockerfile
Due: none

.
  pyproject.toml
Due: none

Add support for --preserve-env-instance-type to chains
  truss-chains/truss_chains/deployment/deployment_client.py
  truss-chains/truss_chains/private_types.py
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
Due: ruff, ruff-format, mypy

Add unit test coverage
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
