Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

isort:
  name: isort-local
  entry: poetry run isort
  language: system
  pass_filenames: true

flake8:
  name: flake8-local
  entry: poetry run flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy-local
  entry: poetry run mypy
  args:
  - --install-types
  - --non-interactive
  language: python
  pass_filenames: true

Extra version without python (#325)
  .github/workflows/main.yml
Due: none

Move test fixture to use docker build emulator
  poetry.lock
  pyproject.toml
  truss/contexts/local_loader/docker_build_emulator.py
  truss/tests/conftest.py
Due: isort, flake8, mypy

Move test fixture to use docker build emulator (#326)
  poetry.lock
  pyproject.toml
  truss/contexts/local_loader/docker_build_emulator.py
  truss/tests/conftest.py
Due: isort, flake8, mypy

Bump Version to get new release image
  pyproject.toml
Due: none

Bump base image version too
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

Bump Version to get new release image (#322)
  pyproject.toml
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

Skip integration tests if version is not changed
  .github/workflows/main.yml
Due: none

Change default stream to stdout for truss logs.
  truss/templates/server/common/logging.py
Due: isort, flake8, mypy

Drop live reload from base images
  bin/generate_base_images.py
  docker/base_images/base_image.Dockerfile.jinja
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
  truss/contexts/image_builder/util.py
  truss/templates/server.Dockerfile.jinja
Due: isort, flake8, mypy

Fix live reload for non-custom base image
  truss/templates/server.Dockerfile.jinja
Due: none

Fix tests and drop mulltiple copies
  truss/contexts/image_builder/training_image_builder.py
  truss/templates/server.Dockerfile.jinja
  truss/test_data/server.Dockerfile
Due: isort, flake8, mypy

Fix tag typo in github action
  .github/workflows/main.yml
Due: none

Bump version back down
  pyproject.toml
Due: none

Bump everything to 0.4.8
  pyproject.toml
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

Release 0.4.8 (#329)
  .github/workflows/main.yml
  pyproject.toml
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

Change --use-docker flag to --no-docker flag.
  truss/cli.py
Due: isort, flake8, mypy

Change default stream to stdout for truss logs. (#328)
  truss/templates/server/common/logging.py
Due: isort, flake8, mypy

Drop live reload from base images (#317)
  bin/generate_base_images.py
  docker/base_images/base_image.Dockerfile.jinja
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
  truss/contexts/image_builder/training_image_builder.py
  truss/contexts/image_builder/util.py
  truss/templates/server.Dockerfile.jinja
  truss/test_data/server.Dockerfile
Due: isort, flake8, mypy

Drop always so that we can cancell things
  .github/workflows/main.yml
Due: none

Test dev version
  pyproject.toml
Due: none

test with not failure or cancelled
  .github/workflows/main.yml
Due: none

Try failure and cancelled
  .github/workflows/main.yml
Due: none

Test build base images
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

Fix live reload build
  .github/workflows/main.yml
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

Bundle external data into docker image, rather than download at runtime
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/server/common/external_data_resolver.py
  truss/templates/server/model_wrapper.py
  truss/tests/conftest.py
Due: isort, flake8, mypy

Inc version
  pyproject.toml
Due: none

Remove test for external resolver
  truss/tests/templates/server/common/test_external_resolver.py
Due: isort, flake8

Should be good to merge
  .github/workflows/main.yml
  pyproject.toml
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

Drop always so that we can cancel things (#331)
  .github/workflows/main.yml
  pyproject.toml
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

adding dev to pyproject
  pyproject.toml
Due: none

Change --use-docker flag to --no-docker flag. (#330)
  truss/cli.py
Due: isort, flake8, mypy

adding dev tag
  pyproject.toml
Due: none

Ensure parent directories exist
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

adding requests to req
  truss/templates/server/requirements.txt
Due: none

adding requests
  pyproject.toml
Due: none

Adding requests to server requirements (#333)
  pyproject.toml
  truss/templates/server/requirements.txt
Due: none

Bump base image version too
  pyproject.toml
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

Bump base image version too (#334)
  pyproject.toml
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

updating toml version
  pyproject.toml
Due: none

Run integration tests in parallel of 5 groups until we make them faster
  .github/workflows/integration-tests.yml
  .github/workflows/main.yml
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  isort: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
