Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        # NB(nikhil): `uv` requires system over python (here and below) due to assumptions pre-commit makes about venvs.
        language: system
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude
        language: system
        files: \.(py|pyi)$
      - id: mypy
        name: mypy-local
        entry: uv run mypy
        language: system
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
      - id: uv-lock
        name: uv lock
        entry: uv lock
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

bei bert image update
  pyproject.toml
  uv.lock
Due: uv-lock

install python
  truss/templates/base.Dockerfile.jinja
Due: none

Add bei image update (#2099)
  pyproject.toml
  truss/base/trt_llm_config.py
  truss/contexts/docker_build_setup.py
  truss/contexts/image_builder/serving_image_builder.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

install truncate
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

napi version
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/pyproject.toml
Due: none

add auto-truncate
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

add auto-truncate
  pyproject.toml
  uv.lock
Due: uv-lock

perf client, more than just post e.g. for /health route (#2098)
  baseten-performance-client/Cargo.lock
  baseten-performance-client/README.md
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/http.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/__test__/test_methods.js
  baseten-performance-client/node_bindings/index.d.ts
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
  baseten-performance-client/python_bindings/pyproject.toml
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/python_bindings/tests/test_methods.py
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

Bump version to 0.12.1
  pyproject.toml
  uv.lock
Due: uv-lock

test: add parameterized tests for shell command patterns
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format

feat(truss): support multiline docker_server.start_command
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/docker_server/supervisord.conf.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format, mypy

Remove multiline start_command validation (now supported by configparser)
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

fix: move configparser import to module level
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

Add comments explaining supervisord config settings
  CLAUDE.md
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

feat(truss): support multiline docker_server.start_command (#2090)
  CLAUDE.md
  truss/base/truss_config.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/docker_server/supervisord.conf.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Bump version to 0.12.2
  pyproject.toml
  uv.lock
Due: uv-lock

Rename CLAUDE.md to AGENTS.md, symlink CLAUDE.md
  AGENTS.md
  CLAUDE.md
Due: none

Weights config Schema
  config.bak
  docs/design/weights-config.md
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

lint
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Migrate truss watch GraphQL queries from model name to ID (#2084)
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
Due: ruff, ruff-format, mypy

Make revision with @
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

lint
  truss/tests/test_config.py
Due: ruff, ruff-format

Weights config Schema (#2103)
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

initial commit
  truss/remote/baseten/core.py
  truss/tests/remote/baseten/test_core.py
Due: ruff, ruff-format, mypy

feat(truss push): Use client-side filtering for model lookup by name and team
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/conftest.py
  truss/tests/remote/baseten/test_core.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

impl
  truss-chains/truss_chains/deployment/deployment_client.py
Due: ruff, ruff-format, mypy

test for model name in different team than queried
  truss/tests/remote/baseten/test_core.py
Due: ruff, ruff-format

feat(truss): Use client-side filtering for model lookup by name and team (#2105)
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/conftest.py
  truss/tests/remote/baseten/test_core.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

make warnings have a bold yellow header
  truss/remote/baseten/core.py
  truss/tests/remote/baseten/test_core.py
Due: ruff, ruff-format, mypy

Support warnings in truss validation (#2104)
  truss/remote/baseten/core.py
  truss/tests/remote/baseten/test_core.py
Due: ruff, ruff-format, mypy

feat(cli): Add team disambiguation to truss watch command
  truss/cli/cli.py
  truss/cli/remote_cli.py
  truss/cli/resolvers/model_team_resolver.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_model_team_resolver.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

refactor: consolidate model team resolution helpers
  truss/cli/resolvers/model_team_resolver.py
Due: ruff, ruff-format, mypy

Bump version to 0.12.3
  pyproject.toml
  uv.lock
Due: uv-lock

docs: restore full scenario documentation in resolve_model_team_name
  truss/cli/resolvers/model_team_resolver.py
Due: ruff, ruff-format, mypy

support user id for custom server deploys
  pyproject.toml
  truss/base/truss_config.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

feat(cli): Add team disambiguation to truss chains watch command
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/cli/chains_commands.py
  truss/cli/resolvers/chain_team_resolver.py
  truss/tests/cli/test_chain_team_resolver.py
Due: ruff, ruff-format, mypy

impl (#2106)
  truss-chains/truss_chains/deployment/deployment_client.py
Due: ruff, ruff-format, mypy

remove run_as_user_name
  pyproject.toml
  truss/base/truss_config.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

cosmetic edits
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
Due: ruff, ruff-format, mypy
