Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

bump version
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
Due: none

bump version
  pyproject.toml
  uv.lock
Due: uv-lock

bump versions
  pyproject.toml
  truss/templates/server/requirements.txt
  uv.lock
Due: uv-lock

ldr metrics
  truss/templates/shared/lazy_data_resolver.py
Due: ruff, ruff-format, mypy

ldr metrics
  pyproject.toml
Due: uv-lock

ldr
  truss/templates/shared/lazy_data_resolver.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

ldr
  truss/templates/shared/lazy_data_resolver.py
Due: ruff, ruff-format, mypy

ldr
  truss-transfer/src/core.rs
Due: none

fmt
  truss-transfer/src/core.rs
Due: none

format with ruff, add prom metrics
  truss/templates/shared/lazy_data_resolver.py
Due: ruff, ruff-format, mypy

fmt inputs
  truss/templates/shared/lazy_data_resolver.py
Due: ruff, ruff-format, mypy

fmt inputs
  pyproject.toml
  uv.lock
Due: uv-lock

uv lock
  pyproject.toml
  uv.lock
Due: uv-lock

Lint
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Add check for FP4_KV
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

uv lock
  truss/templates/shared/lazy_data_resolver.py
Due: ruff, ruff-format, mypy

Add FP4_MLP_ONLY option in truss config (#1986)
  pyproject.toml
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy, uv-lock

fmt
  truss/templates/shared/lazy_data_resolver.py
Due: ruff, ruff-format, mypy

fmt
  truss/templates/server.Dockerfile.jinja
Due: none

Add truss-transfer-metrics on rust side. (#1988)
  pyproject.toml
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/core.rs
  truss-transfer/src/download.rs
  truss-transfer/src/hf_transfer.rs
  truss-transfer/src/lib.rs
  truss-transfer/src/metrics.rs
  truss-transfer/src/speed_checks.rs
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/requirements.txt
  truss/templates/shared/lazy_data_resolver.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

add lazy resolver always publish
  truss/templates/shared/lazy_data_resolver.py
Due: ruff, ruff-format, mypy

reverse order of chown directories
  truss/templates/server.Dockerfile.jinja
Due: none

Bump up version since config changes not visible on rc3
  pyproject.toml
  uv.lock
Due: uv-lock

Bump up version since config changes not visible on rc3 (#1991)
  pyproject.toml
  uv.lock
Due: uv-lock

apply review comments
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
Due: none

fix test expectation
  truss/tests/test_data/server.Dockerfile
Due: none

Allow "truss watch" to succeed on external package dirs (#1987)
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

create packages directory unconditionally
  truss/templates/base.Dockerfile.jinja
Due: none

Revert "Allow "truss watch" to succeed on external package dirs (#1987)"
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

Revert "Allow "truss watch" to succeed on external package dirs (#1987)" (#1993)
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

feat(truss): add tree viz into cache and checkpointing storage
  truss/cli/train/core.py
  truss/cli/train/file_visualizer.py
  truss/cli/train_commands.py
  truss/tests/cli/train/test_cache_view.py
  truss/tests/cli/train/test_file_visualizer.py
Due: ruff, ruff-format, mypy

Pushing changes
  smoketests/test_chains_click.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_chain_upload.py
Due: ruff, ruff-format, mypy

use List type
  truss/templates/shared/lazy_data_resolver.py
Due: ruff, ruff-format, mypy

use List type (#1995)
  truss/templates/shared/lazy_data_resolver.py
Due: ruff, ruff-format, mypy

add prometheus metrics to each `model_cache` download (#1989)
  truss/templates/shared/lazy_data_resolver.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
