Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        # NB(nikhil): `uv` requires system over python (here and below) due to assumptions pre-commit makes about venvs.
        language: system
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude
        language: system
        files: \.(py|pyi)$
      - id: mypy
        name: mypy-local
        entry: uv run mypy
        language: system
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
      - id: uv-lock
        name: uv lock
        entry: uv lock
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

Use shared BEI token constant directly
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Remove BEI max token tests
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format

Delay BEI token constant import
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Honor configured BEI max token limit (#2651)
  truss/base/trt_llm_config.py
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

Bump version to 0.18.31rc0
  pyproject.toml
  uv.lock
Due: uv-lock

Add fp8_mlp_only quantization type
  pyproject.toml
  truss/base/trt_llm_config.py
  truss/cli/cli.py
  truss/config.schema.json
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

Update performance client framework defaults
  baseten-performance-client/README.md
  baseten-performance-client/core/src/constants.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/node_bindings/README.md
  baseten-performance-client/python_bindings/README.md
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
Due: ruff, ruff-format

Raise performance client character limit
  baseten-performance-client/README.md
  baseten-performance-client/core/src/constants.rs
  baseten-performance-client/node_bindings/README.md
  baseten-performance-client/python_bindings/README.md
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
Due: ruff, ruff-format

Add fp8_mlp_only quantization type (#2652)
  baseten-performance-client/README.md
  baseten-performance-client/core/src/constants.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/node_bindings/README.md
  baseten-performance-client/python_bindings/README.md
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
  pyproject.toml
  truss/base/trt_llm_config.py
  truss/cli/cli.py
  truss/config.schema.json
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

fix(config): preserve YAML merge keys during duplicate checks
  truss/tests/test_yaml_merge_keys.py
  truss/util/yaml_utils.py
Due: ruff, ruff-format, mypy

Fix UTF-8 decoding across prediction stream chunks
  truss/remote/baseten/service.py
Due: ruff, ruff-format, mypy

Honor global non-interactive flag in child commands
  truss/cli/utils/common.py
Due: ruff, ruff-format, mypy

Refresh gathered Truss cache when ignore rules change
  truss/truss_handle/truss_gatherer.py
Due: ruff, ruff-format, mypy

fix(config): preserve YAML merge keys during duplicate checks (#2653)
  truss/tests/test_yaml_merge_keys.py
  truss/util/yaml_utils.py
Due: ruff, ruff-format, mypy

Add regression coverage for global non-interactive flag
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format

Honor global --non-interactive in child commands (#2655)
  truss/cli/utils/common.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

Provision a team Baseten API key and scope the secret check to the team
  truss/cli/train/exec/__init__.py
  truss/cli/train/exec/builder.py
  truss/cli/train/exec/secrets.py
  truss/cli/train/exec/uv.py
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
  truss/tests/cli/train/test_exec.py
Due: ruff, ruff-format, mypy

Report an API key that was created but not stored, and add --no-api-key
  truss/cli/train/exec/__init__.py
  truss/cli/train/exec/builder.py
  truss/cli/train/exec/secrets.py
  truss/cli/train/exec/uv.py
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
  truss/tests/cli/train/test_exec.py
Due: ruff, ruff-format, mypy

Keep the uv cache on the working directory's filesystem
  truss/cli/train/exec/builder.py
  truss/cli/train_commands.py
  truss/tests/cli/train/test_exec.py
Due: ruff, ruff-format, mypy

Always mount the cache volume
  truss/cli/train/exec/builder.py
  truss/cli/train_commands.py
  truss/tests/cli/train/test_exec.py
Due: ruff, ruff-format, mypy

Make this `truss loops exec`, and keep the plaintext key off the terminal
  truss/cli/loops_commands.py
  truss/cli/train/exec/__init__.py
  truss/cli/train/exec/builder.py
  truss/cli/train/exec/project.py
  truss/cli/train/exec/secrets.py
  truss/cli/train/exec/uv.py
  truss/cli/train_commands.py
  truss/tests/cli/train/test_exec.py
Due: ruff, ruff-format, mypy

Set the uv cache in the job environment rather than the start command
  truss/cli/train/exec/builder.py
  truss/cli/train/exec/uv.py
  truss/tests/cli/train/test_exec.py
Due: ruff, ruff-format, mypy

Name the command the exec test docstrings actually invoke
  truss/tests/cli/train/test_exec.py
Due: ruff, ruff-format

Rename the exec default project name and drop two unused constants
  truss/cli/train/exec/__init__.py
  truss/cli/train/exec/builder.py
Due: ruff, ruff-format, mypy

Set the version to 0.18.32rc0 to publish a release candidate
  pyproject.toml
  uv.lock
Due: uv-lock

Add json output to `truss loops exec`
  truss/cli/loops_commands.py
  truss/tests/cli/train/test_exec.py
Due: ruff, ruff-format, mypy

Bump to 0.18.32rc1 so the publish job actually fires
  pyproject.toml
  uv.lock
Due: uv-lock

Split stdout from stderr in the exec json tests so they pass on click 8.0.3
  truss/tests/cli/train/test_exec.py
Due: ruff, ruff-format

Bump performance clients to 0.1.14
  baseten-performance-client/Cargo.lock
  baseten-performance-client/README.md
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/pyproject.toml
  baseten-performance-client/python_bindings/uv.lock
Due: none

Update the base_image examples in the config schema
  truss/base/truss_config.py
  truss/config.schema.json
Due: ruff, ruff-format, mypy

Update the base_image examples in the config schema (#2658)
  truss/base/truss_config.py
  truss/config.schema.json
Due: ruff, ruff-format, mypy

Add TrussChainlet and TrussHandle to the chains SDK reference (#2553)
  .pre-commit-config.yaml
  docs/chains/doc_gen/API-reference.mdx
  docs/chains/doc_gen/README.md
  docs/chains/doc_gen/generate_reference.py
  docs/chains/doc_gen/generated-reference.mdx
  docs/chains/doc_gen/reference.patch
  truss-chains/truss_chains/framework.py
Due: ruff, ruff-format, mypy

docs: update truss push examples to use explicit --publish/--watch flags (#2158)
  docs/examples/01-getting-started-bert.mdx
  docs/examples/02-llm.mdx
  docs/examples/04-image-generation.mdx
  docs/examples/06-high-performance-cached-weights.mdx
  docs/examples/09-private-huggingface.mdx
  docs/examples/10-using-system-packages.mdx
  docs/examples/performance/cached-weights.mdx
  docs/examples/private-model.mdx
  docs/examples/streaming.mdx
  docs/examples/system-packages.mdx
Due: none

Bump performance clients to 0.1.14 (#2657)
  baseten-performance-client/Cargo.lock
  baseten-performance-client/README.md
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/pyproject.toml
  baseten-performance-client/python_bindings/uv.lock
Due: none

DI-2301: tag startup logs through readiness and publish Truss RC
  pyproject.toml
  truss/templates/server/model_wrapper.py
  truss/templates/server/truss_server.py
  truss/templates/shared/log_config.py
  truss/tests/templates/server/test_model_wrapper.py
  truss/tests/templates/server/test_truss_server.py
  truss/tests/test_model_inference.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

feat: Label model server startup logs until readiness
  truss/templates/server/model_wrapper.py
  truss/templates/server/truss_server.py
  truss/templates/shared/log_config.py
  truss/tests/templates/server/test_model_wrapper.py
  truss/tests/templates/server/test_truss_server.py
  truss/tests/test_model_inference.py
Due: ruff, ruff-format, mypy

Bump version to 0.18.31
  pyproject.toml
  uv.lock
Due: uv-lock

Bump control server truss pin to 0.18.31
  truss/templates/control/requirements.txt
  truss/tests/templates/control/test_control_requirements.py
Due: ruff, ruff-format

Allow data-parallel BEI encoder deployments
  truss/base/trt_llm_config.py
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format, mypy

Validate BEI image compatibility for multi-GPU encoders
  truss/base/trt_llm_config.py
  truss/contexts/docker_build_setup.py
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format, mypy
