Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

408
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

408
  pyproject.toml
  uv.lock
Due: uv-lock

Update trt_llm_config.py (#2149)
  pyproject.toml
  truss/base/trt_llm_config.py
  truss/tests/test_config.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

Bump version to 0.12.9
  pyproject.toml
  uv.lock
Due: uv-lock

Full SKU name for instance type for Chains (#2147)
  truss-chains/truss_chains/deployment/code_gen.py
  truss-chains/truss_chains/public_types.py
Due: ruff, ruff-format, mypy

remove rc source truss restrictions
  integration_tests/self_upgrade/run_tests.sh
  truss/util/user_config.py
Due: ruff, ruff-format, mypy

fix test
  truss/tests/cli/test_self_upgrade.py
Due: ruff, ruff-format

Notify of upgrades once a day only (#2150)
  integration_tests/self_upgrade/run_tests.sh
  integration_tests/self_upgrade/test_settings_toml.py
  truss/tests/cli/test_self_upgrade.py
  truss/util/user_config.py
Due: ruff, ruff-format, mypy

feat(cli): add --config option to specify custom truss config path
  truss/base/truss_spec.py
  truss/cli/cli.py
  truss/tests/test_custom_config_path.py
  truss/truss_handle/build.py
  truss/truss_handle/truss_handle.py
Due: ruff, ruff-format, mypy

fix
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

fix (#2154)
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

Bump version to 0.12.10
  pyproject.toml
  uv.lock
Due: uv-lock

Adds empty and hello-world templates to training
  truss/cli/train_commands.py
  truss/templates/train/config.py
  truss/templates/train/requirements.txt
  truss/templates/train/run.sh
  truss/templates/train/train.py
Due: ruff, ruff-format, mypy

Make sure curl is always installed, currently edge case with custom servers having uv but not curl installed
  truss/templates/base.Dockerfile.jinja
Due: none

add proxy inital commit
  baseten-performance-client/Cargo.lock
  baseten-performance-client/Cargo.toml
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/reverse_proxy/Cargo.toml
  baseten-performance-client/reverse_proxy/Dockerfile
  baseten-performance-client/reverse_proxy/README.md
  baseten-performance-client/reverse_proxy/src/config.rs
  baseten-performance-client/reverse_proxy/src/handlers.rs
  baseten-performance-client/reverse_proxy/src/headers.rs
  baseten-performance-client/reverse_proxy/src/main.rs
  baseten-performance-client/reverse_proxy/src/server.rs
  baseten-performance-client/reverse_proxy/tests/README.md
  baseten-performance-client/reverse_proxy/tests/integration_test.rs
  baseten-performance-client/reverse_proxy/tests/lib.rs
  baseten-performance-client/reverse_proxy/tests/mock_server.rs
  baseten-performance-client/reverse_proxy/tests/run_integration_tests.sh
Due: none

Release candidate to test
  pyproject.toml
  uv.lock
Due: uv-lock

Fix test
  truss/tests/test_data/server.Dockerfile
Due: none

Use newer apt instead of apt-get
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

Install tools block instead of separating too granularly
  truss/templates/base.Dockerfile.jinja
Due: none

raii-guard
  baseten-performance-client/core/src/cancellation.rs
  baseten-performance-client/reverse_proxy/src/handlers.rs
Due: none

Make sure curl is always installed (#2157)
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
  uv.lock
Due: uv-lock

Update __init__.py
  truss/api/__init__.py
Due: ruff, ruff-format, mypy

truss push
  truss/api/__init__.py
  truss/cli/cli.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

fix --watch
  truss/api/__init__.py
Due: ruff, ruff-format, mypy

publish
  truss/api/__init__.py
Due: ruff, ruff-format, mypy

print warnings if --watch not submitted for development deployment, keep watch as default. (#1969)
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/api/__init__.py
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

Update pyproject.toml
  pyproject.toml
Due: uv-lock

docs: update truss push examples to use explicit --publish/--watch flags
  README.md
  docs/examples/01-getting-started-bert.mdx
  docs/examples/02-llm.mdx
  docs/examples/04-image-generation.mdx
  docs/examples/06-high-performance-cached-weights.mdx
  docs/examples/09-private-huggingface.mdx
  docs/examples/10-using-system-packages.mdx
  docs/examples/performance/cached-weights.mdx
  docs/examples/private-model.mdx
  docs/examples/streaming.mdx
  docs/examples/system-packages.mdx
Due: none

reverse proxy fix
  baseten-performance-client/.dockerignore
  baseten-performance-client/Dockerfile
  baseten-performance-client/docker-compose.yml
  baseten-performance-client/reverse_proxy/README.md
  baseten-performance-client/reverse_proxy/src/config.rs
  baseten-performance-client/reverse_proxy/src/handlers.rs
  baseten-performance-client/reverse_proxy/src/headers.rs
  baseten-performance-client/reverse_proxy/src/main.rs
  baseten-performance-client/reverse_proxy/src/server.rs
Due: none

add reverse proxy
  baseten-performance-client/.dockerignore
  baseten-performance-client/Cargo.lock
  baseten-performance-client/reverse_proxy/Cargo.toml
  baseten-performance-client/reverse_proxy/Dockerfile
Due: none

add fixes
  baseten-performance-client/reverse_proxy/src/constants.rs
  baseten-performance-client/reverse_proxy/src/handlers.rs
  baseten-performance-client/reverse_proxy/src/headers.rs
  baseten-performance-client/reverse_proxy/src/main.rs
  baseten-performance-client/reverse_proxy/src/server.rs
Due: none

Revert "print warnings if --watch not submitted for development deployment, k…"
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/api/__init__.py
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

more fixes
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/reverse_proxy/src/main.rs
  baseten-performance-client/reverse_proxy/src/server.rs
  baseten-performance-client/reverse_proxy/tests/integration_test.rs
Due: none

more fixes
  baseten-performance-client/reverse_proxy/Cargo.toml
  baseten-performance-client/reverse_proxy/src/config.rs
  baseten-performance-client/reverse_proxy/src/handlers.rs
  baseten-performance-client/reverse_proxy/src/lib.rs
  baseten-performance-client/reverse_proxy/src/main.rs
  baseten-performance-client/reverse_proxy/src/server.rs
  baseten-performance-client/reverse_proxy/tests/integration_test.rs
  baseten-performance-client/reverse_proxy/tests/mock_server.rs
Due: none

Revert "print warnings if --watch not submitted for development deployment, k…" (#2159)
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/api/__init__.py
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

compiling
  baseten-performance-client/core/src/http.rs
  baseten-performance-client/reverse_proxy/src/config.rs
  baseten-performance-client/reverse_proxy/src/handlers.rs
  baseten-performance-client/reverse_proxy/src/main.rs
  baseten-performance-client/reverse_proxy/src/server.rs
Due: none

nop model needed
  baseten-performance-client/reverse_proxy/src/config.rs
  baseten-performance-client/reverse_proxy/src/handlers.rs
  baseten-performance-client/reverse_proxy/src/headers.rs
Due: none

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
