Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
        language: python
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: poetry run ruff format --force-exclude
        language: python
        files: \.(py|pyi)$
      - id: pyproject.toml
        name: pyproject.toml
        entry: poetry run python bin/pyproject_toml_linter.py
        language: python
        additional_dependencies: [tomlkit]
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true

change stagtegy
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
Due: none

add truss-transfer
  truss-transfer/pyproject.toml
Due: none

truss-transfer: copy, rename, check, dedup, symlink (#1496)
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/pyproject.toml
  truss-transfer/src/lib.rs
Due: none

update truss transfer
  pyproject.toml
Due: none

Bump version to 0.9.71
  pyproject.toml
Due: none

Refactor log watcher helpers (#1483)
  truss/cli/cli.py
  truss/cli/logs/base_watcher.py
  truss/cli/logs/model_log_watcher.py
  truss/cli/logs/training_log_watcher.py
  truss/cli/logs/utils.py
  truss/cli/utils/logs.py
  truss/shared/types.py
Due: ruff, ruff-format, mypy

Make context builder / base images arm64 compatible
  .github/workflows/build-context-builder-image.yml
  .github/workflows/release.yml
  Makefile
  context_builder.Dockerfile
  pyproject.toml
  truss/base/constants.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_data/test_requirements_file_truss/requirements.txt
Due: ruff, ruff-format, mypy

Make context builder / base images arm64 compatible (#1490)
  .github/workflows/build-context-builder-image.yml
  .github/workflows/release.yml
  Makefile
  context_builder.Dockerfile
  pyproject.toml
  truss/base/constants.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_data/test_requirements_file_truss/requirements.txt
Due: ruff, ruff-format, mypy

write all to disk
  truss-transfer/src/lib.rs
Due: none

update truss transfer version
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
Due: none

truss-transfer: write all to disk (#1498)
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/lib.rs
Due: none

view tptj
  truss/cli/cli.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

logs and tings
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

pre commit
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

i think this works
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

pr review
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

[BT-14114] list training projects and training jobs (#1499)
  truss/cli/cli.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

fix current status
  truss/cli/logs/training_log_watcher.py
Due: ruff, ruff-format, mypy

fix current status (#1500)
  truss/cli/logs/training_log_watcher.py
Due: ruff, ruff-format, mypy

fix otel test
  truss/tests/test_model_inference.py
Due: ruff, ruff-format

remove extra req
  pyproject.toml
  truss/templates/control/requirements.txt
Due: none

add prom client to control server requirements
  pyproject.toml
  truss/templates/control/requirements.txt
Due: none

remove default collectors and _created metrics
  truss/templates/server/truss_server.py
  truss/tests/templates/control/control/test_server_integration.py
  truss/tests/test_model_inference.py
Due: ruff, ruff-format, mypy

Bump version to 0.9.72
  pyproject.toml
Due: none

custom metrics: remove default collectors and _created metrics (#1501)
  pyproject.toml
  truss/templates/server/truss_server.py
  truss/tests/templates/control/control/test_server_integration.py
  truss/tests/test_model_inference.py
Due: ruff, ruff-format, mypy

WIP
  truss-chains/truss_chains/remote_chainlet/stub.py
Due: ruff, ruff-format, mypy

Use fallback import in truss server
  truss/templates/server/common/errors.py
Due: ruff, ruff-format, mypy

Close cycled async http clients properly. Related BT-13951 (#1439)
  truss-chains/truss_chains/remote_chainlet/stub.py
  truss/templates/server/common/errors.py
Due: ruff, ruff-format, mypy

remove warning for lazy data resolver
  truss/templates/shared/lazy_data_resolver.py
Due: ruff, ruff-format, mypy

bump version
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Bdubayah/remove resolver warning (#1504)
  pyproject.toml
  truss/templates/shared/lazy_data_resolver.py
Due: ruff, ruff-format, mypy

bump
  pyproject.toml
Due: none

bump to 0.9.72.post1 (#1505)
  pyproject.toml
Due: none

add lora config
  pyproject.toml
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

fix typing
  pyproject.toml
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

truss/base/constants.py
  truss/base/constants.py
Due: ruff, ruff-format, mypy

bump versions
  pyproject.toml
  truss/base/constants.py
Due: ruff, ruff-format, mypy

Default to multi platform build on context builder
  .github/workflows/build-context-builder-image.yml
Due: none
