Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

feat(truss): Add teams to model creation in truss (#2042)
  truss/cli/cli.py
  truss/cli/resolvers/model_team_resolver.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_cli.py
  truss/tests/cli/test_model_team_resolver.py
Due: ruff, ruff-format, mypy

feat(truss): persist deployed from truss version metadata BT-15631 (#2044)
  truss-train/tests/test_deployment.py
  truss-train/truss_train/deployment.py
Due: ruff, ruff-format, mypy

feat(truss): add b10 checkpoint type
  .vscode/settings.json
  truss/base/trt_llm_config.py
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

feat(truss): 0.11.23 patch release (#2045)
  pyproject.toml
  uv.lock
Due: uv-lock

Revert "feat(truss): 0.11.23 patch release (#2045)"
  pyproject.toml
  uv.lock
Due: uv-lock

Revert "feat(truss): 0.11.23 patch release (#2045)" (#2046)
  pyproject.toml
  uv.lock
Due: uv-lock

Bump version to 0.11.23
  pyproject.toml
  uv.lock
Due: uv-lock

support training secret
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/constants.rs
  truss-transfer/src/create/aws_metadata.rs
  truss-transfer/src/create/azure_metadata.rs
  truss-transfer/src/create/provider.rs
  truss-transfer/src/create/providers/aws.rs
  truss-transfer/src/download.rs
  truss-transfer/src/download_core.rs
  truss-transfer/src/secrets.rs
  truss-transfer/src/types.rs
Due: none

Try bumping numpy version.
  truss/templates/server/requirements.txt
  truss/tests/test_data/test_streaming_truss_with_tracing/config.yaml
Due: none

truss-transfer secret access key <!-- What does this PR add, remove, and/or change? --> ## :rocket: What - add option to use `session_token`
  truss-transfer/src/create/aws_metadata.rs
Due: none

allow training access key
  truss-transfer/src/constants.rs
  truss-transfer/src/secrets.rs
Due: none

0.0.38
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss/templates/server/requirements.txt
Due: none

add secrets.rs
  truss-transfer/src/secrets.rs
Due: none

add /app
  truss-transfer/src/constants.rs
Due: none

add /tmp
  truss-transfer/src/constants.rs
Due: none

truss-transfer secret access key (#2050)
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/constants.rs
  truss-transfer/src/create/aws_metadata.rs
  truss-transfer/src/secrets.rs
  truss/templates/server/requirements.txt
Due: none

performance-client: better cancellations * truss-transfer secret access key <!-- What does this PR add, remove, and/or change? --> ## :rocket: What - adds the performance client cancellation token
  baseten-performance-client/core/src/cancellation.rs
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/core/src/utils.rs
  baseten-performance-client/python_bindings/src/lib.rs
Due: none

fmt
  baseten-performance-client/core/src/cancellation.rs
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/utils.rs
Due: none

fmt
  baseten-performance-client/core/src/client.rs
Due: none

integration.rs
  baseten-performance-client/core/tests/integration_test.rs
Due: none

commit integration tests
  baseten-performance-client/python_bindings/tests/integration_fastapi_server.py
Due: ruff, ruff-format, mypy

add total timeout setting
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/constants.rs
  baseten-performance-client/core/src/http.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/python_bindings/tests/integration_fastapi_server.py
Due: ruff, ruff-format, mypy

cargo fmt
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/tests/integration_fastapi_server.py
Due: ruff, ruff-format, mypy

clippy fix
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/src/lib.rs
Due: none

update readme and bindings
  baseten-performance-client/README.md
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
Due: ruff, ruff-format

add node bindings
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/python_bindings/Cargo.toml
Due: none

rc2
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/python_bindings/Cargo.toml
Due: none

rc2
  baseten-performance-client/Cargo.lock
Due: none

add CTRL_C_RECEIVED
  baseten-performance-client/python_bindings/src/lib.rs
Due: none

Update baseten-performance-client/README.md
  baseten-performance-client/README.md
Due: none

Update baseten-performance-client/python_bindings/tests/integration_fastapi_server.py
  baseten-performance-client/python_bindings/tests/integration_fastapi_server.py
Due: ruff, ruff-format, mypy

updates enum
  .vscode/settings.json
  truss/base/trt_llm_config.py
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

truss config
  truss/base/truss_config.py
Due: ruff, ruff-format, mypy

use volume=False
  truss-chains/examples/mistral/mistral_chainlet.py
Due: ruff, ruff-format, mypy

set use_volume=False in many places
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format

override cache internal use_volume
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

add skip serializing
  baseten-performance-client/core/src/http.rs
Due: none

ruff format
  truss/base/truss_config.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

new rc
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/python_bindings/Cargo.toml
Due: none

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
