Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
        language: python
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: poetry run ruff format --force-exclude
        language: python
        files: \.(py|pyi)$
      - id: pyproject.toml
        name: pyproject.toml
        entry: poetry run python bin/pyproject_toml_linter.py
        language: python
        additional_dependencies: [tomlkit]
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true

add model cache v2 test
  truss/tests/test_data/test_truss_server_model_cache_v2/config.yaml
Due: none

add hf access test v1
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format

add model cache v2 test
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format

add model cache v2 test
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

add test
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format

truss tests
  truss/contexts/image_builder/serving_image_builder.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format, mypy

add use_volume
  truss/base/truss_config.py
Due: ruff, ruff-format, mypy

add use_volume
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format

add test v1 back
  truss/tests/test_data/test_truss_server_model_cache_v1/config.yaml
Due: none

add use volume cache v2
  truss/tests/test_config.py
Due: ruff, ruff-format

no duplicate downloads
  truss-transfer/src/lib.rs
Due: none

add comment
  truss-transfer/src/lib.rs
Due: none

add comment
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
Due: none

truss-transfer: no duplicate downloads (#1537)
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/lib.rs
Due: none

Proxy buffering off.
  truss/templates/docker_server/proxy.conf.jinja
Due: none

Bump pyproject version.
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

bump python
  pyproject.toml
  truss/base/constants.py
Due: ruff, ruff-format, mypy

bump briton versions
  pyproject.toml
  truss/base/constants.py
Due: ruff, ruff-format, mypy

add dev magic
  pyproject.toml
  truss/templates/server/main.py
Due: ruff, ruff-format, mypy

bump briton versions (#1539)
  pyproject.toml
  truss/base/constants.py
Due: ruff, ruff-format, mypy

Bump version to 0.9.77
  pyproject.toml
Due: none

Pydantic for TrussConfig
  truss-chains/examples/baseten_llm/trt_llama.py
  truss-chains/truss_chains/deployment/code_gen.py
  truss-chains/truss_chains/framework.py
  truss/base/custom_types.py
  truss/base/trt_llm_config.py
  truss/base/truss_config.py
  truss/base/truss_spec.py
  truss/base/validation.py
  truss/contexts/local_loader/load_model_local.py
  truss/local/local_config_handler.py
  truss/remote/baseten/remote.py
  truss/shared/types.py
  truss/templates/control/control/helpers/truss_patch/model_container_patch_applier.py
  truss/templates/trtllm-audio/packages/whisper_trt/batching.py
  truss/tests/conftest.py
  truss/tests/test_config.py
  truss/tests/test_validation.py
  truss/tests/trt_llm/test_trt_llm_config.py
  truss/truss_handle/patch/calc_patch.py
  truss/truss_handle/truss_handle.py
Due: ruff, ruff-format, mypy

WIP
  bin/bump_truss_version.sh
  pyproject.toml
  truss-chains/tests/test_e2e.py
  truss-chains/tests/test_framework.py
  truss-chains/truss_chains/deployment/code_gen.py
  truss-chains/truss_chains/deployment/deployment_client.py
  truss-chains/truss_chains/framework.py
  truss-chains/truss_chains/public_types.py
  truss/base/trt_llm_config.py
  truss/base/truss_config.py
  truss/base/truss_spec.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/contexts/local_loader/utils.py
  truss/remote/baseten/remote.py
  truss/templates/README.md.jinja
  truss/templates/control/control/helpers/truss_patch/model_container_patch_applier.py
  truss/templates/control/requirements.txt
  truss/tests/conftest.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/patch/test_calc_patch.py
  truss/tests/test_config.py
  truss/tests/test_control_truss_patching.py
  truss/tests/test_data/test_streaming_truss_with_tracing/config.yaml
  truss/tests/test_model_inference.py
  truss/tests/test_truss_handle.py
  truss/tests/test_util.py
  truss/tests/test_validation.py
  truss/tests/trt_llm/test_trt_llm_config.py
  truss/truss_handle/patch/calc_patch.py
  truss/truss_handle/truss_handle.py
Due: ruff, ruff-format, mypy

Use old truss for control server
  pyproject.toml
  truss/templates/control/control/helpers/truss_patch/model_container_patch_applier.py
  truss/templates/control/requirements.txt
Due: ruff, ruff-format, mypy

model_cache error message.
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

Review comments
  bin/bump_truss_version.sh
  truss/base/custom_types.py
  truss/base/truss_config.py
  truss/contexts/local_loader/utils.py
  truss/remote/baseten/remote.py
  truss/templates/control/requirements.txt
Due: ruff, ruff-format, mypy

add copy comment
  truss/util/basetenpointer.py
Due: ruff, ruff-format, mypy

Pydantic for TrussConfig (#1522)
  pyproject.toml
  truss-chains/examples/baseten_llm/trt_llama.py
  truss-chains/tests/test_e2e.py
  truss-chains/tests/test_framework.py
  truss-chains/truss_chains/deployment/code_gen.py
  truss-chains/truss_chains/deployment/deployment_client.py
  truss-chains/truss_chains/framework.py
  truss-chains/truss_chains/public_types.py
  truss/base/custom_types.py
  truss/base/trt_llm_config.py
  truss/base/truss_config.py
  truss/base/truss_spec.py
  truss/base/validation.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/contexts/local_loader/load_model_local.py
  truss/contexts/local_loader/utils.py
  truss/local/local_config_handler.py
  truss/remote/baseten/remote.py
  truss/shared/types.py
  truss/templates/README.md.jinja
  truss/templates/control/control/helpers/truss_patch/model_container_patch_applier.py
  truss/templates/control/requirements.txt
  truss/templates/trtllm-audio/packages/whisper_trt/batching.py
  truss/tests/conftest.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/patch/test_calc_patch.py
  truss/tests/test_config.py
  truss/tests/test_control_truss_patching.py
  truss/tests/test_data/test_streaming_truss_with_tracing/config.yaml
  truss/tests/test_model_inference.py
  truss/tests/test_truss_handle.py
  truss/tests/test_util.py
  truss/tests/test_validation.py
  truss/tests/trt_llm/test_trt_llm_config.py
  truss/truss_handle/patch/calc_patch.py
  truss/truss_handle/truss_handle.py
Due: ruff, ruff-format, mypy

add comment
  truss/templates/server.Dockerfile.jinja
Due: none

add pydantic
  truss/base/truss_config.py
  truss/tests/test_config.py
  truss/tests/util/test_basetenpointer.py
Due: ruff, ruff-format, mypy

add pydantic
  truss/tests/util/test_basetenpointer.py
Due: ruff, ruff-format

`model_cache` add volume, which uses b10fs and `truss-transfer` (#1515)
  poetry.lock
  pyproject.toml
  truss/base/constants.py
  truss/base/truss_config.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/requirements.txt
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_config.py
  truss/tests/test_data/test_truss_server_model_cache_v1/__init__.py
  truss/tests/test_data/test_truss_server_model_cache_v1/config.yaml
  truss/tests/test_data/test_truss_server_model_cache_v1/model/__init__.py
  truss/tests/test_data/test_truss_server_model_cache_v1/model/model.py
  truss/tests/test_data/test_truss_server_model_cache_v2/__init__.py
  truss/tests/test_data/test_truss_server_model_cache_v2/config.yaml
  truss/tests/test_data/test_truss_server_model_cache_v2/model/__init__.py
  truss/tests/test_data/test_truss_server_model_cache_v2/model/model.py
  truss/tests/util/test_basetenpointer.py
  truss/util/basetenpointer.py
Due: ruff, ruff-format, mypy

add cargo fmt
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/example-bptr-manifest.json
  truss-transfer/src/lib.rs
Due: none

truss transfer randomized download order (#1542)
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/example-bptr-manifest.json
  truss-transfer/src/lib.rs
Due: none
