Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        # NB(nikhil): `uv` requires system over python (here and below) due to assumptions pre-commit makes about venvs.
        language: system
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude
        language: system
        files: \.(py|pyi)$
      - id: mypy
        name: mypy-local
        entry: uv run mypy
        language: system
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
      - id: uv-lock
        name: uv lock
        entry: uv lock
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

Bump version to 0.10.10
  pyproject.toml
  uv.lock
Due: uv-lock

hf-redirect policy
  truss-transfer/src/create/hf_metadata.rs
Due: none

move fixes realated to hf token
  truss-transfer/src/create/hf_metadata.rs
  truss-transfer/src/download_core.rs
  truss-transfer/src/hf_transfer.rs
Due: none

cargo fixes
  truss-transfer/src/create/hf_metadata.rs
Due: none

cargo fixes
  truss-transfer/src/create/hf_metadata.rs
  truss-transfer/src/hf_transfer.rs
Due: none

revert metadata
  truss-transfer/src/create/hf_metadata.rs
  truss-transfer/tests/test_create_bptr_with_hf.py
Due: ruff, ruff-format, mypy

remove hf token
  truss-transfer/src/create/hf_metadata.rs
Due: none

remove hf token
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
Due: none

truss-transfer 30
  truss/templates/server/requirements.txt
Due: none

remove hf token
  pyproject.toml
  uv.lock
Due: uv-lock

remove hf token
  truss/templates/server.Dockerfile.jinja
Due: none

uv lock
  pyproject.toml
  uv.lock
Due: uv-lock

hf redirect policy (#1904)
  pyproject.toml
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/create/hf_metadata.rs
  truss-transfer/src/download_core.rs
  truss-transfer/src/hf_transfer.rs
  truss-transfer/tests/test_create_bptr_with_hf.py
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/requirements.txt
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

Bump version to 0.10.11
  pyproject.toml
  uv.lock
Due: uv-lock

fix(truss): add a restore_only field
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

some updates
  truss/cli/train/core.py
  truss/cli/train_commands.py
  truss/tests/cli/train/test_cache_view.py
Due: ruff, ruff-format, mypy

small updates
  truss/cli/train/core.py
  truss/cli/train_commands.py
  truss/remote/baseten/custom_types.py
  truss/tests/cli/train/test_cache_view.py
Due: ruff, ruff-format, mypy

apply review comments
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  uv.lock
Due: uv-lock

helpful print statement
  truss-train/truss_train/deployment.py
  truss/cli/train_commands.py
  truss/cli/utils/common.py
Due: ruff, ruff-format, mypy

Bump version to 0.10.12
  pyproject.toml
  uv.lock
Due: uv-lock

feat(truss): truss train cache summarize via CLI (#1889)
  truss-train/truss_train/deployment.py
  truss/cli/train/common.py
  truss/cli/train/core.py
  truss/cli/train/metrics_watcher.py
  truss/cli/train_commands.py
  truss/cli/utils/common.py
  truss/remote/baseten/api.py
  truss/remote/baseten/custom_types.py
  truss/tests/cli/train/test_cache_view.py
Due: ruff, ruff-format, mypy

restore chown to later, move PATH to after install
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  uv.lock
Due: uv-lock

makes project and an argument
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

makes project and an argument (#1908)
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

fix docker emulator, fix pickling error
  truss/contexts/local_loader/docker_build_emulator.py
  truss/tests/templates/control/control/test_server_integration.py
Due: ruff, ruff-format, mypy

Bump version to 0.10.13
  pyproject.toml
  uv.lock
Due: uv-lock

fix more tests
  truss/templates/cache.Dockerfile.jinja
  truss/templates/cache_requirements.txt
  truss/tests/templates/server/test_truss_server.py
  truss/tests/test_model_inference.py
Due: ruff, ruff-format

restore hf-transfer in cache_requirements
  truss/templates/cache_requirements.txt
Due: none

use total size for size in the table
  truss/cli/train/core.py
  truss/remote/baseten/custom_types.py
  truss/tests/cli/train/test_train_cli_core.py
Due: ruff, ruff-format, mypy

works
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

switch to jinja comments
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
Due: none

use macro to chown and switch to regular user
  truss/templates/server.Dockerfile.jinja
Due: none

adds test
  truss/cli/train/core.py
  truss/tests/cli/train/test_train_cli_core.py
Due: ruff, ruff-format, mypy

properly propagate server disconnect back to client
  truss/templates/control/control/endpoints.py
Due: ruff, ruff-format, mypy

feat(truss): use total size for size in the table (#1910)
  truss/cli/train/core.py
  truss/remote/baseten/custom_types.py
  truss/tests/cli/train/test_train_cli_core.py
Due: ruff, ruff-format, mypy

fix lint errors
  truss/contexts/image_builder/serving_image_builder.py
  truss/contexts/local_loader/docker_build_emulator.py
  truss/tests/templates/control/control/test_server_integration.py
  truss/tests/templates/server/test_truss_server.py
Due: ruff, ruff-format, mypy

Update invocation CLI for chains websockets
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/cli/chains_commands.py
Due: ruff, ruff-format, mypy

rework ws proxy code to properly propagate errors on both sides
  truss/templates/control/control/endpoints.py
Due: ruff, ruff-format, mypy

adjust test expectations
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_data/server.Dockerfile
Due: ruff, ruff-format
