Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        # NB(nikhil): `uv` requires system over python (here and below) due to assumptions pre-commit makes about venvs.
        language: system
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude
        language: system
        files: \.(py|pyi)$
      - id: mypy
        name: mypy-local
        entry: uv run mypy
        language: system
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
      - id: uv-lock
        name: uv lock
        entry: uv lock
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

Fixed Pydantic
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Fix Lint
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Removed Enum
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Use `uv` for patches instead of `pip3`
  pyproject.toml
  truss/templates/control/control/application.py
  truss/templates/control/control/helpers/truss_patch/model_container_patch_applier.py
  truss/tests/templates/control/control/test_server.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

Use `uv` for patches instead of `pip3` (#1963)
  pyproject.toml
  truss/templates/control/control/application.py
  truss/templates/control/control/helpers/truss_patch/model_container_patch_applier.py
  truss/tests/templates/control/control/test_server.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

Address PR feedback
  truss/cli/logs/base_watcher.py
  truss/cli/logs/model_log_watcher.py
Due: ruff, ruff-format, mypy

Re-add clock skew buffer to end epoch ms
  truss/cli/logs/base_watcher.py
Due: ruff, ruff-format, mypy

Format
  truss/cli/logs/model_log_watcher.py
Due: ruff, ruff-format, mypy

Model logs tail cursor (#1961)
  Makefile
  truss/cli/logs/base_watcher.py
  truss/cli/logs/model_log_watcher.py
Due: ruff, ruff-format, mypy

Bump version to 0.11.9
  pyproject.toml
  uv.lock
Due: uv-lock

default to published deployment, --watch for development deployment
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/api/__init__.py
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

added test for /v1/messages
  truss/tests/templates/server/test_model_wrapper.py
  truss/tests/test_model_inference.py
Due: ruff, ruff-format

add empty init file to truss/util
  truss/util/__init__.py
Due: ruff, ruff-format, mypy

add empty init file to truss/util (#1965)
  truss/util/__init__.py
Due: ruff, ruff-format, mypy

Update trt_llm_config.py - allow num_builder_gpus for v2
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

custom server no replace supervisord with better shell script
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/docker_server/server_wrapper.sh
  truss/templates/docker_server_requirements.txt
  truss/templates/server.Dockerfile.jinja
Due: ruff, ruff-format, mypy

Fix lint
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

update escaping characters
  truss/templates/server.Dockerfile.jinja
Due: none

fix restart behavior
  truss/templates/docker_server/server_wrapper.sh
Due: none

Update trt_llm_config.py - allow num_builder_gpus for v2 (#1966)
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Better sanitization of control server errors
  pyproject.toml
  truss/templates/control/control/application.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

improvements
  truss-transfer/src/cache.rs
  truss-transfer/src/cloud_range_download.rs
  truss-transfer/src/download_core.rs
Due: none

support dry runs
  truss/cli/train/core.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/cli/train/types.py
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
  truss_configs/deployment-1_qkopm83/config.yaml
Due: ruff, ruff-format, mypy

updates
  truss/cli/train_commands.py
  truss_configs/deployment-1_qkopm83/config.yaml
Due: ruff, ruff-format, mypy

cmments
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
Due: ruff, ruff-format, mypy

updates save format and logging messaging
  truss/cli/train_commands.py
  truss_configs/dry_run_20251006_110318/config.yaml
  truss_configs/dry_run_20251006_110526/config.yaml
Due: ruff, ruff-format, mypy

small touches
  truss/cli/train_commands.py
  truss_configs/dry_run_20251006_110318/config.yaml
  truss_configs/dry_run_20251006_110526/config.yaml
Due: ruff, ruff-format, mypy

more logging updates
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

slight code improvement
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

feat(truss): support dry runs from server based deploys (#1972)
  truss/cli/train/core.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/cli/train/types.py
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

Better sanitization of control server errors (#1968)
  pyproject.toml
  truss/templates/control/control/application.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

cloud range stop
  truss-transfer/src/cloud_range_download.rs
Due: none

add logging restart
  truss-transfer/src/cloud_range_download.rs
  truss-transfer/tests/test_create_bptr_with_aws.py
  truss-transfer/tests/test_create_bptr_with_gcs.py
Due: ruff, ruff-format, mypy

format
  truss-transfer/src/cloud_range_download.rs
Due: none

rename panick to panic
  truss-transfer/src/cloud_range_download.rs
  truss-transfer/src/core.rs
Due: none

add hf_transfer chunk flushing
  truss-transfer/src/hf_transfer.rs
  truss-transfer/tests/test_create_bptr_with_hf.py
Due: ruff, ruff-format, mypy

add release version
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
Due: none

hf metadata
  truss-transfer/src/create/hf_metadata.rs
Due: none

Update ci
  .github/workflows/build-maturin.yml
Due: none
