Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

Update http_client.rs
  baseten-performance-client/core/src/http_client.rs
Due: none

Update Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
Due: none

revert lock
  baseten-performance-client/Cargo.lock
Due: none

add reverse proxy
  baseten-performance-client/Cargo.toml
Due: none

add reverse proxy
  baseten-performance-client/Cargo.lock
  baseten-performance-client/Cargo.toml
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/reverse_proxy/Cargo.toml
Due: none

performance-client: minor deps upgrade (#2161)
  baseten-performance-client/.dockerignore
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/src/cancellation.rs
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/constants.rs
  baseten-performance-client/core/src/http.rs
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/core/tests/integration_test.rs
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/index.d.ts
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/python_bindings/tests/test_bindings.py
  baseten-performance-client/python_bindings/uv.lock
Due: ruff, ruff-format, mypy

try rustls backend
  baseten-performance-client/python_bindings/Cargo.toml
Due: none

refactor: inline _resolve_config_path static method in TrussSpec
  truss/base/truss_spec.py
Due: ruff, ruff-format, mypy

version bump
  baseten-performance-client/python_bindings/pyproject.toml
Due: none

version bump
  baseten-performance-client/python_bindings/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

rename
  baseten-performance-client/reverse_proxy/Cargo.toml
  baseten-performance-client/reverse_proxy/Dockerfile
  baseten-performance-client/reverse_proxy/README.md
  baseten-performance-client/reverse_proxy/src/main.rs
  baseten-performance-client/reverse_proxy/src/server.rs
  baseten-performance-client/reverse_proxy/tests/common/mod.rs
  baseten-performance-client/reverse_proxy/tests/integration_test.rs
  baseten-performance-client/reverse_proxy/tests/run_integration_tests.sh
Due: none

add config.yaml
  baseten-performance-client/reverse_proxy/README.md
  baseten-performance-client/reverse_proxy/config.yaml
Due: none

switch default backend to rustls
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/reverse_proxy/Cargo.toml
Due: none

cargo toml
  baseten-performance-client/reverse_proxy/Cargo.toml
  baseten-performance-client/reverse_proxy/Dockerfile
Due: none

add python3 to dockerfile by default :/
  baseten-performance-client/reverse_proxy/Dockerfile
Due: none

bump version
  baseten-performance-client/Cargo.lock
  baseten-performance-client/reverse_proxy/Cargo.toml
  baseten-performance-client/reverse_proxy/config.yaml
Due: none

add cnn dailymain
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Disable nginx disk writes in docker_server deployments
  pyproject.toml
  truss/templates/docker_server/proxy.conf.jinja
  truss/templates/server.Dockerfile.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format, uv-lock

Pin HuggingFace revisions in weights to commit SHAs on push
  truss/remote/baseten/remote.py
  truss/tests/util/test_hf_revision_resolver.py
  truss/util/hf_revision_resolver.py
Due: ruff, ruff-format, mypy

Try new `rc`, with comments
  pyproject.toml
  truss/templates/docker_server/proxy.conf.jinja
  truss/templates/server.Dockerfile.jinja
  uv.lock
Due: uv-lock

fix docker file
  baseten-performance-client/reverse_proxy/Dockerfile
Due: none

Disable nginx disk writes in docker_server deployments (#2163)
  pyproject.toml
  truss/templates/docker_server/proxy.conf.jinja
  truss/templates/server.Dockerfile.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  uv.lock
Due: ruff, ruff-format, uv-lock

updates
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_chain_upload.py
  truss/tests/remote/baseten/test_core.py
Due: ruff, ruff-format, mypy

Increase the nginx buffer size from 8K -> 4Mb
  pyproject.toml
  truss/templates/docker_server/proxy.conf.jinja
  uv.lock
Due: uv-lock

Increase the nginx buffer size from 8K -> 4Mb (#2166)
  pyproject.toml
  truss/templates/docker_server/proxy.conf.jinja
  uv.lock
Due: uv-lock

Bump version to 0.12.11
  pyproject.toml
  uv.lock
Due: uv-lock

mark fixes
  baseten-performance-client/reverse_proxy/config.yaml
Due: none

Mf/reverse proxy (#2160)
  .github/workflows/baseten-performance-client-test.yml
  baseten-performance-client/Cargo.lock
  baseten-performance-client/Cargo.toml
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/pyproject.toml
  baseten-performance-client/python_bindings/tests/test_client_embed.py
  baseten-performance-client/reverse_proxy/Cargo.toml
  baseten-performance-client/reverse_proxy/Dockerfile
  baseten-performance-client/reverse_proxy/README.md
  baseten-performance-client/reverse_proxy/config.yaml
  baseten-performance-client/reverse_proxy/src/config.rs
  baseten-performance-client/reverse_proxy/src/constants.rs
  baseten-performance-client/reverse_proxy/src/handlers.rs
  baseten-performance-client/reverse_proxy/src/headers.rs
  baseten-performance-client/reverse_proxy/src/lib.rs
  baseten-performance-client/reverse_proxy/src/main.rs
  baseten-performance-client/reverse_proxy/src/schema.rs
  baseten-performance-client/reverse_proxy/src/server.rs
  baseten-performance-client/reverse_proxy/src/tokenizer_manager.rs
  baseten-performance-client/reverse_proxy/tests/README.md
  baseten-performance-client/reverse_proxy/tests/common/mod.rs
  baseten-performance-client/reverse_proxy/tests/integration_test.rs
  baseten-performance-client/reverse_proxy/tests/lib.rs
  baseten-performance-client/reverse_proxy/tests/run_integration_tests.sh
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

isession updates
  truss-train/truss_train/definitions.py
  truss-train/truss_train/deployment.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

Add Workspace config for truss train push
  truss-train/tests/test_deployment.py
  truss-train/truss_train/__init__.py
  truss-train/truss_train/definitions.py
  truss-train/truss_train/deployment.py
Due: ruff, ruff-format, mypy

Add Workspace config for truss train push (#2169)
  truss-train/tests/test_deployment.py
  truss-train/truss_train/__init__.py
  truss-train/truss_train/definitions.py
  truss-train/truss_train/deployment.py
Due: ruff, ruff-format, mypy

native tls
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/reverse_proxy/Cargo.toml
Due: none

main
  baseten-performance-client/reverse_proxy/config.yaml
Due: none

fix lb
  baseten-performance-client/reverse_proxy/config.yaml
Due: none

version release
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/index.js
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/pyproject.toml
  baseten-performance-client/python_bindings/uv.lock
Due: none

Bump version to 0.12.12
  pyproject.toml
  uv.lock
Due: uv-lock

x-model-target
  baseten-performance-client/reverse_proxy/config.yaml
Due: none

feat: performance-client, back to old ssl lib, more fixes. (#2171)
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/index.js
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/pyproject.toml
  baseten-performance-client/python_bindings/uv.lock
  baseten-performance-client/reverse_proxy/Cargo.toml
  baseten-performance-client/reverse_proxy/config.yaml
Due: none

new release perf client
  baseten-performance-client/README.md
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/core/tests/integration_test.rs
  baseten-performance-client/python_bindings/README.md
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/python_bindings/tests/test_client_embed.py
  baseten-performance-client/python_bindings/uv.lock
  baseten-performance-client/reverse_proxy/README.md
  baseten-performance-client/reverse_proxy/src/handlers.rs
  baseten-performance-client/reverse_proxy/src/main.rs
  baseten-performance-client/reverse_proxy/src/tokenizer_manager.rs
  baseten-performance-client/reverse_proxy/tests/integration_test.rs
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
