Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

Bump version to 0.16.0
  pyproject.toml
  uv.lock
Due: uv-lock

Add --output json to truss push (#2356)
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/cli/cli.py
  truss/cli/utils/output.py
  truss/remote/baseten/api.py
  truss/remote/baseten/rest_client.py
  truss/remote/baseten/service.py
  truss/remote/truss_remote.py
  truss/tests/cli/test_cli.py
  truss/tests/remote/test_truss_remote.py
Due: ruff, ruff-format, mypy

💥 Default `--no-sleep` to true for `watch` and `push --watch` (#2359)
  truss/cli/cli.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

feat(trainers): Add sampling client e2e example
  trainers/examples/sample_prediction.py
  trainers/trainers/sampling_client.py
  trainers/trainers/service_client.py
Due: ruff, ruff-format, mypy

run linter
  truss/tests/cli/train/test_poller.py
Due: ruff, ruff-format

feat(training): support TRAINING_JOB_PENDING queue status in CLI (#2368)
  truss/cli/train/core.py
  truss/cli/train/poller.py
  truss/cli/train_commands.py
  truss/tests/cli/train/test_poller.py
Due: ruff, ruff-format, mypy

feat(trainers): Replace megatron-bridge with ms-swift Megatron backend
  trainers/server/pyproject.toml
  trainers/server/src/trainers_server/dp_worker/api/controller.py
  trainers/server/uv.lock
Due: ruff, ruff-format, mypy

test(trainers): Update smoke test for importance_sampling API
  trainers/tests/e2e.py
Due: ruff, ruff-format, mypy

fix(trainers): Fix MEGATRON_LM_PATH detection for cluster layout
  trainers/server/src/trainers_server/dp_worker/api/controller.py
Due: ruff, ruff-format, mypy

feat(training): show pending jobs under dedicated "Queued Jobs" header
  truss/cli/train/core.py
  truss/tests/cli/train/test_poller.py
Due: ruff, ruff-format, mypy

feat(trainers): Add GPU-tested Megatron-Bridge build
  .gitmodules
  trainers-megatron-bridge/SDK_COMPARISON.md
  trainers-megatron-bridge/server/Dockerfile
  trainers-megatron-bridge/server/pyproject.toml
  trainers-megatron-bridge/server/setup.sh
  trainers-megatron-bridge/server/src/trainers_server/__init__.py
  trainers-megatron-bridge/server/src/trainers_server/dp_worker/__init__.py
  trainers-megatron-bridge/server/src/trainers_server/dp_worker/api/__init__.py
  trainers-megatron-bridge/server/src/trainers_server/dp_worker/api/controller.py
  trainers-megatron-bridge/server/src/trainers_server/dp_worker/api/models.py
  trainers-megatron-bridge/server/src/trainers_server/dp_worker/api/server.py
  trainers-megatron-bridge/server/src/trainers_server/dp_worker/main.py
  trainers-megatron-bridge/server/src/trainers_server/shared/__init__.py
  trainers-megatron-bridge/server/src/trainers_server/shared/models.py
  trainers-megatron-bridge/server/tests/__init__.py
  trainers-megatron-bridge/server/tests/conftest.py
  trainers-megatron-bridge/server/tests/helpers.py
  trainers-megatron-bridge/server/tests/test_batch_construction.py
  trainers-megatron-bridge/server/tests/test_broadcast_gloo.py
  trainers-megatron-bridge/server/tests/test_controller_gpu.py
  trainers-megatron-bridge/server/tests/test_server_routes.py
  trainers-megatron-bridge/server/tests/test_weight_sync.py
  trainers-megatron-bridge/server/uv.lock
  trainers-megatron-bridge/tests/acceptance_math_rl.py
  trainers-megatron-bridge/tests/acceptance_multiturn_rl.py
  trainers-megatron-bridge/tests/e2e.py
  trainers-megatron-bridge/tests/test_integration.py
  trainers-megatron-bridge/tests/verify_worker.py
  trainers-megatron-bridge/trainers/__init__.py
  trainers-megatron-bridge/trainers/client.py
  trainers-megatron-bridge/trainers/models.py
  trainers-megatron-bridge/trainers/sampling_client.py
  trainers-megatron-bridge/trainers/service_client.py
  trainers-megatron-bridge/trainers/templates/__init__.py
  trainers-megatron-bridge/trainers/templates/inference/config.yaml
  trainers-megatron-bridge/trainers/templates/training/config.py
  trainers-megatron-bridge/trainers/training_client.py
Due: ruff, ruff-format, mypy

feat(trainers): GPU-tested ms-swift Megatron backend build
  .gitmodules
  trainers/server/pyproject.toml
  trainers/server/src/trainers_server/dp_worker/api/controller.py
  trainers/server/src/trainers_server/dp_worker/api/megatron_controller.py
  trainers/server/src/trainers_server/dp_worker/api/models.py
  trainers/server/src/trainers_server/dp_worker/api/server.py
  trainers/server/src/trainers_server/dp_worker/distributed.py
  trainers/server/src/trainers_server/dp_worker/main.py
  trainers/server/tests/__init__.py
  trainers/server/tests/conftest.py
  trainers/server/tests/integration/__init__.py
  trainers/server/tests/integration/test_api.py
  trainers/server/tests/smoke/test_megatron_smoke.py
  trainers/server/tests/unit/__init__.py
  trainers/server/tests/unit/test_controller.py
  trainers/server/tests/unit/test_distributed.py
  trainers/server/tests/unit/test_megatron_controller.py
  trainers/server/uv.lock
  trainers/server/vendor/transformer-engine-stub/pyproject.toml
  trainers/server/vendor/transformer-engine-stub/transformer_engine/__init__.py
  trainers/server/vendor/transformer-engine-stub/transformer_engine_torch/__init__.py
  trainers/tests/e2e.py
  trainers/trainers/client.py
  trainers/trainers/templates/training/config.py
Due: ruff, ruff-format, mypy

feat(trainers): GPU-tested Megatron-Bridge backend build
  .gitmodules
  trainers/server/Dockerfile
  trainers/server/pyproject.toml
  trainers/server/setup.sh
  trainers/server/src/trainers_server/dp_worker/api/controller.py
  trainers/server/src/trainers_server/dp_worker/api/server.py
  trainers/server/src/trainers_server/dp_worker/main.py
  trainers/server/src/trainers_server/shared/models.py
  trainers/server/tests/__init__.py
  trainers/server/tests/conftest.py
  trainers/server/tests/helpers.py
  trainers/server/tests/test_batch_construction.py
  trainers/server/tests/test_broadcast_gloo.py
  trainers/server/tests/test_controller_gpu.py
  trainers/server/tests/test_server_routes.py
  trainers/server/tests/test_weight_sync.py
  trainers/trainers/client.py
  trainers/trainers/templates/training/config.py
Due: ruff, ruff-format, mypy

Add truss download CLI command
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

CI fixes
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format

Address review: timeout, path validation, tar filter
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

redo truss config
  truss/base/truss_config.py
  truss/tests/remote/baseten/test_llm.py
Due: ruff, ruff-format, mypy

fix(trainers): Use BASETEN_API_KEY instead of TRAINERS_API_KEY
  trainers/trainers/service_client.py
Due: ruff, ruff-format, mypy

feat(training): render queued jobs as a summary table
  truss/cli/train/core.py
  truss/tests/cli/train/test_poller.py
Due: ruff, ruff-format, mypy

feat(training): make active training jobs it's own table
  truss/cli/train/core.py
  truss/tests/cli/train/test_poller.py
Due: ruff, ruff-format, mypy

feat(training): show pending jobs under dedicated Queued Jobs header (#2371)
  truss/cli/train/core.py
  truss/tests/cli/train/test_poller.py
Due: ruff, ruff-format, mypy

Bump version to 0.16.1
  pyproject.toml
  uv.lock
Due: uv-lock

clean up
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_llm.py
Due: ruff, ruff-format, mypy

api clean up
  truss/remote/baseten/api.py
  truss/tests/remote/baseten/test_api.py
Due: ruff, ruff-format, mypy

delete generic test file
  truss/tests/remote/baseten/test_llm.py
Due: ruff, ruff-format

Add environment variables to enable integration tests
  truss/cli/train/proxy_command.py
  truss/cli/train/ssh.py
  truss/tests/cli/train/test_ssh.py
Due: ruff, ruff-format, mypy

add truss train ssh to allow users to ssh into training jobs
  truss-train/truss_train/definitions.py
  truss/cli/train/proxy_command.py
  truss/cli/train/ssh.py
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
  truss/tests/cli/train/test_ssh.py
Due: ruff, ruff-format, mypy

rename truss train ssh setup to `truss ssh setup`
  truss/cli/cli.py
  truss/cli/proxy_command.py
  truss/cli/ssh.py
  truss/cli/ssh_commands.py
  truss/cli/train_commands.py
  truss/tests/cli/test_ssh.py
Due: ruff, ruff-format, mypy

rc version
  pyproject.toml
Due: uv-lock

rc version
  pyproject.toml
  uv.lock
Due: uv-lock

add truss ssh to allow users to ssh into training jobs (#2344)
  truss-train/truss_train/definitions.py
  truss/cli/cli.py
  truss/cli/proxy_command.py
  truss/cli/ssh.py
  truss/cli/ssh_commands.py
  truss/remote/baseten/api.py
  truss/tests/cli/test_ssh.py
Due: ruff, ruff-format, mypy

Remote SSH for inference
  truss/base/truss_config.py
  truss/cli/proxy_command.py
  truss/cli/ssh.py
  truss/config.schema.json
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
  truss/templates/baseten-ssh-server.sh
  truss/tests/cli/test_ssh.py
Due: ruff, ruff-format, mypy

Address copilot review comments
  truss/cli/proxy_command.py
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

reduced arg drilling by creating container for push options
  CHANGELOG.md
  truss/remote/baseten/core.py
  truss/remote/baseten/custom_types.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_cli.py
  truss/tests/remote/baseten/test_chain_upload.py
  truss/tests/remote/baseten/test_core.py
  truss/tests/remote/baseten/test_push_options.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

Switch inference SSH hostnames to deployment-scoped
  truss/cli/cli.py
  truss/cli/proxy_command.py
  truss/tests/cli/test_ssh.py
Due: ruff, ruff-format, mypy

feat(train): add truss train capacity command (#2360)
  truss/cli/train/core.py
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
  truss/tests/cli/train/test_train_cli_core.py
Due: ruff, ruff-format, mypy

fix(docker_server): relocate nginx pid file off /run
  truss/templates/server.Dockerfile.jinja
Due: none

chore: bump version to 0.16.2rc500
  pyproject.toml
  uv.lock
Due: uv-lock

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
