Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        # NB(nikhil): `uv` requires system over python (here and below) due to assumptions pre-commit makes about venvs.
        language: system
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude
        language: system
        files: \.(py|pyi)$
      - id: mypy
        name: mypy-local
        entry: uv run mypy
        language: system
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
      - id: uv-lock
        name: uv lock
        entry: uv lock
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

Allow "truss watch" to succeed on external package dirs (#1987)
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

create packages directory unconditionally
  truss/templates/base.Dockerfile.jinja
Due: none

fix test expectation
  truss/tests/test_data/server.Dockerfile
Due: none

initial MVP commit
  truss/base/truss_config.py
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

Bump version to 0.11.13
  pyproject.toml
  uv.lock
Due: uv-lock

Reapply fix to allow sync to packages (#1996)
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

Upload using graphql
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/tests/remote/baseten/test_chain_upload.py
Due: ruff, ruff-format, mypy

Rename `raw_artifact_s3_key`
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
Due: ruff, ruff-format, mypy

feat: Default to published deployment, --watch for development deployment
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/api/__init__.py
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

feat: Add automatic log streaming to --watch flag
  truss/cli/cli.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

fix: Update tests to properly mock truss attributes
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format

fix: Final test corrections for --watch functionality
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format

feat: Deprecate --promote flag in favor of --environment
  truss/api/__init__.py
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

feat: Deprecate --publish flag since it's now default behavior
  truss/api/__init__.py
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

docs: Add consistency summary for truss and chains behavior
  CONSISTENCY_SUMMARY.md
Due: none

fix: Apply pre-commit formatting fixes
  .cursor/plans/autos-2e147658.plan.md
  .cursor/worktrees.json
  CONSISTENCY_SUMMARY.md
  truss/api/__init__.py
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

chore: Remove .cursor directory
  .cursor/plans/autos-2e147658.plan.md
  .cursor/worktrees.json
Due: none

chore: Remove CONSISTENCY_SUMMARY.md file
  CONSISTENCY_SUMMARY.md
Due: none

Add support for custom quantization datasets
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Multiple fields in config
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Add calibration dataset split
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

lint
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

add run-as-user-id
  truss/base/truss_config.py
Due: ruff, ruff-format, mypy

Pre-commit fixes
  smoketests/test_chains.py
  smoketests/test_chains_click.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_chain_upload.py
Due: ruff, ruff-format, mypy

Remove redundant test
  smoketests/test_chains_click.py
Due: ruff, ruff-format, mypy

Update smoketest
  smoketests/test_chains.py
Due: ruff, ruff-format, mypy

add b10fs copy support
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

separate dockerfile jinja for as-is deployment
  truss/base/constants.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/as_is.Dockerfile.jinja
Due: ruff, ruff-format, mypy

initial commit for rc release CI
  .github/workflows/create-rc-release.yml
Due: none

allow some users for rc, prevent concurrent runs
  .github/workflows/create-rc-release.yml
Due: none

validate input rc with the version in uv.lock and pyproject.toml
  .github/workflows/create-rc-release.yml
Due: none

validate rc version within uv.lock and pyproject.toml
  .github/workflows/create-rc-release.yml
Due: none

update error message
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

remove as-is flag check at build time
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

Update smoketest
  truss-chains/tests/test_public_api_disable_truss_download.py
  truss-chains/truss_chains/deployment/deployment_client.py
  truss-chains/truss_chains/private_types.py
  truss-chains/truss_chains/public_api.py
  truss/cli/chains_commands.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_chains_cli.py
  truss/tests/remote/baseten/test_chain_disable_truss_download.py
Due: ruff, ruff-format, mypy

Pre-commit changes
  smoketests/test_chains.py
  truss-chains/tests/test_public_api_disable_truss_download.py
  truss/tests/cli/test_chains_cli.py
  truss/tests/remote/baseten/test_chain_disable_truss_download.py
Due: ruff, ruff-format, mypy

rename as-is to no-build
  truss/base/constants.py
  truss/base/truss_config.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/no_build.Dockerfile.jinja
Due: ruff, ruff-format, mypy

allow_truss_download fixes
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
Due: ruff, ruff-format, mypy

Add pre-commit changes
  truss/remote/baseten/api.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_chain_upload.py
Due: ruff, ruff-format, mypy
