Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff analyze and fix
  entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: python

ruff-format:
  name: ruff format
  entry: poetry run ruff format --force-exclude
  language: python

mypy:
  name: mypy-local
  entry: poetry run mypy
  language: python
  pass_filenames: true

predict endpoint location
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format

revert: predict endpoint location
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format

add bei-default-route in runtime settings (#1464)
  truss/base/trt_llm_config.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format, mypy

add chunked context change
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

add fix in unit test migration
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format

add unit test for autoconfig
  truss/tests/conftest.py
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format

fix recursive update
  truss/base/trt_llm_config.py
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format, mypy

add chunked context change (#1466)
  truss/base/trt_llm_config.py
  truss/tests/conftest.py
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format, mypy

base model llama-update
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Introduce new RestAPIClient wraper
  truss/remote/baseten/api.py
  truss/remote/baseten/rest_client.py
Due: ruff, ruff-format, mypy

Introduce new RestAPIClient wraper (#1468)
  truss/remote/baseten/api.py
  truss/remote/baseten/rest_client.py
Due: ruff, ruff-format, mypy

Add extra job status to logs watch
  truss-train/truss_train/log_utils.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

Add extra job status to logs watch (#1461)
  truss-train/truss_train/log_utils.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

Add `watch` to truss train push
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

Add `watch` to truss train push (#1469)
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

Allow `train --watch` to end when job terminates
  truss-train/truss_train/log_utils.py
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

bump versions
  pyproject.toml
  truss/base/constants.py
Due: ruff, ruff-format, mypy

add config check for encoder
  truss/trt_llm/config_checks.py
Due: ruff, ruff-format, mypy

Allow `train --watch` to end when job terminates (#1470)
  truss-train/truss_train/log_utils.py
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

add truss config
  truss/base/trt_llm_config.py
  truss/base/truss_config.py
  truss/trt_llm/config_checks.py
Due: ruff, ruff-format, mypy

update paged context
  truss/base/trt_llm_config.py
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format, mypy

update paged context
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Update pyproject.toml
  pyproject.toml
Due: none

auto-inject add openai compatible tags (#1435)
  pyproject.toml
  truss/base/constants.py
  truss/base/trt_llm_config.py
  truss/base/truss_config.py
  truss/cli/cli.py
  truss/tests/trt_llm/test_trt_llm_config.py
  truss/trt_llm/config_checks.py
Due: ruff, ruff-format, mypy

bump version
  pyproject.toml
Due: none

Bump briton (#1460)
  pyproject.toml
  truss/base/constants.py
Due: ruff, ruff-format, mypy

Bump version to 0.9.69
  pyproject.toml
Due: none

Error handling for WS and check request disconnets in model wrapper
  truss/templates/server/common/errors.py
  truss/templates/server/model_wrapper.py
  truss/templates/server/truss_server.py
  truss/templates/shared/log_config.py
  truss/tests/templates/server/test_model_wrapper.py
  truss/tests/test_model_inference.py
Due: ruff, ruff-format, mypy

Error handling for WS and check request disconnets in model wrapper (#1465)
  truss/templates/server/common/errors.py
  truss/templates/server/model_wrapper.py
  truss/templates/server/truss_server.py
  truss/templates/shared/log_config.py
  truss/tests/templates/server/test_model_wrapper.py
  truss/tests/test_model_inference.py
Due: ruff, ruff-format, mypy

Make truss remote factory more robust against missing/extra arguments
  truss/remote/baseten/remote.py
  truss/remote/remote_factory.py
  truss/tests/remote/test_remote_factory.py
Due: ruff, ruff-format, mypy

Make truss remote factory more robust against missing/extra arguments (#1472)
  truss/remote/baseten/remote.py
  truss/remote/remote_factory.py
  truss/tests/remote/test_remote_factory.py
Due: ruff, ruff-format, mypy

add truss config
  truss/base/truss_config.py
Due: ruff, ruff-format, mypy

Propagate HTTP status codes through chains, safer re-raising of exceptions in case of mismatching arguments
  truss-chains/tests/http_errors/http_errors.py
  truss-chains/tests/test_e2e.py
  truss-chains/truss_chains/remote_chainlet/utils.py
  truss/remote/baseten/remote.py
Due: ruff, ruff-format, mypy

Relax websocket dependency
  poetry.lock
  pyproject.toml
  truss/templates/control/requirements.txt
  truss/templates/server/requirements.txt
Due: none

add truss config (#1473)
  truss/base/truss_config.py
Due: ruff, ruff-format, mypy

Relax truss server requirements (mostly >=)
  poetry.lock
  pyproject.toml
  truss/templates/control/requirements.txt
  truss/templates/server/requirements.txt
Due: none

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
