Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: isort
        name: isort-local
        entry: poetry run isort
        language: system
        types: [python]
        pass_filenames: true
      - id: flake8
        name: flake8-local
        entry: poetry run flake8
        language: system
        types: [python]
        pass_filenames: true
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        args: ["--install-types", "--non-interactive"]
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
  - repo: https://github.com/tcort/markdown-link-check
    rev: "v3.10.3"
    hooks:
      - id: markdown-link-check
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        # It is recommended to specify the latest version of Python
        # supported by your project here, or alternatively use
        # pre-commit's default_language_version, see
        # https://pre-commit.com/#top_level-default_language_version
        language_version: python3.9

Update GTM ID (#703)
  docs/mint.json
Due: none

Upgrade Base image to 12.2
  .github/workflows/integration-tests.yml
  bin/generate_base_images.py
  docker/base_images/base_image.Dockerfile.jinja
Due: isort, flake8, mypy

Add platform back
  bin/generate_base_images.py
Due: isort, flake8, mypy

Prep for building images in integration tests
  .github/workflows/integration-tests.yml
  bin/generate_base_images.py
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

Updated generate script.
  bin/generate_truss_examples.py
Due: isort, flake8, mypy

Updated reference.
  docs/_snippets/config-params.mdx
  docs/reference/config.mdx
Due: none

Update autogenerate docs script.
  bin/generate_truss_examples.py
  docs/examples/01-getting-started-bert.mdx
  docs/examples/02-llm.mdx
  docs/examples/03-llm-with-streaming.mdx
  docs/examples/04-image-generation.mdx
  docs/examples/06-high-performance-cached-weights.mdx
  docs/examples/07-high-performance-tgi.mdx
  docs/examples/08-high-performance-vllm.mdx
  docs/examples/09-private-huggingface.mdx
  docs/examples/10-using-system-packages.mdx
  docs/examples/2_image_classification/clip.mdx
  docs/mint.json
  docs/welcome.mdx
Due: isort, flake8, mypy

Drop training image and bump rc version
  .github/workflows/integration-tests.yml
  .github/workflows/main.yml
  pyproject.toml
Due: none

Fix whisper link.
  docs/welcome.mdx
Due: none

Update autogenerated docs script (#705)
  bin/generate_truss_examples.py
  docs/examples/01-getting-started-bert.mdx
  docs/examples/02-llm.mdx
  docs/examples/03-llm-with-streaming.mdx
  docs/examples/04-image-generation.mdx
  docs/examples/06-high-performance-cached-weights.mdx
  docs/examples/07-high-performance-tgi.mdx
  docs/examples/08-high-performance-vllm.mdx
  docs/examples/09-private-huggingface.mdx
  docs/examples/10-using-system-packages.mdx
  docs/examples/2_image_classification/clip.mdx
  docs/mint.json
  docs/welcome.mdx
Due: isort, flake8, mypy

Support full config.
  docs/_snippets/config-params.mdx
Due: none

Move around the tabs.
  docs/mint.json
Due: none

Update config reference (#706)
  docs/_snippets/config-params.mdx
  docs/mint.json
  docs/reference/config.mdx
Due: none

Better json handling.
  pyproject.toml
  truss/cli/cli.py
  truss/remote/truss_remote.py
Due: isort, flake8, mypy

Backend changes.
  pyproject.toml
  truss/templates/server/common/truss_server.py
Due: isort, flake8, mypy

Better json handling (#707)
  pyproject.toml
  truss/cli/cli.py
  truss/remote/truss_remote.py
  truss/templates/server/common/truss_server.py
Due: isort, flake8, mypy

init s3 caching
  truss/contexts/image_builder/cache_warmer.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/cache_requirements.txt
Due: isort, flake8, mypy

update toml to test on dev
  pyproject.toml
Due: none

fix gcs tests + add s3 tests
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: isort, flake8

cleanup
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

add boto to deps
  pyproject.toml
Due: none

update pyproject to include boto
  poetry.lock
  pyproject.toml
Due: none

bump dev
  pyproject.toml
Due: none

update poetry lock
  poetry.lock
Due: none

public s3 buckets are working
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

update dev
  pyproject.toml
Due: none

bump rc
  pyproject.toml
Due: none

Caching Weights from S3 (#709)
  poetry.lock
  pyproject.toml
  truss/contexts/image_builder/cache_warmer.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/cache_requirements.txt
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: isort, flake8, mypy

refactored cache warmer
  truss/contexts/image_builder/cache_warmer.py
Due: isort, flake8, mypy

public s3 + code refactors
  truss/contexts/image_builder/cache_warmer.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/cache.Dockerfile.jinja
  truss/templates/copy_cache_files.Dockerfile.jinja
Due: isort, flake8, mypy

can pull from public GCS now
  truss/contexts/image_builder/cache_warmer.py
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

init
  trt_notes.txt
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/trtllm/download_engine.py
  truss/templates/trtllm/model/inflight_batcher_llm/ensemble/1/.tmp
  truss/templates/trtllm/model/inflight_batcher_llm/ensemble/config.pbtxt
  truss/templates/trtllm/model/inflight_batcher_llm/postprocessing/1/model.py
  truss/templates/trtllm/model/inflight_batcher_llm/postprocessing/config.pbtxt
  truss/templates/trtllm/model/inflight_batcher_llm/postprocessing/config.pbtxt.jinja
  truss/templates/trtllm/model/inflight_batcher_llm/preprocessing/1/model.py
  truss/templates/trtllm/model/inflight_batcher_llm/preprocessing/config.pbtxt
  truss/templates/trtllm/model/inflight_batcher_llm/preprocessing/config.pbtxt.jinja
  truss/templates/trtllm/model/inflight_batcher_llm/tensorrt_llm/config.pbtxt
  truss/templates/trtllm/model/inflight_batcher_llm/tensorrt_llm/config.pbtxt.jinja
  truss/templates/trtllm/proxy.conf
  truss/templates/trtllm/supervisord.conf
  truss/templates/trtllm/trtllm.Dockerfile.jinja
  truss/truss_config.py
  truss/util/path.py
Due: isort, flake8, mypy

sample truss
  trtllm_sample_truss/config.yaml
Due: none

Bump version to 0.7.14
  pyproject.toml
Due: none

clean up
  truss/contexts/image_builder/cache_warmer.py
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

filter by path for buckets
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

updating docker image
  truss/templates/trtllm/trtllm.Dockerfile.jinja
Due: none

updating image builder
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/trtllm/download_engine.py
Due: isort, flake8, mypy

updating dockerfile
  trtllm_sample_truss/config.yaml
  truss/templates/trtllm/trtllm.Dockerfile.jinja
Due: none

pointing to correct port in nginx proxy
  truss/templates/trtllm/proxy.conf
Due: none
