Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: isort
        name: isort-local
        entry: poetry run isort
        language: system
        types: [python]
        pass_filenames: true
      - id: flake8
        name: flake8-local
        entry: poetry run flake8
        language: system
        types: [python]
        pass_filenames: true
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        args: ["--install-types", "--non-interactive"]
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
  - repo: https://github.com/tcort/markdown-link-check
    rev: "v3.10.3"
    hooks:
      - id: markdown-link-check
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        # It is recommended to specify the latest version of Python
        # supported by your project here, or alternatively use
        # pre-commit's default_language_version, see
        # https://pre-commit.com/#top_level-default_language_version
        language_version: python3.9

bumped rc (#432)
  pyproject.toml
Due: none

init
  truss/cli.py
  truss/remote/remote_factory.py
  truss/tests/remote/test_remote_factory.py
Due: isort, flake8, mypy

lint
  truss/remote/baseten/service.py
Due: isort, flake8, mypy

Truss Remote follow-up (#429)
  truss/cli.py
  truss/remote/baseten/auth.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/remote/baseten/service.py
  truss/remote/truss_remote.py
  truss/tests/remote/baseten/test_auth.py
  truss/tests/remote/baseten/test_core.py
  truss/tests/remote/test_truss_remote.py
Due: isort, flake8, mypy

Remove duplicate logging file from control server
  truss/templates/control/control/helpers/logging.py
Due: isort, flake8, mypy

resolving comments
  truss/cli.py
  truss/remote/remote_factory.py
  truss/tests/remote/test_remote_factory.py
Due: isort, flake8, mypy

Fix import in test
  truss/templates/control/control/application.py
  truss/tests/templates/control/control/test_server.py
Due: isort, flake8, mypy

Fix lint
  README.md
  truss/tests/templates/control/control/test_server.py
Due: isort, flake8

Add the other import path for the inference server to work
  truss/tests/templates/control/control/test_server.py
Due: isort, flake8

Fix lint from moving workflow
  README.md
Due: none

Fix lint from moving workflow (#438)
  README.md
Due: none

adding data dir copies
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/server.Dockerfile.jinja
Due: isort, flake8, mypy

Remove duplicate logging file from control server (#437)
  truss/templates/control/control/application.py
  truss/templates/control/control/helpers/logging.py
  truss/tests/templates/control/control/test_server.py
Due: isort, flake8, mypy

basic example working
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/server.Dockerfile.jinja
Due: isort, flake8, mypy

added file
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

remove data copy from dockerfile
  truss/test_data/server.Dockerfile
Due: none

remove support for async preprocess and run model directly on the thread provided by fastapi
  truss/templates/server/common/truss_server.py
  truss/templates/server/model_wrapper.py
Due: isort, flake8, mypy

catch pyyaml parsing exception on malformatted config
  truss/contexts/local_loader/truss_file_syncer.py
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

use trussrc and refactor sync to remote class
  truss/cli.py
  truss/contexts/local_loader/truss_file_syncer.py
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

remove attempt to cast
  truss/cli.py
Due: isort, flake8, mypy

Loosen restriction on packaging version for package compatibility
  poetry.lock
  pyproject.toml
Due: none

renaming vars
  truss/cli.py
  truss/remote/remote_factory.py
  truss/tests/remote/test_remote_factory.py
Due: isort, flake8, mypy

Adding .trussrc support (#436)
  truss/cli.py
  truss/remote/remote_factory.py
  truss/tests/remote/test_remote_factory.py
Due: isort, flake8, mypy

Loosen restriction on packaging version for package compatibility (#442)
  poetry.lock
  pyproject.toml
Due: none

Drop extra deps
  poetry.lock
  pyproject.toml
Due: none

WIP end-to-end
  examples/ai-search/config.yaml
  truss/cli.py
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

Allow pushing draft truss
  examples/ai-search/config.yaml
  truss/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

Review comments
  truss/cli.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

truss watch cli command (#428)
  poetry.lock
  pyproject.toml
  truss/cli.py
  truss/contexts/local_loader/local_server_loader.py
  truss/contexts/local_loader/truss_file_syncer.py
  truss/patch/constants.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/templates/server/local_inference_server.py
  truss/truss_handle.py
  truss/util/.truss_ignore
  truss/util/path.py
Due: isort, flake8, mypy

Drop examples and packages directory from `truss init`
  truss/build.py
Due: isort, flake8, mypy

Don't drop packages dir for now
  truss/build.py
Due: isort, flake8, mypy

Fix path
  truss/tests/test_truss_handle.py
Due: isort, flake8

Drop examples from `truss init` (#441)
  truss/build.py
  truss/tests/test_truss_handle.py
Due: isort, flake8, mypy

Bump version for release testing
  pyproject.toml
Due: none

Bump version for release testing (#446)
  pyproject.toml
Due: none

Fix depedency and bump version
  poetry.lock
  pyproject.toml
Due: none

Fix depedency and bump version (#448)
  poetry.lock
  pyproject.toml
Due: none

Fix ctrl server streaming, no buffer.
  truss/templates/control/control/endpoints.py
Due: isort, flake8, mypy

recursively tranverses all subdirs
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

Remove clutter from log messages (#420)
  truss/templates/control/control/helpers/logging.py
  truss/tests/templates/shared/test_logging.py
Due: isort, flake8, mypy
