Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff analyze and fix
  entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: python

ruff-format:
  name: ruff format
  entry: poetry run ruff format --force-exclude
  language: python

mypy:
  name: mypy-local
  entry: poetry run mypy
  language: python
  pass_filenames: true

feat(truss): add truss download --job-id=<job_id> command
  truss/cli/cli.py
  truss/cli/train/core.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

fix(truss): lint
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

Bump version to 0.9.102
  pyproject.toml
Due: none

Allow building base images via CI with manual inputs
  .github/workflows/_build_truss_server_base_images_if_needed_shared.yml
Due: none

Merge pull request #1702 from basetenlabs/nikhil/allow-building-base-images-CI
  .github/workflows/_build_truss_server_base_images_if_needed_shared.yml
Due: none

Revert "Merge pull request #1699 from basetenlabs/nikhil/revert-multi-stage-build"
  truss/templates/control_venv.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
Due: none

Bump ubuntu version in GPU base images
  docker/base_images/base_image.Dockerfile.jinja
  pyproject.toml
  truss/contexts/image_builder/util.py
Due: ruff, ruff-format, mypy

Remove 3.8 from base image build
  .github/workflows/_build_truss_server_base_images_if_needed_shared.yml
Due: none

test newer cuda image
  docker/base_images/base_image.Dockerfile.jinja
  truss/tests/test_truss_handle.py
Due: ruff, ruff-format

use gpu truss dir as test fixture
  truss/tests/test_truss_handle.py
Due: ruff, ruff-format

More dynamic test variation creation
  truss/tests/test_truss_handle.py
Due: ruff, ruff-format

Bring back 3.8 build
  .github/workflows/_build_truss_server_base_images_if_needed_shared.yml
Due: none

restore some integration tests
  truss/tests/test_truss_handle.py
Due: ruff, ruff-format

Fix test for py3.8
  truss/tests/test_truss_handle.py
Due: ruff, ruff-format

Use correct key versions
  .github/workflows/_build_truss_server_base_images_if_needed_shared.yml
  docker/base_images/base_image.Dockerfile.jinja
  truss/templates/server/requirements.txt
Due: none

Bring back py3.8 build, just in case
  .github/workflows/_build_truss_server_base_images_if_needed_shared.yml
Due: none

Fix gpu executable
  truss/tests/test_truss_handle.py
Due: ruff, ruff-format

Fix cache based on version
  .github/actions/setup-python/action.yml
Due: none

Upgrade base images for py3.9 through py3.13 (#1704)
  .github/actions/setup-python/action.yml
  docker/base_images/base_image.Dockerfile.jinja
  pyproject.toml
  truss/contexts/image_builder/util.py
  truss/templates/control_venv.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/requirements.txt
  truss/tests/test_truss_handle.py
Due: ruff, ruff-format, mypy

use python to upgrade pip
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
Due: none

use executable var
  truss/templates/base.Dockerfile.jinja
Due: none

feat(truss): rename filename to save as
  truss/cli/cli.py
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

ignore installed
  truss/templates/base.Dockerfile.jinja
Due: none

upadte pypi version
  pyproject.toml
Due: none

update pyproject
  pyproject.toml
Due: none

Split truss CLI
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/cli/common.py
  truss/cli/logs/base_watcher.py
  truss/cli/logs/model_log_watcher.py
  truss/cli/logs/training_log_watcher.py
  truss/cli/logs/utils.py
  truss/cli/remote_cli.py
  truss/cli/train/common.py
  truss/cli/train/core.py
  truss/cli/train/deploy_checkpoints.py
  truss/cli/train/metrics_watcher.py
  truss/cli/train/poller.py
  truss/cli/train_commands.py
  truss/cli/utils/common.py
  truss/cli/utils/self_upgrade.py
Due: ruff, ruff-format, mypy

Review comments
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/cli/logs/base_watcher.py
  truss/cli/logs/training_log_watcher.py
  truss/cli/logs/utils.py
  truss/cli/remote_cli.py
  truss/cli/train/common.py
  truss/cli/train/core.py
  truss/cli/train/deploy_checkpoints.py
  truss/cli/train/metrics_watcher.py
  truss/cli/train/poller.py
  truss/cli/train_commands.py
  truss/cli/utils/common.py
  truss/cli/utils/output.py
  truss/cli/utils/self_upgrade.py
Due: ruff, ruff-format, mypy

Improve training CLI
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/cli/logs/base_watcher.py
  truss/cli/train/core.py
  truss/cli/train/metrics_watcher.py
  truss/cli/train_commands.py
  truss/cli/utils/common.py
  truss/tests/cli/train/test_deploy_checkpoints.py
  truss/tests/cli/train/test_train_cli_core.py
Due: ruff, ruff-format, mypy

Bump version to 0.9.103
  pyproject.toml
Due: none

Improve Training CLI and split CLI impl BT-14776 (#1686)
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/cli/common.py
  truss/cli/logs/base_watcher.py
  truss/cli/logs/model_log_watcher.py
  truss/cli/logs/training_log_watcher.py
  truss/cli/logs/utils.py
  truss/cli/remote_cli.py
  truss/cli/train/common.py
  truss/cli/train/core.py
  truss/cli/train/deploy_checkpoints.py
  truss/cli/train/metrics_watcher.py
  truss/cli/train/poller.py
  truss/cli/train_commands.py
  truss/cli/utils/common.py
  truss/cli/utils/output.py
  truss/cli/utils/self_upgrade.py
  truss/tests/cli/train/test_deploy_checkpoints.py
  truss/tests/cli/train/test_train_cli_core.py
Due: ruff, ruff-format, mypy

fix(django): unit tests for truss train download
  helloworld/sarim/wassup/spin2_nwxpk6q.tgz
  test/current/dir/test_project_test_job_123.tgz
  truss-train/tests/test_download.py
Due: ruff, ruff-format, mypy

fix(django): unit tests for truss train download
  helloworld/sarim/wassup/spin2_nwxpk6q.tgz
Due: none

fix(django): unit tests for truss train download
  test/current/dir/test_project_test_job_123.tgz
Due: none

merge(django): move download command to train commands
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

Bump version on main to 0.9.103
  pyproject.toml
Due: none

feat(truss): add truss download --job-id=<job_id> command BT-14853 (#1700)
  truss-train/tests/test_download.py
  truss/cli/train/core.py
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

add bei client
  .github/workflows/baseten-performance-client-release.yml
  .gitignore
  baseten-performance-client/Cargo.lock
  baseten-performance-client/Cargo.toml
  baseten-performance-client/README.md
  baseten-performance-client/baseten_inference_client.pyi
  baseten-performance-client/pyproject.toml
  baseten-performance-client/scripts/compare_latency_openai.py
  baseten-performance-client/src/lib.rs
  baseten-performance-client/tests/conftest.py
  baseten-performance-client/tests/test_bindings.py
  baseten-performance-client/tests/test_client_embed.py
  baseten-performance-client/uv.lock
Due: ruff, ruff-format, mypy

Bump version on main to 0.9.103 (#1707)
  pyproject.toml
Due: none

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
