Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

Bump version to 0.11.5
  pyproject.toml
  uv.lock
Due: uv-lock

remove chown with COPY cmd for data dir
  truss/templates/server.Dockerfile.jinja
Due: none

remove admin commands functionality
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
Due: ruff, ruff-format, mypy

fix test expectation
  truss/tests/test_data/server.Dockerfile
Due: none

Remove chown with COPY cmd for data dir (#1940)
  truss/templates/server.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

fix: named checkpoint to no longer have a project name
  truss-train/truss_train/definitions.py
  truss-train/truss_train/restore_from_checkpoint.py
Due: ruff, ruff-format, mypy

fix: named checkpoint to no longer have a project name
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

fix(truss): named checkpoint to no longer have a project name (#1942)
  truss-train/truss_train/definitions.py
  truss-train/truss_train/restore_from_checkpoint.py
Due: ruff, ruff-format, mypy

set HOME envvar correctly
  truss/templates/base.Dockerfile.jinja
Due: none

Revert "Remove chown with COPY cmd for data dir (#1940)"
  truss/templates/server.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

fix test expectations
  truss/tests/test_data/server.Dockerfile
  truss/tests/test_model_inference.py
Due: ruff, ruff-format

Set HOME envvar correctly (#1943)
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
  truss/tests/test_model_inference.py
Due: ruff, ruff-format

set HOME if not set
  truss/templates/base.Dockerfile.jinja
Due: none

fix test
  truss/tests/test_data/server.Dockerfile
Due: none

stopping point
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints_helpers.py
  truss/remote/baseten/api.py
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

messy
  truss/cli/train/core.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints_helpers.py
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

use project instead of project_id
  truss/cli/train/core.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

pr review
  truss/cli/train/core.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

remove admin commands functionality (#1941)
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
Due: ruff, ruff-format, mypy

only clone training directory for examples
  truss/cli/train/core.py
  truss/tests/cli/train/test_train_init.py
Due: ruff, ruff-format, mypy

Set HOME if not set (#1944)
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

Bump version to 0.11.6
  pyproject.toml
  uv.lock
Due: uv-lock

only clone training directory for examples (#1946)
  truss/cli/train/core.py
  truss/tests/cli/train/test_train_init.py
Due: ruff, ruff-format, mypy

add debug line
  pyproject.toml
  truss/templates/server/truss_server.py
Due: ruff, ruff-format, mypy, uv-lock

add debug line
  truss/templates/server/truss_server.py
Due: ruff, ruff-format, mypy

add debug line (#1948)
  pyproject.toml
  truss/templates/server/truss_server.py
Due: ruff, ruff-format, mypy, uv-lock

Bump version to 0.11.7
  pyproject.toml
  uv.lock
Due: uv-lock

Bump version to 0.11.6 (#1950)
  uv.lock
Due: uv-lock

speed cluster
  truss-transfer/src/core.rs
Due: none

new rc
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
Due: none

num workers fix
  truss-transfer/src/core.rs
Due: none

updates for all commands
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

range download
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/cloud_range_download.rs
  truss-transfer/src/constants.rs
  truss-transfer/src/download_core.rs
  truss-transfer/src/lib.rs
  truss-transfer/tests/test_create_bptr_with_aws.py
  truss-transfer/tests/test_create_bptr_with_gcs.py
Due: ruff, ruff-format, mypy

status link
  truss/cli/train/core.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

range download
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss/templates/server/requirements.txt
Due: none

range download
  pyproject.toml
  uv.lock
Due: uv-lock

range download 0.11.8rc2
  pyproject.toml
  uv.lock
Due: uv-lock

add docs
  truss-transfer/README.md
Due: none

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
