Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        # NB(nikhil): `uv` requires system over python (here and below) due to assumptions pre-commit makes about venvs.
        language: system
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude
        language: system
        files: \.(py|pyi)$
      - id: mypy
        name: mypy-local
        entry: uv run mypy
        language: system
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
      - id: uv-lock
        name: uv lock
        entry: uv lock
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

Publish new rc
  pyproject.toml
  uv.lock
Due: uv-lock

add new version
  pyproject.toml
  truss/templates/server.Dockerfile.jinja
  uv.lock
Due: uv-lock

fix(truss): make model weight format optional
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

uv lock
  uv.lock
Due: uv-lock

Make truss runtime sanitization generic (#1857)
  pyproject.toml
  truss/base/truss_config.py
  truss/cli/train/deploy_checkpoints/__init__.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/tests/cli/train/test_deploy_checkpoints.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_config.py
  truss/truss_handle/truss_handle.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

fix(truss): pr feedback
  truss-train/truss_train/definitions.py
  truss/base/truss_config.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/cli/train/types.py
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

uv lock
  pyproject.toml
  uv.lock
Due: uv-lock

Mf/truss transfer http2 changes and env variables updates (#1865)
  pyproject.toml
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/bindings.rs
  truss-transfer/src/cache.rs
  truss-transfer/src/constants.rs
  truss-transfer/src/core.rs
  truss-transfer/src/create/hf_metadata.rs
  truss-transfer/src/download.rs
  truss-transfer/src/download_core.rs
  truss-transfer/src/hf_transfer.rs
  truss-transfer/src/lib.rs
  truss-transfer/src/secrets.rs
  truss-transfer/src/speed_checks.rs
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/requirements.txt
  uv.lock
Due: uv-lock

fix(truss): make Checkpoint abstract class
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

Bump pyproject
  pyproject.toml
  uv.lock
Due: uv-lock

Bump version to 0.10.5
  pyproject.toml
  uv.lock
Due: uv-lock

Bring back docker server for buildless deploys
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Bring back docker server for buildless deploys (#1868)
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Bump version to 0.10.6
  pyproject.toml
  uv.lock
Due: uv-lock

bake select env variables into model container img
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_data/test_env_vars/__init__.py
  truss/tests/test_data/test_env_vars/config.yaml
  truss/tests/test_data/test_env_vars/test_docker_image/Dockerfile
  truss/tests/test_data/test_env_vars/test_docker_image/README.md
  truss/tests/test_data/test_env_vars/test_docker_image/VERSION
  truss/tests/test_data/test_env_vars/test_docker_image/__init__.py
  truss/tests/test_data/test_env_vars/test_docker_image/app.py
  truss/tests/test_data/test_env_vars/test_docker_image/build_upload_new_image.sh
Due: ruff, ruff-format, mypy

fix(truss): pr feedback
  truss-train/tests/import/deploy_checkpoints_config.py
  truss-train/tests/test_loader.py
  truss-train/truss_train/__init__.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints_helpers.py
  truss/cli/train/deploy_checkpoints/deploy_full_checkpoints.py
  truss/cli/train/deploy_checkpoints/deploy_lora_checkpoints.py
Due: ruff, ruff-format, mypy

Refactor imports in truss-train test files to use explicit imports instead of definitions namespace
  truss-train/tests/import/deploy_checkpoints_config.py
  truss-train/tests/import/project_with_deploy_checkpoints_config.py
  truss-train/tests/test_loader.py
Due: ruff, ruff-format, mypy

fix(truss): unit tests for importing
  truss-train/tests/test_loader.py
Due: ruff, ruff-format, mypy

apply review comments
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/test_env_vars/__init__.py
  truss/tests/test_data/test_env_vars/test_docker_image/Dockerfile
  truss/tests/test_data/test_env_vars/test_docker_image/README.md
  truss/tests/test_data/test_env_vars/test_docker_image/VERSION
  truss/tests/test_data/test_env_vars/test_docker_image/__init__.py
  truss/tests/test_data/test_env_vars/test_docker_image/app.py
  truss/tests/test_data/test_env_vars/test_docker_image/build_upload_new_image.sh
Due: ruff, ruff-format, mypy

fix(truss): failing unit test
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format

cosmetic: rename function, variables for intent
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
Due: ruff, ruff-format, mypy

bump version
  pyproject.toml
  uv.lock
Due: uv-lock

Bump version, try newer runner
  .github/workflows/_integration_test_shared.yml
  pyproject.toml
  uv.lock
Due: uv-lock

Sanitize environment variable for training checkpoints
  pyproject.toml
  truss/cli/train/deploy_checkpoints/deploy_lora_checkpoints.py
  truss/tests/cli/train/test_deploy_checkpoints.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

Bake select env variables into model container image (#1870)
  .github/workflows/_integration_test_shared.yml
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_data/test_env_vars/config.yaml
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

Bump version to 0.10.7
  pyproject.toml
  uv.lock
Due: uv-lock

feat(truss): deploy_checkpoints to support deploying full model weights BT-15185 (#1859)
  truss-train/tests/import/deploy_checkpoints_config.py
  truss-train/tests/import/project_with_deploy_checkpoints_config.py
  truss-train/tests/test_loader.py
  truss-train/truss_train/__init__.py
  truss-train/truss_train/definitions.py
  truss/base/truss_config.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints.py
  truss/cli/train/deploy_checkpoints/deploy_checkpoints_helpers.py
  truss/cli/train/deploy_checkpoints/deploy_full_checkpoints.py
  truss/cli/train/deploy_checkpoints/deploy_lora_checkpoints.py
  truss/cli/train/types.py
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

feat(truss): download training logs to file
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

feat(truss): download training logs to file
  truss/tests/cli/train/test_train_commands.py
Due: ruff, ruff-format

require affinity
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

fix(truss): add unit tests
  truss/cli/logs/utils.py
  truss/cli/train_commands.py
  truss/tests/cli/train/test_train_commands.py
Due: ruff, ruff-format, mypy

fix(django): remove flaky test
  truss/tests/cli/train/test_train_commands.py
Due: ruff, ruff-format

require_cache_affinity added to training cli (#1873)
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

Bump version to 0.10.8
  pyproject.toml
  uv.lock
Due: uv-lock

mn metrics
  truss/cli/train/metrics_watcher.py
  truss/tests/cli/train/test_train_cli_core.py
Due: ruff, ruff-format, mypy

less codes
  truss/cli/train/metrics_watcher.py
Due: ruff, ruff-format, mypy

updates codes
  truss/cli/train/metrics_watcher.py
Due: ruff, ruff-format, mypy

works
  truss/cli/train/metrics_watcher.py
Due: ruff, ruff-format, mypy

initial changes
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
  truss/templates/docker_server/supervisord.conf.jinja
  truss/templates/server.Dockerfile.jinja
Due: ruff, ruff-format, mypy, uv-lock
