Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

isort:
  name: isort-local
  entry: poetry run isort
  language: system
  pass_filenames: true

flake8:
  name: flake8-local
  entry: poetry run flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy-local
  entry: poetry run mypy
  args:
  - --install-types
  - --non-interactive
  language: python
  pass_filenames: true

cleaning up comments
  truss/truss_config.py
Due: isort, flake8, mypy

enable trainable from cli to generate config, add tests
  truss/build.py
  truss/tests/test_config.py
Due: isort, flake8, mypy

passing framework enum issue
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

support package patch
  pyproject.toml
  truss/patch/calc_patch.py
  truss/patch/local_truss_patch_applier.py
  truss/patch/truss_dir_patch_applier.py
  truss/templates/control/control/helpers/truss_patch/model_code_patch_applier.py
  truss/templates/control/control/helpers/truss_patch/model_container_patch_applier.py
  truss/templates/control/control/helpers/types.py
  truss/test_data/test_truss/packages/test_package/test.py
  truss/tests/patch/test_calc_patch.py
  truss/tests/templates/control/control/helpers/test_model_container_patch_applier.py
Due: isort, flake8, mypy

ensure BaseImage gets serialized properly
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

added changes
  truss/build.py
  truss/truss_config.py
Due: isort, flake8, mypy

address review comments + add version bump
  pyproject.toml
  truss/patch/local_truss_patch_applier.py
  truss/templates/control/control/helpers/inference_server_controller.py
Due: isort, flake8, mypy

bump pyproject
  pyproject.toml
Due: none

parent ead203dd03275f4923969e38fbca05d6e1a4c732 author joostinyi <63941848+joostinyi@users.noreply.github.com> 1687307990 +0000 committer Bola Malek <bola@baseten.co> 1688146431 -0700
  truss/contexts/image_builder/serving_image_builder.py
  truss/patch/calc_patch.py
  truss/patch/local_truss_patch_applier.py
  truss/templates/control/control/helpers/inference_server_controller.py
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/control/control/helpers/truss_patch/model_code_patch_applier.py
  truss/templates/control/control/helpers/truss_patch/model_container_patch_applier.py
  truss/templates/control/control/helpers/types.py
  truss/templates/control/requirements.txt
  truss/tests/patch/test_calc_patch.py
  truss/tests/templates/control/control/helpers/test_model_container_patch_applier.py
  truss/tests/test_control_truss_patching.py
  truss/truss_handle.py
  truss/util/download.py
Due: isort, flake8, mypy

added docstring
  truss/truss_config.py
Due: isort, flake8, mypy

added parametrized test
  truss/tests/test_config.py
Due: isort, flake8

Extend config.yaml patch support (#377)
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
  truss/patch/calc_patch.py
  truss/templates/control/control/helpers/inference_server_controller.py
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/control/control/helpers/truss_patch/model_code_patch_applier.py
  truss/templates/control/control/helpers/truss_patch/model_container_patch_applier.py
  truss/templates/control/control/helpers/types.py
  truss/templates/control/requirements.txt
  truss/tests/patch/test_calc_patch.py
  truss/tests/templates/control/control/helpers/test_model_container_patch_applier.py
  truss/tests/test_control_truss_patching.py
  truss/truss_handle.py
  truss/util/download.py
Due: isort, flake8, mypy

Simplify config file to be more user friendly (#407)
  truss/build.py
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

Fixes.
  truss/templates/control/control/server.py
Due: isort, flake8, mypy

Consume whole stream in case of application/json accept header.
  truss/templates/server/model_wrapper.py
Due: isort, flake8, mypy

Bump rc version.
  pyproject.toml
Due: none

Revert "Simplify config file to be more user friendly (#407)"
  truss/build.py
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

Revert "Simplify config file to be more user friendly (#407)" (#414)
  truss/build.py
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

Bump RC.
  pyproject.toml
Due: none

Added tests.
  truss/test_data/test_streaming_truss/config.yaml
  truss/test_data/test_streaming_truss/model/model.py
  truss/tests/test_model_inference.py
Due: isort, flake8

Added tests.
  truss/templates/server/common/truss_server.py
  truss/templates/server/model_wrapper.py
  truss/tests/test_model_inference.py
Due: isort, flake8, mypy

adding tests, doc strings
  truss/cli.py
  truss/remote/README.md
  truss/remote/baseten/api.py
  truss/remote/baseten/auth.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/remote/baseten/service.py
  truss/remote/baseten/utils/tar.py
  truss/remote/baseten/utils/transfer.py
  truss/remote/truss_remote.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_auth.py
  truss/tests/remote/baseten/test_core.py
  truss/tests/remote/test_truss_remote.py
Due: isort, flake8, mypy

updating lockfile
  poetry.lock
Due: none

disabled verbose
  truss/util/path.py
Due: isort, flake8, mypy

Revert "Revert "Simplify config file to be more user friendly (#407)" (#414)"
  truss/build.py
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

WIP: vllm truss; works locally on GPU machine
  examples/vllm-truss/config.yaml
  examples/vllm-truss/examples.yaml
  examples/vllm-truss/model/__init__.py
  examples/vllm-truss/model/model.py
Due: isort, flake8

server is working
  truss/contexts/image_builder/serving_image_builder.py
  truss/truss_config.py
Due: isort, flake8, mypy

still erroring
  truss/build.py
  truss/truss_config.py
Due: isort, flake8, mypy

fix test
  truss/patch/calc_patch.py
  truss/templates/control/control/helpers/inference_server_controller.py
  truss/templates/control/control/helpers/truss_patch/model_code_patch_applier.py
  truss/tests/test_control_truss_patching.py
Due: isort, flake8, mypy

self review
  truss/patch/calc_patch.py
  truss/patch/local_truss_patch_applier.py
Due: isort, flake8, mypy

fix unit test
  truss/tests/templates/control/control/helpers/test_model_container_patch_applier.py
Due: isort, flake8

fix test
  truss/patch/calc_patch.py
Due: isort, flake8, mypy

remove print
  truss/templates/control/control/helpers/truss_patch/model_code_patch_applier.py
Due: isort, flake8, mypy

Add new fancier locking.
  truss/templates/server/model_wrapper.py
Due: isort, flake8, mypy

revert
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
  truss/model_frameworks/lightgbm.py
  truss/model_frameworks/mlflow.py
  truss/model_frameworks/sklearn.py
  truss/templates/control/control/application.py
  truss/templates/control/control/endpoints.py
  truss/templates/control/control/helpers/inference_server_starter.py
  truss/templates/control/control/server.py
  truss/templates/control/requirements.txt
  truss/templates/server/inference_server.py
  truss/templates/shared/logging.py
  truss/templates/shared/serialization.py
  truss/templates/shared/util.py
  truss/templates/shared/uvicorn_config.py
  truss/tests/templates/control/control/test_server.py
  truss/tests/test_control_truss_patching.py
  truss/truss_handle.py
Due: isort, flake8, mypy

fix imports
  truss/templates/server/common/truss_server.py
Due: isort, flake8, mypy

chkpt control term
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/control/control/server.py
Due: isort, flake8, mypy

Wire up streaming response
  truss/templates/control/control/endpoints.py
Due: isort, flake8, mypy

Execute apply patch on threadpool
  truss/templates/control/control/endpoints.py
Due: isort, flake8, mypy

Path conditions:
  isort: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
