Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

isort:
  name: isort-local
  entry: poetry run isort
  language: system
  pass_filenames: true

flake8:
  name: flake8-local
  entry: poetry run flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy-local
  entry: poetry run mypy
  args:
  - --install-types
  - --non-interactive
  language: python
  pass_filenames: true

update image url in test
  truss/contexts/image_builder/serving_image_builder.py
  truss/tests/templates/control/control/helpers/test_model_container_patch_applier.py
Due: isort, flake8, mypy

pin light mode
  docs/mint.json
Due: none

fix a test which depended on old docs
  truss/tests/templates/control/control/helpers/test_model_container_patch_applier.py
Due: isort, flake8

pin light mode (#527)
  docs/mint.json
  truss/tests/templates/control/control/helpers/test_model_container_patch_applier.py
Due: isort, flake8

Pretty print results
  truss/cli/cli.py
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

handle draft for now
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

make init safe and default
  truss/cli/cli.py
Due: isort, flake8, mypy

completely remove confirm option
  truss/cli/cli.py
Due: isort, flake8, mypy

make init safe and default (#528)
  truss/cli/cli.py
Due: isort, flake8, mypy

add logs window
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

Better secret error handling.
  truss/templates/shared/secrets_resolver.py
Due: isort, flake8, mypy

Fix unfinished comment.
  truss/templates/shared/secrets_resolver.py
Due: isort, flake8, mypy

Fix all the lint
  doc_utils/autodoc.py
  truss/cli/cli.py
Due: isort, flake8, mypy

add early return on no op patches
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

Support remote predict (#512)
  doc_utils/autodoc.py
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

add early return on no op patches (#532)
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

init
  truss/build.py
  truss/constants.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/triton/Dockerfile
  truss/templates/triton/config.pbtxt.jinja
  truss/templates/triton/model/1/model.py
  truss/templates/triton/model/1/model_wrapper.py
  truss/templates/triton/model/1/triton_utils.py
  truss/templates/triton/proxy.conf
  truss/templates/triton/supervisord.conf
  truss/templates/triton/triton_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

add logs window (#529)
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/remote.py
  truss/remote/remote_cli.py
Due: isort, flake8, mypy

Added streaming doc.
  docs/examples/streaming.mdx
Due: none

Add streaming doc.
  docs/examples/streaming.mdx
Due: none

Added comments.
  docs/examples/streaming.mdx
Due: none

Remove trailing whitespace.
  docs/examples/streaming.mdx
Due: none

test
  docs/examples/streaming.mdx
Due: none

Fix trailing whitespace
  docs/examples/streaming.mdx
Due: none

Support streaming in truss predict.
  pyproject.toml
  truss/cli/cli.py
  truss/remote/baseten/service.py
  truss/remote/truss_remote.py
Due: isort, flake8, mypy

Fix issue.
  truss/cli/cli.py
Due: isort, flake8, mypy

Support streaming in truss predict (#535)
  pyproject.toml
  truss/cli/cli.py
  truss/remote/baseten/service.py
  truss/remote/truss_remote.py
Due: isort, flake8, mypy

more docs
  docs/examples/system-packages.mdx
  docs/learn/101/requirements.mdx
  docs/learn/101/watch.mdx
  docs/learn/intro.mdx
  docs/learn/llms/cache.mdx
  docs/learn/llms/init.mdx
  docs/learn/llms/model-load.mdx
  docs/learn/llms/model-predict.mdx
  docs/learn/llms/private.mdx
  docs/learn/llms/resources.mdx
  docs/learn/llms/streaming.mdx
  docs/learn/model-serving/echo.mdx
  docs/learn/model-serving/init.mdx
  docs/learn/model-serving/model-load.mdx
  docs/learn/model-serving/model-predict.mdx
  docs/learn/model-serving/predict.mdx
  docs/learn/model-serving/push.mdx
  docs/learn/model-serving/requirements.mdx
  docs/learn/model-serving/watch.mdx
  docs/mint.json
  test/config.yaml
  test/model/__init__.py
  test/model/model.py
Due: isort, flake8, mypy

cleanup
  truss/templates/triton/model/1/triton_utils.py
  truss/templates/triton/triton_config.py
Due: isort, flake8, mypy

increment version
  pyproject.toml
Due: none

Support endpoint selections for TGI
  pyproject.toml
  truss/cli/create.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/tgi/proxy.conf.jinja
Due: isort, flake8, mypy

Support endpoint selections for TGI
  truss/cli/create.py
Due: isort, flake8, mypy

adding batching
  truss/templates/triton/config.pbtxt.jinja
  truss/templates/triton/triton_config.py
Due: isort, flake8, mypy

incr version
  pyproject.toml
Due: none

Bump version to test
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Updated per pr feedback.
  docs/examples/streaming.mdx
Due: none

adding shm size
  truss/templates/triton/supervisord.conf
Due: none

Add streaming example (#534)
  docs/examples/streaming.mdx
Due: none

Path conditions:
  isort: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
