Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

fix tests, allow dirty
  truss-transfer/src/core.rs
Due: none

fix
  baseten-performance-client/Cargo.lock
  truss-transfer/src/cli.rs
Due: none

truss-transfer bump
  pyproject.toml
  truss/templates/server/requirements.txt
  uv.lock
Due: uv-lock

uv not-locked
  pyproject.toml
  truss/templates/server.Dockerfile.jinja
Due: uv-lock

uv lock
  uv.lock
Due: uv-lock

bump transfer
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
Due: none

bump transfer
  truss-transfer/src/create/object_storage_client.rs
Due: none

bump transfer
  pyproject.toml
  uv.lock
Due: uv-lock

truss
  truss/templates/server/requirements.txt
Due: none

initial v2 commit, switches to non-root at end
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  uv.lock
Due: uv-lock

set default owner when copying files
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  uv.lock
Due: uv-lock

remove debug print
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/cache.Dockerfile.jinja
Due: ruff, ruff-format, mypy

nginx changes
  pyproject.toml
  truss/templates/server.Dockerfile.jinja
  uv.lock
Due: uv-lock

make blocks consistent
  truss/templates/server.Dockerfile.jinja
Due: none

use jinja vars for some variables
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
  truss/templates/cache.Dockerfile.jinja
  truss/templates/copy_cache_files.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

introduce nonroot feature flag
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/cache.Dockerfile.jinja
  truss/templates/copy_cache_files.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

additional fixes for custom server deployments
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/templates/docker_server/supervisord.conf.jinja
  truss/templates/server.Dockerfile.jinja
  uv.lock
Due: uv-lock

use jinja vars, create user_setup block
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
Due: ruff, ruff-format, mypy

uv lock
  pyproject.toml
  uv.lock
Due: uv-lock

v30
  truss/templates/server.Dockerfile.jinja
Due: none

truss-transfer: Fix hf, gcs secrets stuff (#1895)
  baseten-performance-client/Cargo.lock
  pyproject.toml
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/bindings.rs
  truss-transfer/src/cli.rs
  truss-transfer/src/core.rs
  truss-transfer/src/create/aws_metadata.rs
  truss-transfer/src/create/azure_metadata.rs
  truss-transfer/src/create/basetenpointer.rs
  truss-transfer/src/create/gcs_metadata.rs
  truss-transfer/src/create/hf_metadata.rs
  truss-transfer/src/create/mod.rs
  truss-transfer/src/create/object_storage_client.rs
  truss-transfer/src/download.rs
  truss-transfer/src/download_core.rs
  truss-transfer/src/lib.rs
  truss-transfer/src/secrets.rs
  truss-transfer/src/types.rs
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/requirements.txt
  uv.lock
Due: uv-lock

Bump version to 0.10.9
  pyproject.toml
  uv.lock
Due: uv-lock

remove pointers
  truss/contexts/image_builder/serving_image_builder.py
  truss/tests/util/test_basetenpointer.py
  truss/util/basetenpointer.py
Due: ruff, ruff-format, mypy

remove baseten pointers.py file (#1897)
  truss/contexts/image_builder/serving_image_builder.py
  truss/tests/util/test_basetenpointer.py
  truss/util/basetenpointer.py
Due: ruff, ruff-format, mypy

complete types
  truss/cli/train/core.py
  truss/remote/baseten/custom_types.py
  truss/tests/cli/train/test_cache_view.py
Due: ruff, ruff-format, mypy

fix(truss): add a missing field
  truss-train/truss_train/definitions.py
  truss-train/truss_train/deployment.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

fix(truss): add a missing field (#1898)
  truss-train/truss_train/definitions.py
  truss-train/truss_train/deployment.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

add hf token
  truss-transfer/src/create/hf_metadata.rs
  truss-transfer/tests/test_create_bptr_with_hf.py
Due: ruff, ruff-format, mypy

bump version truss-transfer
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
Due: none

rc0
  pyproject.toml
  uv.lock
Due: uv-lock

uv lock
  pyproject.toml
  truss/templates/server/requirements.txt
  uv.lock
Due: uv-lock

update release url
  truss/templates/server.Dockerfile.jinja
Due: none

add hf token to truss-transfer (#1899)
  pyproject.toml
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/create/hf_metadata.rs
  truss-transfer/tests/test_create_bptr_with_hf.py
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/requirements.txt
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

misc(truss): Draft API for RestoreCheckpoints
  truss-train/truss_train/__init__.py
  truss-train/truss_train/definitions.py
  truss-train/truss_train/restore_from_checkpoint.py
Due: ruff, ruff-format, mypy

typos
  baseten-performance-client/python_bindings/README.md
Due: none

Correcting small typos in Baseten Performance Client README (#1901)
  baseten-performance-client/python_bindings/README.md
Due: none

initial commit for sudo
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  uv.lock
Due: uv-lock

use separate flag+envvar to enable sudo
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
