Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

isort:
  name: isort-local
  entry: poetry run isort
  language: system
  pass_filenames: true

flake8:
  name: flake8-local
  entry: poetry run flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy-local (3.9)
  entry: poetry run mypy
  language: python
  args:
  - --python-version=3.9
  pass_filenames: true

Fix source-mapping issue and use original types instead of pydantic generated. (#917)
  truss-chains/examples/text_to_num/main.py
  truss-chains/tests/chains_test.py
  truss-chains/tests/itest_chain/itest_chain.py
  truss-chains/tests/itest_chain/requirements.txt
  truss-chains/tests/itest_chain/user_package/nested_package/__init__.py
  truss-chains/tests/itest_chain/user_package/nested_package/io_types.py
  truss-chains/tests/itest_chain/user_package/shared_chainlet.py
  truss-chains/truss_chains/code_gen.py
  truss-chains/truss_chains/definitions.py
  truss-chains/truss_chains/deploy.py
  truss-chains/truss_chains/model_skeleton.py
  truss-chains/truss_chains/public_api.py
  truss-chains/truss_chains/utils.py
  truss/cli/cli.py
Due: isort, flake8, mypy

Explicitly defining HF auth token for Triton models (#922)
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/postprocessing/1/model.py
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/preprocessing/1/model.py
Due: isort, flake8

Auto-add API key secret.
  docs/chains/full-reference.mdx
  truss-chains/tests/chains_test.py
  truss-chains/truss_chains/__init__.py
  truss-chains/truss_chains/code_gen.py
  truss-chains/truss_chains/definitions.py
  truss-chains/truss_chains/deploy.py
  truss-chains/truss_chains/example_chainlet.py
  truss-chains/truss_chains/framework.py
  truss-chains/truss_chains/public_api.py
  truss-chains/truss_chains/utils.py
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

Update message
  truss-chains/truss_chains/deploy.py
Due: isort, flake8, mypy

Auto-add API key secret. (#923)
  docs/chains/full-reference.mdx
  truss-chains/tests/chains_test.py
  truss-chains/truss_chains/__init__.py
  truss-chains/truss_chains/code_gen.py
  truss-chains/truss_chains/definitions.py
  truss-chains/truss_chains/deploy.py
  truss-chains/truss_chains/example_chainlet.py
  truss-chains/truss_chains/framework.py
  truss-chains/truss_chains/public_api.py
  truss-chains/truss_chains/utils.py
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

Capitalizaiton, run examples, getting started
  docs/chains/chaining-chainlets.mdx
  docs/chains/deps-and-resources.mdx
  docs/chains/full-reference.mdx
  docs/chains/getting-started.mdx
  docs/chains/intro.mdx
  docs/chains/tips-and-tricks.mdx
  truss-chains/truss_chains/code_gen.py
  truss-chains/truss_chains/deploy.py
Due: isort, flake8, mypy

Update secrets_resolver.py (#908)
  truss/templates/shared/secrets_resolver.py
Due: isort, flake8, mypy

Intro
  docs/chains/intro.mdx
Due: none

Update Chains Docs (#924)
  docs/chains/chaining-chainlets.mdx
  docs/chains/deps-and-resources.mdx
  docs/chains/full-reference.mdx
  docs/chains/getting-started.mdx
  docs/chains/intro.mdx
  docs/chains/tips-and-tricks.mdx
  truss-chains/truss_chains/code_gen.py
  truss-chains/truss_chains/deploy.py
Due: isort, flake8, mypy

Test
  docs/chains/chaining-chainlets.mdx
  docs/chains/deps-and-resources.mdx
  docs/chains/getting-started.mdx
  poetry.lock
  pyproject.toml
  truss-chains/examples/text_to_num/main.py
  truss-chains/examples/text_to_num/requirements.txt
  truss-chains/examples/text_to_num/user_package/shared_chainlet.py
  truss-chains/tests/chains_test.py
  truss-chains/truss_chains/__init__.py
  truss-chains/truss_chains/code_gen.py
  truss-chains/truss_chains/definitions.py
  truss-chains/truss_chains/framework.py
  truss-chains/truss_chains/public_api.py
  truss-chains/truss_chains/stub.py
  truss/cli/cli.py
  truss/tests/remote/test_remote_factory.py
  truss/tests/remote/test_truss_remote.py
Due: isort, flake8, mypy

Chain Improvements after Tuhins trial (#925)
  docs/chains/chaining-chainlets.mdx
  docs/chains/deps-and-resources.mdx
  docs/chains/getting-started.mdx
  poetry.lock
  pyproject.toml
  truss-chains/examples/text_to_num/main.py
  truss-chains/examples/text_to_num/requirements.txt
  truss-chains/examples/text_to_num/user_package/shared_chainlet.py
  truss-chains/tests/chains_test.py
  truss-chains/truss_chains/__init__.py
  truss-chains/truss_chains/code_gen.py
  truss-chains/truss_chains/definitions.py
  truss-chains/truss_chains/framework.py
  truss-chains/truss_chains/public_api.py
  truss-chains/truss_chains/stub.py
  truss/cli/cli.py
  truss/tests/remote/test_remote_factory.py
  truss/tests/remote/test_truss_remote.py
Due: isort, flake8, mypy

update trt-llm template
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/trtllm/model/model.py
  truss/templates/trtllm/packages/build_engine_utils.py
  truss/templates/trtllm/packages/schema.py
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/ensemble/config.pbtxt
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/postprocessing/1/model.py
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/postprocessing/config.pbtxt
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/preprocessing/1/model.py
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/preprocessing/config.pbtxt
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/tensorrt_llm/config.pbtxt
  truss/templates/trtllm/packages/triton_client.py
  truss/templates/trtllm/packages/utils.py
Due: isort, flake8, mypy

bump rc version
  pyproject.toml
Due: none

fix typo
  truss/templates/trtllm/model/model.py
Due: isort, flake8

bump version
  pyproject.toml
Due: none

switch setup order
  truss/templates/trtllm/model/model.py
Due: isort, flake8

remove untemplated config
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/tensorrt_llm/config.pbtxt
Due: none

fix template
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/preprocessing/1/model.py
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/tensorrt_llm/config.pbtxt
Due: isort, flake8

fix dtype
  truss/templates/trtllm/packages/schema.py
Due: isort, flake8, mypy

fix processors
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/postprocessing/1/model.py
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/preprocessing/1/model.py
Due: isort, flake8

bump to rc5
  pyproject.toml
Due: none

Transcription Chain
  truss-chains/examples/transcribe/data_types.py
  truss-chains/examples/transcribe/helpers.py
  truss-chains/examples/transcribe/transcribe.py
  truss-chains/truss_chains/__init__.py
  truss-chains/truss_chains/definitions.py
  truss-chains/truss_chains/utils.py
Due: isort, flake8, mypy

Transcription Chain
  poetry.lock
  truss-chains/examples/transcribe/data_types.py
  truss-chains/examples/transcribe/helpers.py
  truss-chains/examples/transcribe/transcribe.py
  truss-chains/truss_chains/__init__.py
  truss-chains/truss_chains/definitions.py
  truss-chains/truss_chains/utils.py
Due: isort, flake8, mypy

Add field docstrings and comments on model URLs.
  truss-chains/examples/transcribe/data_types.py
  truss-chains/examples/transcribe/transcribe.py
Due: isort, flake8, mypy

Fix mypy issue
  truss-chains/examples/text_to_num/main.py
  truss-chains/examples/text_to_num/sub_package/__init__.py
  truss-chains/examples/text_to_num/sub_package/shared_chainlet.py
  truss-chains/truss_chains/code_gen.py
  truss-chains/truss_chains/utils.py
Due: isort, flake8, mypy

Transcription Workflow (#895)
  poetry.lock
  truss-chains/examples/text_to_num/main.py
  truss-chains/examples/text_to_num/sub_package/__init__.py
  truss-chains/examples/text_to_num/sub_package/shared_chainlet.py
  truss-chains/examples/transcribe/data_types.py
  truss-chains/examples/transcribe/helpers.py
  truss-chains/examples/transcribe/transcribe.py
  truss-chains/truss_chains/__init__.py
  truss-chains/truss_chains/code_gen.py
  truss-chains/truss_chains/definitions.py
  truss-chains/truss_chains/utils.py
Due: isort, flake8, mypy

import pydantic type
  truss/constants.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/trtllm/model/model.py
Due: isort, flake8, mypy

bump rc6
  pyproject.toml
Due: none

test install
  truss/constants.py
Due: isort, flake8, mypy

bump truss version and clean up
  pyproject.toml
  truss/constants.py
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

add comment
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

address review comments
  truss/constants.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/trtllm/model/model.py
Due: isort, flake8, mypy

Update TRT-LLM model repository template (#929)
  pyproject.toml
  truss/constants.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/trtllm/model/model.py
  truss/templates/trtllm/packages/build_engine_utils.py
  truss/templates/trtllm/packages/schema.py
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/ensemble/config.pbtxt
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/postprocessing/1/model.py
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/postprocessing/config.pbtxt
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/preprocessing/1/model.py
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/preprocessing/config.pbtxt
  truss/templates/trtllm/packages/tensorrt_llm_model_repository/tensorrt_llm/config.pbtxt
  truss/templates/trtllm/packages/triton_client.py
  truss/templates/trtllm/packages/utils.py
Due: isort, flake8, mypy

fix TypeError: list indices must be integers or slices, not str, when run Quick Start code
  truss/remote/baseten/service.py
Due: isort, flake8, mypy

fix TypeError: list indices must be integers or slices, not str, when run Quick Start code (#933)
  truss/remote/baseten/service.py
Due: isort, flake8, mypy

Streamline Intro page (fix some typos, formatting and update to new re-named API).
  .tool-versions
  docs/chains/chaining-chainlets.mdx
  docs/chains/deps-and-resources.mdx
  docs/chains/full-reference.mdx
  docs/chains/getting-started.mdx
  docs/chains/guide.mdx
  docs/chains/intro.mdx
  docs/images/chains-master.png
Due: none

More docs polishing
  doc_utils/autodoc.py
  docs/_snippets/base-config.mdx
  docs/_snippets/config-params.mdx
  docs/chains/chaining-chainlets.mdx
  docs/chains/concepts.mdx
  docs/chains/deps-and-resources.mdx
  docs/chains/examples.mdx
  docs/chains/full-reference.mdx
  docs/chains/getting-started.mdx
  docs/chains/guide.mdx
  docs/chains/intro.mdx
  docs/chains/tips-and-tricks.mdx
  docs/reference/config.mdx
  docs/snippets/chains/TOC.mdx
  docs/snippets/config-params.mdx
Due: isort, flake8, mypy

Streamline Intro page (#934)
  .tool-versions
  doc_utils/autodoc.py
  docs/_snippets/base-config.mdx
  docs/_snippets/config-params.mdx
  docs/chains/chaining-chainlets.mdx
  docs/chains/concepts.mdx
  docs/chains/examples.mdx
  docs/chains/full-reference.mdx
  docs/chains/getting-started.mdx
  docs/chains/guide.mdx
  docs/chains/intro.mdx
  docs/chains/tips-and-tricks.mdx
  docs/images/chains-master.png
  docs/reference/config.mdx
  docs/snippets/chains/TOC.mdx
  docs/snippets/config-params.mdx
Due: isort, flake8, mypy

Path conditions:
  isort: any of: \.py$
  flake8: any of: \.py$
  mypy: (any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$|^slay.*) or (any of: ^slay.* and \.py$)
