Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        # NB(nikhil): `uv` requires system over python (here and below) due to assumptions pre-commit makes about venvs.
        language: system
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude
        language: system
        files: \.(py|pyi)$
      - id: mypy
        name: mypy-local
        entry: uv run mypy
        language: system
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
      - id: uv-lock
        name: uv lock
        entry: uv lock
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

Keep BEI data-parallel validation and tests minimal
  truss/base/trt_llm_config.py
  truss/contexts/docker_build_setup.py
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format, mypy

Bump control server truss pin to 0.18.31 (#2661)
  truss/templates/control/requirements.txt
  truss/tests/templates/control/test_control_requirements.py
Due: ruff, ruff-format

Set the control server websocket limit to 100MiB.
  truss/templates/control/control/endpoints.py
  truss/templates/control/control/server.py
  truss/tests/templates/control/control/test_endpoints.py
  truss/tests/templates/control/control/test_server.py
Due: ruff, ruff-format, mypy

Update trt_llm_config.py
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Set the control server websocket limit to 100MiB. (#2664)
  truss/templates/control/control/endpoints.py
  truss/templates/control/control/server.py
  truss/tests/templates/control/control/test_endpoints.py
  truss/tests/templates/control/control/test_server.py
Due: ruff, ruff-format, mypy

Fix two integration test failures on main
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/templates/server/test_truss_server.py
Due: ruff, ruff-format

Fix two integration test failures on main (#2665)
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/templates/server/test_truss_server.py
Due: ruff, ruff-format

Bump Truss to 0.18.32rc3
  pyproject.toml
  uv.lock
Due: uv-lock

Allow data-parallel BEI encoder deployments (#2662)
  pyproject.toml
  truss/base/trt_llm_config.py
  truss/tests/trt_llm/test_trt_llm_config.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

feat(performance-client): W3C trace context and opt-in OTLP client spans
  .github/workflows/baseten-performance-client-test.yml
  baseten-performance-client/Cargo.lock
  baseten-performance-client/README.md
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/client_spans.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/core/src/trace_context.rs
  baseten-performance-client/core/tests/client_trace_propagation.rs
  baseten-performance-client/core/tests/client_tracing.rs
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/python_bindings/tests/test_tracing.py
Due: ruff, ruff-format, mypy

perf-client: send one trace context per attempt; extra_headers traceparent is the parent
  baseten-performance-client/README.md
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/core/tests/client_trace_propagation.rs
  baseten-performance-client/core/tests/client_tracing.rs
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/python_bindings/tests/test_tracing.py
Due: ruff, ruff-format, mypy

perf-client: carry tracestate and honor an unsampled parent
  baseten-performance-client/README.md
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/client_spans.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/core/src/trace_context.rs
  baseten-performance-client/core/tests/client_trace_propagation.rs
  baseten-performance-client/core/tests/client_tracing.rs
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/python_bindings/tests/test_tracing.py
Due: ruff, ruff-format, mypy

perf-client: allocate hedge race state only when recording spans
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/benches/disabled_tracing.rs
  baseten-performance-client/core/src/http_client.rs
Due: none

perf-client(node): join the caller's active OpenTelemetry span, as Python does
  baseten-performance-client/README.md
  baseten-performance-client/node_bindings/README.md
  baseten-performance-client/node_bindings/__test__/tracing.spec.mjs
  baseten-performance-client/node_bindings/binding.d.ts
  baseten-performance-client/node_bindings/binding.js
  baseten-performance-client/node_bindings/index.d.ts
  baseten-performance-client/node_bindings/index.js
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/node_bindings/yarn.lock
Due: none

fix(performance-client): stop hedge and retry budgets from wrapping past zero
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/utils.rs
  baseten-performance-client/core/tests/integration_test.rs
Due: none

refactor(performance-client): Limit tracing to explicit context propagation
  .github/workflows/baseten-performance-client-test.yml
  baseten-performance-client/Cargo.lock
  baseten-performance-client/README.md
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/benches/disabled_tracing.rs
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/client_spans.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/core/src/trace_context.rs
  baseten-performance-client/core/tests/client_trace_propagation.rs
  baseten-performance-client/core/tests/client_tracing.rs
  baseten-performance-client/core/tests/integration_test.rs
  baseten-performance-client/node_bindings/README.md
  baseten-performance-client/node_bindings/__test__/index.spec.mjs
  baseten-performance-client/node_bindings/__test__/tracing.spec.mjs
  baseten-performance-client/node_bindings/binding.d.ts
  baseten-performance-client/node_bindings/binding.js
  baseten-performance-client/node_bindings/index.d.ts
  baseten-performance-client/node_bindings/index.js
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/node_bindings/yarn.lock
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/python_bindings/tests/test_bindings.py
  baseten-performance-client/python_bindings/tests/test_tracing.py
Due: ruff, ruff-format, mypy

test(performance-client): Trim redundant trace context binding checks
  baseten-performance-client/node_bindings/__test__/index.spec.mjs
  baseten-performance-client/python_bindings/tests/test_bindings.py
Due: ruff, ruff-format, mypy

feat(performance-client): Restore opt-in call span export
  baseten-performance-client/README.md
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/client_spans.rs
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/core/tests/client_export.rs
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
  baseten-performance-client/python_bindings/src/lib.rs
Due: ruff, ruff-format

chore(performance-client): Bump TOML versions to 0.1.15 RC1
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/pyproject.toml
  baseten-performance-client/python_bindings/uv.lock
Due: none

refactor(performance-client): Use Rust OpenTelemetry SDK for client spans
  baseten-performance-client/Cargo.lock
  baseten-performance-client/README.md
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/src/client_spans.rs
  baseten-performance-client/core/tests/client_export.rs
Due: none

refactor(performance-client): Use SDK spans directly
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/client_spans.rs
  baseten-performance-client/core/tests/client_export.rs
Due: none

Bump version to 0.18.32
  pyproject.toml
  uv.lock
Due: uv-lock

fix(performance-client): Preserve Level 2 context and export client spans
  baseten-performance-client/core/src/client_spans.rs
  baseten-performance-client/core/tests/client_export.rs
  baseten-performance-client/core/tests/integration_test.rs
Due: none

fix(performance-client): Align Node packages with 0.1.15 RC1
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
Due: none

feat(performance-client): Explicit trace context and opt-in OTLP export (#2666)
  baseten-performance-client/Cargo.lock
  baseten-performance-client/README.md
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/client_spans.rs
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/core/tests/client_export.rs
  baseten-performance-client/core/tests/integration_test.rs
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/__test__/index.spec.mjs
  baseten-performance-client/node_bindings/index.d.ts
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
  baseten-performance-client/python_bindings/pyproject.toml
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/python_bindings/tests/test_bindings.py
  baseten-performance-client/python_bindings/uv.lock
Due: ruff, ruff-format, mypy

test(performance-client): keep only budget regression coverage
  baseten-performance-client/core/src/utils.rs
Due: none

fix(performance-client): stop hedge and retry budgets from wrapping past zero (#2667)
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/utils.rs
  baseten-performance-client/core/tests/integration_test.rs
Due: none

misc(performance-client): prepare 0.1.15 stable release
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/pyproject.toml
  baseten-performance-client/python_bindings/uv.lock
Due: none

Add spot option to training workstations
  truss/cli/train/workstation.py
  truss/cli/train_commands.py
  truss/tests/cli/train/test_workstation.py
Due: ruff, ruff-format, mypy

Add spot option to training workstations (#2670)
  truss/cli/train/workstation.py
  truss/cli/train_commands.py
  truss/tests/cli/train/test_workstation.py
Due: ruff, ruff-format, mypy

fix(control): bump pinned truss version to 0.18.32 to fix RTX PRO 6000 validation
  truss/templates/control/requirements.txt
Due: none

fix(chains): consolidate push logging and stop duplicate status header
  truss-chains/tests/test_chain_push_logging.py
  truss-chains/truss_chains/deployment/code_gen.py
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/cli/chains_commands.py
  truss/tests/cli/test_chains_cli.py
Due: ruff, ruff-format, mypy

fix(chains): consolidate push logging and stop duplicate status header (#2673)
  truss-chains/tests/test_chain_push_logging.py
  truss-chains/truss_chains/deployment/code_gen.py
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/cli/chains_commands.py
  truss/tests/cli/test_chains_cli.py
Due: ruff, ruff-format, mypy

feat: add runtime.egress_restricted for BIS LLM deployments
  truss/base/truss_config.py
  truss/config.schema.json
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

Add SSH opt-out for loops exec
  truss/cli/loops_commands.py
  truss/cli/train/exec/builder.py
  truss/tests/cli/train/test_exec.py
Due: ruff, ruff-format, mypy

Add an SSH opt-out for loops exec (#2676)
  truss/cli/loops_commands.py
  truss/cli/train/exec/builder.py
  truss/tests/cli/train/test_exec.py
Due: ruff, ruff-format, mypy

Fix inference failures caused by tracing initialization
  baseten-performance-client/README.md
  baseten-performance-client/core/src/client_spans.rs
  baseten-performance-client/core/tests/tracing_exporter_initialization.rs
Due: none

Delete baseten-performance-client/core/tests/tracing_exporter_initialization.rs
  baseten-performance-client/core/tests/tracing_exporter_initialization.rs
Due: none

Keep inference working when performance client tracing setup fails (#2677)
  baseten-performance-client/README.md
  baseten-performance-client/core/src/client_spans.rs
Due: none

misc(performance-client): prepare 0.1.16 stable release
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/pyproject.toml
  baseten-performance-client/python_bindings/uv.lock
Due: none
