Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        # NB(nikhil): `uv` requires system over python (here and below) due to assumptions pre-commit makes about venvs.
        language: system
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude
        language: system
        files: \.(py|pyi)$
      - id: mypy
        name: mypy-local
        entry: uv run mypy
        language: system
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
      - id: uv-lock
        name: uv lock
        entry: uv lock
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

no support for range request
  truss-transfer/src/hf_transfer.rs
Due: none

no support for range request
  pyproject.toml
  truss-transfer/Cargo.toml
  truss/templates/server/requirements.txt
  uv.lock
Due: uv-lock

clippy fix
  truss-transfer/Cargo.lock
  truss-transfer/src/download_core.rs
  truss-transfer/src/hf_transfer.rs
Due: none

lint: help
  truss-transfer/src/constants.rs
Due: none

cloud range download over vs under 10mb
  truss-transfer/src/cloud_range_download.rs
Due: none

cloud range download over vs under 10mb
  truss-transfer/src/download_core.rs
Due: none

cloud range download over vs under 10mb
  truss-transfer/src/cloud_range_download.rs
  truss-transfer/src/download_core.rs
Due: none

fix unit tests, bump version
  truss-transfer/tests/test_create_bptr_with_aws.py
  truss-transfer/tests/test_create_bptr_with_gcs.py
  truss/templates/server.Dockerfile.jinja
Due: ruff, ruff-format, mypy

fix unit tests, bump version
  truss-transfer/tests/test_create_bptr_with_gcs.py
Due: ruff, ruff-format, mypy

feat(truss-transfer): support for 0 byte range request (#1980)
  pyproject.toml
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/cloud_range_download.rs
  truss-transfer/src/constants.rs
  truss-transfer/src/download_core.rs
  truss-transfer/src/hf_transfer.rs
  truss-transfer/tests/test_create_bptr_with_aws.py
  truss-transfer/tests/test_create_bptr_with_gcs.py
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/requirements.txt
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

dockerfile: move build_commands into run block (root). tests: add editable external package example and ordering/integration tests; use uv --system for editable install
  truss/templates/server.Dockerfile.jinja
  truss/tests/test_data/test_editable_external_pkg/config.yaml
  truss/tests/test_data/test_editable_external_pkg/model/model.py
  truss/tests/test_data/test_editable_external_pkg_parent/local_pkg/pyproject.toml
  truss/tests/test_data/test_editable_external_pkg_parent/local_pkg/src/local_pkg/__init__.py
  truss/tests/test_truss_handle.py
Due: ruff, ruff-format

dockerfile: execute build_commands at start of run block pre-user; tests: stabilize editable external package integration by disabling live_reload
  truss/templates/server.Dockerfile.jinja
  truss/tests/test_truss_handle.py
Due: ruff, ruff-format

tests: add copy_truss_with_parent context manager in conftest; use in editable external package test to avoid mutating repo data
  truss/tests/conftest.py
  truss/tests/test_data/test_editable_external_pkg/config.yaml
  truss/tests/test_truss_handle.py
Due: ruff, ruff-format

Fix clobber of config file
  truss/tests/conftest.py
  truss/tests/test_truss_handle.py
Due: ruff, ruff-format

Drop apply library patches
  truss/base/truss_config.py
  truss/base/truss_spec.py
  truss/contexts/local_loader/load_model_local.py
  truss/templates/server/common/patches.py
  truss/templates/server/common/patches/whisper/patch.py
  truss/templates/server/model_wrapper.py
  truss/tests/cli/train/resources/test_deploy_from_checkpoint_config.yml
  truss/tests/patch/test_calc_patch.py
  truss/tests/test_config.py
  truss/tests/test_data/test_streaming_truss_with_tracing/config.yaml
Due: ruff, ruff-format, mypy

Bump version to 0.11.12
  pyproject.toml
  uv.lock
Due: uv-lock

Lint
  truss/tests/conftest.py
  truss/tests/test_data/test_editable_external_pkg/model/model.py
  truss/tests/test_data/test_editable_external_pkg_parent/local_pkg/pyproject.toml
  truss/tests/test_data/test_editable_external_pkg_parent/local_pkg/src/local_pkg/__init__.py
  truss/tests/test_truss_handle.py
Due: ruff, ruff-format

range download fixes v2
  truss-transfer/src/cloud_range_download.rs
  truss-transfer/src/hf_transfer.rs
Due: none

range download fixes v2
  truss-transfer/src/cloud_range_download.rs
Due: none

cargo fmt
  truss-transfer/src/hf_transfer.rs
Due: none

restore logic
  truss-transfer/src/hf_transfer.rs
Due: none

remove unused imorts
  truss-transfer/src/hf_transfer.rs
Due: none

run again
  truss-transfer/src/hf_transfer.rs
Due: none

range requests by default
  pyproject.toml
  truss-transfer/Cargo.toml
  uv.lock
Due: uv-lock

range requests by default
  truss-transfer/Cargo.lock
Due: none

bump version
  pyproject.toml
  truss/templates/server/requirements.txt
  uv.lock
Due: uv-lock

bump version, rc3
  truss/templates/server.Dockerfile.jinja
Due: none

truss-transfer: range download fixes v2 (#1984)
  pyproject.toml
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/cloud_range_download.rs
  truss-transfer/src/hf_transfer.rs
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/requirements.txt
  uv.lock
Due: uv-lock

Create rc
  pyproject.toml
Due: uv-lock

Add FP4_MLP_ONLY option in truss config
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Bump up truss version
  pyproject.toml
Due: uv-lock

Upload raw chain artifact
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/custom_types.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_chain_upload.py
Due: ruff, ruff-format, mypy

add /packages to app ownership
  truss/templates/server.Dockerfile.jinja
Due: none

add metrics
  truss-transfer/src/core.rs
  truss-transfer/src/download.rs
  truss-transfer/src/lib.rs
  truss-transfer/src/metrics.rs
  truss-transfer/src/speed_checks.rs
Due: none

src fmt
  truss-transfer/src/core.rs
  truss-transfer/src/download.rs
  truss-transfer/src/hf_transfer.rs
  truss-transfer/src/metrics.rs
Due: none

src fmt
  truss-transfer/src/metrics.rs
Due: none

allow run of precommit from GHA Web interface (#1863)
  .github/workflows/pr.yml
Due: none
