Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
        language: python
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: poetry run ruff format --force-exclude
        language: python
        files: \.(py|pyi)$
      - id: pyproject.toml
        name: pyproject.toml
        entry: poetry run python bin/pyproject_toml_linter.py
        language: python
        additional_dependencies: [tomlkit]
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true

add baseten performance client bump version
  baseten-performance-client/Cargo.toml
Due: none

add staging comments
  baseten-performance-client/README.md
  baseten-performance-client/src/lib.rs
Due: none

cargo fmt
  baseten-performance-client/Cargo.toml
  baseten-performance-client/src/lib.rs
Due: none

add cargo.lock
  baseten-performance-client/Cargo.lock
Due: none

change default
  baseten-performance-client/src/lib.rs
Due: none

fix ci
  .github/workflows/baseten-performance-client-release.yml
Due: none

fix secret
  .github/workflows/baseten-performance-client-release.yml
  .github/workflows/build-maturin.yml
Due: none

fix secret
  .github/workflows/build-maturin.yml
Due: none

make tests pass on Mac
  truss/templates/control/control/helpers/truss_patch/model_code_patch_applier.py
  truss/tests/templates/core/server/test_lazy_data_resolver_v2.py
  truss/util/path.py
Due: ruff, ruff-format, mypy

allow test to skip if 429 from huggingface
  truss/tests/util/test_basetenpointer.py
Due: ruff, ruff-format

add lib.rs
  baseten-performance-client/src/lib.rs
Due: none

fix lint
  baseten-performance-client/src/lib.rs
Due: none

set temp dir for pytests
  pyproject.toml
  truss/util/path.py
Due: ruff, ruff-format, mypy

add retry
  baseten-performance-client/Cargo.toml
Due: none

add documentation
  baseten-performance-client/src/lib.rs
Due: none

add cancellation timeout
  baseten-performance-client/Cargo.lock
Due: none

add cancellation timeout
  baseten-performance-client/src/lib.rs
Due: none

add lib.rs
  baseten-performance-client/scripts/compare_latency_openai.py
  baseten-performance-client/scripts/continous_latency.py
  baseten-performance-client/src/lib.rs
Due: ruff, ruff-format, mypy

add 0x2c
  baseten-performance-client/src/lib.rs
Due: none

update version
  baseten-performance-client/Cargo.toml
Due: none

fix(truss): broken timestamp conversion for timestamp in wrong format
  truss/cli/utils/common.py
Due: ruff, ruff-format, mypy

fix(truss): broken timestamp conversion for timestamp in wrong format (#1750)
  truss/cli/utils/common.py
Due: ruff, ruff-format, mypy

Bump version to 0.9.111
  pyproject.toml
Due: none

validate LoRA rank, use reasonable default
  pyproject.toml
  truss-train/truss_train/definitions.py
  truss/cli/train/deploy_checkpoints.py
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

cargo clean
  baseten-performance-client/Cargo.lock
  baseten-performance-client/src/lib.rs
Due: none

adapt defaults
  baseten-performance-client/src/lib.rs
Due: none

add warning slow providers
  baseten-performance-client/src/lib.rs
Due: none

add client
  baseten-performance-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

bump version
  baseten-performance-client/Cargo.toml
Due: none

Bump version to 0.10.0
  pyproject.toml
Due: none

raise error if lora rank is invalid
  truss/cli/train/deploy_checkpoints.py
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

storage code snippets
  truss/cli/train/cache_context_manager.py
  truss/cli/train/storage_config_example.py
Due: ruff, ruff-format, mypy

more robust checkpoint support
  truss/cli/train/core.py
  truss/cli/train/deploy_checkpoints.py
Due: ruff, ruff-format, mypy

deployment name
  truss/cli/train/deploy_checkpoints.py
Due: ruff, ruff-format, mypy

update comment
  truss/cli/train/deploy_checkpoints.py
Due: ruff, ruff-format, mypy

feat(django): migrate from enable_cache to cache_config
  truss-train/tests/import/project_with_cache_config.py
  truss-train/tests/test_loader.py
  truss-train/truss_train/definitions.py
  truss-train/truss_train/loader.py
Due: ruff, ruff-format, mypy

fix(truss): unit tests
  truss-train/tests/test_deployment.py
Due: ruff, ruff-format, mypy

renames
  truss/cli/train/deploy_checkpoints.py
Due: ruff, ruff-format, mypy

add error source propagation
  baseten-performance-client/Cargo.lock
  baseten-performance-client/scripts/continous_latency.py
  baseten-performance-client/src/lib.rs
Due: ruff, ruff-format, mypy
