Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

isort:
  name: isort-local
  entry: poetry run isort
  language: system
  pass_filenames: true

flake8:
  name: flake8-local
  entry: poetry run flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy-local
  entry: poetry run mypy
  args:
  - --install-types
  - --non-interactive
  language: python
  pass_filenames: true

Reorder workflows to not waste time building images we don't need (#311)
  .github/workflows/main.yml
  .pre-commit-config.yaml
Due: none

Bump dev Version
  pyproject.toml
Due: none

Fix skips by adding always condition
  .github/workflows/main.yml
  pyproject.toml
Due: none

Add dev_version output correctly
  .github/workflows/main.yml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Change skip condition to always() to avoid automatic skips (#312)
  .github/workflows/main.yml
  pyproject.toml
Due: none

Fix entrypoint for published servers
  truss/templates/server.Dockerfile.jinja
Due: none

iterate
  pyproject.toml
  truss/templates/server.Dockerfile.jinja
Due: none

refactoring
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/server/common/truss_server.py
Due: isort, flake8, mypy

typo
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/server/common/truss_server.py
Due: isort, flake8, mypy

use subshell in entrypoint for env var resolution
  truss/templates/server.Dockerfile.jinja
  truss/test_data/server.Dockerfile
Due: none

fix dead doc link
  docs/create/manual.md
Due: none

small docs fixes
  docs/create/manual.md
  docs/develop/localhost.md
Due: none

small docs fixes (#314)
  docs/create/manual.md
  docs/develop/localhost.md
Due: none

Revert "fix dead doc link"
  docs/create/manual.md
Due: none

Allow building test context builder images directly from branch
  .github/workflows/build-context-builder-image.yml
Due: none

Allow building test context builder images directly from branch (#315)
  .github/workflows/build-context-builder-image.yml
Due: none

fix entrypoint
  truss/templates/server.Dockerfile.jinja
Due: none

fix test
  truss/test_data/server.Dockerfile
Due: none

add tests for predict and predict_binary in control server and support for serializing error responses as bytes
  truss/templates/control/control/application.py
  truss/tests/templates/control/control/test_server.py
Due: isort, flake8, mypy

fix tests
  truss/templates/control/control/application.py
  truss/tests/templates/control/control/test_server.py
Due: isort, flake8, mypy

add SERVER_START_CMD to dockerfile
  truss/templates/server.Dockerfile.jinja
Due: none

fix diff test
  truss/test_data/server.Dockerfile
Due: none

bump dev12
  pyproject.toml
Due: none

bump to 0.4.6
  pyproject.toml
Due: none

Fix entrypoint for published servers (#313)
  pyproject.toml
  truss/templates/server.Dockerfile.jinja
  truss/test_data/server.Dockerfile
Due: none

Revert "Fix entrypoint for published servers (#313)"
  pyproject.toml
  truss/templates/server.Dockerfile.jinja
  truss/test_data/server.Dockerfile
Due: none

Revert "Fix entrypoint for published servers (#313)" (#318)
  pyproject.toml
  truss/templates/server.Dockerfile.jinja
  truss/test_data/server.Dockerfile
Due: none

fix dockerfile
  truss/templates/server.Dockerfile.jinja
Due: none

integration test
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/server/common/truss_server.py
  truss/test_data/model_load_failure_test/config.yaml
  truss/test_data/model_load_failure_test/model/model.py
  truss/tests/test_model_inference.py
Due: isort, flake8, mypy

Fix SERVER_START_CMD environment variable (#320)
  pyproject.toml
  truss/templates/server.Dockerfile.jinja
  truss/test_data/server.Dockerfile
Due: none

updated test
  truss/tests/test_model_inference.py
Due: isort, flake8

updating log
  truss/templates/control/control/helpers/inference_server_process_controller.py
Due: isort, flake8, mypy

Bump base image versions and push new context builder
  pyproject.toml
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

Rework deployment workflow to build baseimage based on version changes
  .github/workflows/main.yml
Due: none

Fix dependency graph
  .github/workflows/main.yml
Due: none

Run the base image builds in parallel with a matrix
  .github/workflows/main.yml
Due: none

Build live reload image
  .github/workflows/main.yml
Due: none

Rework deployment workflow to build baseimage based on version changes (#324)
  .github/workflows/main.yml
Due: none

Extra version without python
  .github/workflows/main.yml
Due: none

Path conditions:
  isort: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
