Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

changes
  truss-transfer/src/hf_transfer.rs
Due: none

choose cache mount path
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

mount base path
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

feat(truss): add b10 checkpoint type (#2053)
  pyproject.toml
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy, uv-lock

feat(truss): choose cache mount path (#2064)
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

updates api error
  truss/remote/baseten/core.py
Due: ruff, ruff-format, mypy

updates api error (#2065)
  truss/remote/baseten/core.py
Due: ruff, ruff-format, mypy

Bump version to 0.11.25
  pyproject.toml
  uv.lock
Due: uv-lock

include PATH in reserved var list
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

bump version
  pyproject.toml
  uv.lock
Due: uv-lock

Bump version to 0.11.26
  pyproject.toml
  uv.lock
Due: uv-lock

Ensure `root` at beginning of build process
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
  uv.lock
Due: uv-lock

initial commit
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
  uv.lock
Due: uv-lock

Add integration test
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/test_non_root_base_image/Dockerfile
  truss/tests/test_data/test_non_root_base_image/README.md
  truss/tests/test_data/test_non_root_base_image/config.yaml
  truss/tests/test_data/test_non_root_base_image/model/model.py
  truss/tests/test_model_inference.py
Due: ruff, ruff-format

Ensure `root` at beginning of build process (#2069)
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
  truss/tests/test_data/test_non_root_base_image/Dockerfile
  truss/tests/test_data/test_non_root_base_image/README.md
  truss/tests/test_data/test_non_root_base_image/config.yaml
  truss/tests/test_data/test_non_root_base_image/model/model.py
  truss/tests/test_model_inference.py
  uv.lock
Due: ruff, ruff-format, uv-lock

Allow installing into `system` pythons if necessary
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
  uv.lock
Due: uv-lock

Add integration test
  truss/tests/test_data/test_system_managed_python/Dockerfile
  truss/tests/test_data/test_system_managed_python/README.md
  truss/tests/test_data/test_system_managed_python/config.yaml
  truss/tests/test_data/test_system_managed_python/model/model.py
  truss/tests/test_model_inference.py
Due: ruff, ruff-format

make revision default to empty string
  truss-transfer/src/bindings.rs
  truss-transfer/src/create/basetenpointer.rs
  truss/base/truss_config.py
  truss/templates/cache.Dockerfile.jinja
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Allow installing into `system` pythons if necessary (#2070)
  pyproject.toml
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
  truss/tests/test_data/test_system_managed_python/Dockerfile
  truss/tests/test_data/test_system_managed_python/README.md
  truss/tests/test_data/test_system_managed_python/config.yaml
  truss/tests/test_data/test_system_managed_python/model/model.py
  truss/tests/test_model_inference.py
  uv.lock
Due: ruff, ruff-format, uv-lock

bump version
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
Due: none

updated no build to allow build commands and data directory
  pyproject.toml
  truss/templates/no_build.Dockerfile.jinja
  uv.lock
Due: uv-lock

bump truss version
  pyproject.toml
  uv.lock
Due: uv-lock

Revision defaults to empty string (#2071)
  pyproject.toml
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/bindings.rs
  truss-transfer/src/create/basetenpointer.rs
  truss/base/truss_config.py
  truss/templates/cache.Dockerfile.jinja
  truss/tests/test_config.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

Support py3.14 in `truss`
  pyproject.toml
  uv.lock
Due: uv-lock

Support python 3.14 for CLI
  pyproject.toml
  uv.lock
Due: uv-lock

Deprecate python 3.8 server side support
  pyproject.toml
  truss/base/constants.py
  truss/templates/control/control/application.py
  truss/templates/control/control/endpoints.py
  truss/templates/control/control/helpers/custom_types.py
  truss/templates/control/control/helpers/errors.py
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/control/control/helpers/truss_patch/requirement_name_identifier.py
  truss/templates/control/control/helpers/truss_patch/system_packages.py
  truss/templates/server/common/errors.py
  truss/templates/server/common/schema.py
  truss/templates/server/common/tracing.py
  truss/templates/server/model_wrapper.py
  truss/templates/server/requirements.txt
  truss/templates/server/truss_server.py
  truss/templates/shared/lazy_data_resolver.py
  truss/templates/shared/log_config.py
  truss/templates/shared/secrets_resolver.py
  truss/templates/shared/serialization.py
  truss/templates/shared/util.py
  truss/templates/trtllm-audio/packages/whisper_trt/__init__.py
  truss/templates/trtllm-audio/packages/whisper_trt/batching.py
  truss/templates/trtllm-audio/packages/whisper_trt/custom_types.py
  truss/templates/trtllm-audio/packages/whisper_trt/utils.py
  truss/tests/cli/train/test_deploy_checkpoints.py
  truss/tests/remote/baseten/test_chain_upload.py
  truss/tests/remote/baseten/test_remote.py
  truss/tests/test_config.py
  truss/tests/test_data/server.Dockerfile
  truss/tests/test_model_inference.py
  truss/tests/test_truss_handle.py
Due: ruff, ruff-format, mypy, uv-lock

Support python 3.14 in `truss` CLI (#2074)
  pyproject.toml
  uv.lock
Due: uv-lock

Deprecate python 3.8 server side support (#2075)
  pyproject.toml
  truss/base/constants.py
  truss/templates/control/control/application.py
  truss/templates/control/control/endpoints.py
  truss/templates/control/control/helpers/custom_types.py
  truss/templates/control/control/helpers/errors.py
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/control/control/helpers/truss_patch/requirement_name_identifier.py
  truss/templates/control/control/helpers/truss_patch/system_packages.py
  truss/templates/server/common/errors.py
  truss/templates/server/common/schema.py
  truss/templates/server/common/tracing.py
  truss/templates/server/model_wrapper.py
  truss/templates/server/requirements.txt
  truss/templates/server/truss_server.py
  truss/templates/shared/lazy_data_resolver.py
  truss/templates/shared/log_config.py
  truss/templates/shared/secrets_resolver.py
  truss/templates/shared/serialization.py
  truss/templates/shared/util.py
  truss/templates/trtllm-audio/packages/whisper_trt/__init__.py
  truss/templates/trtllm-audio/packages/whisper_trt/batching.py
  truss/templates/trtllm-audio/packages/whisper_trt/custom_types.py
  truss/templates/trtllm-audio/packages/whisper_trt/utils.py
  truss/tests/cli/train/test_deploy_checkpoints.py
  truss/tests/remote/baseten/test_chain_upload.py
  truss/tests/remote/baseten/test_remote.py
  truss/tests/test_config.py
  truss/tests/test_data/server.Dockerfile
  truss/tests/test_model_inference.py
  truss/tests/test_truss_handle.py
Due: ruff, ruff-format, mypy, uv-lock

improve performance client <!-- What does this PR add, remove, and/or change? --> ## :rocket: What - adds connection wrapper reuse - adds custom header support
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
  baseten-performance-client/python_bindings/src/lib.rs
Due: ruff, ruff-format

custom headers support
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
Due: ruff, ruff-format

rename client pacakge
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
  baseten-performance-client/python_bindings/src/lib.rs
Due: ruff, ruff-format

add bingings
  baseten-performance-client/node_bindings/__test__/index.spec.mjs
  baseten-performance-client/node_bindings/index.js
Due: none

add nindings test
  baseten-performance-client/python_bindings/tests/test_bindings.py
Due: ruff, ruff-format, mypy

New base images, support 3.14
  .github/workflows/_build_truss_server_base_images_if_needed_shared.yml
  truss/base/constants.py
  truss/contexts/image_builder/util.py
  truss/tests/test_config.py
  truss/tests/test_model_inference.py
  truss/tests/test_truss_handle.py
Due: ruff, ruff-format, mypy

add baseten performance client package
  baseten-performance-client/Cargo.lock
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/index.d.ts
  baseten-performance-client/node_bindings/index.js
  baseten-performance-client/node_bindings/yarn.lock
Due: none

Macos cli <!-- What does this PR add, remove, and/or change? --> ## :rocket: What - fix macos cli
  .github/workflows/build-maturin.yml
Due: none

Avoid base image rebuild
  pyproject.toml
  truss/templates/control/requirements.txt
  uv.lock
Due: uv-lock

Macos cli (#2077)
  .github/workflows/build-maturin.yml
Due: none

lint js file
  baseten-performance-client/node_bindings/__test__/index.spec.mjs
Due: none

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
