Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

isort:
  name: isort-local
  entry: poetry run isort
  language: system
  pass_filenames: true

flake8:
  name: flake8-local
  entry: poetry run flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy-local
  entry: poetry run mypy
  args:
  - --install-types
  - --non-interactive
  language: python
  pass_filenames: true

Add tests.
  truss/tests/test_model_inference.py
Due: isort, flake8

Better error resilience.
  truss/remote/baseten/service.py
Due: isort, flake8, mypy

Make pre-release off main
  .github/workflows/main.yml
  pyproject.toml
Due: none

Make pre-release off main (#539)
  .github/workflows/main.yml
  pyproject.toml
Due: none

Updated for pr feedback.
  pyproject.toml
  truss/remote/baseten/service.py
Due: isort, flake8, mypy

Better error resilience. (#538)
  pyproject.toml
  truss/remote/baseten/service.py
Due: isort, flake8, mypy

Better secret error handling. (#531)
  truss/templates/shared/secrets_resolver.py
  truss/tests/test_model_inference.py
Due: isort, flake8, mypy

more docs
  docs/contribute/base-images.mdx
  docs/contribute/contributing.mdx
  docs/contribute/patching.mdx
  docs/contribute/release.mdx
  docs/contribute/remote-spec.mdx
  docs/contribute/setup.mdx
  docs/examples/models/llama-2.mdx
  docs/examples/models/overview.mdx
  docs/learn/model-serving/echo.mdx
  docs/learn/model-serving/init.mdx
  docs/learn/model-serving/model-load.mdx
  docs/learn/model-serving/model-predict.mdx
  docs/learn/model-serving/predict.mdx
  docs/learn/model-serving/push.mdx
  docs/learn/model-serving/requirements.mdx
  docs/learn/model-serving/watch.mdx
  docs/mint.json
  docs/quickstart.mdx
  docs/remotes/baseten.mdx
  docs/remotes/sagemaker.mdx
  docs/welcome.mdx
  test/config.yaml
  test/model/__init__.py
  test/model/model.py
Due: isort, flake8, mypy

init
  docs/examples/performance/vllm-server.mdx
Due: none

Philip/more docs (#540)
  docs/contribute/base-images.mdx
  docs/contribute/contributing.mdx
  docs/contribute/patching.mdx
  docs/contribute/release.mdx
  docs/contribute/remote-spec.mdx
  docs/contribute/setup.mdx
  docs/examples/models/llama-2.mdx
  docs/examples/models/overview.mdx
  docs/examples/system-packages.mdx
  docs/learn/101/env-var.mdx
  docs/learn/101/model-load.mdx
  docs/learn/101/predict.mdx
  docs/learn/101/push.mdx
  docs/learn/101/watch.mdx
  docs/learn/intro.mdx
  docs/learn/llms/cache.mdx
  docs/learn/llms/init.mdx
  docs/learn/llms/model-load.mdx
  docs/learn/llms/model-predict.mdx
  docs/learn/llms/private.mdx
  docs/learn/llms/resources.mdx
  docs/learn/llms/streaming.mdx
  docs/learn/model-serving/echo.mdx
  docs/learn/model-serving/init.mdx
  docs/learn/model-serving/model-load.mdx
  docs/learn/model-serving/model-predict.mdx
  docs/learn/model-serving/predict.mdx
  docs/learn/model-serving/push.mdx
  docs/learn/model-serving/requirements.mdx
  docs/learn/model-serving/watch.mdx
  docs/mint.json
  docs/quickstart.mdx
  docs/remotes/baseten.mdx
  docs/remotes/sagemaker.mdx
  docs/welcome.mdx
Due: none

bump to rc4.
  pyproject.toml
Due: none

added private model docs
  docs/examples/private-model.mdx
Due: none

bump to rc4. (#542)
  pyproject.toml
Due: none

Return 500 error codes on user error.
  truss/templates/server/common/errors.py
  truss/templates/server/common/truss_server.py
  truss/templates/server/model_wrapper.py
  truss/tests/test_model_inference.py
Due: isort, flake8, mypy

Support stream vs non-stream endpoint selection in TGI (#536)
  truss/cli/create.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/tgi/proxy.conf.jinja
Due: isort, flake8, mypy

Bump truss version.
  pyproject.toml
Due: none

Bump truss version. (#546)
  pyproject.toml
Due: none

0.5.8.
  pyproject.toml
Due: none

0.5.8. (#550)
  pyproject.toml
Due: none

Fix issue w/ missing values.
  truss/templates/server/model_wrapper.py
Due: isort, flake8, mypy

Remove stacktrace.
  truss/templates/server/model_wrapper.py
  truss/tests/test_model_inference.py
Due: isort, flake8, mypy

working gcp bundling
  pyproject.toml
  truss/contexts/image_builder/cache_warmer.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
Due: isort, flake8, mypy

update save dir to cache_dir / {bucket}
  truss/contexts/image_builder/cache_warmer.py
Due: isort, flake8, mypy

change toml
  pyproject.toml
Due: none

extend patch support for truss dir patch applier
  truss/patch/truss_dir_patch_applier.py
Due: isort, flake8, mypy

bump version
  pyproject.toml
Due: none

Fix typo
  examples/stable-diffusion-2-1/README.md
Due: none

Fix pr.
  truss/tests/test_model_inference.py
Due: isort, flake8

Fix tests.
  truss/tests/test_model_inference.py
Due: isort, flake8

add missing continue
  truss/patch/truss_dir_patch_applier.py
Due: isort, flake8, mypy

Fix tests.
  truss/templates/server/model_wrapper.py
  truss/tests/test_model_inference.py
Due: isort, flake8, mypy

Fix all tests.
  truss/tests/test_model_inference.py
Due: isort, flake8

correct version
  pyproject.toml
Due: none

always overwrite config when applicable
  truss/patch/truss_dir_patch_applier.py
Due: isort, flake8, mypy

add tests, remove redundant update
  truss/patch/truss_dir_patch_applier.py
  truss/tests/patch/test_truss_dir_patch_applier.py
Due: isort, flake8, mypy

extend patch support for truss dir patch applier (#553)
  pyproject.toml
  truss/patch/truss_dir_patch_applier.py
  truss/tests/patch/test_truss_dir_patch_applier.py
Due: isort, flake8, mypy

sync truss on thread start, logs in tab, better exception handling
  truss/cli/cli.py
  truss/contexts/local_loader/truss_file_syncer.py
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

prompt user for logs tab
  truss/cli/cli.py
Due: isort, flake8, mypy

Simplify truss init / push commands.
  truss/build.py
  truss/cli/cli.py
  truss/cli/create.py
  truss/remote/remote_cli.py
Due: isort, flake8, mypy

Fix typo.
  truss/remote/remote_cli.py
Due: isort, flake8, mypy

Path conditions:
  isort: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
