Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
        language: python
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: poetry run ruff format --force-exclude
        language: python
        files: \.(py|pyi)$
      - id: pyproject.toml
        name: pyproject.toml
        entry: poetry run python bin/pyproject_toml_linter.py
        language: python
        additional_dependencies: [tomlkit]
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true

truss-transfer add default types
  truss-transfer/src/cache.rs
  truss-transfer/src/constants.rs
  truss-transfer/src/download.rs
  truss-transfer/src/types.rs
  truss/base/truss_config.py
  truss/util/basetenpointer.py
Due: ruff, ruff-format, mypy

runtime secret name
  truss/tests/util/test_basetenpointer.py
Due: ruff, ruff-format

add revision for model rpeo download
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/basetenpointer.rs
  truss-transfer/src/bindings.rs
  truss-transfer/src/core.rs
  truss-transfer/src/hf_metadata.rs
  truss-transfer/src/lib.rs
  truss-transfer/src/types.rs
  truss-transfer/tests/README.md
  truss-transfer/tests/test_create_bptr.py
Due: ruff, ruff-format, mypy

add pymodel repo
  truss-transfer/src/basetenpointer.rs
  truss-transfer/src/hf_metadata.rs
  truss-transfer/src/lib.rs
  truss-transfer/src/types.rs
Due: none

add pymodel repo
  truss-transfer/src/basetenpointer.rs
  truss-transfer/src/lib.rs
  truss-transfer/src/types.rs
Due: none

add pytest
  truss-transfer/src/basetenpointer.rs
  truss-transfer/src/bindings.rs
  truss-transfer/src/hf_metadata.rs
  truss-transfer/src/types.rs
  truss-transfer/tests/test_create_bptr.py
Due: ruff, ruff-format, mypy

cargo fmt
  truss-transfer/src/bindings.rs
  truss-transfer/src/types.rs
Due: none

add cargo update
  truss-transfer/src/bindings.rs
  truss-transfer/src/cli.rs
  truss-transfer/src/create/basetenpointer.rs
  truss-transfer/src/create/hf_metadata.rs
  truss-transfer/src/create/mod.rs
  truss-transfer/src/lib.rs
Due: none

Update baseten-performance-client-nodejs.yml
  .github/workflows/baseten-performance-client-nodejs.yml
Due: none

add hf_token
  truss-transfer/README.md
  truss-transfer/src/bindings.rs
  truss-transfer/src/constants.rs
  truss-transfer/src/core.rs
  truss-transfer/src/create/hf_metadata.rs
  truss-transfer/src/create/mod.rs
  truss-transfer/src/lib.rs
Due: none

feat(engine-builder): custom model download command
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

pin reqest crate wide
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/core.rs
  truss-transfer/src/lib.rs
Due: none

reqwest patch
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
Due: none

cargo toml
  truss-transfer/Cargo.toml
Due: none

cargo toml
  truss-transfer/Cargo.lock
Due: none

remove ring
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
Due: none

no ureq
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
Due: none

add tests for proxy_ws
  pyproject.toml
  truss/tests/templates/control/control/test_endpoints.py
Due: ruff, ruff-format

fix error upon client disconnect
  truss/templates/control/control/endpoints.py
  truss/tests/templates/control/control/test_endpoints.py
Due: ruff, ruff-format, mypy

new truss-transfer version
  poetry.lock
  pyproject.toml
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
Due: none

add autogen for root dir
  .github/workflows/baseten-performance-client-nodejs.yml
Due: none

add skip test
  .github/workflows/baseten-performance-client-nodejs.yml
Due: none

remove macos libary
  .github/workflows/baseten-performance-client-nodejs.yml
Due: none

prevent development models for gRPC
  truss/cli/cli.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

docker auth types
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

handle validation server side
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

use TransportKind literal, update error message
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

fix nodejs
  .github/workflows/baseten-performance-client-nodejs.yml
  baseten-performance-client/node_bindings/package.json
Due: none

add updated yaml
  .github/workflows/baseten-performance-client-nodejs.yml
Due: none

set up napi again
  baseten-performance-client/node_bindings/.cargo/config.toml
  baseten-performance-client/node_bindings/.github/workflows/CI.yml
  baseten-performance-client/node_bindings/.yarn/releases/yarn-4.9.2.cjs
  baseten-performance-client/node_bindings/.yarnrc.yml
  baseten-performance-client/node_bindings/README.md
  baseten-performance-client/node_bindings/__test__/index.spec.mjs
  baseten-performance-client/node_bindings/__test__/test.js
  baseten-performance-client/node_bindings/example.js
  baseten-performance-client/node_bindings/index.d.ts
  baseten-performance-client/node_bindings/index.js
  baseten-performance-client/node_bindings/npm/darwin-x64/README.md
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/README.md
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/README.md
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/node_bindings/rustfmt.toml
  baseten-performance-client/node_bindings/yarn.lock
Due: none

add index.js
  baseten-performance-client/node_bindings/__test__/test.js
  baseten-performance-client/node_bindings/index.js
Due: none

napi update
  baseten-performance-client/node_bindings/package.json
Due: none

rename to baseten
  .github/workflows/baseten-performance-client-nodejs.yml
  baseten-performance-client/node_bindings/index.js
  baseten-performance-client/node_bindings/npm/darwin-x64/README.md
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/README.md
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/README.md
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/node_bindings/yarn.lock
Due: none

remove ci
  baseten-performance-client/node_bindings/.github/workflows/CI.yml
Due: none

remove yarn
  baseten-performance-client/node_bindings/.yarn/releases/yarn-4.9.2.cjs
Due: none

add package json
  baseten-performance-client/node_bindings/.gitignore
  baseten-performance-client/node_bindings/.yarn/releases/yarn-4.9.2.cjs
  baseten-performance-client/node_bindings/npm/android-arm-eabi/README.md
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/README.md
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/README.md
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/README.md
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/README.md
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/README.md
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/README.md
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/README.md
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/README.md
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/README.md
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/README.md
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/README.md
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/README.md
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
Due: none

add formatting
  baseten-performance-client/node_bindings/.gitignore
  baseten-performance-client/node_bindings/.yarn/releases/yarn-4.9.2.cjs
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
Due: none

napi version 1
  .github/workflows/baseten-performance-client-nodejs.yml
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
Due: none

enable x86 binding
  .github/workflows/baseten-performance-client-nodejs.yml
Due: none
