Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

isort:
  name: isort-local
  entry: poetry run isort
  language: system
  pass_filenames: true

flake8:
  name: flake8-local
  entry: poetry run flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy-local
  entry: poetry run mypy
  args:
  - --install-types
  - --non-interactive
  language: python
  pass_filenames: true

updated tests to load from yaml using trussconfig
  truss/tests/patch/test_calc_patch.py
  truss/truss_config.py
Due: isort, flake8, mypy

disabled verbose (#415)
  truss/util/path.py
Due: isort, flake8, mypy

address review comments
  truss/patch/calc_patch.py
  truss/templates/control/control/helpers/truss_patch/model_code_patch_applier.py
Due: isort, flake8, mypy

Add support for patching external packages (#417)
  truss/patch/calc_patch.py
  truss/patch/local_truss_patch_applier.py
  truss/patch/truss_dir_patch_applier.py
  truss/templates/control/control/helpers/inference_server_controller.py
  truss/templates/control/control/helpers/truss_patch/model_code_patch_applier.py
  truss/templates/control/control/helpers/truss_patch/model_container_patch_applier.py
  truss/templates/control/control/helpers/types.py
  truss/test_data/test_truss/packages/test_package/test.py
  truss/tests/patch/test_calc_patch.py
  truss/tests/templates/control/control/helpers/test_model_container_patch_applier.py
  truss/tests/test_control_truss_patching.py
Due: isort, flake8, mypy

chkpt
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/control/control/server.py
  truss/tests/conftest.py
  truss/tests/templates/core/server/common/test_truss_server.py
Due: isort, flake8, mypy

passing all patch tests
  truss/tests/patch/test_calc_patch.py
  truss/truss_config.py
Due: isort, flake8, mypy

log parsing works
  truss/templates/server/common/logging.py
Due: isort, flake8, mypy

apply verbose=False flag to tests in test_config
  truss/tests/test_config.py
Due: isort, flake8

cleanup
  truss/contexts/image_builder/serving_image_builder.py
  truss/truss_config.py
Due: isort, flake8, mypy

Control server termination
  .pre-commit-config.yaml
  truss/templates/control/control/application.py
  truss/templates/control/control/helpers/inference_server_controller.py
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/control/control/server.py
  truss/tests/templates/core/server/common/test_truss_server.py
Due: isort, flake8, mypy

move test to separate file
  truss/tests/templates/control/control/test_server_integration.py
  truss/tests/templates/core/server/common/test_truss_server.py
Due: isort, flake8

new readme
  CONTRIBUTING.md
  README.md
Due: none

added passing tests, still need to fix
  truss/tests/test_truss_handle.py
Due: isort, flake8

bola review
  CONTRIBUTING.md
  README.md
Due: none

syntax highlighting
  README.md
Due: none

rm diff syntax
  README.md
Due: none

tagline
  README.md
Due: none

Add tests for patching and predicting
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/tests/templates/control/control/test_server_integration.py
Due: isort, flake8, mypy

chkpt
  truss/templates/shared/uvicorn_config.py
Due: isort, flake8, mypy

Control server move to FastApi with streaming and termination handling support
  .pre-commit-config.yaml
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
  truss/model_frameworks/lightgbm.py
  truss/model_frameworks/mlflow.py
  truss/model_frameworks/sklearn.py
  truss/templates/control/control/application.py
  truss/templates/control/control/endpoints.py
  truss/templates/control/control/helpers/inference_server_controller.py
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/control/control/helpers/inference_server_starter.py
  truss/templates/control/control/server.py
  truss/templates/control/requirements.txt
  truss/templates/server/common/truss_server.py
  truss/templates/server/inference_server.py
  truss/templates/shared/logging.py
  truss/templates/shared/serialization.py
  truss/templates/shared/util.py
  truss/tests/conftest.py
  truss/tests/templates/control/control/test_server.py
  truss/tests/templates/control/control/test_server_integration.py
  truss/tests/test_control_truss_patching.py
  truss/truss_handle.py
Due: isort, flake8, mypy

Add edge case to test_streaming_truss
  truss/tests/test_model_inference.py
Due: isort, flake8

Use a queue for streaming.
  truss/templates/server/model_wrapper.py
Due: isort, flake8, mypy

Remove unused functions.
  truss/templates/server/model_wrapper.py
Due: isort, flake8, mypy

[RFC] Use a queue for streaming (#423)
  truss/templates/server/model_wrapper.py
Due: isort, flake8, mypy

fix poetry deps
  poetry.lock
  pyproject.toml
Due: none

remov DEFAULT_SPEC_VERSION_ON_LOAD
  truss/tests/test_truss_handle.py
  truss/truss_config.py
Due: isort, flake8, mypy

add rich dep
  poetry.lock
  pyproject.toml
Due: none

Truss Remote (#380)
  poetry.lock
  pyproject.toml
  truss/cli.py
  truss/remote/baseten/__init__.py
  truss/remote/baseten/api.py
  truss/remote/baseten/auth.py
  truss/remote/baseten/core.py
  truss/remote/baseten/error.py
  truss/remote/baseten/remote.py
  truss/remote/baseten/service.py
  truss/remote/baseten/utils/tar.py
  truss/remote/baseten/utils/transfer.py
  truss/remote/truss_remote.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_auth.py
  truss/tests/remote/baseten/test_core.py
  truss/tests/remote/test_truss_remote.py
Due: isort, flake8, mypy

added tests for customjsonformatter
  truss/templates/server/common/logging.py
  truss/tests/templates/server/common/test_logging.py
Due: isort, flake8, mypy

New README (#421)
  CONTRIBUTING.md
  README.md
Due: none

Revert "Revert "Simplify config file to be more user friendly"" (#416)
  truss/build.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/tests/patch/test_calc_patch.py
  truss/tests/test_config.py
  truss/tests/test_truss_handle.py
  truss/truss_config.py
Due: isort, flake8, mypy

test
  truss/tests/templates/server/common/test_logging.py
Due: isort, flake8

comment
  truss/tests/templates/server/common/test_logging.py
Due: isort, flake8

add space for linter
  CONTRIBUTING.md
  README.md
Due: none

changed name of formatter + added try block
  truss/templates/server/common/logging.py
  truss/tests/templates/server/common/test_logging.py
Due: isort, flake8, mypy

added cache keys to config
  truss/contexts/image_builder/serving_image_builder.py
  truss/truss_config.py
Due: isort, flake8, mypy

added to dockerfile
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/server.Dockerfile.jinja
Due: isort, flake8, mypy

added basic caching code
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
Due: isort, flake8, mypy

Path conditions:
  isort: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
