Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: isort
        name: isort-local
        entry: poetry run isort
        language: system
        types: [python]
        pass_filenames: true
      - id: flake8
        name: flake8-local
        entry: poetry run flake8
        language: system
        types: [python]
        pass_filenames: true
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        args: ["--install-types", "--non-interactive"]
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
  - repo: https://github.com/tcort/markdown-link-check
    rev: "v3.10.3"
    hooks:
      - id: markdown-link-check
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        # It is recommended to specify the latest version of Python
        # supported by your project here, or alternatively use
        # pre-commit's default_language_version, see
        # https://pre-commit.com/#top_level-default_language_version
        language_version: python3.9

update reference docs (#682)
  docs/reference/cli/init.mdx
  docs/reference/cli/predict.mdx
  docs/reference/cli/push.mdx
  docs/reference/cli/watch.mdx
Due: none

Increment TGI version (#688)
  truss/templates/tgi/tgi.Dockerfile.jinja
Due: none

Bump version to 0.7.9
  pyproject.toml
Due: none

remove whitespace
  docs/guides/model-cache.mdx
Due: none

fixed whitespace issue
  docs/guides/model-cache.mdx
Due: none

Add model cache docs (#675)
  docs/examples/performance/cached-weights.mdx
  docs/guides/model-cache.mdx
  docs/mint.json
Due: none

Fix truss push output for TGI.
  truss/cli/cli.py
  truss/remote/baseten/remote.py
  truss/remote/baseten/service.py
  truss/remote/truss_remote.py
Due: isort, flake8, mypy

Fix tests.
  truss/tests/remote/test_truss_remote.py
Due: isort, flake8

Fix tests.
  truss/remote/truss_remote.py
  truss/tests/remote/test_remote_factory.py
Due: isort, flake8, mypy

Update.
  docs/examples/6_high_performance/vllm.mdx
Due: none

changes
  docs/guides/tgi.mdx
Due: none

Add TGI documentation (#680)
  docs/guides/tgi.mdx
Due: none

Add TGI doc to toc.
  docs/mint.json
Due: none

Bump the truss version in control requirements.
  pyproject.toml
  truss/templates/control/requirements.txt
Due: none

Bump the truss version in control requirements. (#694)
  pyproject.toml
  truss/templates/control/requirements.txt
Due: none

Fix server dockerfile.
  truss/templates/server.Dockerfile.jinja
Due: none

Attempt to fix server.Dockerfile to include all files.
  pyproject.toml
Due: none

Add TGI doc to toc. (#691)
  docs/mint.json
Due: none

Fix truss push output for TGI. (#690)
  truss/cli/cli.py
  truss/remote/baseten/remote.py
  truss/remote/baseten/service.py
  truss/remote/truss_remote.py
  truss/tests/remote/test_remote_factory.py
  truss/tests/remote/test_truss_remote.py
Due: isort, flake8, mypy

Progress.
  bin/generate_truss_examples.py
  docs/examples/1_introduction/getting-started-bert.mdx
  docs/examples/2_image_classification/clip.mdx
  docs/examples/3_LLMs/llm-with-streaming.mdx
  docs/examples/6_high_performance/tgi.mdx
  docs/examples/6_high_performance/vllm.mdx
  docs/examples/7_misc/private-huggingface-model.mdx
  docs/examples/7_misc/system-packages.mdx
  docs/mint.json
Due: isort, flake8, mypy

Bump version to 0.7.11
  pyproject.toml
Due: none

Fix bug with truss push with non-draft.
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
Due: isort, flake8, mypy

Remove unnecessary call.
  truss/remote/baseten/core.py
Due: isort, flake8, mypy

Fix bug with truss push with non-draft. (#697)
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
Due: isort, flake8, mypy

Switch to truss-examples repo.
  bin/generate_truss_examples.py
  docs/examples/1_introduction/getting-started-bert.mdx
  docs/examples/2_image_classification/clip.mdx
  docs/examples/3_LLMs/llm-with-streaming.mdx
  docs/examples/6_high_performance/tgi.mdx
  docs/examples/6_high_performance/vllm.mdx
  docs/examples/7_misc/private-huggingface-model.mdx
  docs/examples/7_misc/system-packages.mdx
Due: isort, flake8, mypy

Updates for the new auto generation script.
  docs/examples/1_introduction/getting-started-bert.mdx
  docs/examples/2_image_classification/clip.mdx
  docs/examples/3_LLMs/llm.mdx
  docs/examples/4_image_generation/sdxl.mdx
  docs/examples/6_high_performance/tgi.mdx
  docs/examples/6_high_performance/vllm.mdx
  docs/mint.json
Due: none

Bump version to 0.7.12
  pyproject.toml
Due: none

Fix broken truss examples links.
  README.md
  docs/welcome.mdx
Due: none

Fix broken truss examples links. (#699)
  README.md
  docs/welcome.mdx
Due: none

Updates for PR feedback.
  bin/generate_truss_examples.py
Due: isort, flake8, mypy

Fix copy.
  docs/examples/6_high_performance/cached-weights.mdx
  docs/mint.json
Due: none

Finally got all examples working.
  docs/examples/6_high_performance/cached-weights.mdx
Due: none

Actually use auto generate examples script (#686)
  bin/generate_truss_examples.py
  docs/examples/1_introduction/getting-started-bert.mdx
  docs/examples/2_image_classification/clip.mdx
  docs/examples/3_LLMs/llm-with-streaming.mdx
  docs/examples/3_LLMs/llm.mdx
  docs/examples/4_image_generation/sdxl.mdx
  docs/examples/6_high_performance/cached-weights.mdx
  docs/examples/6_high_performance/tgi.mdx
  docs/examples/6_high_performance/vllm.mdx
  docs/examples/7_misc/private-huggingface-model.mdx
  docs/examples/7_misc/system-packages.mdx
  docs/mint.json
Due: isort, flake8, mypy

Add test.
  truss/tests/test_model_inference.py
Due: isort, flake8

Move postprocess out of the predict lock.
  truss/templates/server/common/truss_server.py
  truss/templates/server/model_wrapper.py
  truss/tests/test_model_inference.py
Due: isort, flake8, mypy

Bump version.
  pyproject.toml
Due: none

Bump pyproject.
  pyproject.toml
Due: none

Remove postprocess from lock (#700)
  pyproject.toml
  truss/templates/server/common/truss_server.py
  truss/templates/server/model_wrapper.py
  truss/tests/test_model_inference.py
Due: isort, flake8, mypy

Bump version to 0.7.13
  pyproject.toml
Due: none

Update GTM ID
  docs/mint.json
Due: none
