Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

use init script
  bptr_generator/Dockerfile.bptr
  bptr_generator/bptr_init_script.sh
  bptr_generator/run_bptr_workflow.sh
Due: none

feat(truss: add a new field to CheckpointingConfig
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

cache summarize viewer
  truss/cli/train/cache.py
  truss/cli/train/core.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

updates tests
  truss/tests/cli/train/test_cache_view.py
  truss/tests/cli/train/test_train_cli_core.py
Due: ruff, ruff-format

add tests
  truss/tests/cli/train/test_cache_view.py
Due: ruff, ruff-format

works
  truss/cli/train/cache.py
Due: ruff, ruff-format, mypy

feat(truss): cache summarize viewer improvements (#2027)
  truss-train/truss_train/definitions.py
  truss/cli/train/cache.py
  truss/cli/train/core.py
  truss/cli/train_commands.py
  truss/tests/cli/train/test_cache_view.py
  truss/tests/cli/train/test_train_cli_core.py
Due: ruff, ruff-format, mypy

feat(truss: add a new field to CheckpointingConfig (#2026)
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

Bump version to 0.11.20
  pyproject.toml
  uv.lock
Due: uv-lock

add teams query
  truss/cli/cli.py
  truss/cli/remote_cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
Due: ruff, ruff-format, mypy

Clean up PR
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

Fix unit test
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format

Pass the timeout when creating an oracle
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
Due: ruff, ruff-format, mypy

Fix typo
  truss/tests/remote/baseten/test_api.py
Due: ruff, ruff-format

Add `--deploy-timeout-minutes` Paramter to Truss Push (#2020)
  truss/api/__init__.py
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_cli.py
  truss/tests/conftest.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_core.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

Bump version to 0.11.21
  pyproject.toml
  uv.lock
Due: uv-lock

feat(truss): add types for volume namespace in cache config
  truss-train/truss_train/__init__.py
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

feat(truss): change the API schema
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

feat(truss): change the API schema
  truss-train/truss_train/__init__.py
Due: ruff, ruff-format, mypy

add log at startup for control server
  truss/templates/control/control/application.py
Due: ruff, ruff-format, mypy

bump version
  pyproject.toml
  uv.lock
Due: uv-lock

propagate deployment_name directly to graphQL
  truss/cli/chains_commands.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_chain_upload.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

make format
  truss/cli/chains_commands.py
  truss/remote/baseten/api.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

feat(truss): add deployment_name CLI option to truss chains
  truss-chains/truss_chains/deployment/deployment_client.py
  truss-chains/truss_chains/private_types.py
  truss/cli/chains_commands.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_chains_cli.py
  truss/tests/remote/baseten/test_chain_upload.py
Due: ruff, ruff-format, mypy

revision comments
  truss/cli/chains_commands.py
Due: ruff, ruff-format, mypy

feat(truss): add deployment_name CLI option to truss chains [COR-215][3/x] (#2018)
  truss-chains/truss_chains/deployment/deployment_client.py
  truss-chains/truss_chains/private_types.py
  truss/cli/chains_commands.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_chains_cli.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_chain_upload.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

feat(truss): Add teams param to training job creation
  truss-train/truss_train/definitions.py
  truss-train/truss_train/deployment.py
  truss/cli/remote_cli.py
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
  truss/tests/cli/train/test_train_team_parameter.py
Due: ruff, ruff-format, mypy

revision from comments
  truss-train/truss_train/definitions.py
  truss/cli/remote_cli.py
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
  truss/tests/cli/train/test_train_team_parameter.py
Due: ruff, ruff-format, mypy

simplify team ID resolution logic
  truss/cli/remote_cli.py
  truss/cli/train_commands.py
  truss/tests/cli/train/test_train_team_parameter.py
Due: ruff, ruff-format, mypy

lint
  truss/cli/remote_cli.py
Due: ruff, ruff-format, mypy

remove unnecessary remote_provider param to inquiry for team
  truss/cli/remote_cli.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

test fix + inquire_team outside of training project creation prompt
  truss/cli/train_commands.py
  truss/tests/cli/train/test_train_team_parameter.py
Due: ruff, ruff-format, mypy

comments, dict/Dict, inquiry team prompt
  truss/cli/remote_cli.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

feat(truss): Chains creations supports team association
  truss-chains/truss_chains/deployment/deployment_client.py
  truss-chains/truss_chains/private_types.py
  truss/cli/chains_commands.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_chains_cli.py
Due: ruff, ruff-format, mypy

tested several combination of cases
  truss/tests/cli/train/test_train_team_parameter.py
Due: ruff, ruff-format

add operation_timeout_s parameter for total operation timeout
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/split_policy.rs
  baseten-performance-client/python_bindings/src/lib.rs
Due: none

reduce MIN_REQUEST_TIMEOUT_S from 1 to 0.3s
  baseten-performance-client/core/src/constants.rs
Due: none

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
