Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
        language: python
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: poetry run ruff format --force-exclude
        language: python
        files: \.(py|pyi)$
      - id: pyproject.toml
        name: pyproject.toml
        entry: poetry run python bin/pyproject_toml_linter.py
        language: python
        additional_dependencies: [tomlkit]
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true

add read speed
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/lib.rs
Due: none

add 60mbs
  truss-transfer/src/lib.rs
Due: none

make clone
  truss-transfer/src/lib.rs
Due: none

compile truss transfer
  truss-transfer/src/lib.rs
Due: none

modify env variable name
  truss-transfer/src/lib.rs
Due: none

Update truss-transfer/src/lib.rs
  truss-transfer/src/lib.rs
Due: none

updates
  truss-train/tests/import/config_with_extra_field.py
  truss-train/tests/import/config_with_single_training_project.py
  truss-train/tests/import/config_without_training_project.py
  truss-train/tests/import/project_with_deploy_checkpoints_config.py
  truss-train/tests/test_loader.py
  truss-train/truss_train/definitions.py
  truss/base/custom_types.py
Due: ruff, ruff-format, mypy

update test
  truss/tests/remote/baseten/test_api.py
Due: ruff, ruff-format

git lock new truss-transfer
  poetry.lock
  pyproject.toml
  truss/templates/server/requirements.txt
Due: none

add rc
  pyproject.toml
Due: none

new readme
  truss-transfer/README.md
Due: none

cargo fmt
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/README.md
  truss-transfer/src/lib.rs
Due: none

update rc in truss
  pyproject.toml
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/requirements.txt
Due: none

add eof
  truss-transfer/README.md
Due: none

frozen
  truss/base/custom_types.py
Due: ruff, ruff-format, mypy

no frozen
  truss/base/custom_types.py
Due: ruff, ruff-format, mypy

don't allow extra keyword arguments when defining training jobs/related models (#1771)
  truss-train/tests/import/config_with_extra_field.py
  truss-train/tests/import/config_with_single_training_project.py
  truss-train/tests/import/config_without_training_project.py
  truss-train/tests/import/project_with_deploy_checkpoints_config.py
  truss-train/tests/test_loader.py
  truss-train/truss_train/definitions.py
  truss/base/custom_types.py
  truss/tests/remote/baseten/test_api.py
Due: ruff, ruff-format, mypy

Bump version to 0.9.113
  pyproject.toml
Due: none

add truss-cli flag buildless-deploy
  truss/base/truss_config.py
  truss/cli/train/core.py
  truss/cli/train/deploy_checkpoints.py
  truss/cli/train/types.py
  truss/cli/train_commands.py
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

remove smaller subset for build hash purposes
  truss/cli/train/deploy_checkpoints.py
Due: ruff, ruff-format, mypy

use start_cmd in supervisord.conf
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/docker_server/supervisord.conf
Due: ruff, ruff-format, mypy

revert checkpoint placeholder changes
  truss/cli/train/deploy_checkpoints.py
Due: ruff, ruff-format, mypy

remove files properly
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

bump version
  pyproject.toml
  truss/cli/train/deploy_checkpoints.py
Due: ruff, ruff-format, mypy

apply review comments
  truss/contexts/docker_build_setup.py
Due: ruff, ruff-format, mypy

modify config
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

patch kwargs
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

add patch config
  truss/tests/conftest.py
Due: ruff, ruff-format

bump pyproject toml
  pyproject.toml
Due: none

revert new cli flag, have behavior on by default
  truss/base/truss_config.py
  truss/cli/train/core.py
  truss/cli/train/deploy_checkpoints.py
  truss/cli/train/types.py
  truss/cli/train_commands.py
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

use a different envvar for supervisord.conf
  truss/templates/docker_server/supervisord.conf
Due: none

bump version, remove server-side override
  pyproject.toml
  truss/cli/train/deploy_checkpoints.py
Due: ruff, ruff-format, mypy

use BT_ prefix for envvar in supervisord conf
  truss/templates/docker_server/supervisord.conf
Due: none

uv pip install supervisord
  truss/templates/docker_server_requirements.txt
  truss/templates/server.Dockerfile.jinja
Due: none

add test build
  pyproject.toml
Due: none

never version
  poetry.lock
  pyproject.toml
Due: none

venv improvements
  truss/templates/server.Dockerfile.jinja
  truss/tests/test_custom_server.py
Due: ruff, ruff-format

bump rc
  pyproject.toml
Due: none

modify supervisorconf
  truss/templates/server.Dockerfile.jinja
Due: none

rc3
  pyproject.toml
Due: none
