Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
        language: python
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: poetry run ruff format --force-exclude
        language: python
        files: \.(py|pyi)$
      - id: pyproject.toml
        name: pyproject.toml
        entry: poetry run python bin/pyproject_toml_linter.py
        language: python
        additional_dependencies: [tomlkit]
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true

add comment
  truss/tests/test_data/test_truss_server_caching_truss/model/model.py
Due: ruff, ruff-format

add resolution
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/util/basetenpointer.py
Due: ruff, ruff-format, mypy

add resolution
  truss/base/truss_config.py
Due: ruff, ruff-format, mypy

add better message for b10fs
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

add better message for b10fs
  truss/templates/server.Dockerfile.jinja
Due: none

update pointer format
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/util/basetenpointer.py
Due: ruff, ruff-format, mypy

add truss-transfer back in dockerfile
  truss/templates/server.Dockerfile.jinja
Due: none

add bptr
  truss/tests/util/test_basetenpointer.py
Due: ruff, ruff-format

revert implementation
  truss-transfer/src/lib.rs
Due: none

uncomment cleanup
  truss-transfer/src/lib.rs
Due: none

cargo fmt
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/lib.rs
Due: none

update atime
  truss-transfer/src/lib.rs
Due: none

new bei (#1511)
  truss/base/constants.py
Due: ruff, ruff-format, mypy

bump truss-transfer in the libary (#1510)
  poetry.lock
  pyproject.toml
  truss/templates/server/requirements.txt
Due: none

add truss-transfer global path pr (#1517)
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/lib.rs
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update pyproject.toml <!-- What does this PR add, remove, and/or change? --> ## :rocket: What
  truss-transfer/src/lib.rs
Due: none

update hf token
  truss-transfer/src/lib.rs
Due: none

add truss-trss hf cache dir
  truss-transfer/src/lib.rs
Due: none

enable rw cache
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

dev magic
  pyproject.toml
  truss/templates/server/main.py
Due: ruff, ruff-format, mypy

ckpt
  pyproject.toml
  truss/templates/server/main.py
Due: ruff, ruff-format, mypy

update huggingface config
  truss-transfer/README.md
  truss-transfer/src/lib.rs
Due: none

update huggingface config
  truss-transfer/Cargo.toml
Due: none

update huggingface config
  truss-transfer/src/lib.rs
Due: none

queries all jobs for stopping
  truss/cli/cli.py
  truss/cli/logs/training_log_watcher.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

truss transfer
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
Due: none

for logs
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

add truss-transfer use huggingface token (#1519)
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/README.md
  truss-transfer/src/lib.rs
Due: none

Bump version to 0.9.75
  pyproject.toml
Due: none

cleanup hours
  truss-transfer/README.md
  truss-transfer/src/lib.rs
Due: none

cleanup hours (#1524)
  truss-transfer/README.md
  truss-transfer/src/lib.rs
Due: none

basetenpointer fix
  truss/contexts/image_builder/serving_image_builder.py
  truss/util/basetenpointer.py
Due: ruff, ruff-format, mypy

trt llm message
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

fix test
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format

pr review
  truss/cli/cli.py
  truss/cli/train.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

more pr review
  truss/cli/train.py
Due: ruff, ruff-format, mypy

adds ordering
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy
