Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff analyze and fix
  entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: python

ruff-format:
  name: ruff format
  entry: poetry run ruff format --force-exclude
  language: python

mypy:
  name: mypy-local
  entry: poetry run mypy
  language: python
  pass_filenames: true

feat(truss): add types for pulling training artifats into model pod
  truss/base/truss_config.py
Due: ruff, ruff-format, mypy

nodejs release
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
Due: none

fmt
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
Due: none

perf-client: ClientError::Network(_) (#1815)
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/python_bindings/Cargo.toml
Due: none

fix race condition in integration test
  truss/tests/test_model_inference.py
Due: ruff, ruff-format

apply review comments
  truss/tests/test_model_inference.py
Due: ruff, ruff-format

fix
  truss/tests/test_model_inference.py
Due: ruff, ruff-format

Re-apply pull request #1762 (#1808)
  pyproject.toml
  truss/cli/train/deploy_checkpoints.py
  truss/contexts/docker_build_setup.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/docker_server/supervisord.conf
  truss/tests/cli/train/test_deploy_checkpoints.py
  truss/truss_handle/truss_handle.py
Due: ruff, ruff-format, mypy

fix lint
  truss/tests/test_model_inference.py
Due: ruff, ruff-format

fix integration test for truss (#1817)
  truss/tests/test_model_inference.py
Due: ruff, ruff-format

Bump version to 0.9.118
  pyproject.toml
Due: none

fix(truss): rename field from model to model_weight_format
  truss/base/truss_config.py
Due: ruff, ruff-format, mypy

feat(truss): support to use artifact references format [BT-15044] (#1818)
  truss/base/truss_config.py
Due: ruff, ruff-format, mypy

revert commit 2ce6c22 for supervisord changes
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/docker_server/supervisord.conf.jinja
Due: ruff, ruff-format, mypy

bump rc version
  pyproject.toml
Due: none

feat(truss) deploy checkpoints to use generalized format
  truss-train/truss_train/definitions.py
  truss/base/truss_config.py
  truss/cli/train/deploy_checkpoints.py
  truss/cli/train/types.py
Due: ruff, ruff-format, mypy

Revert commit 2ce6c22 for supervisord changes (#1821)
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/docker_server/supervisord.conf.jinja
Due: ruff, ruff-format, mypy

feat(truss): deploy from checkpoints v2
  truss-train/truss_train/definitions.py
  truss/base/truss_config.py
  truss/cli/train/core.py
  truss/cli/train/deploy_checkpoints.py
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

fix(truss): refactor lora logic out of Checkpoint class
  truss-train/truss_train/definitions.py
  truss/base/truss_config.py
  truss/cli/train/deploy_checkpoints.py
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

fix(truss): refactor lora logic out of Checkpoint class
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

Add UV_HTTP_TIMEOUT to installation commands
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

bumps truss
  pyproject.toml
Due: none

bump to 119
  pyproject.toml
Due: none

fix(truss): allow auto-incrementing deployment names
  truss-train/truss_train/definitions.py
  truss/cli/train/core.py
  truss/cli/train/deploy_checkpoints.py
Due: ruff, ruff-format, mypy

Account for yanked releases
  bin/bump_truss_version.sh
Due: none

Try forcing new logic
  .github/workflows/create_release_pr.yml
Due: none

Migrate truss from `poetry` to `uv`
  .github/actions/setup-python/action.yml
  .github/scripts/get-python-version-range.py
  .github/workflows/_build_truss_server_base_images_if_needed_shared.yml
  .github/workflows/_detect_version_changed_shared.yml
  .github/workflows/_integration_test_shared.yml
  .github/workflows/build-context-builder-image.yml
  .github/workflows/create_release_pr.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/smoketests.yml
  .pre-commit-config.yaml
  .python-version
  .tool-versions
  CONTRIBUTING.md
  bin/bump_truss_version.sh
  bin/codespace_post_create.sh
  bin/pyproject_toml_linter.py
  docs/chains/doc_gen/README.md
  docs/contribute/base-images.md
  poetry.lock
  pyproject.toml
  truss/__init__.py
  truss/cli/utils/self_upgrade.py
  truss/tests/conftest.py
  truss/util/path.py
  uv.lock
Due: ruff, ruff-format, mypy

fix(truss): unit tests
  truss/cli/train/deploy_checkpoints.py
  truss/tests/cli/train/resources/test_deploy_from_checkpoint_config.yml
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

fix(truss): unit tests
  truss-train/tests/import/deploy_checkpoints_config.py
  truss-train/tests/import/project_with_deploy_checkpoints_config.py
Due: ruff, ruff-format, mypy

fix(truss): refactor to use abstract base class
  truss-train/tests/import/deploy_checkpoints_config.py
  truss-train/tests/import/project_with_deploy_checkpoints_config.py
  truss-train/truss_train/definitions.py
  truss/base/truss_config.py
  truss/cli/train/deploy_checkpoints.py
Due: ruff, ruff-format, mypy

Add UV_HTTP_TIMEOUT to installation commands (#1824)
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

Bump version to 0.9.120
  pyproject.toml
Due: none

add health file
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

rc20
  pyproject.toml
Due: none

add health file - inference_stack_v2 (#1830)
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

make supervisord start command envvar conditional
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/docker_server/supervisord.conf.jinja
  truss/truss_handle/truss_handle.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
