Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: isort
        name: isort-local
        entry: poetry run isort
        language: system
        types: [python]
        pass_filenames: true
      - id: flake8
        name: flake8-local
        entry: poetry run flake8
        language: system
        types: [python]
        pass_filenames: true
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        args: ["--install-types", "--non-interactive"]
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
  - repo: https://github.com/tcort/markdown-link-check
    rev: "v3.10.3"
    hooks:
      - id: markdown-link-check
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        # It is recommended to specify the latest version of Python
        # supported by your project here, or alternatively use
        # pre-commit's default_language_version, see
        # https://pre-commit.com/#top_level-default_language_version
        language_version: python3.9

Bump version to 0.7.22
  pyproject.toml
Due: none

Add promote flag to docs
  docs/reference/cli/push.mdx
Due: none

sid review
  docs/reference/cli/push.mdx
  truss/cli/cli.py
Due: isort, flake8, mypy

Update mypy -> 1.7.1.
  poetry.lock
  pyproject.toml
Due: none

Add promote flag to docs (#775)
  docs/reference/cli/push.mdx
  truss/cli/cli.py
Due: isort, flake8, mypy

Ignore __args__ line.
  examples/annotated_types/config.yaml
  examples/annotated_types/model/__init__.py
  examples/annotated_types/model/model.py
  truss/contexts/image_builder/image_builder.py
  truss/templates/server/common/schema.py
  truss/templates/server/common/truss_server.py
  truss/templates/server/model_wrapper.py
  truss/tests/test_model_schema.py
Due: isort, flake8, mypy

Bump rc.
  pyproject.toml
Due: none

Fix issues.
  truss/templates/server/common/schema.py
Due: isort, flake8, mypy

comment.
  truss/tests/test_model_schema.py
Due: isort, flake8

Support streaming better.
  truss/templates/server/common/schema.py
  truss/tests/helpers.py
  truss/tests/test_model_inference.py
  truss/tests/test_model_schema.py
Due: isort, flake8, mypy

Add validation error test.
  pyproject.toml
  truss/tests/test_model_schema.py
Due: isort, flake8

tmp remove cache step.
  .github/actions/setup-python/action.yml
Due: none

Add validation error test.
  .pre-commit-config.yaml
Due: none

remove the --non-interactive flag.
  .pre-commit-config.yaml
Due: none

Install types-PyYaml.
  poetry.lock
  pyproject.toml
Due: none

Try adding new dep.
  poetry.lock
  pyproject.toml
Due: none

Cleanup.
  .github/actions/setup-python/action.yml
  .pre-commit-config.yaml
Due: none

Fix broken mypy (#779)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Add deployment_name param to push command
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

Fix linting error
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

Fix linting error
  truss/cli/cli.py
  truss/remote/baseten/api.py
Due: isort, flake8, mypy

Add unit test coverage
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_remote.py
Due: isort, flake8, mypy

Add validation for deployment_name
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_remote.py
Due: isort, flake8, mypy

add truss igno for users
  truss/contexts/image_builder/serving_image_builder.py
  truss/util/path.py
Due: isort, flake8, mypy

remove comments
  truss/util/path.py
Due: isort, flake8, mypy

added test
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: isort, flake8

Use correct param name for create_model_from_truss mutation
  truss/remote/baseten/api.py
  truss/tests/remote/baseten/test_api.py
Due: isort, flake8, mypy

Small text fix
  truss/cli/cli.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_remote.py
Due: isort, flake8, mypy

Add deployment_name parameter to 'truss push' command (#776)
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_remote.py
Due: isort, flake8, mypy

Bump version to 0.7.23
  pyproject.toml
Due: none

Add full support for async.
  truss/templates/server/common/schema.py
  truss/templates/server/common/truss_server.py
  truss/templates/server/model_wrapper.py
  truss/tests/test_model_schema.py
Due: isort, flake8, mypy

add truss ignore check to remote
  truss/remote/baseten/core.py
  truss/remote/baseten/utils/tar.py
Due: isort, flake8, mypy

Solve for pre/post-process.
  truss/templates/server/common/schema.py
  truss/templates/server/model_wrapper.py
  truss/tests/test_model_schema.py
Due: isort, flake8, mypy

add code to tar and tests
  truss/remote/baseten/core.py
  truss/tests/conftest.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/util/test_path.py
  truss/util/path.py
Due: isort, flake8, mypy

Add more schema.py tests.
  truss/templates/server/common/schema.py
  truss/tests/templates/server/test_schema.py
  truss/tests/test_model_schema.py
Due: isort, flake8, mypy

Refactor.
  truss/templates/server/common/schema.py
Due: isort, flake8, mypy

More docs / cleanup.
  truss/templates/server/common/schema.py
Due: isort, flake8, mypy

bump pyproject.
  pyproject.toml
Due: none

fixed path test
  truss/tests/util/test_path.py
Due: isort, flake8

workingn on dev!
  truss/remote/baseten/utils/tar.py
  truss/tests/conftest.py
Due: isort, flake8, mypy
