Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

isort:
  name: isort-local
  entry: poetry run isort
  language: system
  pass_filenames: true

flake8:
  name: flake8-local
  entry: poetry run flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy-local
  entry: poetry run mypy
  args:
  - --install-types
  - --non-interactive
  language: python
  pass_filenames: true

secrets guide
  docs/guides/secrets.mdx
  docs/mint.json
Due: none

Test returning non-json.
  pyproject.toml
  truss/templates/server/common/errors.py
Due: isort, flake8, mypy

fix thing.
  truss/templates/server/common/errors.py
Due: isort, flake8, mypy

bump version.
  pyproject.toml
Due: none

Update to OK.
  pyproject.toml
  truss/templates/server/common/errors.py
Due: isort, flake8, mypy

Bump version again.
  pyproject.toml
Due: none

Change to be internal server error.
  pyproject.toml
  truss/templates/server/common/errors.py
Due: isort, flake8, mypy

fixing multigpu issue
  truss/templates/vllm/vllm.Dockerfile.jinja
Due: none

refactor
  docker/base_images/vllm.Dockerfile
  truss/templates/vllm/vllm.Dockerfile.jinja
Due: none

Fixing multi-gpu bug in vLLM (#645)
  docker/base_images/vllm.Dockerfile
  truss/templates/vllm/vllm.Dockerfile.jinja
Due: none

Remove error nesting.
  truss/templates/server/model_wrapper.py
  truss/tests/test_model_inference.py
Due: isort, flake8, mypy

Bump truss version.
  pyproject.toml
Due: none

Remove error nesting (#646)
  pyproject.toml
  truss/templates/server/model_wrapper.py
  truss/tests/test_model_inference.py
Due: isort, flake8, mypy

add integration tests with download checks + template out copies
  truss/templates/copy_cache_files.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/templates/tgi/tgi.Dockerfile.jinja
  truss/templates/vllm/vllm.Dockerfile.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: isort, flake8

Bump version to 0.7.2
  pyproject.toml
Due: none

secrets guide (#643)
  docs/guides/secrets.mdx
  docs/mint.json
Due: none

Log exception on retry
  truss/templates/server/common/retry.py
  truss/templates/server/model_wrapper.py
Due: isort, flake8, mypy

increase sleep time
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: isort, flake8

Fix truss push --publish without existing draft model.
  truss/cli/cli.py
Due: isort, flake8, mypy

Fix truss push --publish without existing draft model. (#649)
  truss/cli/cli.py
Due: isort, flake8, mypy

fix integration test for
  truss/tests/test_model_inference.py
Due: isort, flake8

Multistage builds for caching (#623)
  truss/contexts/image_builder/cache_warmer.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
  truss/templates/cache.Dockerfile.jinja
  truss/templates/copy_cache_files.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/templates/tgi/tgi.Dockerfile.jinja
  truss/templates/vllm/vllm.Dockerfile.jinja
  truss/test_data/server.Dockerfile
  truss/test_data/test_tgi_truss/config.yaml
  truss/test_data/test_truss_server_caching_truss/config.yaml
  truss/test_data/test_truss_server_caching_truss/model/__init__.py
  truss/test_data/test_truss_server_caching_truss/model/model.py
  truss/test_data/test_vllm_truss/config.yaml
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_model_inference.py
  truss/truss_config.py
Due: isort, flake8, mypy

add more descriptive error
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

fix
  truss/templates/vllm/proxy.conf.jinja
  truss/templates/vllm/supervisord.conf.jinja
Due: none

incr version
  pyproject.toml
Due: none

removing old vllm version
  truss/templates/vllm/vllm.Dockerfile.jinja
Due: none

Fixing vLLM image (#651)
  pyproject.toml
  truss/templates/vllm/proxy.conf.jinja
  truss/templates/vllm/supervisord.conf.jinja
  truss/templates/vllm/vllm.Dockerfile.jinja
Due: none

Bump version to 0.7.3
  pyproject.toml
Due: none

add private base image auth docs
  docs/guides/secrets.mdx
Due: none

remove data dir contents from truss signature
  truss/patch/dir_signature.py
  truss/tests/patch/test_dir_signature.py
Due: isort, flake8, mypy

Allow for null values in truss_config.
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

Allow for null values in truss_config. (#653)
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

Bump version to 0.7.4
  pyproject.toml
Due: none

working fix
  truss/contexts/image_builder/cache_warmer.py
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

typo
  docs/welcome.mdx
Due: none

typo (#655)
  docs/welcome.mdx
Due: none

ran basic tests with my private repo
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: isort, flake8

GCS Folder Fix (#656)
  truss/contexts/image_builder/cache_warmer.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: isort, flake8, mypy

Bump version to 0.7.5
  pyproject.toml
Due: none

Path conditions:
  isort: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
