Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

isort:
  name: isort-local
  entry: poetry run isort
  language: system
  pass_filenames: true

flake8:
  name: flake8-local
  entry: poetry run flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy-local
  entry: poetry run mypy
  args:
  - --install-types
  - --non-interactive
  language: python
  pass_filenames: true

remove comments
  truss/remote/baseten/utils/tar.py
Due: isort, flake8, mypy

fix test
  truss/tests/conftest.py
Due: isort, flake8

reuse is_ignored
  truss/remote/baseten/utils/tar.py
Due: isort, flake8, mypy

Add the deployment-name param in truss push reference
  docs/reference/cli/push.mdx
Due: none

Add the deployment-name param in truss push reference (#785)
  docs/reference/cli/push.mdx
Due: none

Bump version to 0.7.24
  pyproject.toml
Due: none

fix ignore
  truss/util/path.py
Due: isort, flake8, mypy

actually, check for both
  truss/util/path.py
Due: isort, flake8, mypy

Add ERROR in front of message and set color to 'red'
  truss/cli/cli.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_remote.py
Due: isort, flake8, mypy

Add ERROR in front of message and set color to 'red' (#788)
  truss/cli/cli.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_remote.py
Due: isort, flake8, mypy

add working test
  truss/tests/conftest.py
  truss/tests/util/test_path.py
  truss/util/path.py
Due: isort, flake8, mypy

update the concurrency images
  docs/guides/concurrency.mdx
  docs/images/concurrency-flow-chart-high-level.png
  docs/images/concurrency-flow-model-pod.png
Due: none

make queue horizontal
  docs/guides/concurrency-flow-chart-high-level.png
Due: none

move to correct folder
  docs/guides/concurrency-flow-chart-high-level.png
  docs/images/concurrency-flow-chart-high-level.png
Due: none

update the concurrency images (#789)
  docs/guides/concurrency.mdx
  docs/images/concurrency-flow-chart-high-level.png
  docs/images/concurrency-flow-model-pod.png
Due: none

prevent saving empty values.
  truss/remote/remote_cli.py
Due: isort, flake8, mypy

prevent saving empty values. (#791)
  truss/remote/remote_cli.py
Due: isort, flake8, mypy

Add the keep-previous-prod-settings option to trus push
  docs/reference/cli/push.mdx
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_remote.py
Due: isort, flake8, mypy

add child process clean up and better inference server process termination
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/server/common/truss_server.py
  truss/templates/shared/util.py
Due: isort, flake8, mypy

Fix broken test
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: isort, flake8

Change the name of the parameter
  docs/reference/cli/push.mdx
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

Fix broken test
  truss/tests/remote/baseten/test_remote.py
Due: isort, flake8

Fix GCS->S3
  docs/guides/model-cache.mdx
Due: none

Fix GCS->S3 (#794)
  docs/guides/model-cache.mdx
Due: none

Use the correct param name
  docs/reference/cli/push.mdx
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_remote.py
Due: isort, flake8, mypy

move child process termination to server termination handler
  truss/templates/control/control/helpers/inference_server_process_controller.py
  truss/templates/server/common/truss_server.py
  truss/templates/shared/util.py
Due: isort, flake8, mypy

Add docs callout on cache invalidation
  docs/guides/model-cache.mdx
Due: none

Add docs callout on cache invalidation (#795)
  docs/guides/model-cache.mdx
Due: none

bump rc
  pyproject.toml
Due: none

move child proc termination to term handler middle ware exit
  pyproject.toml
  truss/templates/server/common/truss_server.py
Due: isort, flake8, mypy

remove sys exit on handling sigterm for control server reload
  pyproject.toml
  truss/templates/server/common/truss_server.py
Due: isort, flake8, mypy

single worker, multiple uvicorn server process multiprocessing
  truss/templates/server/common/truss_server.py
Due: isort, flake8, mypy

plumb num_workers
  truss/templates/server/common/truss_server.py
Due: isort, flake8, mypy

fix current pid for child proc termination
  truss/templates/server/common/truss_server.py
Due: isort, flake8, mypy

move child wait timeout to constant
  truss/templates/shared/util.py
Due: isort, flake8, mypy

add docstring to TrussServer class
  truss/templates/server/common/truss_server.py
Due: isort, flake8, mypy

add unit to constant and increase to 120 seconds
  truss/templates/shared/util.py
Due: isort, flake8, mypy

fix broken links
  docs/_snippets/config-params.mdx
  docs/examples/06-high-performance-cached-weights.mdx
  docs/guides/base-images.mdx
  docs/guides/model-cache.mdx
Due: none

fix broken links (#797)
  docs/_snippets/config-params.mdx
  docs/examples/06-high-performance-cached-weights.mdx
  docs/guides/base-images.mdx
  docs/guides/model-cache.mdx
Due: none

fix broken test
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: isort, flake8

Path conditions:
  isort: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
