Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        # NB(nikhil): `uv` requires system over python (here and below) due to assumptions pre-commit makes about venvs.
        language: system
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude
        language: system
        files: \.(py|pyi)$
      - id: mypy
        name: mypy-local
        entry: uv run mypy
        language: system
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
      - id: uv-lock
        name: uv lock
        entry: uv lock
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

Address comments
  truss/base/truss_config.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/tests/patch/test_calc_patch.py
  truss/tests/util/test_requirements.py
  truss/util/requirements.py
Due: ruff, ruff-format, mypy

Add additional comment
  truss/util/requirements.py
Due: ruff, ruff-format, mypy

feat(truss): Support `pyproject.toml` and `uv.lock` (#2255)
  truss/base/constants.py
  truss/base/truss_config.py
  truss/base/truss_spec.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
  truss/tests/patch/test_calc_patch.py
  truss/tests/util/test_requirements.py
  truss/truss_handle/patch/calc_patch.py
  truss/util/requirements.py
Due: ruff, ruff-format, mypy

fix: prune ignored directories during tree walks instead of walking then filtering
  truss/remote/baseten/utils/tar.py
  truss/tests/util/test_path.py
  truss/util/path.py
Due: ruff, ruff-format, mypy

Add deprecation warning for top-level auth_secret_name in weights config
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

fix: prune ignored directories during tree walks instead of walking then filtering (#2259)
  truss/remote/baseten/utils/tar.py
  truss/tests/util/test_path.py
  truss/util/path.py
Due: ruff, ruff-format, mypy

auth config validation
  truss-train/tests/test_definitions.py
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

Only validate extra things in TrainingJob
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

remove redundant validation
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

Fix tests
  truss-train/tests/test_definitions.py
Due: ruff, ruff-format, mypy

Format
  truss-train/tests/test_definitions.py
Due: ruff, ruff-format, mypy

Only allow CUSTOM_SECRET weights.auth.auth_method for training jobs (#2260)
  truss-train/tests/test_definitions.py
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

Windows support
  .github/workflows/pr.yml
  pyproject.toml
  truss-chains/tests/test_framework.py
  truss-chains/truss_chains/deployment/code_gen.py
  truss/base/constants.py
  truss/base/truss_config.py
  truss/cli/migrate_commands.py
  truss/tests/cli/test_chains_cli.py
  truss/tests/cli/train/test_train_init.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/patch/test_dir_signature.py
  truss/tests/templates/control/control/test_server.py
  truss/tests/templates/core/server/test_lazy_data_resolver_v2.py
  truss/tests/util/test_path.py
  truss/truss_handle/patch/calc_patch.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

feat(truss): Support pyproject / uv.lock for chains
  docs/chains/doc_gen/API-reference.mdx
  docs/chains/doc_gen/generated-reference.mdx
  docs/chains/doc_gen/reference.patch
  truss-chains/tests/test_requirements_file.py
  truss-chains/truss_chains/deployment/code_gen.py
  truss-chains/truss_chains/public_types.py
Due: ruff, ruff-format, mypy

Bump version
  pyproject.toml
  truss-chains/tests/test_requirements_file.py
  truss-chains/truss_chains/deployment/code_gen.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

Address fixes
  truss-chains/truss_chains/deployment/code_gen.py
Due: ruff, ruff-format, mypy

add a no-cache flag for builds
  truss/base/truss_config.py
  truss/cli/cli.py
  truss/tests/cli/test_cli.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Temporarily unset all UV vars
  pyproject.toml
  truss/templates/server.Dockerfile.jinja
  uv.lock
Due: uv-lock

Address comments
  truss-chains/truss_chains/deployment/code_gen.py
  truss-chains/truss_chains/public_types.py
Due: ruff, ruff-format, mypy

Bump again
  pyproject.toml
  truss-chains/truss_chains/public_types.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

feat(truss): Support pyproject / uv.lock for chains (#2262)
  docs/chains/doc_gen/API-reference.mdx
  docs/chains/doc_gen/generated-reference.mdx
  docs/chains/doc_gen/reference.patch
  pyproject.toml
  truss-chains/tests/test_requirements_file.py
  truss-chains/truss_chains/deployment/code_gen.py
  truss-chains/truss_chains/public_types.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

make ruff happy
  truss/tests/test_config.py
Due: ruff, ruff-format

Port integration tests to use new `requirements_file`
  truss-chains/tests/itest_chain/itest_chain.py
  truss-chains/tests/itest_chain/user_package/shared_chainlet.py
Due: ruff, ruff-format, mypy

Port integration tests to use new `requirements_file` (#2264)
  truss-chains/tests/itest_chain/itest_chain.py
  truss-chains/tests/itest_chain/user_package/shared_chainlet.py
Due: ruff, ruff-format, mypy

add negative tests
  truss/tests/cli/test_cli.py
  truss/tests/test_config.py
Due: ruff, ruff-format

pass no_cache through chain, reject in config
  truss/base/truss_config.py
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_cli.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

fix: handle trailing-slash ignore patterns when pruning directories
  truss/tests/util/test_path.py
  truss/util/path.py
Due: ruff, ruff-format, mypy

Update truss/tests/util/test_path.py
  truss/tests/util/test_path.py
Due: ruff, ruff-format

Update truss/util/path.py
  truss/util/path.py
Due: ruff, ruff-format, mypy

fix: handle trailing-slash ignore patterns when pruning directories (#2266)
  truss/tests/util/test_path.py
  truss/util/path.py
Due: ruff, ruff-format, mypy

Bump version to 0.15.0
  pyproject.toml
  uv.lock
Due: uv-lock

Windows fix for newly added test
  truss/tests/util/test_path.py
Due: ruff, ruff-format

add config validation
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

remove lora rank validation
  truss-train/truss_train/definitions.py
  truss-transfer/Cargo.lock
  truss/cli/train/deploy_checkpoints/deploy_lora_checkpoints.py
Due: ruff, ruff-format, mypy

fix this
  truss-transfer/Cargo.lock
Due: none

remove the validation
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

fix the linter
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

linter
  truss/cli/train/deploy_checkpoints/deploy_lora_checkpoints.py
Due: ruff, ruff-format, mypy

fix formatting: remove extra blank line
  truss/cli/train/deploy_checkpoints/deploy_lora_checkpoints.py
Due: ruff, ruff-format, mypy

remove lora rank validation in deploy checkpoints (#2268)
  truss-train/truss_train/definitions.py
  truss/cli/train/deploy_checkpoints/deploy_lora_checkpoints.py
Due: ruff, ruff-format, mypy
