Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff analyze and fix
  entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: python

ruff-format:
  name: ruff format
  entry: poetry run ruff format --force-exclude
  language: python

mypy:
  name: mypy-local
  entry: poetry run mypy
  language: python
  pass_filenames: true

Bump version to 0.9.104
  pyproject.toml
Due: none

add client
  baseten-performance-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

add reranker model
  baseten-performance-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

add client
  baseten-performance-client/src/lib.rs
  baseten-performance-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

requests
  baseten-performance-client/pyproject.toml
Due: none

add client tests
  baseten-performance-client/README.md
  baseten-performance-client/baseten_inference_client.pyi
  baseten-performance-client/scripts/compare_latency_openai.py
  baseten-performance-client/src/lib.rs
  baseten-performance-client/tests/test_bindings.py
  baseten-performance-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

rename baseten inference client
  .github/workflows/baseten-performance-client-release.yml
  baseten-performance-client/Cargo.toml
  pyproject.toml
Due: none

add async embed
  baseten-performance-client/Cargo.lock
  baseten-performance-client/Cargo.toml
  baseten-performance-client/scripts/compare_latency_openai.py
  baseten-performance-client/uv.lock
Due: ruff, ruff-format, mypy

add latency compariison
  baseten-performance-client/scripts/compare_latency_openai.py
Due: ruff, ruff-format, mypy

ruff fix
  baseten-performance-client/scripts/compare_latency_openai.py
  baseten-performance-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

Mf/rename bic to bpc (#1709)
  .github/workflows/baseten-performance-client-release.yml
  .gitignore
  baseten-inference-client/tests/test_bindings.py
  baseten-performance-client/Cargo.lock
  baseten-performance-client/Cargo.toml
  baseten-performance-client/README.md
  baseten-performance-client/baseten_inference_client.pyi
  baseten-performance-client/pyproject.toml
  baseten-performance-client/scripts/compare_latency_openai.py
  baseten-performance-client/src/lib.rs
  baseten-performance-client/tests/conftest.py
  baseten-performance-client/tests/test_bindings.py
  baseten-performance-client/tests/test_client_embed.py
  baseten-performance-client/uv.lock
  pyproject.toml
Due: ruff, ruff-format, mypy

add cleint
  baseten-performance-client/Cargo.toml
  baseten-performance-client/baseten_performance_client.pyi
  baseten-performance-client/scripts/compare_latency_openai.py
Due: ruff, ruff-format, mypy

add cleint (#1710)
  baseten-performance-client/Cargo.toml
  baseten-performance-client/baseten_performance_client.pyi
  baseten-performance-client/scripts/compare_latency_openai.py
Due: ruff, ruff-format, mypy

feat(truss): optional unzip flag for truss train download
  truss-train/tests/test_download.py
  truss/cli/train/core.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

fix(truss): fail when attempting to write to a location which already exists
  truss/cli/train/core.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

fix(truss): fail when attempting to write to a location which already exists
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

fix(truss): move imports to top level
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

fix(truss): make help command more descriptive
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

fix(truss): reformat
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

Update README.md
  baseten-performance-client/README.md
Due: none

Update README.md (#1712)
  baseten-performance-client/README.md
Due: none

Propagate specified GPU count to vllm's tensor parallelism as well
  truss/cli/train/deploy_checkpoints.py
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

make check resilient to accelerator not being specified
  truss/cli/train/deploy_checkpoints.py
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

add timings to client
  baseten-performance-client/src/lib.rs
  baseten-performance-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

cargo lock
  baseten-performance-client/Cargo.lock
  baseten-performance-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

add timings
  baseten-performance-client/src/lib.rs
  baseten-performance-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

add total time
  baseten-performance-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

new version
  baseten-performance-client/Cargo.lock
  baseten-performance-client/Cargo.toml
Due: none

add to request times
  baseten-performance-client/src/lib.rs
Due: none

add warning
  baseten-performance-client/src/lib.rs
  baseten-performance-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

fmt
  baseten-performance-client/src/lib.rs
Due: none

add dtype≈
  baseten-performance-client/baseten_performance_client.pyi
Due: ruff, ruff-format

add response headers
  baseten-performance-client/baseten_performance_client.pyi
  baseten-performance-client/src/lib.rs
  baseten-performance-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

update readme
  baseten-performance-client/README.md
Due: none

add readme
  baseten-performance-client/README.md
  baseten-performance-client/src/lib.rs
Due: none

add max retries to 4 with 125ms backoff
  baseten-performance-client/src/lib.rs
Due: none

format readme
  baseten-performance-client/README.md
Due: none

Add benchmark timings to inference client (#1714)
  baseten-performance-client/Cargo.lock
  baseten-performance-client/Cargo.toml
  baseten-performance-client/README.md
  baseten-performance-client/baseten_performance_client.pyi
  baseten-performance-client/src/lib.rs
  baseten-performance-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

feat(truss): train retry command to retry by job id
  truss/cli/train/core.py
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

feat(truss): train retry command to retry by job id
  truss/cli/train/core.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
