Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        # NB(nikhil): `uv` requires system over python (here and below) due to assumptions pre-commit makes about venvs.
        language: system
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude
        language: system
        files: \.(py|pyi)$
      - id: mypy
        name: mypy-local
        entry: uv run mypy
        language: system
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
      - id: uv-lock
        name: uv lock
        entry: uv lock
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

Remove set -x from worker script now that tail -f works
  truss/templates/slurm_harness/worker_node/setup_worker.sh
Due: none

feat: support specifying team in truss.push() SDK
  truss/api/__init__.py
Due: ruff, ruff-format, mypy

Bump version to 0.15.5
  pyproject.toml
  uv.lock
Due: uv-lock

test: add tests for team parameter in truss.push() SDK
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format

Fix ruff formatting on slurm harness config files
  truss/templates/slurm_harness/login_node/config.py
  truss/templates/slurm_harness/seed/config.py
  truss/templates/slurm_harness/worker_node/config.py
Due: ruff, ruff-format, mypy

Remove --workers from login command
  truss/cli/train/slurm.py
  truss/cli/train_commands.py
  truss/tests/cli/train/test_slurm.py
Due: ruff, ruff-format, mypy

Update README: remove --workers, fix login partition default
  truss/templates/slurm_harness/README.md
Due: none

Update README install to use POC branch
  truss/templates/slurm_harness/README.md
Due: none

Add isession instructions to README for SSH access
  truss/templates/slurm_harness/README.md
Due: none

Fix README example to use H200 instead of H100
  truss/templates/slurm_harness/README.md
Due: none

Remove A100 from partition examples in README
  truss/templates/slurm_harness/README.md
Due: none

feat: support specifying team in truss.push() SDK
  truss/api/__init__.py
  truss/cli/cli.py
  truss/cli/resolvers/model_team_resolver.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

refactor: pass allow_interactive through to _validate_provided_team
  truss/cli/resolvers/model_team_resolver.py
Due: ruff, ruff-format, mypy

feat: support specifying team in truss.push() SDK
  truss/api/__init__.py
  truss/cli/resolvers/model_team_resolver.py
  truss/tests/cli/test_model_team_resolver.py
Due: ruff, ruff-format, mypy

refactor: restore _validate_provided_team raising ValueError
  truss/cli/resolvers/model_team_resolver.py
Due: ruff, ruff-format, mypy

refactor: restore _validate_provided_team, add tests for new params
  truss/cli/resolvers/model_team_resolver.py
  truss/tests/cli/test_model_team_resolver.py
Due: ruff, ruff-format, mypy

test: add test for .trussrc team fallback in truss.push()
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format

allow env vars for truss secrets
  truss-transfer/src/constants.rs
  truss-transfer/src/create/aws_metadata.rs
  truss-transfer/src/create/azure_metadata.rs
  truss-transfer/src/create/basetenpointer.rs
  truss-transfer/src/create/gcs_metadata.rs
  truss-transfer/src/secrets.rs
Due: none

add unit tests
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/secrets.rs
Due: none

fix comment
  truss-transfer/src/secrets.rs
Due: none

Add validation to prevent no_build with predict_endpoint
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

refactor: remove dead isinstance(BasetenRemote) check in push()
  truss/api/__init__.py
  truss/tests/conftest.py
Due: ruff, ruff-format, mypy

feat(cli): display checkpoint sync state in training job details
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

feat(cli): show working directory and connect command for interactive sessions
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

test: add test for model existing in multiple teams without team specified
  truss/tests/cli/test_model_team_resolver.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format

feat: support specifying team in truss.push() SDK (#2288)
  truss/api/__init__.py
  truss/cli/cli.py
  truss/cli/resolvers/model_team_resolver.py
  truss/tests/cli/test_model_team_resolver.py
  truss/tests/conftest.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

Add hot-reload support for model code patches
  truss/cli/cli.py
  truss/remote/baseten/remote.py
  truss/templates/control/control/endpoints.py
  truss/templates/control/control/helpers/inference_server_controller.py
  truss/templates/server/model_wrapper.py
  truss/templates/server/truss_server.py
  truss/tests/templates/control/control/test_server.py
  truss/tests/templates/server/test_model_wrapper.py
  truss/truss_handle/patch/custom_types.py
Due: ruff, ruff-format, mypy

Bump version to 0.15.6
  pyproject.toml
  uv.lock
Due: uv-lock

Add truss train slurm status command for on-node healthcheck
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

Simplify slurm status command and fix review findings
  truss/cli/train/slurm.py
  truss/cli/train_commands.py
  truss/templates/slurm_harness/login_node/setup_login.sh
  truss/templates/slurm_harness/worker_node/setup_worker.sh
Due: ruff, ruff-format, mypy

Increase tail wait timeout to 300s
  truss/templates/slurm_harness/worker_node/setup_worker.sh
Due: none

Detect existing login node and inherit image for workers
  truss/cli/train/slurm.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

Fix sep in checkpoint viewer for Python 3.11
  truss/cli/train/checkpoint_viewer.py
Due: ruff, ruff-format, mypy

Fix sep in checkpoint viewer for Python 3.11 (#2295)
  truss/cli/train/checkpoint_viewer.py
Due: ruff, ruff-format, mypy

Bump version to 0.15.7
  pyproject.toml
  uv.lock
Due: uv-lock

make release candidate
  pyproject.toml
  truss-transfer/Cargo.toml
  truss/templates/server/requirements.txt
  uv.lock
Due: uv-lock

try again
  pyproject.toml
  uv.lock
Due: uv-lock

try
  pyproject.toml
  uv.lock
Due: uv-lock

Add hot-reload support for model code patches
  truss/cli/cli.py
  truss/remote/baseten/remote.py
  truss/templates/control/control/endpoints.py
  truss/templates/control/control/helpers/custom_types.py
  truss/templates/control/control/helpers/inference_server_controller.py
  truss/templates/server/model_wrapper.py
  truss/templates/server/truss_server.py
  truss/tests/templates/control/control/test_server.py
  truss/tests/templates/server/test_model_wrapper.py
Due: ruff, ruff-format, mypy

add panic free locking
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/endpoint_routing.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/split_policy.rs
Due: none
