Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

update tests
  truss/cli/utils/self_upgrade.py
  truss/tests/cli/test_self_upgrade.py
Due: ruff, ruff-format, mypy

last_notification is redundant, we check pypi once a day
  truss/tests/cli/test_self_upgrade.py
  truss/util/user_config.py
Due: ruff, ruff-format, mypy

isession_poc
  truss-train/truss_train/definitions.py
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
  truss/remote/baseten/rest_client.py
Due: ruff, ruff-format, mypy

Support R2
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

add metadata to model
  truss/cli/cli.py
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
Due: ruff, ruff-format, mypy

detect dup keys in yaml
  truss/base/truss_config.py
  truss/tests/test_config.py
  truss/util/yaml_utils.py
Due: ruff, ruff-format, mypy

add unit tests
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_core.py
Due: ruff, ruff-format

fix tests
  truss/tests/remote/baseten/test_api.py
Due: ruff, ruff-format

Support R2 (#2127)
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Bump version to 0.12.6
  pyproject.toml
  uv.lock
Due: uv-lock

newline
  truss/templates/docker_server/proxy.conf.jinja
Due: none

add grpc-specific block for nginx server in front of custom images
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/docker_server/proxy.conf.jinja
Due: ruff, ruff-format, mypy

bump, match all paths
  truss/templates/docker_server/proxy.conf.jinja
Due: none

inline
  truss/templates/docker_server/proxy.conf.jinja
Due: none

bump version
  pyproject.toml
  uv.lock
Due: uv-lock

switch back to using listen ... http2
  truss/templates/docker_server/proxy.conf.jinja
Due: none

rc push
  pyproject.toml
  uv.lock
Due: uv-lock

change to user deploy metadata in graphql
  truss/remote/baseten/api.py
  truss/tests/remote/baseten/test_api.py
Due: ruff, ruff-format, mypy

enable clearing metadata
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

Full SKU name instance type
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

even finer if/else
  truss/templates/docker_server/proxy.conf.jinja
Due: none

bump
  pyproject.toml
  uv.lock
Due: uv-lock

Second pass, hopefully cleaner
  truss/base/truss_config.py
  truss/cli/cli.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

add grpc-specific block for nginx server in front of custom images (#2121)
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/docker_server/proxy.conf.jinja
Due: ruff, ruff-format, mypy

Bump version to 0.12.7
  pyproject.toml
  uv.lock
Due: uv-lock

only keep one way of updating
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

feat(chains): add MDN weights support to chains
  truss-chains/tests/test_framework.py
  truss-chains/truss_chains/__init__.py
  truss-chains/truss_chains/deployment/code_gen.py
  truss-chains/truss_chains/public_types.py
Due: ruff, ruff-format, mypy

feat(chains): add MDN weights support to chains (#2137)
  truss-chains/tests/test_framework.py
  truss-chains/truss_chains/__init__.py
  truss-chains/truss_chains/deployment/code_gen.py
  truss-chains/truss_chains/public_types.py
Due: ruff, ruff-format, mypy

Bump version to 0.12.8
  pyproject.toml
  uv.lock
Due: uv-lock

fix(chains): use chainlets_only param for chains watch model lookup
  truss/cli/resolvers/model_team_resolver.py
  truss/remote/baseten/api.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_model_team_resolver.py
Due: ruff, ruff-format, mypy

add test for compound key
  truss/tests/test_config.py
Due: ruff, ruff-format

change error to warning
  truss/tests/test_config.py
  truss/util/yaml_utils.py
Due: ruff, ruff-format, mypy

engine-builder-upgdate
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

engine-builder-upgdate
  pyproject.toml
  uv.lock
Due: uv-lock

fix: address PR review comments
  truss/remote/baseten/api.py
Due: ruff, ruff-format, mypy

fix(chains): use chainlets_only param for chains watch model lookup (#2140)
  truss/cli/resolvers/model_team_resolver.py
  truss/remote/baseten/api.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_model_team_resolver.py
Due: ruff, ruff-format, mypy

only provide upgrade cmd, separate upgrade into own cmd
  truss/cli/utils/common.py
  truss/cli/utils/self_upgrade.py
  truss/tests/cli/test_self_upgrade.py
Due: ruff, ruff-format, mypy

update message
  truss/util/yaml_utils.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
