Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff analyze and fix
  entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: python

ruff-format:
  name: ruff format
  entry: poetry run ruff format --force-exclude
  language: python

mypy:
  name: mypy-local
  entry: poetry run mypy
  language: python
  pass_filenames: true

add lib.rs, async interface
  baseten-performance-client/python_bindings/src/lib.rs
Due: none

add lib.rs, async interface
  baseten-performance-client/core/src/client.rs
Due: none

rename all to stream
  baseten-performance-client/core/src/client.rs
Due: none

rename all to stream
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/python_bindings/tests/test_stream.py
Due: ruff, ruff-format, mypy

ruff format
  baseten-performance-client/python_bindings/tests/test_stream.py
Due: ruff, ruff-format, mypy

add stream interface
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/src/sse_specifics.rs
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/python_bindings/tests/test_stream.py
Due: ruff, ruff-format, mypy

add http version
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/sse_specifics.rs
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/python_bindings/tests/test_stream.py
Due: ruff, ruff-format, mypy

faster streaming
  baseten-performance-client/python_bindings/baseten_performance_client.pyi
  baseten-performance-client/python_bindings/src/lib.rs
Due: ruff, ruff-format

stream improvement
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/sse_specifics.rs
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/python_bindings/tests/integration_stream.py
Due: ruff, ruff-format, mypy

update integration
  baseten-performance-client/python_bindings/tests/integration_stream.py
Due: ruff, ruff-format, mypy

integration tests
  baseten-performance-client/python_bindings/src/lib.rs
  baseten-performance-client/python_bindings/tests/integration_fastapi_server.py
  baseten-performance-client/python_bindings/tests/integration_stream.py
Due: ruff, ruff-format, mypy

add comment
  baseten-performance-client/python_bindings/src/lib.rs
Due: none

re-apply pull request #1762
  pyproject.toml
  truss/cli/train/deploy_checkpoints.py
  truss/contexts/docker_build_setup.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/docker_server/supervisord.conf
Due: ruff, ruff-format, mypy

set start command envvar for supervisord.conf
  pyproject.toml
  truss/truss_handle/truss_handle.py
Due: ruff, ruff-format, mypy

Build 0.9.117 base images, with compression
  .github/workflows/_build_truss_server_base_images_if_needed_shared.yml
  bin/generate_base_images.py
  pyproject.toml
  truss/contexts/image_builder/util.py
Due: ruff, ruff-format, mypy

Build 0.9.117 base images, with compression (#1809)
  .github/workflows/_build_truss_server_base_images_if_needed_shared.yml
  bin/generate_base_images.py
  pyproject.toml
  truss/contexts/image_builder/util.py
Due: ruff, ruff-format, mypy

add base dockerfile fix
  truss/templates/base.Dockerfile.jinja
Due: none

Fix test
  truss/tests/test_data/server.Dockerfile
Due: none

fix dev null pipe
  truss/tests/test_data/server.Dockerfile
Due: none

uv docker image fix (#1810)
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

Fix chains watch.
  truss/cli/chains_commands.py
Due: ruff, ruff-format, mypy

Fix chains watch. (#1811)
  truss/cli/chains_commands.py
Due: ruff, ruff-format, mypy

b10_lookahead speculation mode
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

Bump version to 0.9.117
  pyproject.toml
Due: none

premature ready
  pyproject.toml
  truss/templates/server/truss_server.py
Due: ruff, ruff-format, mypy

change liveness
  pyproject.toml
  truss/templates/server/truss_server.py
Due: ruff, ruff-format, mypy

22
  pyproject.toml
  truss/templates/server/model_wrapper.py
  truss/templates/server/truss_server.py
Due: ruff, ruff-format, mypy

use truss class when deleting attributes, add test
  truss/cli/train/deploy_checkpoints.py
  truss/tests/cli/train/test_deploy_checkpoints.py
Due: ruff, ruff-format, mypy

no more debug lines
  truss/templates/server/truss_server.py
Due: ruff, ruff-format, mypy

pyprojt
  pyproject.toml
Due: none

returns none when model is loading
  truss/tests/test_model_inference.py
Due: ruff, ruff-format

503 instead
  truss/tests/test_model_inference.py
Due: ruff, ruff-format

break tests apart
  truss/tests/test_model_inference.py
Due: ruff, ruff-format

add test
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/python_bindings/Cargo.toml
Due: none

the thing
  truss/templates/server/model_wrapper.py
Due: ruff, ruff-format, mypy

fix(truss): Custom Health Checks aren't run when model is loading (#1814)
  truss/templates/server/model_wrapper.py
  truss/tests/test_model_inference.py
Due: ruff, ruff-format, mypy

Bump version to 0.9.118
  pyproject.toml
Due: none

fix integration test
  truss/tests/test_model_inference.py
Due: ruff, ruff-format

maybe this works?
  truss/tests/test_model_inference.py
Due: ruff, ruff-format

use rc on current version instead
  pyproject.toml
Due: none

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
