Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

Try 0.15.9rc001
  pyproject.toml
  uv.lock
Due: uv-lock

Bump `truss` manually to 0.15.8 (#2311)
  pyproject.toml
  uv.lock
Due: uv-lock

Add deprecation warning for predict concurrency
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Show job creator email in train view and stop commands
  truss-train/tests/test_download.py
  truss-train/tests/test_recreate.py
  truss/cli/train/core.py
  truss/tests/cli/train/test_deploy_checkpoints.py
  truss/tests/cli/train/test_train_cli_core.py
Due: ruff, ruff-format, mypy

Remove unnecessary creator_email from test fixtures
  truss-train/tests/test_download.py
  truss-train/tests/test_recreate.py
  truss/tests/cli/train/test_deploy_checkpoints.py
  truss/tests/cli/train/test_train_cli_core.py
Due: ruff, ruff-format, mypy

Remove stray blank line in test_download.py
  truss-train/tests/test_download.py
Due: ruff, ruff-format, mypy

Move Creator row after Instance Type in training job view
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

Show job creator email in train view and stop commands (#2312)
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

Simplify logic
  truss/base/truss_config.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Fix
  truss/tests/test_config.py
Due: ruff, ruff-format

Support patching binary files via base64-encoded content_bytes field
  truss/templates/control/control/helpers/custom_types.py
  truss/templates/control/control/helpers/truss_patch/model_code_patch_applier.py
  truss/tests/patch/test_calc_patch.py
  truss/tests/templates/control/control/test_server.py
  truss/truss_handle/patch/calc_patch.py
Due: ruff, ruff-format, mypy

fix creator_email -> user.email
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

Revert unintended import formatting changes
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

fix(cli): use user.email for truss train view and stop commands (#2314)
  truss/cli/train/core.py
Due: ruff, ruff-format, mypy

Bump version to 0.15.9
  pyproject.toml
  uv.lock
Due: uv-lock

Fix formatting and remove temp debug log
  truss/tests/templates/control/control/test_server.py
  truss/truss_handle/patch/calc_patch.py
Due: ruff, ruff-format, mypy

Use explicit UTF-8 encoding and validate base64 on decode
  truss/templates/control/control/helpers/truss_patch/model_code_patch_applier.py
  truss/truss_handle/patch/calc_patch.py
Due: ruff, ruff-format, mypy

remove extra connect instructions for working dir
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

feat(cli): show workspace info in interactive session output (#2293)
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

Rename schema check pre-commit hook ID
  .pre-commit-config.yaml
Due: none

Suppress noisy watch logs when no changes observed
  truss/remote/baseten/remote.py
Due: ruff, ruff-format, mypy

Regenerate config schema after merge with main
  truss/config.schema.json
Due: none

Add JSON schema for truss config.yaml (#2305)
  .pre-commit-config.yaml
  bin/generate_truss_config_schema.py
  truss/base/truss_config.py
  truss/config.schema.json
Due: ruff, ruff-format, mypy

Fail fast in non-interactive mode instead of hanging on prompt
  truss/cli/remote_cli.py
Due: ruff, ruff-format, mypy

Use regex for inline comment splitting in requirement parsing
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

Support patching binary files via base64-encoded content_bytes field (#2315)
  truss/templates/control/control/helpers/custom_types.py
  truss/templates/control/control/helpers/truss_patch/model_code_patch_applier.py
  truss/tests/patch/test_calc_patch.py
  truss/tests/templates/control/control/test_server.py
  truss/truss_handle/patch/calc_patch.py
Due: ruff, ruff-format, mypy

Add version field to TrainingJob and pass through in prepare_push
  truss-train/truss_train/definitions.py
  truss-train/truss_train/deployment.py
Due: ruff, ruff-format, mypy

Fix hot reload KeyError with namespace subpackages
  truss/templates/server/model_wrapper.py
  truss/tests/templates/server/test_truss_server.py
Due: ruff, ruff-format, mypy

Tidy --remote help text across CLI commands
  truss/cli/cli.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

Use list snapshot for sys.modules iteration during eviction
  truss/templates/server/model_wrapper.py
Due: ruff, ruff-format, mypy

Fail fast in non-interactive mode instead of hanging on prompt (#2297)
  truss/cli/remote_cli.py
Due: ruff, ruff-format, mypy

Update README.md
  README.md
Due: none

Update README.md (#2325)
  README.md
Due: none

run formatter
  truss/cli/cli.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

Tidy --remote help text across CLI commands (#2324)
  truss/cli/cli.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

Add request ID to print statements
  truss/templates/server/truss_server.py
  truss/templates/shared/log_config.py
  truss/tests/templates/server/test_truss_server.py
Due: ruff, ruff-format, mypy

rc version
  pyproject.toml
  uv.lock
Due: uv-lock

Bump version to 0.15.10
  pyproject.toml
  uv.lock
Due: uv-lock

remove rc
  pyproject.toml
  uv.lock
Due: uv-lock

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
