Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

isort:
  name: isort-local
  entry: poetry run isort
  language: system
  pass_filenames: true

flake8:
  name: flake8-local
  entry: poetry run flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy-local
  entry: poetry run mypy
  args:
  - --install-types
  - --non-interactive
  language: python
  pass_filenames: true

Support 3.12.
  .github/workflows/integration-tests.yml
  pyproject.toml
Due: none

add model_cache aliasing
  truss/truss_config.py
Due: isort, flake8, mypy

new version
  pyproject.toml
Due: none

convert hf_cache to model_cache
  docs/_snippets/config-params.mdx
  docs/examples/04-image-generation.mdx
  docs/examples/06-high-performance-cached-weights.mdx
  docs/examples/performance/cached-weights.mdx
  docs/guides/model-cache.mdx
  truss/contexts/image_builder/cache_warmer.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/cache.Dockerfile.jinja
  truss/templates/copy_cache_files.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/templates/tgi/tgi.Dockerfile.jinja
  truss/templates/vllm/vllm.Dockerfile.jinja
  truss/test_data/gcs_fix/config.yaml
  truss/test_data/gcs_fix/model/__init__.py
  truss/test_data/gcs_fix/model/model.py
  truss/test_data/test_basic_truss/config.yaml
  truss/test_data/test_basic_truss/model/__init__.py
  truss/test_data/test_basic_truss/model/model.py
  truss/test_data/test_tgi_truss/config.yaml
  truss/test_data/test_vllm_truss/config.yaml
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

add info callout on model_cache
  docs/guides/model-cache.mdx
Due: none

add warning on hf_cache key
  truss/truss_config.py
Due: isort, flake8, mypy

Upgrade versions for release
  pyproject.toml
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

Upgrade Base image to 12.2 (#704)
  .github/workflows/integration-tests.yml
  .github/workflows/main.yml
  bin/generate_base_images.py
  docker/base_images/base_image.Dockerfile.jinja
  pyproject.toml
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

Stop training integration tests since image is not built
  truss/tests/test_truss_handle.py
Due: isort, flake8

added some changes, still need to add typing
  truss/contexts/image_builder/cache_warmer.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

renamed static file
  truss/contexts/image_builder/cache_warmer.py
Due: isort, flake8, mypy

clean up constants
  truss/contexts/image_builder/cache_warmer.py
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

Stop training integration tests since image is not built (#714)
  truss/tests/test_truss_handle.py
Due: isort, flake8

abstract out cache files
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/copy_cache_files.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
Due: isort, flake8, mypy

clean up strings
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

refactor serving image builder
  truss/contexts/image_builder/cache_warmer.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: isort, flake8, mypy

Add dockerfile for flash-attn and YaRN
  docker/base_images/yarn.Dockerfile
Due: none

Build truss-context-builder for arm64 and amd64
  .github/workflows/build-context-builder-image.yml
  pyproject.toml
  truss/tests/test_context_builder_image.py
Due: isort, flake8

added fixes
  truss/contexts/image_builder/cache_warmer.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/cache.Dockerfile.jinja
Due: isort, flake8, mypy

refactor credentials
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/cache.Dockerfile.jinja
Due: isort, flake8, mypy

add typing
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

add typing
  truss/contexts/image_builder/cache_warmer.py
Due: isort, flake8, mypy

Update for new language.
  truss/cli/cli.py
Due: isort, flake8, mypy

bump dev
  pyproject.toml
Due: none

fixed credentials_to_cache, time to retest
  pyproject.toml
  truss/contexts/image_builder/cache_warmer.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/cache.Dockerfile.jinja
Due: isort, flake8, mypy

bump toml
  pyproject.toml
Due: none

Deployment -> version, invoke -> call.
  truss/cli/cli.py
Due: isort, flake8, mypy

Cache Refactor and Improvements (#710)
  docs/_snippets/config-params.mdx
  docs/examples/04-image-generation.mdx
  docs/examples/06-high-performance-cached-weights.mdx
  docs/examples/performance/cached-weights.mdx
  docs/guides/model-cache.mdx
  pyproject.toml
  truss/contexts/image_builder/cache_warmer.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/cache.Dockerfile.jinja
  truss/templates/copy_cache_files.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/templates/tgi/tgi.Dockerfile.jinja
  truss/templates/vllm/vllm.Dockerfile.jinja
  truss/test_data/gcs_fix/config.yaml
  truss/test_data/gcs_fix/model/__init__.py
  truss/test_data/gcs_fix/model/model.py
  truss/test_data/test_basic_truss/config.yaml
  truss/test_data/test_basic_truss/model/__init__.py
  truss/test_data/test_basic_truss/model/model.py
  truss/test_data/test_tgi_truss/config.yaml
  truss/test_data/test_vllm_truss/config.yaml
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

Add s3 session token support
  docs/guides/model-cache.mdx
  pyproject.toml
  truss/contexts/image_builder/cache_warmer.py
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

Add more documentation. Re-order cache Dockerfile for better caching
  docs/guides/model-cache.mdx
  pyproject.toml
  truss/templates/cache.Dockerfile.jinja
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Add s3 session token support (#718)
  docs/guides/model-cache.mdx
  pyproject.toml
  truss/contexts/image_builder/cache_warmer.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/cache.Dockerfile.jinja
Due: isort, flake8, mypy

warn when using secrets without trusted
  truss/cli/cli.py
Due: isort, flake8, mypy

Update for new language. (#717)
  truss/cli/cli.py
Due: isort, flake8, mypy

sid CR: move below success text + set style to yellow
  truss/cli/cli.py
Due: isort, flake8, mypy

remove server response from ApiError str
  truss/remote/baseten/error.py
Due: isort, flake8, mypy

Bump version to 0.7.15
  pyproject.toml
Due: none

sid CR: move text, change color, add todo
  truss/cli/cli.py
Due: isort, flake8, mypy

Path conditions:
  isort: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
