Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

Add scaled to zero as a ready state as it indicates a successful deploy + sleep
  smoketests/test_chains.py
  truss/cli/chains_commands.py
  truss/remote/baseten/core.py
  truss/tests/cli/test_chains_cli.py
Due: ruff, ruff-format, mypy

feat(train): support B200 truss train workstations (#2489)
  truss/cli/train/workstation.py
  truss/cli/train_commands.py
  truss/tests/cli/train/test_workstation.py
Due: ruff, ruff-format, mypy

Bump version to 0.18.7
  pyproject.toml
  uv.lock
Due: uv-lock

Scope truss watch model resolution to a single model to avoid fetching all signatures
  truss/cli/resolvers/model_team_resolver.py
  truss/remote/baseten/api.py
  truss/tests/cli/test_model_team_resolver.py
  truss/tests/remote/baseten/test_api.py
Due: ruff, ruff-format, mypy

Fix get_service test mocks for two-phase model resolution
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format

Scope truss watch model resolution to a single model to avoid fetching all signatures (#2492)
  truss/cli/resolvers/model_team_resolver.py
  truss/remote/baseten/api.py
  truss/tests/cli/test_model_team_resolver.py
  truss/tests/remote/baseten/test_api.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

Bump version to 0.18.8
  pyproject.toml
  uv.lock
Due: uv-lock

replace supervisord with shell script wrapper for docker_server
  AGENTS.md
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/docker_server/server_wrapper.sh
  truss/templates/docker_server_requirements.txt
  truss/templates/server.Dockerfile.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format, mypy

fix watch mode to observe changes for all chain dirs
  truss-chains/tests/test_deployment_client_watch.py
  truss-chains/truss_chains/deployment/deployment_client.py
Due: ruff, ruff-format, mypy

update to only watch selected chainlets
  truss-chains/tests/test_deployment_client_watch.py
  truss-chains/truss_chains/deployment/deployment_client.py
Due: ruff, ruff-format, mypy

fix watch root logic
  truss-chains/truss_chains/deployment/deployment_client.py
Due: ruff, ruff-format, mypy

fix filtering
  truss-chains/tests/test_deployment_client_watch.py
  truss-chains/truss_chains/deployment/deployment_client.py
Due: ruff, ruff-format, mypy

Rebase onto main and simplify docker_server process wrapper
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format

resuse truss utils for truss chainlets
  truss-chains/tests/test_deployment_client_watch.py
  truss-chains/truss_chains/deployment/deployment_client.py
Due: ruff, ruff-format, mypy

Simplify docker_server wrapper and fix flaky HF download test
  truss-transfer/tests/test_create_bptr_with_hf.py
  truss/templates/docker_server/server_wrapper.sh
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format, mypy

Use tini as PID 1 for docker_server containers
  truss/templates/server.Dockerfile.jinja
  truss/tests/contexts/image_builder/test_serving_image_builder.py
Due: ruff, ruff-format

Revert truss-transfer HF download test changes
  truss-transfer/tests/test_create_bptr_with_hf.py
Due: ruff, ruff-format, mypy

Relax server_wrapper.sh error handling
  truss/templates/docker_server/server_wrapper.sh
Due: none

lints
  truss-chains/tests/test_deployment_client_watch.py
  truss-chains/truss_chains/deployment/deployment_client.py
Due: ruff, ruff-format, mypy

Add time-range and filter flags to truss model-logs
  truss/cli/cli.py
  truss/cli/logs/utils.py
  truss/remote/baseten/api.py
  truss/tests/cli/test_cli.py
  truss/tests/cli/test_logs_utils.py
  truss/tests/remote/baseten/test_api.py
Due: ruff, ruff-format, mypy

feat(loops): add `truss loops runs metrics` command
  truss/cli/loops_commands.py
  truss/remote/baseten/api.py
  truss/tests/cli/test_loops_cli.py
Due: ruff, ruff-format, mypy

review: isolate metrics display into loops_run_metrics_viewer
  truss/cli/loops_commands.py
  truss/cli/loops_run_metrics_viewer.py
Due: ruff, ruff-format, mypy

update to expand watch path to parent to also capture changes to neighboring files in the same module
  truss-chains/tests/test_deployment_client_watch.py
  truss-chains/truss_chains/deployment/deployment_client.py
Due: ruff, ruff-format, mypy

fix(loops): render deployments with sampler: null without crashing
  truss/cli/loops_commands.py
  truss/tests/cli/test_loops_cli.py
Due: ruff, ruff-format, mypy

making fqdn / ip validations consistent with backend
  truss/base/truss_config.py
  truss/config.schema.json
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

fix(loops): render deployments with sampler: null without crashing (#2496)
  truss/cli/loops_commands.py
  truss/tests/cli/test_loops_cli.py
Due: ruff, ruff-format, mypy

Fix chain watch detection for external package changes (#2494)
  truss-chains/tests/test_deployment_client_watch.py
  truss-chains/truss_chains/deployment/deployment_client.py
Due: ruff, ruff-format, mypy

Clarify truss train workstation flag help text (Slurm bootstrap, single-node vs multi-node, Debian image requirement)
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

Bump version to 0.18.9
  pyproject.toml
  uv.lock
Due: uv-lock

Clarify --tail incompatibility messaging to include time-range flags
  truss/cli/cli.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

feat(cli): Egress restrictions in truss runtime config (#2481)
  truss/base/truss_config.py
  truss/config.schema.json
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Bump version to 0.18.10
  pyproject.toml
  uv.lock
Due: uv-lock

add --no-sleep to chains
  truss-chains/tests/test_deployment_client_watch.py
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/cli/chains_commands.py
  truss/remote/baseten/api.py
  truss/remote/baseten/custom_types.py
  truss/remote/baseten/remote.py
  truss/tests/cli/test_chains_cli.py
Due: ruff, ruff-format, mypy

fix lint
  truss/tests/cli/test_chains_cli.py
Due: ruff, ruff-format

reach truss parity
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/cli/chains_commands.py
  truss/tests/cli/test_chains_cli.py
Due: ruff, ruff-format, mypy

Fix model-logs tail error test to tolerate ANSI-styled flag in output
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format

Add time-range and filter flags to `truss model-logs` (#2497)
  truss/cli/cli.py
  truss/cli/logs/utils.py
  truss/remote/baseten/api.py
  truss/tests/cli/test_cli.py
  truss/tests/cli/test_logs_utils.py
  truss/tests/remote/baseten/test_api.py
Due: ruff, ruff-format, mypy

update tests
  truss/tests/cli/test_chains_cli.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
