Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

isort:
  name: isort-local
  entry: poetry run isort
  language: system
  pass_filenames: true

flake8:
  name: flake8-local
  entry: poetry run flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy-local
  entry: poetry run mypy
  args:
  - --install-types
  - --non-interactive
  language: python
  pass_filenames: true

version increment
  pyproject.toml
Due: none

bug fixes
  truss/constants.py
  truss/templates/trtllm/packages/triton_client.py
Due: isort, flake8, mypy

increment version
  pyproject.toml
Due: none

Update tests.
  truss/tests/test_config.py
Due: isort, flake8

Add new docker auth settings to truss config. (#876)
  pyproject.toml
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

Bump version to 0.9.7
  pyproject.toml
Due: none

Revert "removing separate caching step (#872)"
  truss/templates/cache.Dockerfile.jinja
  truss/templates/copy_cache_files.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
Due: none

Revert "removing separate caching step (#872)" (#878)
  truss/templates/cache.Dockerfile.jinja
  truss/templates/copy_cache_files.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
Due: none

Reorganized example.
  example_workflow/.slay_gen/processor_GenerateData/expected_stub.py
  example_workflow/.slay_gen/processor_MistralLLM/model.py
  example_workflow/.slay_gen/processor_SplitData/model.py
  example_workflow/.slay_gen/processor_SplitText/model.py
  example_workflow/.slay_gen/processor_TextReplicator/model.py
  example_workflow/.slay_gen/processor_TextToNum/model.py
  example_workflow/.slay_gen/processor_Workflow/expected_stub.py
  example_workflow/.slay_gen/processor_Workflow/model.py
  example_workflow/workflow.py
  slay/code_gen.py
  slay/framework.py
  slay/remote_procssor.py
Due: isort, flake8, mypy

Draft for workflow DX.
  workflow/api.py
  workflow/processors.py
  workflow/processors_service.py
  workflow/test.py
  workflow/workflow_demo.py
Due: isort, flake8, mypy

Reorganized example.
  example_workflow/.slay_gen/processor_GenerateData/model.py
  example_workflow/.slay_gen/processor_SplitData/model.py
  example_workflow/.slay_gen/processor_TextReplicator/model.py
  example_workflow/.slay_gen/processor_TextToNum/model.py
  example_workflow/user_package/shared_processor.py
  example_workflow/workflow.py
  slay/__init__.py
  slay/code_gen.py
  slay/definitions.py
  slay/framework.py
  slay/public_api.py
  slay/remote_procssor.py
  slay/scratch/dependency_injector_demo.py
  slay/utils.py
  workflow/example.py
  workflow/generated/processor_TextToNum/model.py
  workflow/slay/public_api.py
Due: isort, flake8, mypy

Stub Gen almost there.
  example_workflow/.slay_gen/processor_GenerateData/expected_stub.py
  example_workflow/.slay_gen/processor_GenerateData/model.py
  example_workflow/.slay_gen/processor_MistralLLM/model.py
  example_workflow/.slay_gen/processor_SplitText/model.py
  example_workflow/.slay_gen/processor_TextToNum/dependencies.py
  example_workflow/.slay_gen/processor_TextToNum/model.py
  example_workflow/.slay_gen/processor_Workflow/dependencies.py
  example_workflow/.slay_gen/processor_Workflow/expected_stub.py
  example_workflow/.slay_gen/processor_Workflow/model.py
  example_workflow/user_package/shared_processor.py
  example_workflow/workflow.py
  poetry.lock
  pyproject.toml
  slay/code_gen.py
  slay/definitions.py
  slay/framework.py
  slay/remote_procssor.py
  slay/scratch/snippets.py
  slay/stub.py
  slay/utils.py
Due: isort, flake8, mypy

Version fixes.
  poetry.lock
  pyproject.toml
  slay/code_gen.py
  slay/definitions.py
  slay/dependency_analysis.py
  slay/deploy_truss.py
  slay/framework.py
  slay/truss_model_skeleton.py
  slay/utils.py
Due: isort, flake8, mypy

Rope move processor to new file
  example_workflow/.slay_gen/processor_GenerateData/model.py
  example_workflow/.slay_gen/processor_GenerateData/user_dependencies.py
  example_workflow/.slay_gen/processor_MistralLLM/model.py
  example_workflow/.slay_gen/processor_MistralLLM/user_dependencies.py
  example_workflow/.slay_gen/processor_SplitText/model.py
  example_workflow/.slay_gen/processor_SplitText/user_dependencies.py
  example_workflow/.slay_gen/processor_TextToNum/model.py
  example_workflow/.slay_gen/processor_TextToNum/user_dependencies.py
  example_workflow/.slay_gen/processor_Workflow/model.py
  example_workflow/.slay_gen/processor_Workflow/user_dependencies.py
  poetry.lock
  pyproject.toml
  slay/code_gen.py
  slay/framework.py
  slay/scratch/snippets.py
Due: isort, flake8, mypy

Separate default config and context for initializing (remote) processors.
  example_workflow/.slay_gen/processor_GenerateData/model.py
  example_workflow/.slay_gen/processor_MistralLLM/model.py
  example_workflow/.slay_gen/processor_SplitText/model.py
  example_workflow/.slay_gen/processor_TextToNum/dependencies.py
  example_workflow/.slay_gen/processor_TextToNum/model.py
  example_workflow/.slay_gen/processor_Workflow/dependencies.py
  example_workflow/.slay_gen/processor_Workflow/model.py
  slay/__init__.py
  slay/code_gen.py
  slay/definitions.py
  slay/framework.py
  slay/public_api.py
  slay/remote_procssor.py
  slay/scratch/snippets.py
  slay/stub.py
Due: isort, flake8, mypy

Lalilu.
  workflow/api.py
  workflow/dependency_injector_demo.py
  workflow/example.py
  workflow/processors.py
  workflow/processors_service.py
  workflow/slay/__init__.py
  workflow/slay/framework.py
  workflow/test.py
  workflow/workflow_demo.py
Due: isort, flake8, mypy

Implement local mode.
  pyproject.toml
  workflow/example.py
  workflow/slay/__init__.py
  workflow/slay/framework.py
Due: isort, flake8, mypy

Deployed as dev models successfully call each other.
  example_workflow_mvp/.slay_gen/processor_GenerateData/processor.py
  example_workflow_mvp/.slay_gen/processor_GenerateData/truss/model/model.py
  example_workflow_mvp/.slay_gen/processor_GenerateData/truss/packages/processor.py
  example_workflow_mvp/.slay_gen/processor_GenerateData/truss/packages/slay/definitions.py
  example_workflow_mvp/.slay_gen/processor_GenerateData/truss/packages/slay/deploy_truss.py
  example_workflow_mvp/.slay_gen/processor_GenerateData/truss/packages/slay/framework.py
  example_workflow_mvp/.slay_gen/processor_GenerateData/truss/packages/slay/stub.py
  example_workflow_mvp/.slay_gen/processor_MistralLLM/processor.py
  example_workflow_mvp/.slay_gen/processor_MistralLLM/truss/model/model.py
  example_workflow_mvp/.slay_gen/processor_MistralLLM/truss/packages/processor.py
  example_workflow_mvp/.slay_gen/processor_MistralLLM/truss/packages/slay/definitions.py
  example_workflow_mvp/.slay_gen/processor_MistralLLM/truss/packages/slay/deploy_truss.py
  example_workflow_mvp/.slay_gen/processor_MistralLLM/truss/packages/slay/framework.py
  example_workflow_mvp/.slay_gen/processor_MistralLLM/truss/packages/slay/stub.py
  example_workflow_mvp/.slay_gen/processor_SplitText/truss/packages/slay/definitions.py
  example_workflow_mvp/.slay_gen/processor_SplitText/truss/packages/slay/deploy_truss.py
  example_workflow_mvp/.slay_gen/processor_SplitText/truss/packages/slay/framework.py
  example_workflow_mvp/.slay_gen/processor_SplitText/truss/packages/slay/stub.py
  example_workflow_mvp/.slay_gen/processor_TextToNum/processor.py
  example_workflow_mvp/.slay_gen/processor_TextToNum/truss/config.yaml
  example_workflow_mvp/.slay_gen/processor_TextToNum/truss/model/model.py
  example_workflow_mvp/.slay_gen/processor_TextToNum/truss/packages/processor.py
  example_workflow_mvp/.slay_gen/processor_TextToNum/truss/packages/slay/definitions.py
  example_workflow_mvp/.slay_gen/processor_TextToNum/truss/packages/slay/deploy_truss.py
  example_workflow_mvp/.slay_gen/processor_TextToNum/truss/packages/slay/framework.py
  example_workflow_mvp/.slay_gen/processor_TextToNum/truss/packages/slay/stub.py
  example_workflow_mvp/.slay_gen/processor_Workflow/processor.py
  example_workflow_mvp/.slay_gen/processor_Workflow/truss/config.yaml
  example_workflow_mvp/.slay_gen/processor_Workflow/truss/model/model.py
  example_workflow_mvp/.slay_gen/processor_Workflow/truss/packages/processor.py
  example_workflow_mvp/.slay_gen/processor_Workflow/truss/packages/slay/definitions.py
  example_workflow_mvp/.slay_gen/processor_Workflow/truss/packages/slay/deploy_truss.py
  example_workflow_mvp/.slay_gen/processor_Workflow/truss/packages/slay/framework.py
  example_workflow_mvp/.slay_gen/processor_Workflow/truss/packages/slay/stub.py
  example_workflow_mvp/workflow.py
  slay/definitions.py
  slay/deploy_truss.py
  slay/framework.py
  slay/stub.py
Due: isort, flake8, mypy

Started Code Gen.
  workflow/example/workflow.py
  workflow/generated/processor_GenerateData/model.py
  workflow/generated/processor_SplitData/model.py
  workflow/generated/processor_TextReplicator/model.py
  workflow/generated/processor_TextToNum/model.py
  workflow/slay/__init__.py
  workflow/slay/code_gen.py
  workflow/slay/framework.py
  workflow/slay/public_api.py
  workflow/slay/remote_procssor.py
  workflow/slay/types.py
  workflow/slay/utils.py
Due: isort, flake8, mypy

WIP.
  example_workflow/workflow.py
  slay/code_gen.py
Due: isort, flake8, mypy

Draft for workflow DX.
  .pre-commit-config.yaml
Due: none

Rewrite Remote Processor.
  poetry.lock
  slay/code_gen.py
  slay/framework.py
  slay/scratch/snippets.py
Due: isort, flake8, mypy

Add docstrings, address revivew comments.
  .pre-commit-config.yaml
  example_workflow/requirements.txt
  example_workflow/user_package/shared_processor.py
  example_workflow/workflow.py
  poetry.lock
  pyproject.toml
  slay/code_gen.py
  slay/definitions.py
  slay/example_workflow/requirements.txt
  slay/example_workflow/user_package/shared_processor.py
  slay/example_workflow/workflow.py
  slay/framework.py
  slay/public_api.py
  slay/stub.py
  slay/truss_adapter/__init__.py
  slay/truss_adapter/code_gen.py
  slay/truss_adapter/deploy.py
  slay/truss_adapter/model_skeleton.py
  slay/utils.py
Due: isort, flake8, mypy

Fix mistral model.
  example_workflow_mvp/workflow_mvp.py
Due: isort, flake8, mypy

Use requirements file instead of list, this fixes version conflicts.
  slay/truss_compat/deploy.py
Due: isort, flake8, mypy

Restructure, better deps resolutions, use constants.
  .gitignore
  example_workflow_mvp/requirements.txt
  example_workflow_mvp/workflow_mvp.py
  pyproject.toml
  slay/__init__.py
  slay/code_gen.py
  slay/definitions.py
  slay/framework.py
  slay/public_api.py
  slay/stub.py
  slay/truss_compat/__init__.py
  slay/truss_compat/code_gen.py
  slay/truss_compat/deploy.py
  slay/truss_compat/model_skeleton.py
Due: isort, flake8, mypy

Fix formatting and remove main section
  example_truss/config.yaml
  example_truss/model/__init__.py
  example_truss/model/model.py
  example_workflow_mvp/workflow_mvp.py
  poetry.lock
  pyproject.toml
  slay/code_gen.py
  slay/definitions.py
  slay/framework.py
  slay/public_api.py
  slay/truss_compat/deploy.py
Due: isort, flake8, mypy

Fix templated user config type (parsing).
  example_workflow/user_package/shared_processor.py
  example_workflow_mvp/user_package/shared_processor.py
  example_workflow_mvp/workflow_mvp.py
  slay/code_gen.py
  slay/definitions.py
  slay/framework.py
  slay/truss_compat/model_skeleton.py
Due: isort, flake8, mypy

Adaptive truss config control. Docker build broken due to conflicting uvloop version requirements.
  example_truss/config.yaml
  example_truss/model/__init__.py
  example_truss/model/model.py
  example_workflow/user_package/shared_processor.py
  example_workflow/workflow.py
  example_workflow_mvp/requirements.txt
  example_workflow_mvp/user_package/shared_processor.py
  example_workflow_mvp/workflow_mvp.py
  slay/__init__.py
  slay/code_gen.py
  slay/definitions.py
  slay/truss_compat/deploy.py
  slay/truss_compat/model_skeleton.py
Due: isort, flake8, mypy

Address revivew comments. Add support for relative paths.
  .pre-commit-config.yaml
  slay-examples/text_to_num/requirements.txt
  slay-examples/text_to_num/user_package/__init__.py
  slay-examples/text_to_num/user_package/shared_processor.py
  slay-examples/text_to_num/workflow.py
  slay/__init__.py
  slay/definitions.py
  slay/framework.py
  slay/stub.py
  slay/truss_adapter/deploy.py
Due: isort, flake8, mypy

Orchestration (#840)
  .gitignore
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  slay-examples/text_to_num/requirements.txt
  slay-examples/text_to_num/user_package/__init__.py
  slay-examples/text_to_num/user_package/shared_processor.py
  slay-examples/text_to_num/workflow.py
  slay/__init__.py
  slay/code_gen.py
  slay/definitions.py
  slay/framework.py
  slay/public_api.py
  slay/stub.py
  slay/truss_adapter/__init__.py
  slay/truss_adapter/code_gen.py
  slay/truss_adapter/deploy.py
  slay/truss_adapter/model_skeleton.py
  slay/utils.py
Due: isort, flake8, mypy

Rename GCS -> GCP.
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

Rename GCS -> GCP. (#880)
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

Add docker auth docs.
  docs/_snippets/config-params.mdx
Due: none

Path conditions:
  isort: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
