Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: isort
        name: isort-local
        entry: poetry run isort
        language: system
        types: [python]
        pass_filenames: true
      - id: flake8
        name: flake8-local
        entry: poetry run flake8
        language: system
        types: [python]
        pass_filenames: true
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        args: ["--install-types", "--non-interactive"]
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
  - repo: https://github.com/tcort/markdown-link-check
    rev: "v3.10.3"
    hooks:
      - id: markdown-link-check
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        # It is recommended to specify the latest version of Python
        # supported by your project here, or alternatively use
        # pre-commit's default_language_version, see
        # https://pre-commit.com/#top_level-default_language_version
        language_version: python3.9

resolving comments
  truss/tests/util/test_path.py
  truss/truss_gatherer.py
  truss/util/path.py
Due: isort, flake8, mypy

adding more detailed doc strings
  truss/util/path.py
Due: isort, flake8, mypy

Ignore hidden files during serialization (#356)
  pyproject.toml
  truss/decorators.py
  truss/tests/conftest.py
  truss/tests/test_truss_util.py
  truss/tests/util/test_path.py
  truss/truss_gatherer.py
  truss/truss_handle.py
  truss/util/.truss_ignore
  truss/util/path.py
Due: isort, flake8, mypy

add test suite for patching completeness
  truss/tests/test_control_truss_patching.py
  truss/tests/test_truss_handle.py
  truss/truss_handle.py
Due: isort, flake8, mypy

add filtering from .trussignore patterns
  truss/contexts/local_loader/truss_file_syncer.py
  truss/util/.truss_ignore
  truss/util/path.py
Due: isort, flake8, mypy

chkpt
  truss/templates/server/common/termination_handler_middleware.py
Due: isort, flake8, mypy

fix venv dir creation
  truss/contexts/local_loader/local_server_loader.py
Due: isort, flake8, mypy

test checkpoint
  truss/templates/server/common/termination_handler_middleware.py
  truss/tests/templates/server/common/test_termination_handler_middleware.py
Due: isort, flake8, mypy

change patch emitter interface to spit out list of patches
  truss/contexts/local_loader/truss_file_syncer.py
  truss/patch/local_truss_patch_applier.py
Due: isort, flake8, mypy

supported python version constant
  bin/generate_base_images.py
  truss/constants.py
  truss/model_inference.py
  truss/tests/test_control_truss_patching.py
Due: isort, flake8, mypy

init
  truss/decorators.py
Due: isort, flake8, mypy

fixing mising arg
  truss/decorators.py
Due: isort, flake8, mypy

Revert "Ignore hidden files during serialization (#356)"
  pyproject.toml
  truss/decorators.py
  truss/tests/conftest.py
  truss/tests/test_truss_util.py
  truss/tests/util/test_path.py
  truss/truss_gatherer.py
  truss/truss_handle.py
  truss/util/.truss_ignore
  truss/util/path.py
Due: isort, flake8, mypy

Revert "Ignore hidden files during serialization (#356)" (#370)
  pyproject.toml
  truss/decorators.py
  truss/tests/conftest.py
  truss/tests/test_truss_util.py
  truss/tests/util/test_path.py
  truss/truss_gatherer.py
  truss/truss_handle.py
  truss/util/.truss_ignore
  truss/util/path.py
Due: isort, flake8, mypy

Bump version
  pyproject.toml
Due: none

Bump version to publish a new context builder at this point. (#371)
  pyproject.toml
Due: none

Fix context builder image build
  context_builder.Dockerfile
  pyproject.toml
Due: none

Fix context builder image build (#372)
  context_builder.Dockerfile
  pyproject.toml
Due: none

create fixture for reuse
  truss/tests/test_control_truss_patching.py
Due: isort, flake8

refactor tests
  truss/tests/test_control_truss_patching.py
Due: isort, flake8

add test durations for more efficient integration test splitting
  .test_durations
Due: none

add test suite for patching completeness (#369)
  .test_durations
  bin/generate_base_images.py
  truss/constants.py
  truss/model_inference.py
  truss/tests/test_control_truss_patching.py
  truss/tests/test_truss_handle.py
  truss/truss_handle.py
Due: isort, flake8, mypy

Update tests
  truss/templates/server/common/termination_handler_middleware.py
  truss/tests/templates/server/common/test_termination_handler_middleware.py
Due: isort, flake8, mypy

chkpt
  truss/templates/server/common/truss_server.py
  truss/templates/server/common/util.py
Due: isort, flake8, mypy

chkpt
  truss/templates/server/common/truss_server.py
  truss/tests/templates/core/server/common/test_truss_server.py
  truss/tests/templates/core/server/common/test_util.py
Due: isort, flake8, mypy

chkpt
  truss/tests/templates/core/server/common/test_truss_server.py
Due: isort, flake8

adding flag to track shadow truss
  truss/decorators.py
  truss/truss_handle.py
Due: isort, flake8, mypy

Make control server use the same Uvicorn setup as inference
  truss/contexts/image_builder/serving_image_builder.py
  truss/model_frameworks/lightgbm.py
  truss/model_frameworks/mlflow.py
  truss/model_frameworks/sklearn.py
  truss/templates/control/control/server.py
  truss/templates/server/common/truss_server.py
  truss/templates/shared/logging.py
  truss/templates/shared/serialization.py
  truss/templates/shared/util.py
  truss/templates/shared/uvicorn_config.py
Due: isort, flake8, mypy

fixing more int tests
  truss/decorators.py
  truss/truss_handle.py
Due: isort, flake8, mypy

Make rc
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

fixing training int test
  truss/truss_handle.py
Due: isort, flake8, mypy

Fix shared code build
  examples/ai-search/config.yaml
  pyproject.toml
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

Binding
  pyproject.toml
  truss/templates/control/control/server.py
Due: isort, flake8, mypy

address review comments
  truss/contexts/local_loader/truss_file_syncer.py
  truss/patch/calc_patch.py
  truss/util/path.py
Due: isort, flake8, mypy

remove .truss_ignore
  truss/util/.truss_ignore
Due: none

Truss file syncer patch generation mechanism (#365)
  poetry.lock
  pyproject.toml
  truss/contexts/local_loader/local_server_loader.py
  truss/contexts/local_loader/truss_file_syncer.py
  truss/patch/calc_patch.py
  truss/patch/local_truss_patch_applier.py
  truss/tests/templates/control/control/test_server.py
  truss/tests/test_truss_handle.py
  truss/truss_handle.py
  truss/types.py
Due: isort, flake8, mypy

Simplify uvicorn
  pyproject.toml
  truss/templates/shared/uvicorn_config.py
Due: isort, flake8, mypy
