Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

use lifespan function to be compatible with fastapi
  pyproject.toml
  truss/templates/server/truss_server.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

fixes
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/multimodal_processor.rs
  truss-transfer/tests/benchmark_concurrency.py
Due: ruff, ruff-format, mypy

async support
  truss-transfer/src/multimodal_processor.rs
Due: none

speed
  truss-transfer/src/multimodal_processor.rs
  truss-transfer/tests/benchmark_comparison.py
  truss-transfer/tests/benchmark_concurrency.py
Due: ruff, ruff-format, mypy

ruff format
  truss-transfer/tests/benchmark_comparison.py
  truss-transfer/tests/benchmark_concurrency.py
  truss-transfer/tests/test_audio_downloader.py
Due: ruff, ruff-format, mypy

ruff format
  truss-transfer/Cargo.toml
Due: none

add test
  truss-transfer/tests/test_audio_downloader.py
Due: ruff, ruff-format, mypy

addversion
  pyproject.toml
  truss/templates/server/requirements.txt
  uv.lock
Due: uv-lock

addversion
  pyproject.toml
  uv.lock
Due: uv-lock

fixes
  truss-transfer/tests/test_audio_downloader.py
Due: ruff, ruff-format, mypy

read speed
  truss-transfer/src/constants.rs
Due: none

fixes
  truss-transfer/src/cache.rs
  truss-transfer/src/lib.rs
Due: none

fixes
  truss-transfer/Cargo.lock
  truss-transfer/src/cache.rs
Due: none

fixes
  truss-transfer/Cargo.toml
Due: none

feat: truss-transfer, add fast audio processor (#2209)
  pyproject.toml
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
  truss-transfer/src/bindings.rs
  truss-transfer/src/cache.rs
  truss-transfer/src/constants.rs
  truss-transfer/src/hf_transfer.rs
  truss-transfer/src/lib.rs
  truss-transfer/src/multimodal_processor.rs
  truss-transfer/tests/benchmark_comparison.py
  truss-transfer/tests/benchmark_concurrency.py
  truss-transfer/tests/benchmark_latency.py
  truss-transfer/tests/test_audio_downloader.py
  truss/templates/server/requirements.txt
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

include EXITED for supervisord event monitoring (#2210)
  truss/contexts/image_builder/serving_image_builder.py
Due: ruff, ruff-format, mypy

[BT-15282] Add mirrors for Ubuntu base image (#1916)
  truss/templates/base.Dockerfile.jinja
  truss/tests/test_data/server.Dockerfile
Due: none

feat(truss): show tunnel names as well (#2197)
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

feat(truss): tail mode does not attemptt to refresh auth codes
  truss/cli/train/core.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

feat(truss): show tunnel names as well
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

feat(truss): show tunnel names as well
  truss/cli/train/core.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

feat(truss): tail mode does not attempts to refresh auth codes (#2215)
  truss/cli/train/core.py
  truss/cli/train_commands.py
Due: ruff, ruff-format, mypy

Bump version to 0.13.3
  pyproject.toml
  uv.lock
Due: uv-lock

add setuptools dep
  pyproject.toml
  truss/templates/docker_server_requirements.txt
  uv.lock
Due: uv-lock

add setuptools dep (#2217)
  pyproject.toml
  truss/templates/docker_server_requirements.txt
  uv.lock
Due: uv-lock

fix typo
  truss/templates/server/requirements.txt
Due: none

fix typo (#2219)
  truss/templates/server/requirements.txt
Due: none

use larger runner
  .github/workflows/_integration_test_shared.yml
Due: none

use a different label to test
  .github/workflows/_integration_test_shared.yml
Due: none

initial impl
  truss/cli/cli.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

add loading_model
  truss/cli/cli.py
Due: ruff, ruff-format, mypy

Bump version
  pyproject.toml
  uv.lock
Due: uv-lock

add bei bert version
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

add bei bert version (#2223)
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

rc
  truss/base/trt_llm_config.py
Due: ruff, ruff-format, mypy

rc
  pyproject.toml
  uv.lock
Due: uv-lock

rc
  pyproject.toml
  truss/base/trt_llm_config.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
