Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

.pre-commit-config.yaml:

# Check & fix all locally: `pre-commit run --files $(git diff --name-only HEAD)`.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff
        name: ruff analyze and fix
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        # NB(nikhil): `uv` requires system over python (here and below) due to assumptions pre-commit makes about venvs.
        language: system
        files: \.(py|pyi)$
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude
        language: system
        files: \.(py|pyi)$
      - id: mypy
        name: mypy-local
        entry: uv run mypy
        language: system
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
      - id: uv-lock
        name: uv lock
        entry: uv lock
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

Keepalive: ping docker_server readiness endpoint instead of /v1/models/model
  truss-chains/tests/test_deployment_client_watch.py
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/cli/utils/common.py
  truss/tests/cli/test_chains_cli.py
  truss/tests/cli/test_cli.py
  truss/tests/cli/test_cli_utils_common.py
Due: ruff, ruff-format, mypy

Cancel streaming generation on client disconnect
  truss/templates/server/model_wrapper.py
  truss/tests/templates/server/test_model_wrapper.py
Due: ruff, ruff-format, mypy

chore: bump version to 0.18.25rc1
  pyproject.toml
  uv.lock
Due: uv-lock

test: remove invalid fabric combination
  truss/tests/test_config.py
Due: ruff, ruff-format

refactor: remove redundant JSON dump mode
  truss/remote/baseten/remote.py
Due: ruff, ruff-format, mypy

feat: add fabric requirement config (#2542)
  truss/base/truss_config.py
  truss/config.schema.json
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_remote.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Keepalive: ping docker_server readiness endpoint instead of /v1/models/model (#2588)
  truss-chains/tests/test_deployment_client_watch.py
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/cli/chains_commands.py
  truss/cli/cli.py
  truss/cli/utils/common.py
  truss/tests/cli/test_chains_cli.py
  truss/tests/cli/test_cli.py
  truss/tests/cli/test_cli_utils_common.py
Due: ruff, ruff-format, mypy

Bump version to 0.18.25
  pyproject.toml
  uv.lock
Due: uv-lock

refactor(cli/train): key capacity-type labels on AvailabilityModel enum
  truss/cli/train/core.py
  truss/tests/cli/train/test_train_cli_core.py
Due: ruff, ruff-format, mypy

feat(cli/train): show capacity type (spot/on-demand) in train view
  truss/cli/train/core.py
  truss/tests/cli/train/test_train_cli_core.py
Due: ruff, ruff-format, mypy

feat(cli/train): show capacity type (spot/on-demand) in train view (#2544)
  truss/cli/train/core.py
  truss/tests/cli/train/test_train_cli_core.py
Due: ruff, ruff-format, mypy

Add base_model=encoder_torch for BEI-torch backend
  truss/base/trt_llm_config.py
  truss/config.schema.json
  truss/contexts/docker_build_setup.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/tests/conftest.py
  truss/tests/trt_llm/test_trt_llm_config.py
  truss/trt_llm/config_checks.py
Due: ruff, ruff-format, mypy

Address review: encoder_torch OpenAI-tag exclusion + speculator guard
  truss/base/trt_llm_config.py
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format, mypy

pipe metadata
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

fix(cli/train): bound the training log fetch with a deadline
  truss/remote/baseten/core.py
  truss/tests/remote/baseten/test_core.py
Due: ruff, ruff-format, mypy

Address review: reject lora_adapters, extract BEI_TORCH_REQUIRED_MAX_NUM_TOKENS
  truss/base/constants.py
  truss/base/trt_llm_config.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format, mypy

perf client fix
  .github/workflows/baseten-performance-client-nodejs.yml
Due: none

use bei-bert for rtx6000pro
  truss/base/trt_llm_config.py
  truss/contexts/docker_build_setup.py
Due: ruff, ruff-format, mypy

fix performance client npm release packaging
  .github/workflows/baseten-performance-client-nodejs.yml
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/node_bindings/scripts/prepare_npm_release.mjs
Due: none

fix(bis): Push model_metadata for BIS trusses (#2593)
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_remote.py
Due: ruff, ruff-format, mypy

feat(performance-client): support msgpack bin in untyped responses
  baseten-performance-client/Cargo.lock
  baseten-performance-client/Cargo.toml
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/core/tests/integration_test.rs
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/src/lib.rs
Due: none

fix(chains): release the client and response when a stream is abandoned
  truss-chains/tests/test_remote_chainlet.py
  truss-chains/truss_chains/remote_chainlet/stub.py
Due: ruff, ruff-format, mypy

perf client fix (#2595)
  .github/workflows/baseten-performance-client-nodejs.yml
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/node_bindings/scripts/prepare_npm_release.mjs
  truss/base/trt_llm_config.py
  truss/contexts/docker_build_setup.py
Due: ruff, ruff-format, mypy

feat(performance-client): support msgpack bin in untyped responses
  baseten-performance-client/Cargo.lock
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/src/lib.rs
Due: none

preserve invalid msgpack strings
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/src/lib.rs
Due: none

Expose cooperative streaming disconnect signal
  truss/templates/server/model_wrapper.py
  truss/tests/templates/server/test_model_wrapper.py
Due: ruff, ruff-format, mypy

add test
  baseten-performance-client/core/tests/integration_test.rs
  baseten-performance-client/node_bindings/src/lib.rs
Due: none

use pythonize for msgpack responses
  baseten-performance-client/python_bindings/src/lib.rs
Due: none

trim msgpack regression tests
  baseten-performance-client/python_bindings/src/lib.rs
Due: none

remove unused python binding dependency
  baseten-performance-client/Cargo.lock
  baseten-performance-client/python_bindings/Cargo.toml
Due: none

bump performance client to 0.1.13
  baseten-performance-client/Cargo.lock
  baseten-performance-client/README.md
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/pyproject.toml
  baseten-performance-client/python_bindings/uv.lock
Due: none

feat(performance-client): support msgpack bin in untyped responses (#2596)
  baseten-performance-client/Cargo.lock
  baseten-performance-client/Cargo.toml
  baseten-performance-client/README.md
  baseten-performance-client/core/Cargo.toml
  baseten-performance-client/core/src/client.rs
  baseten-performance-client/core/src/http_client.rs
  baseten-performance-client/core/src/lib.rs
  baseten-performance-client/core/tests/integration_test.rs
  baseten-performance-client/node_bindings/Cargo.toml
  baseten-performance-client/node_bindings/npm/android-arm-eabi/package.json
  baseten-performance-client/node_bindings/npm/android-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-arm64/package.json
  baseten-performance-client/node_bindings/npm/darwin-universal/package.json
  baseten-performance-client/node_bindings/npm/darwin-x64/package.json
  baseten-performance-client/node_bindings/npm/freebsd-x64/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-gnueabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm-musleabihf/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-arm64-musl/package.json
  baseten-performance-client/node_bindings/npm/linux-riscv64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-gnu/package.json
  baseten-performance-client/node_bindings/npm/linux-x64-musl/package.json
  baseten-performance-client/node_bindings/npm/win32-arm64-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-ia32-msvc/package.json
  baseten-performance-client/node_bindings/npm/win32-x64-msvc/package.json
  baseten-performance-client/node_bindings/package.json
  baseten-performance-client/node_bindings/src/lib.rs
  baseten-performance-client/python_bindings/Cargo.toml
  baseten-performance-client/python_bindings/pyproject.toml
  baseten-performance-client/python_bindings/uv.lock
Due: none

fix(trt_llm): warn when python_version is ignored
  truss/base/trt_llm_config.py
  truss/tests/trt_llm/test_trt_llm_config.py
Due: ruff, ruff-format, mypy

fix(util): warn on malformed pyproject.toml dependencies
  truss/tests/util/test_requirements.py
  truss/util/requirements.py
Due: ruff, ruff-format, mypy

Warn only once per process when keyring write fails
  truss/remote/remote_factory.py
  truss/tests/conftest.py
  truss/tests/remote/test_remote_factory.py
Due: ruff, ruff-format, mypy

Add opt-in request disconnect watcher
  truss/templates/server/model_wrapper.py
  truss/templates/server/truss_server.py
  truss/tests/templates/server/test_model_wrapper.py
  truss/tests/templates/server/test_truss_server.py
Due: ruff, ruff-format, mypy

Warn only once per process when keyring write fails (#2599)
  truss/remote/remote_factory.py
  truss/tests/conftest.py
  truss/tests/remote/test_remote_factory.py
Due: ruff, ruff-format, mypy

Make docker_server nginx max payload size configurable
  truss/base/truss_config.py
  truss/config.schema.json
  truss/contexts/image_builder/serving_image_builder.py
  truss/tests/contexts/image_builder/test_serving_image_builder.py
  truss/tests/test_config.py
Due: ruff, ruff-format, mypy

Revert "Add request backpressure policy to truss (#2582)"
  truss/base/truss_config.py
  truss/config.schema.json
Due: ruff, ruff-format, mypy

Revert "Add request backpressure policy to truss (#2582)" (#2602)
  truss/base/truss_config.py
  truss/config.schema.json
Due: ruff, ruff-format, mypy
