Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, uv-lock

ruff:
  name: ruff analyze and fix
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system

mypy:
  name: mypy-local
  entry: uv run mypy
  language: system
  pass_filenames: true

uv-lock:
  name: uv lock
  entry: uv lock
  language: system
  pass_filenames: false

Support env var overrides for SSH paths and API URL
  truss/cli/train/proxy_command.py
  truss/cli/train/ssh.py
Due: ruff, ruff-format, mypy

add truss train ssh to allow users to ssh into training jobs
  truss-train/truss_train/definitions.py
  truss/cli/train/proxy_command.py
  truss/cli/train/ssh.py
  truss/cli/train_commands.py
  truss/remote/baseten/api.py
  truss/tests/cli/train/test_ssh.py
Due: ruff, ruff-format, mypy

release candidate deployment
  pyproject.toml
  uv.lock
Due: uv-lock

Add trace id propagation
  truss-chains/truss_chains/private_types.py
  truss-chains/truss_chains/remote_chainlet/stub.py
  truss-chains/truss_chains/remote_chainlet/utils.py
  truss/templates/server/truss_server.py
  truss/templates/shared/log_config.py
Due: ruff, ruff-format, mypy

rc version
  pyproject.toml
  uv.lock
Due: uv-lock

new release
  pyproject.toml
  truss-chains/truss_chains/private_types.py
  truss-chains/truss_chains/remote_chainlet/stub.py
  uv.lock
Due: ruff, ruff-format, mypy, uv-lock

feat(trainers): ServiceClient as entry point, matching tinker pattern
  trainers/tests/test_integration.py
  trainers/trainers/service_client.py
Due: ruff, ruff-format, mypy

fix(trainers): Use ServiceClient in acceptance tests
  trainers/tests/acceptance_math_rl.py
  trainers/tests/acceptance_multiturn_rl.py
Due: ruff, ruff-format, mypy

feat(trainers): Add get_tokenizer() to TrainingClient
  trainers/trainers/service_client.py
  trainers/trainers/training_client.py
Due: ruff, ruff-format, mypy

feat(trainers): Add checkpointing — save_state, load_state, load_state_with_optimizer
  trainers/server/src/trainers_server/dp_worker/api/controller.py
  trainers/server/src/trainers_server/dp_worker/api/server.py
  trainers/server/src/trainers_server/shared/models.py
Due: ruff, ruff-format, mypy

test(trainers): Add checkpointing tests
  trainers/tests/conftest.py
  trainers/tests/test_checkpointing.py
Due: ruff, ruff-format, mypy

test(trainers): Add checkpointing e2e test
  trainers/tests/e2e.py
Due: ruff, ruff-format, mypy

fix(trainers): Pass task_type=causal_lm when loading from checkpoint path
  trainers/server/src/trainers_server/dp_worker/api/controller.py
Due: ruff, ruff-format, mypy

fix(trainers): Resolve swift model_type at startup to fix load_state from checkpoint
  trainers/server/src/trainers_server/dp_worker/api/controller.py
Due: ruff, ruff-format, mypy

fix(trainers): Load checkpoint weights via from_pretrained, bypassing ms-swift type resolution
  trainers/server/src/trainers_server/dp_worker/api/controller.py
Due: ruff, ruff-format, mypy

fix(trainers): Free old model from GPU before loading checkpoint weights
  trainers/server/src/trainers_server/dp_worker/api/controller.py
Due: ruff, ruff-format, mypy

fix(trainers): Delete optimizer before model to free GPU memory on checkpoint load
  trainers/server/src/trainers_server/dp_worker/api/controller.py
  trainers/tests/test_checkpointing.py
Due: ruff, ruff-format, mypy

refactor(train): deduplicate table row parsing in capacity test
  truss/tests/cli/train/test_train_cli_core.py
Due: ruff, ruff-format

feat(train): add empty state message for capacity command
  truss/cli/train/core.py
  truss/tests/cli/train/test_train_cli_core.py
Due: ruff, ruff-format, mypy

feat(trainers): Configure dp_worker from environment variables
  trainers/server/src/trainers_server/dp_worker/api/models.py
  trainers/server/src/trainers_server/dp_worker/main.py
Due: ruff, ruff-format, mypy

feat(trainers): Add LoRA initialization, adapter-aware checkpointing
  trainers/server/pyproject.toml
  trainers/server/src/trainers_server/dp_worker/api/controller.py
  trainers/server/uv.lock
  trainers/tests/conftest.py
  trainers/tests/test_checkpointing.py
Due: ruff, ruff-format, mypy

feat(trainers): Wire SDK load_state and create_training_client_from_state methods
  trainers/server/pyproject.toml
  trainers/server/uv.lock
  trainers/tests/conftest.py
  trainers/tests/test_integration.py
  trainers/trainers/service_client.py
  trainers/trainers/training_client.py
Due: ruff, ruff-format, mypy

Add --output json to truss push (#2356)
  truss-chains/truss_chains/deployment/deployment_client.py
  truss/cli/cli.py
  truss/cli/utils/output.py
  truss/remote/baseten/api.py
  truss/remote/baseten/rest_client.py
  truss/remote/baseten/service.py
  truss/remote/truss_remote.py
  truss/tests/cli/test_cli.py
  truss/tests/remote/test_truss_remote.py
Due: ruff, ruff-format, mypy

feat(training): support TRAINING_JOB_PENDING queue status in CLI
  truss/cli/train/core.py
  truss/cli/train/poller.py
  truss/cli/train_commands.py
  truss/tests/cli/train/test_poller.py
Due: ruff, ruff-format, mypy

Add inference SSH support to proxy-command and config
  truss/base/truss_config.py
  truss/cli/train/proxy_command.py
  truss/cli/train/ssh.py
  truss/config.schema.json
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
  truss/templates/baseten-ssh-server.sh
  truss/tests/cli/train/test_ssh.py
Due: ruff, ruff-format, mypy

remove dumb test
  truss/tests/cli/train/test_poller.py
Due: ruff, ruff-format

Fix test mocks to use poll_deployment after merge
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format

Allow `--tail` with `push --wait`, `push --watch`, and `watch` (#2358)
  truss/cli/cli.py
  truss/cli/logs/base_watcher.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

💥 Default `--no-sleep` to true for `watch` and `push --watch` (#2359)
  truss/cli/cli.py
  truss/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

Fix /run/sshd for non-root containers, fix docstring
  truss/cli/train/proxy_command.py
  truss/templates/base.Dockerfile.jinja
  truss/templates/baseten-ssh-server.sh
Due: ruff, ruff-format, mypy

feat(trainers): Replace ms-swift with Megatron-Bridge in dp_worker controller
  trainers/server/pyproject.toml
  trainers/server/src/trainers_server/dp_worker/api/controller.py
  trainers/server/src/trainers_server/shared/models.py
Due: ruff, ruff-format, mypy

feat(trainers): Vendor megatron-bridge as git submodule
  .gitmodules
  trainers/server/pyproject.toml
Due: none

fix(trainers): Add git to start commands, init megatron-bridge nested submodule
  trainers/trainers/client.py
  trainers/trainers/templates/training/config.py
Due: ruff, ruff-format, mypy

fix(trainers): Resolve megatron-core conflict, pin transformer-engine to megatron-bridge commit
  trainers/server/pyproject.toml
Due: none

fix(trainers): Add extra build deps for transformer-engine source build
  trainers/server/pyproject.toml
Due: none

fix(trainers): Drop transformer-engine git pin to use pre-built PyPI wheels
  trainers/server/pyproject.toml
Due: none

fix(trainers): Narrow Python range and pin transformers for megatron-bridge compat
  trainers/server/pyproject.toml
Due: none

fix(trainers): Forward all megatron-bridge override-dependencies to root
  trainers/server/pyproject.toml
Due: none

Default enable_baseten_workdir to True for training jobs (#2349)
  truss-train/truss_train/definitions.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
