Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff analyze and fix
  entry: poetry run ruff check --force-exclude --fix --exit-non-zero-on-fix
  language: python

ruff-format:
  name: ruff format
  entry: poetry run ruff format --force-exclude
  language: python

mypy:
  name: mypy-local
  entry: poetry run mypy
  language: python
  pass_filenames: true

add client instead of SyncClient
  bei-client/bei_client.pyi
  bei-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

al tests passing
  bei-client/bei_client.pyi
  bei-client/src/lib.rs
  bei-client/tests/test_bindings.py
  bei-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

add sequential times
  bei-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

add comment
  bei-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

update version in truss-transfer
  truss-transfer/Cargo.lock
  truss-transfer/Cargo.toml
Due: none

truss-bei-client (#1663)
  .github/workflows/bei-client-release.yaml
  .github/workflows/build-maturin.yaml
  .gitignore
  bei-client/Cargo.lock
  bei-client/Cargo.toml
  bei-client/README.md
  bei-client/bei_client.pyi
  bei-client/pyproject.toml
  bei-client/src/lib.rs
  bei-client/tests/test_bindings.py
  bei-client/tests/test_client_embed.py
  poetry.lock
  pyproject.toml
  truss-transfer/Cargo.toml
  truss-transfer/example-bptr-manifest.json
  truss-transfer/src/lib.rs
Due: ruff, ruff-format, mypy

fix release pipeline bei-client
  .github/workflows/build-maturin.yml
  .github/workflows/truss-transfer-build-maturin.yml
  .github/workflows/truss-transfer-cli-release.yml
Due: none

rename yml
  .github/workflows/bei-client-release.yml
Due: none

http error
  bei-client/src/lib.rs
  bei-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

http error exception docs
  bei-client/bei_client.pyi
  bei-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

another bei client change
  bei-client/src/lib.rs
Due: none

update truss-transfer
  pyproject.toml
  truss/templates/server/requirements.txt
Due: none

fix release pipeline bei-client (#1669)
  .github/workflows/bei-client-release.yml
  .github/workflows/build-maturin.yml
  .github/workflows/truss-transfer-build-maturin.yml
  .github/workflows/truss-transfer-cli-release.yml
  bei-client/bei_client.pyi
  bei-client/src/lib.rs
  bei-client/tests/test_client_embed.py
  pyproject.toml
  truss/templates/server/requirements.txt
Due: ruff, ruff-format, mypy

add pythonize
  bei-client/Cargo.lock
  bei-client/Cargo.toml
  bei-client/src/lib.rs
Due: none

add batch requests
  bei-client/bei_client.pyi
  bei-client/src/lib.rs
Due: ruff, ruff-format

add test client
  bei-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

bump truss transfer
  poetry.lock
  pyproject.toml
  truss/templates/server.Dockerfile.jinja
Due: none

misc(bei-client): follow up pythonize (#1670)
  bei-client/Cargo.lock
  bei-client/Cargo.toml
  bei-client/bei_client.pyi
  bei-client/src/lib.rs
  bei-client/tests/test_client_embed.py
  poetry.lock
  pyproject.toml
  truss/templates/server.Dockerfile.jinja
Due: ruff, ruff-format, mypy

add cargo fmt
  bei-client/Cargo.lock
  bei-client/Cargo.toml
  bei-client/src/lib.rs
  bei-client/tests/conftest.py
  bei-client/tests/test_bindings.py
  bei-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

add async code
  bei-client/src/lib.rs
  bei-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

add cargo fmt
  bei-client/src/lib.rs
  bei-client/tests/test_bindings.py
Due: ruff, ruff-format, mypy

inference client
  bei-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

add baseten inference client
  bei-client/src/lib.rs
  bei-client/tests/test_bindings.py
  bei-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

add baseten inference client
  bei-client/bei_client.pyi
Due: ruff, ruff-format

add post method
  bei-client/bei_client.pyi
Due: ruff, ruff-format

rename baseten inference client
  bei-client/Cargo.lock
  bei-client/Cargo.toml
  bei-client/baseten_inference_client.pyi
  bei-client/pyproject.toml
  bei-client/src/lib.rs
  bei-client/tests/test_bindings.py
  bei-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

baseten inference client
  .github/workflows/baseten-inference-client-release.yml
Due: none

add b10inference client"
  .gitignore
  baseten-inference-client/Cargo.lock
  baseten-inference-client/Cargo.toml
  baseten-inference-client/README.md
  baseten-inference-client/baseten_inference_client.pyi
  baseten-inference-client/bei_client.pyi
  baseten-inference-client/pyproject.toml
  baseten-inference-client/src/lib.rs
  baseten-inference-client/tests/conftest.py
  baseten-inference-client/tests/test_bindings.py
  baseten-inference-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

rename bei-client
  .gitignore
  pyproject.toml
Due: none

add baseten client api token
  .github/workflows/baseten-inference-client-release.yml
Due: none

add python test anyio
  baseten-inference-client/pyproject.toml
  baseten-inference-client/tests/conftest.py
  baseten-inference-client/tests/test_client_embed.py
Due: ruff, ruff-format, mypy

add pyi
  baseten-inference-client/baseten_inference_client.pyi
  baseten-inference-client/bei_client.pyi
Due: ruff, ruff-format

add bump version
  baseten-inference-client/Cargo.lock
  baseten-inference-client/Cargo.toml
Due: none

misc(client-Baseten): followup pythonize async (#1671)
  .github/workflows/baseten-inference-client-release.yml
  .gitignore
  baseten-inference-client/Cargo.lock
  baseten-inference-client/Cargo.toml
  baseten-inference-client/README.md
  baseten-inference-client/baseten_inference_client.pyi
  baseten-inference-client/pyproject.toml
  baseten-inference-client/src/lib.rs
  baseten-inference-client/tests/conftest.py
  baseten-inference-client/tests/test_bindings.py
  baseten-inference-client/tests/test_client_embed.py
  bei-client/tests/test_bindings.py
  pyproject.toml
Due: ruff, ruff-format, mypy

add batch post requests
  baseten-inference-client/Cargo.lock
  baseten-inference-client/Cargo.toml
  baseten-inference-client/README.md
Due: none

add batch post requests
  baseten-inference-client/README.md
Due: none

more docs
  baseten-inference-client/README.md
Due: none

httperror
  baseten-inference-client/README.md
Due: none

add baseten embeddings
  baseten-inference-client/README.md
Due: none

add baseten embeddings
  baseten-inference-client/Cargo.lock
  baseten-inference-client/Cargo.toml
Due: none

Path conditions:
  ruff: any of: \.(py|pyi)$
  ruff-format: any of: \.(py|pyi)$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
