Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

isort:
  name: isort-local
  entry: poetry run isort
  language: system
  pass_filenames: true

flake8:
  name: flake8-local
  entry: poetry run flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy-local
  entry: poetry run mypy
  args:
  - --install-types
  - --non-interactive
  language: python
  pass_filenames: true

enable empty yaml
  truss/truss_config.py
Due: isort, flake8, mypy

add simple test
  truss/tests/test_config.py
Due: isort, flake8

Update version.
  pyproject.toml
Due: none

Don't print help on value error
  pyproject.toml
  truss/cli.py
Due: isort, flake8, mypy

Add trus_env=False to the httpx.AsyncClient.
  truss/templates/control/control/application.py
Due: isort, flake8, mypy

add tests for yaml
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

WIP
  .tool-versions
  examples/ai-search/config.yaml
  poetry.lock
  pyproject.toml
  truss/cli.py
Due: isort, flake8, mypy

Add hf_cache key to config.yml (#425)
  poetry.lock
  pyproject.toml
  truss/cli.py
  truss/contexts/image_builder/cache_warmer.py
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/base.Dockerfile.jinja
  truss/templates/server.Dockerfile.jinja
  truss/templates/server/requirements.txt
  truss/tests/test_config.py
  truss/truss_config.py
Due: isort, flake8, mypy

Bump pre-release version
  pyproject.toml
Due: none

use executable variable
  truss/truss_config.py
Due: isort, flake8, mypy

add correct file
  truss/templates/server.Dockerfile.jinja
  truss/truss_config.py
Due: isort, flake8, mypy

revert file
  truss/truss_config.py
Due: isort, flake8, mypy

bump version
  pyproject.toml
Due: none

FIX: Switch `python` with `$PYTHON_EXECUTABLE` (#453)
  pyproject.toml
  truss/templates/server.Dockerfile.jinja
Due: none

keep config simple
  truss/cli.py
  truss/truss_config.py
Due: isort, flake8, mypy

Revert "Remove clutter from log messages (#420)"
  truss/templates/control/control/helpers/logging.py
  truss/templates/shared/logging.py
  truss/tests/templates/shared/test_logging.py
Due: isort, flake8, mypy

bump release
  pyproject.toml
Due: none

keep config simple (#454)
  truss/cli.py
  truss/truss_config.py
Due: isort, flake8, mypy

Make draft model default in truss push
  truss/cli.py
Due: isort, flake8, mypy

Dro pextra log too
  truss/cli.py
Due: isort, flake8, mypy

Try delay during restart to avoid port issue
  pyproject.toml
  truss/templates/control/control/helpers/inference_server_process_controller.py
Due: isort, flake8, mypy

Revert "Remove clutter from log messages (#420)" (#455)
  pyproject.toml
  truss/templates/control/control/helpers/logging.py
  truss/templates/shared/logging.py
  truss/tests/templates/shared/test_logging.py
Due: isort, flake8, mypy

Update inference_server_process_controller.py
  truss/templates/control/control/helpers/inference_server_process_controller.py
Due: isort, flake8, mypy

Push publish=False by default (#457)
  truss/cli.py
Due: isort, flake8, mypy

Try delay during restart to avoid port issue (#458)
  truss/templates/control/control/helpers/inference_server_process_controller.py
Due: isort, flake8, mypy

Bump version to 0.5.0 for release after testing
  pyproject.toml
Due: none

Make --publish a flag.
  truss/cli.py
Due: isort, flake8, mypy

Make --publish a flag. (#460)
  truss/cli.py
Due: isort, flake8, mypy

Bump version to 0.5.0 for release after testing (#459)
  pyproject.toml
Due: none

fix
  truss/templates/control/control/application.py
  truss/templates/control/control/endpoints.py
Due: isort, flake8, mypy

Clean up CLI and document
  .tool-versions
  poetry.lock
  pyproject.toml
  truss/cli.py
Due: isort, flake8, mypy

Add interactive CLI for truss push
  .tool-versions
  poetry.lock
  pyproject.toml
  truss/cli.py
  truss/remote/remote_cli.py
  truss/remote/remote_factory.py
  truss/remote/truss_remote.py
  truss/tests/remote/test_remote_factory.py
Due: isort, flake8, mypy

Revert "Drop truss push for now from README (#426)"
  README.md
Due: none

nearly there
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/server.Dockerfile.jinja
Due: isort, flake8, mypy

Update inquirer UX
  poetry.lock
  pyproject.toml
  truss/remote/remote_cli.py
Due: isort, flake8, mypy

Self-review
  truss/remote/remote_cli.py
Due: isort, flake8, mypy

WIP
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

Path conditions:
  isort: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$, but not: ^examples/|^truss/test.+/|model.py$
