Repository basetenlabs/truss: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
  - repo: local
    hooks:
      - id: isort
        name: isort-local
        entry: poetry run isort
        language: system
        types: [python]
        pass_filenames: true
      - id: flake8
        name: flake8-local
        entry: poetry run flake8
        language: system
        types: [python]
        pass_filenames: true
      - id: mypy
        name: mypy-local
        entry: poetry run mypy
        args: ["--install-types", "--non-interactive"]
        language: python
        types: [python]
        exclude: ^examples/|^truss/test.+/|model.py$
        pass_filenames: true
  - repo: https://github.com/tcort/markdown-link-check
    rev: "v3.10.3"
    hooks:
      - id: markdown-link-check
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        # It is recommended to specify the latest version of Python
        # supported by your project here, or alternatively use
        # pre-commit's default_language_version, see
        # https://pre-commit.com/#top_level-default_language_version
        language_version: python3.9

Warn when using secrets without --trusted #719
  truss/cli/cli.py
Due: isort, flake8, mypy

sid CR: ApiError pass
  truss/remote/baseten/api.py
  truss/remote/baseten/error.py
Due: isort, flake8, mypy

update model_version query, add TODO about bug
  truss/remote/baseten/api.py
Due: isort, flake8, mypy

Don't show server response in `truss push` errors (#721)
  truss/remote/baseten/api.py
  truss/remote/baseten/error.py
Due: isort, flake8, mypy

use model query for model id
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
Due: isort, flake8, mypy

Fix links in Truss readme
  README.md
Due: none

Fix links in Truss readme (#724)
  README.md
Due: none

Bump version to 0.7.16
  pyproject.toml
Due: none

rm release section of readme
  CONTRIBUTING.md
Due: none

Upgrade vllm base image
  docker/base_images/vllm.Dockerfile
Due: none

Download external data in docker build
  truss/contexts/image_builder/serving_image_builder.py
  truss/templates/server.Dockerfile.jinja
Due: isort, flake8, mypy

move comment for tests
  truss/templates/server.Dockerfile.jinja
Due: none

Add log statements when we 400, to make it clearer what's happening.
  pyproject.toml
  truss/templates/server/common/truss_server.py
Due: isort, flake8, mypy

do not cache s3 folders, only files
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

do not cache s3 folders, only files (#730)
  truss/contexts/image_builder/serving_image_builder.py
Due: isort, flake8, mypy

update get_model to use model query
  truss/remote/baseten/api.py
  truss/remote/baseten/core.py
Due: isort, flake8, mypy

add API for getting dev version given versions
  truss/remote/baseten/core.py
Due: isort, flake8, mypy

use get_dev_version and get_prod_version helpers
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

raise click.UsageError in cli
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

add test cases to test_core
  truss/remote/baseten/core.py
  truss/tests/remote/baseten/test_core.py
Due: isort, flake8, mypy

make remote methods static
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

add tests for get_matching_version
  truss/tests/remote/baseten/test_remote.py
Due: isort, flake8

mock requests + test get_service instead
  truss/tests/remote/baseten/test_remote.py
Due: isort, flake8

support --published with --model in cli
  truss/cli/cli.py
Due: isort, flake8, mypy

clean up
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

Add log statements when we 400, to make it clearer what's happening. (#729)
  pyproject.toml
  truss/templates/server/common/truss_server.py
Due: isort, flake8, mypy

Hard-code h11 as the option>
  pyproject.toml
  truss/templates/control/control/server.py
  truss/templates/server/common/truss_server.py
Due: isort, flake8, mypy

Hard-code h11 as the option> (#731)
  pyproject.toml
  truss/templates/control/control/server.py
  truss/templates/server/common/truss_server.py
Due: isort, flake8, mypy

sid CR: return None for no matching version in core.py
  truss/remote/baseten/core.py
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_core.py
Due: isort, flake8, mypy

sid CR 2: remove is_draft check
  truss/remote/baseten/core.py
Due: isort, flake8, mypy

Bump versions.
  pyproject.toml
  truss/templates/control/requirements.txt
  truss/templates/server/requirements.txt
Due: none

except ApiError in model version path + sid CR: add no model version test
  truss/remote/baseten/remote.py
  truss/tests/remote/baseten/test_remote.py
Due: isort, flake8, mypy

Revert "support --published with --model in cli"
  truss/cli/cli.py
Due: isort, flake8, mypy

Fix lint.
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

Update lockfile.
  poetry.lock
  pyproject.toml
Due: none

model_name uses model_versions endpoint in service url
  truss/remote/baseten/remote.py
Due: isort, flake8, mypy

Update util for testing purposes.
  truss/contexts/image_builder/util.py
Due: isort, flake8, mypy

new rc.
  pyproject.toml
Due: none

Increase version requirements (#733)
  poetry.lock
  pyproject.toml
  truss/contexts/image_builder/util.py
  truss/templates/control/requirements.txt
  truss/templates/server/requirements.txt
Due: isort, flake8, mypy

Bump truss version to have new fastapi requirements
  pyproject.toml
  truss/templates/control/requirements.txt
Due: none
